<div class="data-grid__item" data-controller="tooltip">
  <div class="label">
    <%= label %>
  </div>
  <div class="data-grid__item__value">
    <% if loading %>
      <div class="loader--small" style="position: unset; float:right"></div>
    <% else %>
      <%= value %>
    <% end %>
  </div>
</div>