\:root
    --binance:F0B90B

    @media (prefers-color-scheme: light)
        --sky: color(display-p3 0 0 1)
        --ink: #001933
        --ash: #4D587C
        --stone: #77829A
        --concrete: #A1ACB9
        --steel: #C5CFD8
        --silver: #E2E6EB
        --paper: #F5F6F8
        --washed: #FFFFFF
        
        --white: #FFFFFF
        --grass: color(display-p3 0 0.7 0.45)
        --berry: #CF0000

    @media (prefers-color-scheme: dark)
        --sky: color(display-p3 0 0 1)
        --ink: #002244
        --ash: #90aed7
        --stone: #517095
        --concrete: #4F6991
        --steel: #C5CFD8
        --silver: #E2E6EB
        --paper: #001933
        --washed: #FFFFFF
        --white: #FFFFFF
        --grass: color(display-p3 0 0.7 0.45)
        --berry: #CF0000
