.tauri
    .menu__section--logo
        opacity: 0
    .titlebar-drag-region
        width: 100vw
        height: 3.5rem
        -webkit-app-region: drag
        position: fixed
        top: 0
        left: 0
        z-index: 10000