[submodule "deltabadger-ansible"]
	path = deltabadger-ansible
	# url = https://github.com/deltabadger/deltabadger-ansible.git
	url = git@github.com:deltabadger/deltabadger-ansible.git
	branch = autodeploy
