<div class="widget widget--single widget--chart">
  <div class="data-grid__item" data-controller="tooltip">
    <div class="label"><%= t('analyzer.pnl') %></div>
    <div class="data-grid__item__value" style="color: var(--success)">+64%</div>
  </div>
</div>