<div class="data-grid__item" data-controller="tooltip">
  <div class="label">
    <%= label %>
  </div>
  <div class="data-grid__item__value">
    <% if value.present? %>
      <%= value %>
    <% else %>
      <div class="loader"></div>
    <% end %>
  </div>
</div>