<div class="widget widget--single widget--table">
  <table class="table table-borderless table-striped">
    <thead>
      <tr>
        <th scope="col"><%= t('data_labels.date') %></th>
        <th scope="col">BTC</th>
        <th scope="col">ETH</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <td scope="row">2024-11-13 10:47 AM</td>
        <td>0.87783155</td>
        <td>0.87783155</td>
      </tr>
      <tr>
        <td scope="row">2024-11-12 10:34 AM</td>
        <td>1.30</td>
        <td>0.87783155</td>
      </tr>
      <tr>
        <td scope="row">2024-11-09 03:38 PM</td>
        <td>0.36631644</td>
        <td>0.87783155</td>
      </tr>
    </tbody>
  </table>
</div>