<div class="page-head page-head--mini">
  <div class="time-counter time-counter--success">
     6h 16m 46s
  </div>
  <div class="flex-row">
    <div class="sbutton sbutton--primary sbutton--outline">
      <div class="animicon animicon--stop">
        <div class="animicon__a"></div>
        <div class="animicon__b"></div>
      </div>
    </div>
    <div class="sbutton sbutton--success">
      <div class="animicon animicon--start">
        <div class="animicon__a"></div>
        <div class="animicon__b"></div>
      </div>
    </div>
  </div>
</div>