<div class="widget widget--single">
  <div class="conversational flex-justify-center">
    <%= t('bot.barbell.invest_html', input: content_tag(:div, class: 'ticker-input ticker-input--autoscale') do
      concat text_field_tag(nil, nil, class: 'numeric-input iu-numeric iu-autowidth', size: 1, placeholder: '0')
      concat content_tag(:div, 'USDT', class: 'ticker', style: 'background: #26A17B')
    end) %>
  </div>
  <div class="barbell">

    <div class="barbell__plate">
      <div class="ticker" style="background: darkorange">BTC</div>
      <b style="color: darkorange">50%</b>
    </div>

    <div class="barbell__bar">
      <div class="slider">
        <input step="0.01" value="1.0" class="slider__input numeric-input" data-portfolio-analyzer--asset-allocation-target="allocation" data-action="input->portfolio-analyzer--asset-allocation#updateAssetAllocation" min="0.0" max="1.0" type="range" name="asset[allocation]" id="asset_allocation">
        <div class="slider__style">
          <div class="slider__style__track" style="border-left-color: darkorange; background: #465580">
            <div class="slider__style__progress" style="width: 51%; background: darkorange" data-portfolio-analyzer--asset-allocation-target="allocationSlider">
              <div class="slider__style__thumb"></div>
            </div>
          </div>
        </div>
      </div>
    </div>

    <div class="barbell__plate">
      <div class="ticker" style="background: #465580">ETH</div>
      <b style="color: #465580">50%</b>
    </div>

  </div>
</div>