<%= render "barbell_bots/bot/play_pause" %>

<div class="columns">
  <div class="column gap-2">
    <%= render "barbell_bots/bot/settings" %>

    Lorem ipsum dolor sit amet consectetur adipisicing elit. Obcaecati odio saepe, sequi ipsum accusamus fuga, impedit quas libero qui officia earum amet architecto voluptatem repellat repudiandae, quis quidem natus dicta.

  </div>
</div>