<div class="page-head page-head--dashboard">
  <div>

    <%= button_to new_bot_type_barbell_bots_path, method: :get, class: "button button--primary", data: { turbo_frame: "modal" } do %>
      <span class="d-none d-sm-inline"><%= t('bots.add_new_bot') %></span>
      <i class="material-icons">add</i>
    <% end %>
  </div>
</div>

<div class="db-bots db-bots--main">
  <div class="db-bots__list">
    <%= render partial: 'barbell_bots/bot_tile', collection: @bots, as: :bot %>
  </div>
</div>
