<h1>Barbell Bots</h1>

<%= button_to "New Barbell Bot", barbell_bots_path, method: :post, class: "btn btn-primary" %>

<% @bots.each do |bot| %>
  <%= bot.id %>
  <%= link_to 'show', barbell_bot_path(bot) %>
<% end %>
