<turbo-frame complete="" id="modal">
  <dialog data-controller="modal--base" data-action="click->modal--base#clickOutside" class="dialog" data-hw-animate-in="animate-modal-in" data-hw-animate-out="animate-modal-out">
    <div class="dialog__vertical-center">

  <div class="modal">
    <button name="button" type="button" class="modal__close" data-action="modal--base#animateOutCloseAndCleanUp">
      {% include "svg/_24x24_close.html" %}

</button>    <div class="modal__header">
      <h1 class="modal__title">{{ bot.label }}</h1>
    </div>
    <div class="modal__body text-center">
        <p>
          {{ info|safe }}
        </p>
        <div class="buttons buttons--col">
          <form class="button_to" method="post" action="{{ path }}/start?start_fresh=true"><input type="hidden" name="_method" value="patch" /><button class="button button--outline button--large" data-action="click-&gt;modal--base#animateOutCloseAndCleanUp" type="submit">{{ skip }}</button><input type="hidden" name="authenticity_token" value="{{ csrf }}" /></form>
          <form class="button_to" method="post" action="{{ path }}/start?start_fresh=false"><input type="hidden" name="_method" value="patch" /><button class="button button--sky button--large" data-action="click-&gt;modal--base#animateOutCloseAndCleanUp" type="submit">{{ resume }}</button><input type="hidden" name="authenticity_token" value="{{ csrf }}" /></form>
        </div>
    </div>
  </div>

    </div>
  </dialog>
</turbo-frame>
