<% base_color = ensure_contrast(bot.base_asset&.color || "#8A9BA8") %>
<% base = bot.base_asset&.symbol %>
<% quote = bot.quote_asset&.symbol %>

<div class="widget main-rule">
  <div class="conversational flex-justify-center">
    <%= t('bot.signal.trade') %>
    <%= tag.div base, class: ticker_class(bot.base_asset), style: "background: #{base_color}", data: ticker_data(bot.base_asset) %>
    <%= t('bot.signal.spending') %>
    <%= tag.div quote, class: "ticker", data: ticker_data(bot.quote_asset) %>
  </div>
</div>
