<div id="add-asset-button">
  <%= link_to new_portfolio_asset_path(@portfolio), class: "button button--primary button--add-asset", data: { turbo_frame: "modal", controller: "modal--open-and-submit-on-key-press", modal__open_and_submit_on_key_press_target: "button" } do %>
    <% render "svg/24x24_plus" %>
  <% end %>
</div>
