<%= turbo_frame_tag "backtest-results" do %>
  <% if backtest.present? %>
    <%= tag.div data: { 
      controller: "portfolio-analyzer-chart",
      portfolio_analyzer_chart_labels_value: backtest["timeSeries"]["labels"],
      portfolio_analyzer_chart_series_value: backtest["timeSeries"]["series"]
    } do %>
      <canvas data-portfolio-analyzer-chart-target="analyzerChart" width="200" height="100"></canvas>
    <% end %>
  <% else %>
    <p>Simulate your portfolio to see backtest results</p>
  <% end %>
<% end %>