<%= turbo_frame_tag "backtest-results" do %>
  <% if portfolio.normalized_allocations? %>
    <div data-controller="portfolio-analyzer-chart">
      <canvas data-portfolio-analyzer-chart-target="analyzerChart" width="200" height="100" data-labels="<%= labels %>" data-series="<%= series %>"></canvas>
    </div>
  <% end %>
<% end %>