<div id="benchmark-select">
  <%= form_with model: portfolio, url: portfolio_update_benchmark_path(portfolio), method: :patch, class: "flex-row", data: { controller: "form--submit" } do |form| %>
    <% data = portfolio.limited? ? {
      controller: "turbo-frame-trigger",
      turbo_frame_trigger_url_value: upgrade_upgrade_instructions_path,
      turbo_frame_trigger_frame_value: "modal",
      action: "click->turbo-frame-trigger#loadFrame"
    } : {
      action: "change->form--submit#submit"
    } %>
    <%= form.label :benchmark, t('analyzer.benchmark') + ":", class: "label" %>
    <div class="sinput sinput--select %>">
      <%= portfolio.benchmark_name %>
      <%= form.select :benchmark, Portfolio.benchmark_select_options, { selected: portfolio.benchmark }, data: data %>
    </div>
  <% end %>
</div>
