<%= turbo_frame_tag "portfolio-empty" do %>
  <% if portfolio.assets.empty? %>
    <%# better be a flash message? %>
    <p>Your Portfolio has no assets yet</p>
    <p>Get started by adding a new asset.</p>
  <% end %>
<% end %>