<%= tag.div id: "portfolio-idle-assets-label" do %>
  <%= tag.div class: "label basket__excluded-assets-label", data: {
      hw_animate_in_before: "animate-label-in",
      hw_animate_out_remove: "animate-label-out"
  } do %>
    <span><%= t('analyzer.these_assets') %></span>
  <% end %>
<% end %>