<%= link_to sanitize("&larr; Back to portfolio"), portfolio_path(@portfolio) %>

<%= render 'layouts/turbo_modal' do %>
  <button data-action="modals#animateOutCloseAndCleanUp">Cancel</button>
  <div class="modal--search modal--search__background">
    <div class="header">
      <h1>Edit portfolio</h1>
    </div>

    <%= render "form", portfolio: @portfolio %>
  </div>
<% end %>