<%= turbo_frame_tag "data" do %>
  <div data-controller="portfolio-analyzer-chart">
    <canvas data-portfolio-analyzer-chart-target="analyzerChart" width="200" height="100" data-labels="<%= @data_labels %>" data-series="<%= @data_series %>"></canvas>
  </div>
<% end %>
