<div class="bot-control">
  <div class="bot-control__status active">
    <div class="bot-control__status__bar" style="width: 50%"></div>
    <%= render "barbell_bots/status/status_countdown", bot: @barbell_bot %>
  </div>
  <%= render "barbell_bots/status/status_action_button", bot: @barbell_bot %>
</div>