<%= turbo_frame_tag "bot_#{bot.id}_status_bar" do %>
  <%= tag.div class: "bot-control__status__bar", style: "width: #{bot.progress_percentage * 100}%", data: {
    controller: "progress-bar",
    progress_bar_start_time_value: bot.last_scheduled_orders_at.to_s,
    progress_bar_end_time_value: bot.next_set_barbell_orders_job_at.to_s,
    progress_bar_target: "progressBar",
  } %>
  <% if bot&.pending? %>
      Setting orders...
  <% elsif bot&.working? %>
    <%= tag.div data: {
      controller: "countdown",
      countdown_target_date_value: (bot.next_set_barbell_orders_job_at || bot.next_scheduled_orders_at)&.iso8601,
      countdown_hide_if_zero_value: true,
      countdown_days_label_value: t('subscriptions.payment.days_short'),
      countdown_hours_label_value: t('subscriptions.payment.hours_short'),
      countdown_minutes_label_value: t('subscriptions.payment.minutes_short'),
      countdown_seconds_label_value: t('subscriptions.payment.seconds_short')
    } do %>
      <span data-countdown-target="days"></span><span data-countdown-target="daysLabel"></span>
      <span data-countdown-target="hours"></span><span data-countdown-target="hoursLabel"></span>
      <span data-countdown-target="minutes"></span><span data-countdown-target="minutesLabel"></span>
      <span data-countdown-target="seconds"></span><span data-countdown-target="secondsLabel"></span>
    <% end %>
  <% end %>
<% end %>
