<%= turbo_frame_tag "bot_#{bot.id}_button" do %>
  <% if bot.working? || bot.pending? %>
    <%= button_to stop_barbell_bot_path(bot), class: "sbutton sbutton--primary sbutton--outline", data: { hw_animate_out: "animate-button-to-start-shape"} do %>
      <div class="animicon animicon--stop">
        <div class="animicon__a"></div>
        <div class="animicon__b"></div>
      </div>
    <% end %>
  <% else %>
    <%= button_to start_barbell_bot_path(bot), class: "sbutton sbutton--success", data: { hw_animate_out: "animate-button-to-stop-shape" }, disabled: !bot.valid?(:start) || !bot.api_key.correct? do %>
      <div class="animicon animicon--start">
        <div class="animicon__a"></div>
        <div class="animicon__b"></div>
      </div>
    <% end %>
  <% end %>
<% end %>