<button type="submit" class="button button--success button--large" data-action="click->zaraz#trackBeginCheckoutEvent" data-zaraz-target="button" <% if payment.price_with_vat == 0 %>disabled<% end %>>
  <%= t('subscriptions.payment.pay_with_bitcoin') %>
</button>