<!DOCTYPE html>
<html>
  <head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
    <style>
      body {
        font-family: sans-serif;
      }
      code {
        font-size: 1.15em;
        margin: 2em 0;
        display: block;
      }
      h1 {
        font-size: 1.4em;
        margin: 1em 0 1.5em 0;
        font-family: Arial, sans-serif;
      }
    </style>
  </head>
  <body>
    <div style="max-width: 700px; margin: 30px auto;">
      <img src="<%= root_url %>logo_email_app.png" style="width:64px; height: 64px; margin: 1em 0;">

      <%= yield %>

      <p style="margin: 5em 0 1em 0;"></p>
      </p>
    </div>
  </body>
</html>
