<% if current_user.unlimited? %>
  <% days_left = current_user.plan_days_left %>
  <% if upgrade_presenter.current_plan_name == 'investor' %>
    <div class="db-plans__item db-plans__item--investor db-plans__item--current">
      <%= render partial: 'investor_card', locals: { days_left: days_left } %>
    </div>
  <% elsif upgrade_presenter.current_plan_name == 'hodler' %>
    <div class="db-plans__item db-plans__item--hodler db-plans__item--current">
      <%= render partial: 'hodler_card', locals: { days_left: days_left } %>
    </div>
  <% else %>
    <div class="db-plans__item db-plans__item--legendary_badger db-plans__item--current">
      <%= render partial: 'legendary_badger_card', locals: { days_left: days_left } %>
    </div>
  <% end %>
<% end %>