%tr.db-plan.db-plan--current
- if current_user.unlimited?
  - days_left = current_user.plan_days_left
  - if upgrade_presenter.current_plan_name == 'investor'
    = render partial: 'investor_card', locals: { days_left: days_left }
  - else
    = render partial: 'hodler_card', locals: { days_left: days_left }
- else
  = render partial: 'saver_card', locals: { free_limit: upgrade_presenter.current_plan.credits }
