<% if current_user.unlimited? %>
  <% if current_user.subscription_name == 'standard' %>
    <div class="db-plans__item db-plans__item--standard-plan db-plans__item--current">
      <%= render partial: 'standard_plan_card' %>
    </div>
  <% elsif current_user.subscription_name == 'pro' %>
    <div class="db-plans__item db-plans__item--pro-plan db-plans__item--current">
      <%= render partial: 'pro_plan_card' %>
    </div>
  <% else %>
    <div class="db-plans__item db-plans__item--legendary-plan db-plans__item--current">
      <%= render partial: 'legendary_plan_card', locals: { legendary_plan: legendary_plan } %>
    </div>
  <% end %>
<% end %>