.db-plans__item__name
  Hodler
  .db-years
    - if days_left
      .text-success
        #{current_user.plan_days_left} days left
    - else
      4-year plan
.db-plans__item__amount
  - unless days_left
    - if upgrade_presenter.discount?
      .db-plans__item__amount__t.db-plans__item__amount__t--previous
        <span class='db-show--eu'>€</span><span class='db-show--other'>$</span><span class='hodler-base-price'>#{cost_presenter.base_price}</span>
      .db-plans__item__amount__t.db-plans__item__amount__t--new
        <span class='db-show--eu'>€</span><span class='db-show--other'>$</span><span class='hodler-discounted-price'>#{cost_presenter.flat_discounted_price}</span>
    - else
      .db-plans__item__amount__t
        <span class='db-show--eu'>€</span><span class='db-show--other'>$</span><span class='hodler-base-price'>#{cost_presenter.base_price}</span>
.db-plans__item__info
  DCA works best as a long-term commitment. Four years of <b class="badge badge-btc">unlimited transactions</b> for <b class="badge badge-all">all cryptocurrencies</b>, <b class="badge badge-limit">limit orders</b>, and <b class="badge badge-priority">priority access</b> to new features. <span class="no-break">Access to</span> the <b class="badge badge-referral">referral program</b>.
