.db-plans__item__name
  Investor
  .db-years
    - if days_left
      .text-success
        #{current_user.plan_days_left} days left
    - else
      1-year plan
.db-plans__item__amount
  - unless days_left
    - if upgrade_presenter.discount?
      .db-plans__item__amount__t.db-plans__item__amount__t--discount
        <span class='db-show--eu'>€</span><span class='db-show--other'>$</span><span class='investor-discounted-price'>#{cost_presenter.flat_discounted_price}</span>
      .db-plans__item__amount__t.db-plans__item__amount__t--previous
        <span class='db-show--eu'>€</span><span class='db-show--other'>$</span><span class='investor-base-price'>#{cost_presenter.base_price}</span>
    - else
      .db-plans__item__amount__t
        <span class='db-show--eu'>€</span><span class='db-show--other'>$</span><span class='investor-base-price'>#{cost_presenter.base_price}</span>

.db-plans__item__info
  One year of unlimited transactions for <b class="badge badge-btc">BTC</b>, <b class="badge badge-eth">ETH</b>, <b class="badge badge-ltc">LTC</b>, <b class="badge badge-xmr">XMR</b>. <span class="no-break">Access to</span> the <b class="badge badge-referral">referral program</b>.
