
.db-plans__item__name
  Saver
.db-plans__item__amount
  .db-plans__item__amount__t.db-plans__item__amount__t--discount
    Free
.db-plans__item__info
  Free transactions up to <span class="db-show--eu">€#{free_limit}</span><span class="db-show--other">$#{free_limit}</span>/year. <span class="db-show--eu">€</span><span class="db-show--other">$</span>#{current_user.credits.round} left.
