.db-hi-welcome
  %span
    %span.db-hi-welcome__default
      = t('welcome.saver')
  %svg{:width => "38", :height => "14", :viewBox => "0 0 38 14", :version => "1.1", :xmlns => "http://www.w3.org/2000/svg", "xmlns:xlink" => "http://www.w3.org/1999/xlink"}
    %path(d="M1 11.664C15.648 13.481 27.648 9.97 37 1.13" stroke="#0a45a4" stroke-width="2" fill="none" fill-rule="evenodd" stroke-linecap="round" stroke-linejoin="round")
