- unless current_user.unlimited?
  %tfoot
    %tr
      %td(scope='col')
      %td(scope='col')
      %td(scope='col')
        %b Sum:
      %td.pl-4(scope='col')
        %b
          .db-show--investor
            = render partial: 'upgrade_summary_plan', locals: { referrer: referrer, cost_presenters: cost_presenters[:investor] }

          .db-show--hodler
            = render partial: 'upgrade_summary_plan', locals: { referrer: referrer, cost_presenters: cost_presenters[:hodler] }
