- if upgrade_presenter.upgrade_available?
  %tfoot
    %tr
      %td(scope='col')
      %td(scope='col')
      %td(scope='col')
        %b Sum:
      %td.pl-4(scope='col')
        %b
          - if 'investor'.in?(upgrade_presenter.available_plans)
            .db-show--investor
              = render partial: 'upgrade_summary_plan', locals: { upgrade_presenter: upgrade_presenter, cost_presenters: cost_presenters[:investor] }

          - if 'hodler'.in?(upgrade_presenter.available_plans)
            .db-show--hodler
              = render partial: 'upgrade_summary_plan', locals: { upgrade_presenter: upgrade_presenter, cost_presenters: cost_presenters[:hodler] }
