<% content_for :body_class, ".view--upgrade" %>

<div class="page-head">
  <div class="stitle"><%= t('upgrade') %></div>
</div>

<div class="modal-dialog m-0 db-wire-transfer-in-progress" style="max-width: 100%">
  <div class="db-form__row"><%= t('subscriptions.payment.wire_transfer_pending') %></div>
  <div class="db-form__row">
    <%= t('subscriptions.payment.wire_cost_pending_html', price: localized_price(@payment.price_with_vat, @payment.currency)) %>
  </div>
  <%= render partial: "wire_info", locals: { payment: @payment } %>
</div>