<% content_for :body_class, ".view--upgrade" %>
<% if @payment.present? %>
  <%= tag.div data: {
    controller: "zaraz",
    zaraz_is_purchase_value: true,
    zaraz_currency_value: @payment.currency,
    zaraz_name_value: plan_variant_name(@payment.subscription_plan_variant),
    zaraz_price_value: @payment.total
  } %>
<% end %>

<div style="  display: flex; justify-content: center; align-items: center; height: 100vh;">
  <h1 style="max-width: 400px; text-align: center; color: var(--label); min-height: 50vh;">Your account has been successfully upgraded!</h1>
</div>
