<% if @payment.present? %>
  <%= tag.div data: {
    controller: "zaraz",
    zaraz_is_purchase_value: true,
    zaraz_currency_value: @payment.currency,
    zaraz_name_value: plan_variant_name(@payment.subscription_plan_variant),
    zaraz_price_value: @payment.total
  } %>
<% end %>

<h1>Your account has been successfully upgraded!</h1>
