<%= render 'layouts/turbo_modal' do %>
  <div class="modal modal--medium community-access-instructions">
    <button data-action="click->modal--base#animateOutCloseAndCleanUp" class="modal__close">
      <%= render 'svg/24x24_x' %>
    </button>



  </div>
<% end %>
