.alertbox
    border-radius: 2rem
    box-shadow: 0 0.5rem 2rem 0 rgba(0,0,0,0.12)
    display: flex
    padding: 3rem
    overflow: hidden
    position: relative
    margin-bottom: 1rem
    .close
        font-size: 2rem
        opacity: 1
        *
            fill: var(--label)
    a
        font-weight: bold
        color: var(--link)
    &--news
        background: var(--alertbox-news-background)
        color: var(--alertbox-news-color)
        padding-bottom: 12rem
    &--primary
        background: $primary
        color: white
    &--success
        background: var(--success-semitransparent)
    ul,ol
        margin-left: 3rem
        font-weight: 600
    p,ul,ol
        margin-bottom: 2rem
    .art--legendary-badger
        position: absolute
        bottom: -5rem
        right: 0rem
        width: 40rem
        height: 40rem