html
    background: var(--background)
    font-size: 8px
    &.view--portfolios-show
        background: var(--background-new)

body
    font-size:   2rem
    font-family: Montserrat, sans-serif
    color:       var(--text)

dialog
  display: block // override default display: none, used if js is disabled

.main
    padding: 4rem 4rem 4rem 17rem
    @media only screen and (max-width: 1359px)
      padding-top: 16rem
    

.columns
    display: flex
    gap: 4rem

.column
    display: flex
    flex-direction: column
    width: 100%
    container-type: inline-size

.modal--search
    background: none !important
    width: 100vw
    height: 100vh
    max-width: 63rem !important
    max-height: 63rem !important
    &__background
        background: var(--modal-background)
        border-radius: 1rem
        overflow: hidden
        max-height: 63rem !important
    &__zoom-icon
        width: 3rem
        height: 3rem
        position: absolute
        top: 2rem
        left: 2rem
        path,circle
            stroke: var(--modal-search-placeholder)
    &__input
        background: rgba(0,0,0,0)
        font-weight: 500
        width: 100%
        padding: 2rem 2rem 2rem 7rem
        font-size: 2rem
        border: none
        height: 7rem
        &:focus
            outline: none
        &::placeholder
            color: var(--modal-search-placeholder)
    &__assets
        max-height: calc(63rem - 7rem) !important
        display: block
        overflow-y: scroll
        &::-webkit-scrollbar
            -webkit-appearance: none
            width: 12px
            height: 12px
        &::-webkit-scrollbar-thumb
            background-color: rgba(0, 0, 0, 0.5)
            border-radius: 10px
            border: 2px solid #ffffff
        &__item
            &:hover
                background: var(--modal-search-hover-background)
            &__highlight
                background: var(--modal-search-highlight-background)
                &:hover
                    background: var(--modal-search-highlight-background)
            button
                background: none
                border: none
                display: grid
                grid-template-columns: 15rem 1fr 11rem
                width: 100%

    &__cell
        text-align: left
        padding: 1rem 0 1rem 2rem
        font-weight: 500
        overflow: hidden
        text-overflow: ellipsis
        text-wrap: nowrap
        &--ticker
            font-weight: bold
            color: var(--emphasis)
        &--category
            color: var(--label)


.insight, #backtest-results
    border-radius: .5rem
    overflow: hidden
.insight
    padding: 2rem 2rem 2rem 6rem
    background: var(--insight-background) no-repeat 2rem 2rem
    background-size: 3rem 3rem
    strong
        font-weight: 500
        color: var(--insight-title)
    &__name
        font-weight: bold
        color: var(--insight-title)
    &--summary
        background-image: url('data:image/svg+xml,%3Csvg%20viewBox%3D%220%200%2024%2024%22%20fill%3D%22none%22%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%3E%3Ccircle%20cx%3D%2212%22%20cy%3D%2212%22%20r%3D%2210%22%20fill%3D%22%23507EFF%22%2F%3E%3Cpath%20d%3D%22M13.6%208.8%2012.8%206a.9.9%200%200%200-1.6%200l-.8%202.7c-.2.3-.5.6-.9.6H7c-.9%200-1.2%201.1-.5%201.6l2.1%201.7c.3.2.4.6.3%201L8%2016.3c-.3.8.7%201.5%201.3%201l2.2-1.6a1%201%200%200%201%201%200l2.2%201.6c.6.5%201.6-.2%201.3-1l-.8-2.6a1%201%200%200%201%20.3-1l2.1-1.7c.7-.5.4-1.6-.5-1.6h-2.6a.9.9%200%200%201-.9-.6Z%22%20fill%3D%22%23fff%22%2F%3E%3C%2Fsvg%3E') 
    &--pro
        background-color: var(--insight-pro-background)
        background-image: url('data:image/svg+xml,%3Csvg%20viewBox%3D%220%200%2024%2024%22%20fill%3D%22none%22%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%3E%3Ccircle%20cx%3D%2212%22%20cy%3D%2212%22%20r%3D%2210%22%20fill%3D%22%2300AE84%22%2F%3E%3Cpath%20d%3D%22M12%206c.7%200%201.3.6%201.3%201.2v3.5h3.4a1.3%201.3%200%200%201%200%202.5h-3.4v3.5a1.3%201.3%200%200%201-2.6%200v-3.5H7.4a1.2%201.2%200%201%201%200-2.5h3.5V7.2c0-.6.5-1.2%201.2-1.2Z%22%20fill%3D%22%23fff%22%2F%3E%3C%2Fsvg%3E')
        b
            color: var(--success)
    &--con
        background-color: var(--insight-con-background)
        background-image: url('data:image/svg+xml,%3Csvg%20viewBox%3D%220%200%2024%2024%22%20fill%3D%22none%22%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%3E%3Ccircle%20cx%3D%2212%22%20cy%3D%2212%22%20r%3D%2210%22%20fill%3D%22%23FF005C%22%2F%3E%3Cpath%20d%3D%22M16.8%2010.7a1.3%201.3%200%200%201%200%202.5H7.2a1.3%201.3%200%200%201%200-2.5h9.6Z%22%20fill%3D%22%23fff%22%2F%3E%3C%2Fsvg%3E')
        b
            color: var(--danger)
    &__hint
        display: block
        font-weight: 600
        font-style: italic
        margin-top: 2rem
        &::before
            content: "💡"
            margin-right: 0.125rem
            font-style: normal