\:root
    background: var(--background)
    font-size: 8px
    @media only screen and (max-width: 1359px)
        // font-size: 7.5px
    &.view--portfolios-show
        background: var(--background-new)
body
    font-size:   2rem
    font-weight: 450
    font-family: Montserrat, sans-serif
    color:       var(--text)
    position:    relative
dialog
  display: block // override default display: none, used if js is disabled

.main
    padding: 4rem 4rem 4rem 20rem
    @media only screen and (max-width: 1359px)
      padding-top: 14rem
      padding-left: 4rem
    @media only screen and (max-width: 767px)
      padding: 14rem 1rem 2rem
.columns
    display: grid
    gap: 4rem
    grid-template-columns: 1fr 1fr
    @media only screen and (max-width: 1359px)
        grid-template-columns: 2fr 3fr
    @media only screen and (max-width: 1023px)
        grid-template-columns: 1fr
        gap: 7rem
.column
    display: flex
    flex-direction: column
    width: 100%
    container-type: inline-size
.page-head
    display: flex
    margin-bottom: 5rem
    align-items: center
    gap: 6rem
    font-weight: bold
    justify-content: space-between
#backtest-results
    overflow: hidden
    border-radius: 2rem
.isection
    display: flex
    flex-direction: column
    gap: 2rem
    margin-bottom: 4rem
    &__header
        margin-bottom: 2rem
        font-size: 3rem
            
.itiles
    display: grid
    grid-template-columns: repeat(auto-fill, minmax(40rem, 1fr))
    gap: 1.5rem
    @media only screen and (min-width: 1520px)
        grid-template-columns: repeat(3, 1fr)
    @media only screen and (min-width: 1920px)
        grid-template-columns: repeat(6, 1fr)
.itile
    padding: 3rem 4rem 4rem
    border-radius: 2rem
    background: var(--primary) no-repeat top center
    color: #fff
    font-weight: 700
    display: flex
    flex-direction: column
    background-size: cover
    // styles for light mode
    @media (prefers-color-scheme: light)
        opacity: 0.88  
    &__title
        font-weight: 700
        margin-bottom: 2rem
    &__value
        font-size: 2rem
    &--bitcoin
        background-image: linear-gradient(#ff480088,#ff4800dd), url('~images/bg-bitcoin.jpg')
    &--ethereum
        background-image: linear-gradient(#361757bb,#361757ee), url('~images/bg-ethereum.jpg')
    &--voo
        background-image: linear-gradient(#601a,#601c), url('~images/bg-voo.jpg')
    &--qqq
        background-image: linear-gradient(#0c2277cc,#0c2277ee), url('~images/bg-qqq.jpg')
    &--gold
        background-image: linear-gradient(#530c,#530e), url('~images/bg-gold.jpg')
    &--bonds
        background-image: linear-gradient(#033c,#033e), url('~images/bg-bonds1.jpg')
.hinput
    background: none
    border: none
    border-bottom: 2px solid var(--text)
    color: var(--text)
    padding: 0
    text-align: center
    &:focus
        border-bottom-color: var(--link)
        color: var(--link)
        outline: none