html
    background: var(--background)
    font-size: 8px
    &.view--portfolios-show
        background: var(--background-new)

body
    font-size:   2rem
    font-family: Montserrat, sans-serif
    color:       var(--text)

dialog
  display: block // override default display: none, used if js is disabled

.main
    padding: 4rem 4rem 4rem 17rem
    @media only screen and (max-width: 1359px)
      padding-top: 16rem
    

.columns
    display: flex
    gap: 4rem

.column
    display: flex
    flex-direction: column
    width: 100%
    container-type: inline-size

.modal--search
    background: none !important
    width: 100vw
    height: 100vh
    max-width: 63rem !important
    max-height: 63rem !important
    &__background
        background: var(--modal-background)
        border-radius: 1rem
        overflow: hidden
        max-height: 63rem !important
    &__zoom-icon
        width: 3rem
        height: 3rem
        position: absolute
        top: 2rem
        left: 2rem
        path,circle
            stroke: var(--modal-search-placeholder)
    &__input
        background: rgba(0,0,0,0)
        font-weight: 500
        width: 100%
        padding: 2rem 2rem 2rem 7rem
        font-size: 2rem
        border: none
        height: 7rem
        &:focus
            outline: none
        &::placeholder
            color: var(--modal-search-placeholder)
    &__assets
        max-height: calc(63rem - 7rem) !important
        display: block
        overflow-y: scroll
        &::-webkit-scrollbar
            -webkit-appearance: none
            width: 12px
            height: 12px
        &::-webkit-scrollbar-thumb
            background-color: rgba(0, 0, 0, 0.5)
            border-radius: 10px
            border: 2px solid #ffffff
        &__item
            &:hover
                background: var(--modal-search-hover-background)
            &__highlight
                background: var(--modal-search-highlight-background)
                &:hover
                    background: var(--modal-search-highlight-background)
            button
                background: none
                border: none
                display: grid
                grid-template-columns: 15rem 1fr 11rem
                width: 100%

    &__cell
        text-align: left
        padding: 1rem 0 1rem 2rem
        font-weight: 500
        overflow: hidden
        text-overflow: ellipsis
        text-wrap: nowrap
        &--ticker
            font-weight: bold
            color: var(--emphasis)
        &--category
            color: var(--label)

.insight
    background: var(--insight-background)
    padding: 2rem 1.5rem 2rem 2.5rem
    strong
        font-weight: 500
        color: var(--insight-title)
    &__name
        font-weight: bold
        color: var(--insight-title)
    &--pro
        background: var(--insight-pro-background)
        b
            color: var(--success)
    &--con
        background: var(--insight-con-background)
        b
            color: var(--danger)