.smart-allocation
    display: flex
    flex-direction: column
    gap: 2rem
    padding: 4px 0
    &__slider
        width: 100%
        &--off
            pointer-events: none
            .slider__style__progress
                display: none
            .label--select
                color: var(--label-select-inactive)
                svg
                    path
                        stroke: var(--label-select-inactive)
    .icon-24
        position: relative
        left: -0.5rem
        
        path
            fill: var(--label)
            transition: fill 0.3s
    