.label,.ticker,.toggle-label
    user-select: none

.label
    font-weight: 600
    color: var(--label)
    &__value
        font-weight: bold
        color: var(--emphasis)
    &--select
        border: 0
        color: var(--emphasis)

.sinput
    font-weight: 600 !important
    background: var(--sinput-background)
    color: var(--sinput-text)
    line-height: 4rem
    border-radius: 2rem
    border: 0
    padding: 0 1.5rem
    height: 4rem
    width: min-content
    &--calendar
        width: 14rem
        text-align: center
    &--number
        text-align: right
        -moz-appearance: textfield
        &::-webkit-outer-spin-button, &::-webkit-inner-spin-button
            -webkit-appearance: none
            margin: 0
    &--rate
        width: 8rem
        padding: 0
        text-align: center
    &--select
        position: relative
        overflow: hidden
        select
            opacity: 0
            position: absolute
            top: 0
            left: 0

select
    -webkit-appearance: none !important

.sbutton
    border: 0
    background: none
    font-weight: 600
    color: var(--label)
    padding: 0 0.25rem
    // border-bottom: 2px solid var(--slider-track)