@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap')

$primary: #2948A1
$text:    #061A4F
$success: #00D3A1

$gray-100: #EDF0F6
$gray-150: #dde0ea
$gray-200: #b4bcd1
$gray-300: #8894B6

$page-bg: #FFF
$widget-bg: #F2F5FA

$dropdown-bg: #FFF

@media (prefers-color-scheme: light)
  .db-darkmode-only
    display: none
  \:root
    --background-new: #fff
    --widget-background: #F2F5FA
    --widget-line: #D9E0E7
    --slider-track: #3453B037
    --slider-progress:#2948A1
    --label: #061a4f80
    --label-select-inactive: #3453b05e
    --emphasis: #2948A1
    
    
    
    --input-text: #061A4F
    --input-text-inactive:  #8894B6

    --sinput-background: #F2F5FA 
    --sinput-text: #2948A1

    --toggle-background: #061a4f80
    --toggle-background-active: #00D3A1

    --success: #00D3A1

    --modal-background: #fff
    --modal-search-hover-background: #F2F5FA

@media (prefers-color-scheme: dark)
  .db-lightmode-only
    display: none
  \:root
    --background-new: #001b36
    --widget-background: #1A2646
    --widget-line: #313C59
    --slider-track: #D4DAEC22
    --slider-progress: #2948A1
    --label: #B2C8FF77
    --label-select-inactive: #d4daec3b
    --emphasis: #fff

    --input-text: #fff
    --input-text-inactive: #8894B6

    --sinput-background: #1A2646
    --sinput-text: #fff

    --toggle-background: #b2c8ff59
    --toggle-background-active: #00D3A1

    --success: #00D3A1

    --modal-background: #202e55
    --modal-search-hover-background: #1A2646