@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap')

$primary: #2948A1
$text:    #061A4F
$success: #00D3A1

$gray-100: #EDF0F6
$gray-150: #dde0ea
$gray-200: #b4bcd1
$gray-300: #8894B6

$page-bg: #FFF
$widget-bg: #F2F5FA

$dropdown-bg: #FFF

\:root
  --c-gradient-step-a: rgb(255, 0, 0)
  --c-gradient-step-b: rgb(255, 0, 255)
  --c-gradient-step-c: rgb(0, 255, 255)
  --c-gradient-step-d: rgb(0, 0, 255)
  --c-gradient: -webkit-linear-gradient(5deg, var(--c-gradient-step-a), var(--c-gradient-step-b), var(--c-gradient-step-c), var(--c-gradient-step-d), var(--c-gradient-step-a))

@media (prefers-color-scheme: light)
  .db-darkmode-only
    display: none
  \:root
    --primary: #2948A1
    --success: #06ae84
    --danger: #d02
    --background-new: #fff
    --widget-background: #F2F5FA
    --widget-line: #D9E0E7
    --insight-title: #061A4F
    --insight-background: #F2F5FA
    --insight-pro-background: #e5f4f1
    --insight-con-background: #ffebf2
    --slider-track: #3453B037
    --slider-progress:#2948A1
    --label: #061a4f80
    --label-select-inactive: #3453b05e
    --emphasis: #2948A1

    --input-text: #061A4F
    --input-text-inactive:  #8894B6

    --sinput-background: #F2F5FA 
    --sinput-text: #2948A1

    --sbutton-add-asset: #F2F5FA
    --sbutton-add-asset-hover: #d9e0e7

    --toggle-background: #061a4f80
    --toggle-background-active: #06ae84

    --modal-background: #fff
    --modal-search-hover-background: #F2F5FA
    --modal-search-highlight-background: #e3ecfa
    --modal-search-placeholder: #8894B6

@media (prefers-color-scheme: dark)
  .db-lightmode-only
    display: none
  \:root
    --primary: #2948A1
    --success: #00D3A1
    --danger: #d02
    --background-new: #001b36
    --widget-background: #1A2646
    --widget-line: #313C59
    --insight-title: #fff
    --insight-background: #2948A177
    --insight-pro-background: #0F3440
    --insight-con-background: #361D3E
    --slider-track: #D4DAEC22
    --slider-progress: #2948A1
    --label: #B2C8FF77
    --label-select-inactive: #d4daec3b
    --emphasis: #fff

    --input-text: #fff
    --input-text-inactive: #8894B6

    --sinput-background: #1A2646
    --sinput-text: #fff

    --sbutton-add-asset: #1A2646
    --sbutton-add-asset-hover: #202e55

    --toggle-background: #b2c8ff59
    --toggle-background-active: #00D3A1

    --modal-background: #202e55
    --modal-search-hover-background: #1A2646
    --modal-search-placeholder: #8894B6