@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap')

$primary: #2948A1
$text:    #061A4F
$success: #00D3A1

$gray-100: #EDF0F6
$gray-150: #dde0ea
$gray-200: #b4bcd1
$gray-300: #8894B6

$page-bg: #FFF
$widget-bg: #F2F5FA

$dropdown-bg: #FFF
    
