.basket
    display: flex
    flex-direction: column
    gap: 1rem
    &__asset
        display: flex
        align-items: center
        gap: 1rem
        &__form
            display: flex
            width: 100%
            gap: 1rem         
    &__remove
        background: $gray-100
        width: 20rem
        border-radius: 2rem
        height: 4rem
        display: flex
        justify-content: center
        align-items: center
        color: $gray-300
        font-size: 4rem
        &__icon
            stroke: $gray-300
        &:hover
            background: $primary
            cursor: pointer
            .basket__remove__icon
                stroke: white