.alert
  padding: 2rem 2.4rem
  [type="checkbox"]
    height: 4rem
    width: 2rem
    &:not(:checked)
      box-shadow: none !important
  &-primary
    color:            var(--alertPrimaryTxt)
    background-color: var(--alertPrimaryBg)
    border-color:     var(--alertPrimaryBorder)
    &[disabled]
      color:            var(--alertPrimaryTxtDisabled)
      background-color: var(--alertPrimaryBgDisabled)
      border-color:     var(--alertPrimaryBorderDisabled)
      .bot-input
        background: var(--botInputBgPaper)
  small
    line-height: 2rem


.bot-input
  margin-left: -.3rem
  margin-right: -.3rem
  background-color: var(--botInputBg)
  border:          none
  border-right:    1rem solid transparent
  border-left:    1rem solid transparent
  border-radius:   2rem
  line-height:     4rem
  height:          4rem
  justify-content: center
  font-weight:     bold !important
  padding:         0 .3rem 0 .5rem
  text-align:      center
  &:invalid
    border: 2px solid $danger
  &[disabled]
    background: none
    border-color: none
  &::selection
    color: var(--botInputTxtSelect)
    background: none
  &:focus
    outline: none
    background-color: var(--botInputBgFocus)

  &--paper-bg
    background-color: var(--botInputBgPaper)
    &:focus
      background-color: var(--botInputBgPaperFocus) !important
  &--select
    width: auto


.db-bot
  .alert
    border-radius: 1rem
    display: flex
    flex-direction: row
    gap: 2rem
    line-height: 4rem
    &__regular-text
      line-height: 3rem
    &-trading-agreement
      .form-check-input
        height: 2rem
        width: 2rem
      .form-check
        padding-left: 0 !important
        display: flex
        align-items: center
        gap: 1.5rem
      .form-check-input
        position: relative
        margin: 0 !important
