.db-exchange-instructions, .alert
  ol,ul
    margin-left: 3rem
.tab-pane
  ol,ul
    margin-left: 5rem

#referral_banner_link
  text-decoration: none
  font-weight: 600
.referral_banner_link
  display: block
  border: rgba(0,0,0,.1)
  background: rgba(255,255,255,.5)
  @media ( prefers-color-scheme: dark )
    background: rgba(255,255,255,.05)
  float: left
  padding: 0 1.5rem 0.3rem
  border-radius: 3rem
  .badge
    margin-right: -.8rem
  .invisible
    display: none

.db-alert
  &--annotation
    min-height: 4rem
    display: block
    &:first-line
      text-indent: -1em
  &--flex
    display: flex
    justify-content: space-between
    align-items: flex-start
    .btn
      position: relative
      right: -1rem
  &--discount
    border: 2px solid var(--temporaryDiscount)
    color: #fff
    background: var(--temporaryDiscount)
    font-size: 2.2rem
    padding: 1rem 2.2rem !important
    &--countdown
      font-weight: bold

.alert
  box-shadow: $boxShadowAlert
  padding: 2rem 2.3rem
  margin-bottom: 2rem
  h4
    margin: .55em 0 .25em
    @include media-breakpoint-down(sm)
      font-size: 1.45rem
      margin: 2em 0 0 0
    .badge
      padding-left: 1rem
      padding-right: 1rem
      border-radius: 2rem
      margin-left: .5rem
  .close
    align-self: baseline
    margin-left: 1em
    opacity: 0.8
    text-shadow: none
    color: inherit
    font-size: 2rem
  [type="checkbox"]
    flex:       none
    height:     2rem
    width:      2rem
    margin-top: .5rem
    &:not(:checked), &:not(:checked):hover
      box-shadow: none !important
      mix-blend-mode: luminosity
  &-primary
    color:            var(--alertPrimaryTxt)
    background-color: var(--alertPrimaryBg)
    border-color: transparent
    &[disabled]
      color:            var(--alertPrimaryTxtDisabled)
      background-color: var(--alertPrimaryBgDisabled)
      border-color:     var(--alertPrimaryBorderDisabled)
      box-shadow: none
      .hide-when-disabled
        display: none
      .bot-input
        background: var(--botInputBgPaper)
  &-success
    border-color: var(--alertSuccessBorder)
    color:        var(--alertSuccessText)
    background:   var(--alertSuccessBackground)
  small
    line-height: 2rem

select:disabled, input:disabled
  opacity: 1
  color: var(--text)
  appearance: none !important

.bot--running
  .hide-when-running, .alert[disabled]
    display: none !important

.bot-input
  margin-left:     -.3rem
  margin-right:    -.3rem
  background-color: var(--botInputBg)
  border:           none
  border-right:     1rem solid transparent
  border-left:      1rem solid transparent
  border-radius:    2rem
  line-height:      4rem
  height:           4rem
  justify-content:  center
  padding:          0 .3rem
  text-align:       center
  &:invalid
    border:         2px solid $danger
  &::selection
    color: var(--botInputTxtSelect)
    // background:     none
  &:focus
    outline:        none
    background-color: var(--botInputBgFocus)

  &--paper-bg
    background-color: var(--botInputBgPaper)
    &:focus
      background-color: var(--botInputBgPaperFocus) !important
  &--select
    width: auto

  &--pro-plan-only--before, &--legendary-plan-only--before
    position: absolute
    left: 0
    right: 0
    display: flex
    justify-content: center
    bottom: -1.5rem
    a
      font-size: 0.9em
      padding: 0 1.5rem
      border-radius: 2rem
      background: $primary !important
      color: white !important
      text-decoration: none !important



.db-bot
  .alert
    padding: 2rem
    margin-left: 1.5rem
    margin-right: 1.5rem
    user-select:    none
    border-radius:  $small-box-border-radius
    display:        flex
    flex-direction: row
    gap:            2rem
    line-height:    3rem
    small
      padding-top: 1.5rem
      display: block
    .bot-input
      line-height: 3rem
      height: 3rem
      border-left-width: .5rem
      border-right-width: .5rem
    &__regular-text
      line-height:  3rem
    &-trading-agreement
      .form-check-input
        height:     2rem
        width:      2rem
      .form-check
        padding-left: 0 !important
        display: flex
        align-items: center
        gap: 1.5rem
      .form-check-input
        position: relative
        margin: 0 !important
