// bots

input
  &[type="checkbox"]
    &:not(:checked)
      box-shadow: inset 0 0 1.5rem var(--inactive)
      filter:     none

.db-bots
  display:        grid
  grid-auto-rows: max-content
  column-gap:     $grid-gutter-width*0.5
  @include media-breakpoint-up(xl)
    grid-template-columns: 50%
  &__item
    grid-column-start: 1
    margin-bottom:     $grid-gutter-width*0.5
    &--homepage
      width:          100%
      height:         fit-content
      color:          var(--text)
      border-radius:  $box-border-radius !important
      padding-bottom: 1.5rem !important
    &--data
      @include media-breakpoint-up(xl)
        grid-column-start: 2
        grid-row-start: 1
        grid-row: 1 / 100
      @include media-breakpoint-down(lg)
        background: var(--paper)
        z-index: 1
      .db-spinner-positioner
        display:         flex
        justify-content: center
        padding:         2rem 4rem 4rem
        margin-bottom:   2rem
      th:first-child, td:first-child
        padding-left:    2.4rem !important
      .tab-content
        z-index:  2
        position: relative
      .nav-item
        .nav-link
          padding: 1.3rem 2.4rem 1.7rem
          color:           var(--link)
          background:      var(--paper)
          text-decoration: none !important
          margin-right:    .2rem
          position:        relative
          &:not(.active)
            background:    transparent
            border-color:  transparent
            &:hover
              background:  var(--paperBorder)
          &.active
            cursor:              default
            padding-bottom:      1.8rem
            border-bottom-width: 0
            color:               var(--text)
            border-color:        var(--paperBorder)
            z-index:             3
            @include media-breakpoint-up(xl)
              box-shadow:  $boxShadowBot
            &::before
              content:     ""
              display:     block
              height:      1.8rem
              background:  var(--paper)
              left:       -.5rem
              position:    absolute
              width:       calc(100% + 1rem)
              bottom:     -1.8rem
        &:first-child
          .nav-link
            &.active
              &::before
                left:       -.1rem
                border-left: .1rem solid var(--paperBorder)
                bottom:     -1.8rem
            &:not(.active)
              &:hover
                &::before
                  content:    ""
                  z-index:   -1
                  display:    block
                  width:      1rem
                  height:     1.8rem
                  background: var(--paperBorder)
                  left:      -.1rem
                  position:   absolute
                  bottom:    -1.1rem
      .nav-link
        border-top-right-radius: $box-border-radius
        border-top-left-radius:  $box-border-radius
      .nav-tabs
        border-bottom: 0
      .tab-pane
        padding:       1.6rem 0 0
        border:        .1rem solid var(--paperBorder)
        background:    var(--paper)
        border-radius: $box-border-radius
        box-shadow:    $boxShadowBot
        p
          padding-left: 2.4rem
          padding-right: 2.4rem
          &.mt-2
            margin-top: 2.4rem
    .db-form
      &__input
        &:focus
          border-color: var(--focus)
          &+.db-form__label
            color: var(--focus)
      &__label
        background: var(--paper)
// bot

.db-bot
  position:      relative
  overflow:      hidden
  background:    var(--paper)
  border:        .1rem solid var(--paperBorder)
  border-radius: $box-border-radius
  box-shadow:    $boxShadowBot
  .form-inline
    justify-content: center
    :last-child
      margin-right: 0 !important
  .form-control
    border-color: var(--paperBorder)
  .btn-outline
    &-primary
      path
        fill: var(--link)
    &-secondary
      &.disabled
        color: var(--linkInactive) !important
        border-color: var(--linkInactive) !important
        opacity: 1 !important
        path
          fill: var(--linkInactive) !important
  &--active
    @include media-breakpoint-down(lg)
      border-bottom-right-radius: 0
      border-bottom-left-radius:  0
      border-bottom:              0
      margin-bottom:             -4rem
      padding-bottom:             4rem
      &+.db-bots__item--data
        background:                 var(--paper)
        border-right:               .1rem solid var(--paperBorder)
        border-left:                .1rem solid var(--paperBorder)
        border-bottom-right-radius: $box-border-radius
        border-bottom-left-radius:  $box-border-radius
        .nav, .tab-pane
          margin-left:            -.1rem
          margin-right:           -.1rem
          border-top-right-radius: 0
          border-top-left-radius:  0
      &:disabled
        background: var(--progressBar) !important
        color: var(--text) !important
  &--setup-finished, &--setup
    &+.db-bots__item--data
      .db-showif--setup
        display: block
  &--pick-exchange, &--get-apikey
    &+.db-bots__item--data
      .db-showif--pick-exchange
        display: block
  &--collapsed
    height:   8.9rem
    overflow: hidden
    cursor:   pointer
  &__progress
    height: .4rem
    position: absolute
    top: 6.9rem
    left: 1.5rem
    right: 1.5rem
    border-radius: 1rem
    background: var(--progressBar)
    .progress-bar
      border-radius: 1rem
    *
      transition: all 200ms linear
  &__header
    align-items:    flex-start
    text-align:     center
    display:        flex
    border-radius:  $btn-border-radius
    flex-direction: row-reverse
    padding:        $bot-gutter-width*0.5 $bot-gutter-width*0.8333 $bot-gutter-width*0.5 $bot-gutter-width*0.8333
    .btn
      right:        -1rem
      position:      relative
    .db-bot__modal .btn
      right: 0
  &__infotext
    border-radius:   $btn-border-radius
    line-height:     2rem
    width:           100%
    pointer-events:  none
    position:        relative
    text-align:      right
    align-self:      flex-end
    display:         flex
    justify-content: space-between
    align-items:     center
    min-height:      4rem
    &__left
      text-transform: uppercase
      color:          var(--text)
    &--setup
      text-align: left
      position: absolute
      width: calc(100% - 5rem)
      line-height: 4rem
      left: 2.5rem
  &__alert
    text-align: center
    position: absolute
    top: 5.7rem
    left: 1.5rem
    right: 1.5rem
  &__exchanges, &__types
    padding: 1.9rem 1.6rem 0.1rem
    margin: 0 !important
    justify-content: space-between
    &__item
      text-align:      center
      max-width:       calc((100% - 3.2rem)/3)
      height:          4em
      display:         flex
      justify-content: center
      align-items:     center
      border-radius:   $small-box-border-radius
      background:      var(--pickExchangeItemBg)
      color:           var(--pickExchangeItemTxt)
      margin-bottom:   1.6rem
      cursor:          pointer
      font-size:       1em
      font-weight:     bold
      @include textAdjust(2)
      font-family:     Montserrat
      @include media-breakpoint-down(sm)
        max-width: calc((100% - 1.6rem)*0.5)
      &--unavailable
        display: none
      &:hover
        background-color: var(--primary)
        color:            var(--pickExchangeItemSelect)
        box-shadow:       $boxShadowHome
  &__types
    &__item
      width: 100%
      max-width: 100%
      height: 16rem


  &__footer, &__modal
    p
      margin: 1em 3em
  &__footer
    margin-top: -.4em

.db-bot-info__footer
  display:         flex
  justify-content: space-between
  margin:          0 $bot-gutter-width*0.714 $bot-gutter-width*0.5
  height:          3.8rem

.db-smallinfo
  font-size: 1.4rem
  margin: 2rem 1.25rem 2rem 4.2rem
  color: var(--secondary)
  .db-svg
    &--inactive
      left: 2.2rem
      position: absolute
      path
        fill: var(--secondary)

// db-showif

.db-showif
  display: none

// bot dca1

.db-bot__form
  padding: 7rem 0 0
  display: flex
  flex-direction: column
  align-items: stretch
  &__schedule
    margin-bottom: 7rem
  form
    width: auto

.db-bot__form--apikeys
  padding-left: 2rem
  padding-right: 2rem
  padding-bottom: 7rem !important
  .form-row
    width: auto
  .form-group
    margin-bottom: 0

.db-bot__modal
  border-radius: .7rem
  position: absolute
  width: 100%
  height: 100%
  top: 0
  left: 0
  display: flex
  align-items: center
  backdrop-filter: blur(.2rem) grayscale(.1)
  background: var(--botModalBackground)
  border-radius: .7rem
  display: flex
  height: calc(100%)
  justify-content: center
  left: 0
  position: absolute
  top: 0
  width: 100%
  z-index: 1
  &__btn-group
    display: flex
    flex-wrap: wrap
    justify-content: center
    gap: 2rem
    padding: 2rem
    .btn
      padding-right: 1em
      padding-left: 1em

.db-bot__modal__content
  text-align: center
.btn--reset
  justify-content: start !important
  margin:          0.7rem 1.4rem 1.6rem
  left:            4rem
  color:           var(--secondary) !important
  text-decoration: none !important
  align-self:      flex-start
  width:           10rem
  height:          4.2rem
  span
    color:       var(--danger)
    margin-left: .7rem
    opacity:     0
  &:hover
    color: var(--danger) !important
    span
      opacity: 1

  &.disabled
    display: none

.btn--reset-back
  &:hover, span
    color: var(--primary) !important
    color: var(--primary-p3) !important

// chart

.db-chart-container
  margin: 2.5rem 1.5rem
  max-width: 100%

.db-limit-bot-modifier
  margin-top: 4rem
  margin-bottom: -2rem

.db-breadcrumbs
  color: var(--linkInactive)
  em
    font-style: normal
    color: var(--text)

.db-add-more-bots
  justify-content: space-between
  height: 4rem
  .btn-outline-primary:not(:hover)
    color: var(--addBotButton) !important
    .material-icons
      color: var(--addBotButton) !important
  a
    text-decoration: none
  .pagination-lg
    font-size: 1.5rem !important
    .page-link
      font-size: 1.5rem
      line-height: 1.58
      font-weight: bold
      background: var(--paginationBg)
      color: var(--text)
      &:hover
        background: var(--paginationHover)
    .page-item
      a
        color: var(--link)
      &.disabled
        a
          color: var(--text)
    .page-item:first-child
      .page-link
        border-top-left-radius: 2rem
        border-bottom-left-radius: 2rem
    .page-item:last-child
      .page-link
        border-top-right-radius: 2rem
        border-bottom-right-radius: 2rem
.db-select--buy-sell
  max-width: 7.8em
.db-input--dca-amount
  max-width: 4.1em
