// bots

#dashboard {
  position: relative;
}

.db-bots {
  display: grid;
  padding: 0 $grid-gutter-width/4;
  @include media-breakpoint-up(xl) {
    grid-template-columns: 50%;
  }
}
.db-bots__item {
  grid-column-start: 1;
  margin-bottom: $grid-gutter-width/2;
  margin-left:   $grid-gutter-width/4;
  margin-right:  $grid-gutter-width/4;
}
.db-add-more-bots {
  height: 40px;
}
.db-bot-data {
  @include media-breakpoint-up(xl) {
    grid-column-start: 2;
    grid-row-start: 1;
    grid-row: 1 / 100;
  }
  .tab-content {
    z-index:  2;
    position: relative;
  }
  .nav-item {
    .nav-link {
      margin-right: 2px;
      position:     relative;
      &:not(.active) {
        &:hover {
          background:   rgba(0,0,0,.05);
          border-color: transparent;
        }
      }
      &.active {
        z-index: 3;
      }
    }
    &:first-child {
      .nav-link {
        &.active {
          &::before {
            content:     "";
            display:     block;
            width:       10px;
            height:      10px;
            background:  $bgBot;
            bottom:     -10px;
            left:       -1px;
            position:    absolute;
            border-left: 1px solid #ddd;
          }
        }
        &:not(.active) {
          &:hover {
            &::before {
              content:    "";
              z-index:   -1;
              display:    block;
              width:      10px;
              height:     10px;
              background: rgba(0,0,0,.05);
              bottom:    -11px;
              left:      -1px;
              position:   absolute;
            }
          }
        }
      }
    }
  }
  .nav-link {
    border-top-right-radius: $box-border-radius;
    border-top-left-radius:  $box-border-radius;
  }
  .nav-tabs {
    border-bottom: 0;
  }
  .tab-pane {
    padding-top:   1em;
    border:        1px solid #ddd;
    background:    $bgBot;
    border-radius: $box-border-radius;
  }
}

// bot

.db-bot {
  position:      relative;
  overflow:      hidden;
  background:    $bgBot;
  border:        1px solid #ddd;
  border-radius: $box-border-radius;
  padding:       $bot-gutter-width/2;
  transition:    all 250ms ease-in-out;
  .alert {
    border-radius: 0;
  }
  .form-inline {
    :last-child {
      margin-right: 0 !important;
    }
  }
}
.db-bot--active {
  @include media-breakpoint-down(lg) {
    border-bottom-right-radius: 0;
    border-bottom-left-radius:  0;
    border-bottom:              0;
    margin-bottom:              0;
    &+.db-bot-data {
      background:                 $bgBot;
      border-right:               1px solid #ddd;
      border-left:                1px solid #ddd;
      border-bottom-right-radius: $box-border-radius;
      border-bottom-left-radius:  $box-border-radius;
      .nav, .tab-pane {
        margin-left:            -1px;
        margin-right:           -1px;
        border-top-right-radius: 0;
        border-top-left-radius:  0;
      }
    }
  }
}
.db-bot--collapsed {
  height: 75px;
  overflow: hidden;
}
.db-bot__header {
  position:       relative;
  text-align:     center;
  display:        flex;
  border-radius:  $btn-border-radius;
  flex-direction: row-reverse;
  padding-left:   10px;
  padding-right:  10px;
  .btn {
    border-radius: $btn-border-radius;
    right:        -10px;
    position:      relative;
    transition:    all 500ms ease-in-out !important;
  }
}
.db-bot__infotext {
  border-radius:  $btn-border-radius;
  line-height:    42px;
  width:          100%;
  pointer-events: none;
  position:       relative;
  text-align:     right;
}
.db-bot__infotext__left {
  float:          left;
  text-transform: uppercase;
  color:          $yiq-text-dark;
}
.db-bot__infotext--setup {
  text-align: center;
}

.db-bot-info__footer {
  display:         flex;
  justify-content: space-between;
  margin:          0 $bot-gutter-width/2 $bot-gutter-width/2;
  height:          38px;
}
.db-table {
  th, td {
    padding: .5rem .5rem .5rem 1rem;
  }
}

.btn--export-to-csv {
  text-decoration: none !important;
  .material-icons {
    top:       3px;
    font-size: 23px;
  }
  &:hover {
    span {
      text-decoration: underline !important;
    }
  }
}


// DCA bot

.db-bot__exchanges {
  padding: 18px;
}

.db-bot__exchanges__item {
  height:          6em;
  display:         flex;
  justify-content: center;
  align-items:     center;
  background:      no-repeat center center;
  background-size: 50%;
  border-radius:   $box-border-radius;
  cursor:          pointer;
  &:hover {
    background-color: $primary;
  }
}

.db-bot__exchanges__item--bitbay   {
  background-image: url("./../../images/bitbay.svg");
  &:hover {
    background-image: url("./../../images/bitbay-white.svg");
  }
}
.db-bot__exchanges__item--bitstamp {
  background-image: url("./../../images/bitstamp.svg");
  &:hover {
    background-image: url("./../../images/bitstamp-white.svg");
  }
}
.db-bot__exchanges__item--deribit  {
  background-image: url("./../../images/deribit.svg");
  &:hover {
    background-image: url("./../../images/deribit-white.svg");
  }
}
.db-bot__exchanges__item--kraken   {
  background-image: url("./../../images/kraken.svg");
  &:hover {
    background-image: url("./../../images/kraken-white.svg");
  }
}

// bot dca1

.db-bot--dca__config-free {
  padding:         4em 0;
  display:         flex;
  justify-content: center;
  input {
    text-align: right;
    width:      80px !important;
  }
}

.db-bot__modal {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  background: rgba(255,255,255,.85);
  // backdrop-filter: blur(10px) grayscale(.5);
}
.db-bot__modal__content {
  text-align: center;
}
.btn--reset {
  text-decoration: none !important;
  align-self:      flex-start;
  width:           42px;
  height:          42px;
  span {
    margin-left: 7px;
    transition: 0.25s;
    opacity:    0;
  }
  &:hover {
    span {
      opacity: 1;
    }
  }
}
