.db-bot--active
    &.db-bot--dca + .db-bots__item--data
        .db-bot-info--dca
            display: block
        .db-bot-info--withdrawal, .db-bot-info--webhook
            display: none
    &.db-bot--withdrawal + .db-bots__item--data
        .db-bot-info--withdrawal
            display: block
        .db-bot-info--dca, .db-bot-info--webhook
            display: none
    &.db-bot--webhook + .db-bots__item--data
        .db-bot-info--webhook
            display: block
        .db-bot-info--dca, .db-bot-info--withdrawal
            display: none