// bots

#dashboard {
  position: relative;
}
.db-bots {
  display: grid;
  grid-auto-rows: max-content;
  column-gap: $grid-gutter-width/2;
  @include media-breakpoint-up(xl) {
    grid-template-columns: 50%;
  }
}
.db-bots__item {
  grid-column-start: 1;
  margin-bottom: $grid-gutter-width/2;
}
.db-add-more-bots {
  height: 40px;
}
.db-bot-data {
  @include media-breakpoint-up(xl) {
    grid-column-start: 2;
    grid-row-start: 1;
    grid-row: 1 / 100;
  }
  @include media-breakpoint-down(lg) {
    background: white;
    z-index: 1;
  }
  .db-spinner-positioner {
    display: flex;
    justify-content: center;
    padding: 20px 40px 40px;
    margin-bottom: 20px;
  }
  th:first-child,
  td:first-child {
    padding-left: 1.5rem !important;
  }
  .tab-content {
    z-index:  2;
    position: relative;
    box-shadow: $boxShadowBot;
  }
  .nav-item {
    .nav-link {
      padding-left: 1.5rem;
      padding-right: 1.5rem;
      margin-right: 2px;
      position:     relative;
      &:not(.active) {
        &:hover {
          background:   rgba(0,0,0,.05);
          border-color: transparent;
        }
      }
      &.active {
        padding-bottom: 9px;
        border-bottom-width: 0;
        border-color: #ddd;
        z-index: 3;
        @include media-breakpoint-up(xl) {
          box-shadow: $boxShadowBot;
        }
        &::before {
          content:     "";
          display:     block;
          height:      10px;
          background:  $bgBot;
          left:       -5px;
          position:    absolute;
          width:       calc(100% + 10px);
          bottom:     -10px;
        }
      }
    }
    &:first-child {
      .nav-link {
        &.active {
          &::before {
            left:       -1px;
            border-left: 1px solid #ddd;
            bottom:     -10px;
          }
        }
        &:not(.active) {
          &:hover {
            &::before {
              content:    "";
              z-index:   -1;
              display:    block;
              width:      10px;
              height:     10px;
              background: rgba(0,0,0,.05);
              left:      -1px;
              position:   absolute;
              bottom:    -11px;
            }
          }
        }
      }
    }
  }
  .nav-link {
    border-top-right-radius: $box-border-radius;
    border-top-left-radius:  $box-border-radius;
  }
  .nav-tabs {
    border-bottom: 0;
  }
  .tab-pane {
    padding-top:   1em;
    border:        1px solid #ddd;
    background:    $bgBot;
    border-radius: $box-border-radius;
  }
}

// bot

.db-bot {
  position:      relative;
  overflow:      hidden;
  background:    $bgBot;
  border:        1px solid #ddd;
  border-radius: $box-border-radius;
  padding:       $bot-gutter-width/2;
  box-shadow:    $boxShadowBot;
  .alert {
    border-radius: 0;
    box-shadow: none;
  }
  .form-inline {
    :last-child {
      margin-right: 0 !important;
    }
  }
  .btn-outline-secondary.disabled {
    color: darken(#e9ecef,5%) !important;
    border-color: darken(#e9ecef,5%) !important;
    opacity: 1 !important;
  }
}
.db-bot--active {
  @include media-breakpoint-down(lg) {
    border-bottom-right-radius: 0;
    border-bottom-left-radius:  0;
    border-bottom:              0;
    margin-bottom:             -40px;
    padding-bottom:             55px;
    &+.db-bot-data {
      background:                 $bgBot;
      border-right:               1px solid #ddd;
      border-left:                1px solid #ddd;
      border-bottom-right-radius: $box-border-radius;
      border-bottom-left-radius:  $box-border-radius;
      .nav, .tab-pane {
        margin-left:            -1px;
        margin-right:           -1px;
        border-top-right-radius: 0;
        border-top-left-radius:  0;
      }
    }
  }
}
.db-bot--collapsed {
  height: 72px;
  overflow: hidden;
}
.db-bot__header {
  min-height:     40px;
  align-items:    flex-start;
  position:       relative;
  text-align:     center;
  display:        flex;
  border-radius:  $btn-border-radius;
  flex-direction: row-reverse;
  padding-left:   10px;
  padding-right:  10px;
  min-height:     40px;
  .btn {
    border-radius: $btn-border-radius;
    right:        -10px;
    position:      relative;
  }
}
.db-bot__infotext {
  border-radius:  $btn-border-radius;
  line-height:    40px;
  width:          100%;
  pointer-events: none;
  position:       relative;
  text-align:     right;
}
.db-bot__infotext__left {
  float:          left;
  text-transform: uppercase;
  color:          $yiq-text-dark;
  min-height:     40px;
}
.db-bot__infotext--setup {
  text-align: left;
  position: absolute;
  width: 100%;
  line-height: 40px;
  left: 10px;
}
.db-bot__alert {
  text-align: center;
  position: absolute;
  top: 4.6rem;
}

.db-bot-info__footer {
  display:         flex;
  justify-content: space-between;
  margin:          0 $bot-gutter-width/1.4 $bot-gutter-width/2;
  height:          38px;
}
.db-table {
  th, td {
    padding: .5rem .5rem .5rem 1rem;
  }
}
.db-smallinfo {
  opacity: .5;
  font-size: 0.8em;
  margin: -1em 1.25em 2em 4.2em;
  text-indent: -15px;
  i {
    left: -2px;
    opacity: .5;
    position: relative;
    top: 10px;
  }
}

.btn--export-to-csv {
  padding-left: 5px;
  text-decoration: none !important;
  .material-icons-round {
    top:       3px;
    font-size: 23px;
  }
  &:hover {
    span {
      text-decoration: underline !important;
    }
  }
}

// DCA bot

.db-exchange-instructions {
  margin-left: -15px;
  width: calc(100% + 30px);
}

.db-bot__exchanges {
  padding: 18px 25px;
  margin-bottom: -8px;
}

.db-bot__exchanges__item {
  height:          6em;
  display:         flex;
  justify-content: center;
  align-items:     center;
  background:      no-repeat center center;
  background-size: 50%;
  border-radius:   $box-border-radius;
  cursor:          pointer;
  &:hover {
    background-color: $primary;
  }
}

.db-bot__exchanges__item--bitbay   {
  background-image: url("./../../images/bitbay.svg");
  &:hover {
    background-image: url("./../../images/bitbay-white.svg");
  }
}
.db-bot__exchanges__item--bitstamp {
  background-image: url("./../../images/bitstamp.svg");
  &:hover {
    background-image: url("./../../images/bitstamp-white.svg");
  }
}
.db-bot__exchanges__item--deribit  {
  background-image: url("./../../images/deribit.svg");
  &:hover {
    background-image: url("./../../images/deribit-white.svg");
  }
}
.db-bot__exchanges__item--kraken   {
  background-image: url("./../../images/kraken.svg");
  &:hover {
    background-image: url("./../../images/kraken-white.svg");
  }
}

// bot dca1

.db-bot__form {
  padding:         4em 0;
  display:         flex;
  flex-direction:  column;
  align-items: center;
  input {
    text-align: right;
    width:      80px !important;
  }
}
.db-bot__form--apikeys {
  width: calc(100% - 10px);
  padding-left:0;
  margin-left: 5px;
  .form-row {
    width: 100%;
  }
  .form-group {
    margin-bottom: 0;
  }
  input {
    width: 100% !important;
    text-align: left;
  }
}

.db-bot__modal {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  background: rgba(255,255,255,.85);
  // backdrop-filter: blur(10px) grayscale(.5);
}
.db-bot__modal__content {
  text-align: center;
}
.btn--reset {
  color:           #bbb !important;
  text-decoration: none !important;
  align-self:      flex-start;
  width:           42px;
  height:          42px;
  span {
    color:       $danger;
    margin-left: 7px;

    opacity:     0;
  }
  &:hover {
    color: $danger !important;
    span {
      opacity: 1;
    }
  }
  &.disabled {
    display: none;
  }
}
.btn--reset-back {
  &:hover, span {
    color: $primary !important;
  }
}

// chart

.db-chart-container {
  margin: 25px 15px;
  max-width: 100%;
}
