.db--upgrade
  .navbar
    height: 12rem !important
  &__show
    display: none
  .db--upgrade__show
    display: inline-block
    path
      fill: var(--link)
  .db--upgrade__hide
    display: none
.db-plans
  &__item
    padding: 2.4rem 3rem
    background: var(--white)
    margin-bottom: 1rem
    cursor: pointer
    display: grid
    border-radius: 1.6rem
    position: relative
    overflow: hidden
    grid:
      template:
        columns: auto 10rem
        rows: 5rem auto auto
    &--saver
      grid:
        template:
          rows: 5rem auto auto !important
    &--investor, &--hodler
      //min-height: 23rem
      grid:
        template:
          rows: 8rem auto auto

    .badge
      background: var(--planBadge)
      color:      var(--link)
      transition: none
    &--current,
    &--discount
      cursor: default
      background: none
    &--current
      border: 1px solid var(--text)
      min-height: 11.3rem
      margin-bottom: 0
      color: var(--text)
    &--discount
      margin-top: -1rem
      &--maxi
        margin-top: 1rem
        background: #f7931b
        color: #fff !important
        &[disabled]
          height: 8.4rem
          border: 1px solid var(--secondary)
          background: none !important
          color: var(--secondary) !important
          .db-plans__item__info
            display: none
          .db-plans__item__name,
          .db-plans__item__amount__t
            color: var(--secondary) !important
        .db-plans__item__name,
        .db-plans__item__amount__t
          color: #fff !important
        [type="checkbox"]
          margin-right: 1rem
          width: 2.4rem
          height: 2.4rem
          position: relative
          top: .4rem
          box-shadow: none !important
      .db-plans__item__name, .db-plans__item__amount
        color: var(--success)
    &--hide
      display: none
    &__name
      font-family: Montserrat, Inconsolata, monospace
      font-weight: bold
      @include textAdjust(2)
      font-size: 2.1rem
      .db-years
        display: block
        font-size: 1.5rem
    &__amount
      font-family: Montserrat, Inconsolata, monospace
      text-align: right
      &__t
        &--discount,
        &--new
          color: var(--success)
        &--discount,
        &--previous
          font-size: 2.1rem
          font-weight: bold
          @include textAdjust(2)
        &--previous
          text-decoration: line-through
    &__info
      grid:
        row:
          start: 2
          end: 3
        column:
          start: 1
          end: 3
      @include media-breakpoint-up(xl)
        grid:
          column:
            start: 1
            end: 2
      @include media-breakpoint-only(sm)
        grid:
          column:
            start: 1
            end: 2

.db-plan--selected
  box-shadow: .1rem .1rem 1rem rgba(0, 0, 0, 0.05)
  color: var(--planSelectedTxt)
  cursor: default
  background: var(--planSelectedBg)
  border: .1rem solid var(--planSelectedBorder)
  .badge
    background: var(--planSelectedBadge)
    color: var(--planSelectedTxt)
.db-plan--other
  box-shadow: .1rem .1rem 1rem rgba(0, 0, 0, 0.05)
  background: var(--planBg)
  border: .1rem solid var(--planBorder) !important
.db-plan-radio
  display: none

.db-checkout
  min-height: calc(100vh - 22.3rem)
  @include media-breakpoint-down(sm)
    display: block

.db-checkout--investor
  .db-show--hodler
    display: none

.db-checkout--hodler
  .db-show--investor
    display: none

.db-checkout--eu
  .db-show--eu
    display: inline
  .db-show--other
    display: none

.db-checkout--other
  .db-show--eu
    display: none
  .db-show--other
    display: inline

.db-checkout-summary
  background: var(--paper) !important
  border-color: var(--paperBorder) !important
  margin-bottom: 1rem
  display: flex
  flex-direction: row
  text-align: right
  &__item
    padding: 2.5rem 3rem
    &--vat
      color: #678
      width: 100%
      padding-right: 0
    &--sum
      width: 100%
      color: var(--text)
    &__quote
      font-family: Montserrat, Inconsolata, monospace
      font-weight: bold
      @include textAdjust(2)
  &+.modal-dialog
    .modal-content
      background: var(--paper) !important
      border-color: var(--paperBorder) !important
      .db-form
        &__input
          color: var(--text)
        &__label
          color: var(--text)
          background: var(--paper)
        &__input
          &:focus
            border-color: var(--focus)
            &+.db-form__label
              color: var(--focus)

.db-pay-button
  margin-top: 3.5rem
  margin-bottom: .5rem

#payTab
  background: var(--paperBorder)
  border-radius: 1.6rem 1.6rem 0 0
  margin: -3.3rem
  margin-bottom: 0
  border-bottom-color: transparent
  a
    color: var(--text)
    text-decoration: none
  li
    width: 50%
    text-align: center
  .nav-link
    border-radius: 1.6rem 1.6rem 0 0
    background: none
    border-bottom: 0
    height: 100%
    display: flex
    justify-content: center
    align-items: center
    &.active
      color: var(--text)
      background: var(--paper)
      border-color: var(--paperBorder)
    &:not(.active):hover
      border-color: transparent

#payTabContent
  padding-top: 2.8rem

.db-card-providers
  display: flex
  align-items: center
  justify-content: center
  height: 4rem
  gap: .4rem
  &__item
    height: 2.4rem
    width: auto
    &--visa
      height: 2rem
      @media (prefers-color-scheme: dark)
        filter: brightness(10)
    &--mastercard
      height: 3rem
      width:  4.6rem
    &--bitcoin
      height: 3rem
      &-lightning
        height: 3rem

.db-zen
  padding-right: .4rem
  padding-top: 1.2rem
  display: flex
  line-height: 2rem
  justify-content: flex-end
  color: var(--text)
  text-decoration: none !important
  &__logo
    margin-left: .8rem
    width: 2rem
    height: 2rem
    path
      fill: var(--text)

.card-body
  font-family: -apple-system, BlinkMacSystemFont, sans-serif
  font-size: 16px
  -webkit-font-smoothing: antialiased
  display: block
  justify-content: right
  align-content: end
  width: 100%

.card-form
  width: 100%
  align-self: center
  align-content: end
  box-shadow: 0px 0px 0px 0.5px rgba(50, 50, 93, 0.1), 0px 2px 5px 0px rgba(50, 50, 93, 0.1), 0px 1px 1.5px 0px rgba(0, 0, 0, 0.07)
  border-radius: 7px
  //padding: 40px

//input
  border-radius: 6px
  margin-bottom: 6px
  padding: 12px
  border: 1px solid rgba(50, 50, 93, 0.1)
  height: 44px
  font-size: 16px
  width: 100%
  background: white

.country_card_input
  //margin-bottom: 1.25*$formUnit
  position: relative
  margin-bottom: 4px

.result-message
  line-height: 22px
  font-size: 16px

  a
    color: rgb(89, 111, 214)
    font-weight: 600
    text-decoration: none

.hidden
  display: none

#card-error
  color: rgb(105, 115, 134)
  text-align: left
  font-size: 13px
  line-height: 17px
  margin-top: 12px

#card-number
  border-radius: 4px 4px 4px 4px
  padding: 12px
  border: 1px solid var(--text)
  height: 44px
  width: 100%
  background: white

#card-exp
  border-radius: 4px 4px 4px 4px
  padding: 12px
  border: 1px solid var(--text)
  height: 44px
  width: 50%
  background: white
  display: inline-block
  margin-right: 2px
  margin-bottom: 4px
  margin-top: 4px

#data-row
  width: 100%
  white-space: nowrap
  justify-content: space-between
  display: flex

#card-cvc
  border-radius: 4px 4px 4px 4px
  padding: 12px
  border: 1px solid var(--text)
  height: 44px
  width: 50%
  background: white
  display: inline-block
  margin-left: 2px
  margin-bottom: 4px
  margin-top: 4px

#payment-request-button
  margin-bottom: 32px
  margin-top: 32px

/* Buttons and links

.card-submit
  background: var(--success)
  color: #ffffff
  font-family: Arial, sans-serifw
  border-radius: 4px 4px 4px 4px
  border: 0
  padding: 12px 16px
  font-size: 16px
  font-weight: 600
  cursor: pointer
  display: block
  transition: all 0.2s ease
  box-shadow: 0px 4px 5.5px 0px rgba(0, 0, 0, 0.07)
  width: 100%

  &:hover
    filter: contrast(115%)

  &:disabled
    opacity: 0.5
    cursor: default

/* spinner/processing state, errors

.spinner
  border-radius: 50%

  &:before, &:after
    border-radius: 50%

  color: #ffffff
  font-size: 22px
  text-indent: -99999px
  margin: 0px auto
  position: relative
  width: 20px
  height: 20px
  box-shadow: inset 0 0 0 2px
  -webkit-transform: translateZ(0)
  -ms-transform: translateZ(0)
  transform: translateZ(0)

  &:before, &:after
    position: absolute
    content: ""

  &:before
    width: 10.4px
    height: 20.4px
    background: #5469d4
    border-radius: 20.4px 0 0 20.4px
    top: -0.2px
    left: -0.2px
    -webkit-transform-origin: 10.4px 10.2px
    transform-origin: 10.4px 10.2px
    -webkit-animation: loading 2s infinite ease 1.5s
    animation: loading 2s infinite ease 1.5s

  &:after
    width: 10.4px
    height: 10.2px
    background: #5469d4
    border-radius: 0 10.2px 10.2px 0
    top: -0.1px
    left: 10.2px
    -webkit-transform-origin: 0px 10.2px
    transform-origin: 0px 10.2px
    -webkit-animation: loading 2s infinite ease
    animation: loading 2s infinite ease

@-webkit-keyframes loading
  0%
    -webkit-transform: rotate(0deg)
    transform: rotate(0deg)

  100%
    -webkit-transform: rotate(360deg)
    transform: rotate(360deg)

@keyframes loading
  0%
    -webkit-transform: rotate(0deg)
    transform: rotate(0deg)

  100%
    -webkit-transform: rotate(360deg)
    transform: rotate(360deg)

@media only screen and (max-width: 600px)
  form
    width: 80vw