.db--upgrade
  .navbar
    height: 12rem !important
  &__show
    display: none
  .db--upgrade__show
    display: inline-block
    path
      fill: var(--link)
  .db--upgrade__hide
    display: none
.db-plans
  &__item
    padding: 2.4rem 3rem
    background: var(--white)
    margin-bottom: 1rem
    cursor: pointer
    display: grid
    border-radius: 1.6rem
    position: relative
    overflow: hidden
    grid:
      template:
        columns: auto 10rem
        rows: 5rem auto auto
    &--saver
      grid:
        template:
          rows: 5rem auto auto !important
    &--investor, &--hodler
      //min-height: 23rem
      grid:
        template:
          rows: 8rem auto auto

    .badge
      background: var(--planBadge)
      color:      var(--link)
      transition: none
    &--current,
    &--discount
      cursor: default
      background: none
    &--current
      border: 1px solid var(--text)
      min-height: 11.3rem
      margin-bottom: 0
      color: var(--text)
    &--discount
      margin-top: -1rem
      &--maxi
        margin-top: 1rem
        background: #f7931b
        color: #fff !important
        &[disabled]
          height: 8.4rem
          border: 1px solid var(--secondary)
          background: none !important
          color: var(--secondary) !important
          .db-plans__item__info
            display: none
          .db-plans__item__name,
          .db-plans__item__amount__t
            color: var(--secondary) !important
        .db-plans__item__name,
        .db-plans__item__amount__t
          color: #fff !important
        [type="checkbox"]
          margin-right: 1rem
          width: 2.4rem
          height: 2.4rem
          position: relative
          top: .4rem
          box-shadow: none !important
      .db-plans__item__name, .db-plans__item__amount
        color: var(--success)
    &--hide
      display: none
    &__name
      font-family: Montserrat, Inconsolata, monospace
      font-weight: bold
      @include textAdjust(2)
      font-size: 2.1rem
      .db-years
        display: block
        font-size: 1.5rem
    &__amount
      font-family: Montserrat, Inconsolata, monospace
      text-align: right
      &__t
        &--discount,
        &--new
          color: var(--success)
        &--discount,
        &--previous
          font-size: 2.1rem
          font-weight: bold
          @include textAdjust(2)
        &--previous
          text-decoration: line-through
    &__info
      grid:
        row:
          start: 2
          end: 3
        column:
          start: 1
          end: 3
      @include media-breakpoint-up(xl)
        grid:
          column:
            start: 1
            end: 2
      @include media-breakpoint-only(sm)
        grid:
          column:
            start: 1
            end: 2

.db-plan--selected
  box-shadow: .1rem .1rem 1rem rgba(0, 0, 0, 0.05)
  color: var(--planSelectedTxt)
  cursor: default
  background: var(--planSelectedBg)
  border: .1rem solid var(--planSelectedBorder)
  .badge
    background: var(--planSelectedBadge)
    color: var(--planSelectedTxt)
.db-plan--other
  box-shadow: .1rem .1rem 1rem rgba(0, 0, 0, 0.05)
  background: var(--planBg)
  border: .1rem solid var(--planBorder) !important
.db-plan-radio
  display: none

.db-checkout
  min-height: calc(100vh - 22.3rem)
  @include media-breakpoint-down(sm)
    display: block

.db-checkout--investor
  .db-show--hodler
    display: none

.db-checkout--hodler
  .db-show--investor
    display: none

.db-checkout--eu
  .db-show--eu
    display: inline
  .db-show--other
    display: none

.db-checkout--other
  .db-show--eu
    display: none
  .db-show--other
    display: inline

.db-checkout-summary
  background: var(--paper) !important
  border-color: var(--paperBorder) !important
  margin-bottom: 1rem
  display: flex
  flex-direction: row
  text-align: right
  &__item
    padding: 2.5rem 3rem
    &--vat
      color: #678
      width: 100%
      padding-right: 0
    &--sum
      width: 100%
      color: var(--text)
    &__quote
      font-family: Montserrat, Inconsolata, monospace
      font-weight: bold
      @include textAdjust(2)
  &+.modal-dialog
    .modal-content
      background: var(--paper) !important
      border-color: var(--paperBorder) !important
      .db-form
        &__input
          color: var(--text)
        &__label
          color: var(--text)
          background: var(--paper)
        &__input
          &:focus
            border-color: var(--focus)
            &+.db-form__label
              color: var(--focus)

.db-pay-button
  margin-top: 3.5rem
  margin-bottom: .5rem

#payTab
  background: var(--paperBorder)
  border-radius: 1.6rem 1.6rem 0 0
  margin: -3.3rem
  margin-bottom: 0
  border-bottom-color: transparent
  a
    color: var(--text)
    text-decoration: none
  li
    flex: 2
    text-align: center
  .nav-link
    border-radius: 1.6rem 1.6rem 0 0
    background: none
    border-bottom: 0
    height: 100%
    display: flex
    justify-content: center
    align-items: center
    &.active
      color: var(--text)
      background: var(--paper)
      border-color: var(--paperBorder)
    &:not(.active):hover
      border-color: transparent

#payTabContent
  padding-top: 2.8rem

.db-card-providers
  display: flex
  align-items: center
  justify-content: center
  height: 4rem
  gap: .4rem
  &__item
    height: 2.4rem
    width: auto
    &--visa
      height: 2rem
      @media (prefers-color-scheme: dark)
        filter: brightness(10)
    &--mastercard
      height: 3rem
      width:  4.6rem
    &--bitcoin
      height: 3rem
      &-lightning
        height: 3rem
    &--stripe
      height: 4rem
      padding: 1rem
      @media (prefers-color-scheme: dark)
        filter: invert(1) grayscale(1)


.db-zen
  padding-right: .4rem
  padding-top: 1.2rem
  display: flex
  line-height: 2rem
  justify-content: flex-end
  color: var(--text)
  text-decoration: none !important
  &__logo
    margin-left: .8rem
    width: 2rem
    height: 2rem
    path
      fill: var(--text)
