// Cookie

#cookie_consent
  background: var(--text)
  //#22439E
  box-shadow: $boxShadowAlert

.cookieConsent
  display: flex !important
  align-items: center !important
  justify-content: flex-end !important
  background: none !important
  margin: 0 auto !important
  padding-right: 30px !important
  padding-left: 30px !important
  @include make-container()
  @include media-breakpoint-only(lg)
    max-width: 960px !important
  @include media-breakpoint-up(xl)
    max-width: 1140px !important
  position: relative !important
  a
    color: var(--white) !important
    font-weight: bold !important
    text-decoration: underline !important
    white-space: nowrap !important
  div
    margin-left: 0 !important
    flex: 1 0 !important
    line-height: 18px
  button
    background: none !important
    border: 2px solid var(--white) !important
    margin-right: 0 !important
    color: var(--white) !important
    font-size: 16px !important
    font-weight: bold !important
    line-height: 26px !important
    padding: 4px 12px 6px !important
    border-radius: 20px !important
    margin-left: 0 !important
.db--guest--text #cookie_consent a
  color: var(--white) !important
