// Cookie

#cookie_consent
  background: var(--cookies)
  box-shadow: $boxShadowAlert

.CookieConsent
  display: flex !important
  align-items: center !important
  justify-content: flex-end !important
  background: none !important
  margin: 0 auto !important
  padding-right: 3rem !important
  padding-left: 3rem !important
  @include make-container()
  @include media-breakpoint-only(lg)
    max-width: 96rem !important
  @include media-breakpoint-up(xl)
    max-width: 114rem !important
  position: relative !important
  a
    color: var(--white) !important
    font-weight: bold !important
    @include textAdjust(2)
    text-decoration: underline !important
    white-space: nowrap !important
  button
    background: none !important
    border: .2rem solid var(--white) !important
    margin-right: 0 !important
    color: var(--white) !important
    font-size: 1.5rem !important
    font-weight: bold !important
    @include textAdjust(2)
    line-height: 2.6rem !important
    padding: .4rem 1.2rem .6rem !important
    border-radius: 2rem !important
    margin-left: 0 !important
.db--guest--text #cookie_consent a
  color: var(--white) !important
