.btn-outline-primary
  border-color: var(--link)
  color: var(--link)
  &:hover,&:active,&:focus
    border-color: var(--primary)
    color: #fff !important
.btn-link,.btn-link:hover
  color: var(--link)


.btn-menu
  padding-left: 1.8rem

.navbar
  .btn-link,a
    text-decoration: none !important
    color: var(--navbarLink)
  .btn
    &.text-success
      color: var(--success) !important
      &:hover
        color: var(--success) !important
.dropdown-menu
  font-family: $fontBrand
  background: var(--primary)
  a
    color: var(--navbarMenuLink) !important
    &:hover,&:active,&:focus
      background: var(--background) !important
      color: var(--navbarLink) !important
      path
        fill: var(--navMenuFill)
.show
  .btn-menu
    background: var(--primary)
    color: var(--navbarMenuLink)
    border-radius: 2rem 2rem 0 0 !important
    position: relative
    text-decoration: none
    z-index: 10000 !important
    box-shadow: .1rem .2rem .6rem rgba(0,0,0,0.25)
    path
      fill: var(--navMenuFill)
    &:before
      content: " "
      display: block
      position: absolute
      width: calc(100% + 2.2rem)
      height: 2.4rem
      left: -2.1rem
      top: 2rem
      background: var(--primary)
      z-index: -1
    &:after
      content: " "
      display: block
      position: absolute
      width: 2rem
      height: 2rem
      left: -2.19rem
      top: 1.45rem
      background: var(--background)
      border-radius: 0 0 2rem 0 !important
  .dropdown-menu-right
    margin-top:    -.2rem
    border-radius:  1.4rem 0 1.4rem 1.4rem !important
    padding-top:    1.4rem
    padding-bottom: 1.4rem
    border-color:   var(--primary)
    box-shadow:     .1rem .2rem .6rem rgba(0,0,0,0.25)

  .dropdown-item
    padding-left: 1.4rem
    svg
      position: relative
      top: -.1rem
      margin-right: .7rem
    path
      fill: var(--navMenuFill)

.db--guest
  .show
    .btn-menu
      &:after
        background: #920338 !important
  &--text
    .show
      .btn-menu
        &:after
          background: var(--background) !important
