.eapps-twitter-feed
  .eapps-twitter-feed-posts-item-retweet-status
    display: none
  .eapps-twitter-feed-posts-inner
    margin: 0
  .eapps-twitter-feed-posts-item-link
    display: none
  .eapps-twitter-feed-posts-item-stars
    margin-top: 8px
  .eapps-twitter-feed-posts-item-inner
    background: var(--paper) !important
    border: none !important
    box-shadow: $boxShadowHome
  .eapps-twitter-feed-posts-item-text
    color: var(--text) !important
