$formUnit: 20px

.db-form
  &__row
    margin-bottom: 1.25*$formUnit
    position: relative
    &--final-button
      margin-bottom: 0
      padding-top: 10px
    &--check
      margin-left: 4px
      padding-top: 10px
  &__label
    color: #678
    position: absolute
    top: 9px
    padding-left: 4px
    left: 0
    transition: all 200ms ease-out
    pointer-events: none
  &__input
    padding-left: 4px
    border: none
    width: 100%
    height: 2*$formUnit
    position: relative
    transition: opacity 200ms ease-in
    &--date
      opacity: 0
    &--select
      opacity: 0
      appearance: none
      width: calc(100% - 4px)
    &:focus
      outline: none
      &~.db-form__bottom-line
        &::before
          width: 100%
    &:focus,&:not([value=""])
      opacity: 1
      &~.db-form__label
        color: #567
        top: -10px
        font-size: 13px
    &.is-invalid
      &~.db-form__bottom-line
        background: red
      &~.db-form__info--invalid
        display: block
  &__info
    padding-left: 4px
    font-size: 13px
    margin-top: 5px
    margin-bottom: -5px
    &--invalid
      display: none
      color: $danger
    &--right
      float: right
    a
      text-decoration: none
  &__bottom-line
    border-radius: 10px
    position: absolute
    top: 2*$formUnit
    height: 2px
    width: 100%
    background: #abc
    &::before
      transition: all 200ms ease-out
      content: " "
      border-radius: 10px
      background: $primary
      height: 2px
      position: absolute
      width: 0
  &__other-links
    text-align: center
    margin-top: 25px
    a
      padding-left: 0
      padding-right: 0

.db-unmask
  width: 24px
  height: 24px
  position: absolute
  top: 10px
  right: 4px
  cursor: pointer
  .db-svg--mi
    transition: opacity 200ms ease-in-out
    fill: #abc
  &:hover
    .db-svg--mi
      opacity: 1

.db-has-unmask
	position: relative

[type="password"]
	&~.db-unmask
    .db-svg--mi-visibility
      display: block
    .db-svg--mi-visibility-off
    	display: none

[type="text"]
	&~.db-unmask
    .db-svg--mi-visibility
      display: none
    .db-svg--mi-visibility-off
    	display: block

.db-selectable
  cursor: pointer

.form-control-lg--has-icon
	padding-right: 3.25rem
	background-position: center right 3rem !important
