$formUnit: 2rem

.btn
  display: inline-flex
  justify-content: center
  font-family: $fontButton
  font-weight: 600
  cursor: pointer
  box-shadow: $boxShadowHome
  white-space: nowrap
  &:focus
    box-shadow: none
  &-link,&-outline-primary:not(:hover),&-outline-secondary:not(:hover),&-outline-success:not(:hover),&-outline-danger:not(:hover),&.disabled
    box-shadow: none
  &.disabled
    cursor: default
  &--export-to-csv
    padding-left: .5rem
    text-decoration: none !important
    &:hover
      span
        text-decoration: underline !important
  .material-icons
    font-size: 2.5rem
  &-link, &-outline-primary path
    fill: var(--link)
  &-transparent
    color: #000
    background: var(--white)
    border-color: transparent !important
    opacity: 0.1 !important
    transition: none !important
  &-outline-secondary
    &.disabled
      path
        fill: #dadfe4
  &-outline-success
    path
      fill: var(--success)
  &-primary,&-danger,&-success,&-outline-primary:hover,&-outline-danger:hover,&-outline-success:hover
    path
      fill: var(--white)
  &-primary
    background: var(--primary)
  &-success
    background: var(--success)
    border-color: var(--success)
  &--get-started
    min-width: auto !important
  &-link
    transition: none
    font-weight: 600
  &-lg
    font-size: 2.5rem
    min-width: 30rem
    margin-top: 1rem
    margin-bottom: 1rem
    line-height: 5rem
    border-radius: 10rem
    padding-right: 3rem
    padding-left: 4rem
  .db-svg-icon
    margin: 0 -.6rem
    width: 2.4rem
    height: 1.5em
  *:not(:last-child)
    margin-right: .75em
  .material-icons-round
    align-self: center
    margin-right: -.25em
    margin-left:  -.25em

// forms

.db-wire-transfer-in-progress
  input
    display: none
  select
    display: none
  label
    display: none
  h4
    display: none

.db-form
  &__row
    margin-bottom: 1.25*$formUnit
    position: relative
    &--double
      display: flex
      gap: 2.4rem
      .db-form__row__col
        position: relative
        flex-grow: 1
    textarea
      padding-top: 1.2rem
      &:focus,&:active
        padding-top: 1.1rem
    &--input
      &--has-http-select
        input
          padding-left: 4.65em !important
          &:focus,&:active
            padding-left: calc(4.65em - .1rem) !important
        select
          position: absolute
          top: 2rem
          left: 2.2rem
          border: none
          appearance: none
          opacity: 0.5
          outline: none !important
          background: var(--paper)
          cursor: pointer

      &--referralcode
        input
          padding-left: 11.85em !important
        input:focus
          padding-left: calc(11.85em - .1rem) !important
        .db-referral-prefix
          color: var(--secondary)
          pointer-events: none
          position: absolute
          top: 2rem
          left: 2.3rem
    &--final-button
      margin-bottom: 0
      padding-top: .8rem
      .btn
        margin-left:  -.2rem
        margin-right: -.2rem
        width:         calc(100% + .4rem) !important
    &--check
      letter-spacing: -0.025em
      margin-left: 1rem
      padding-top: 1rem
    &--hidden
      display: none
    &--visible
      display: block
  &__label
    font-size:      2rem
    border-radius:  .4rem
    background:     var(--paper)
    color:          #678
    position:       absolute
    top:            2rem
    padding-left:   .5rem
    padding-right:  .5rem
    left:           2.2rem
    transition:     all 100ms ease-out
    pointer-events: none
  &__input
    font-size: 2rem
    color: var(--text)
    background: none
    padding-bottom: .2rem
    padding-left: 2.4rem
    padding-right: 2.4rem
    border: .1rem solid #678
    border-radius: 1rem
    width: 100%
    position: relative
    height: 7rem
    &--select
      appearance: none
    &--has-icon
      padding-right: 4.8rem
    &:focus
      color: var(--inputTextFocus)
      border-color: var(--link)
      border-width: .2rem
      outline: none
      &~.db-form__label
        color: var(--link)
        font-weight: bold
        @include textAdjust(2)
    &--select,&:focus,&:not([value=""]),&:not(.db-form__input--empty)
      opacity: 1
      &~.db-form__label
        top: -1.2rem
        font-size: 1.75rem
    &.is-invalid, &:invalid:not(:focus)
      border-color: var(--danger)
      border-width: .2rem
      padding-left: 1.3rem
      padding-right: 1.3rem
      &~.db-form__label
        color: var(--danger)
        font-weight: bold
        @include textAdjust(2)
      &~.db-form__info--invalid
        display: block
  &__info
    padding-left: .4rem
    font-size: 1.75rem
    margin-top: .75rem
    margin-bottom: -.4rem
    &--invalid
      display: none
    &--invalid, &--alert, &--notice
      @include textAdjust(2)
      font-weight: bold
    &--invalid, &--alert
      color: var(--danger)
    &--notice
      color: var(--success)
    &--right
      float: right
      padding-right: .4rem
    a
      font-weight: bold
      @include textAdjust(2)
      text-decoration: none
      &:hover
        text-decoration: underline

  &__other-links
    text-align: center
    margin-top: 2.5rem
    a
      padding-left: 0
      padding-right: 0

.db-unmask
  width: 3rem
  height: 3rem
  position: absolute
  top: 2rem
  right: 2.5rem
  cursor: pointer
  .db-svg--mi
    transition: opacity 100ms ease-in-out
    fill: #678
  &:hover
    .db-svg--mi
      opacity: 1

.db-has-unmask
  position: relative

[type="password"]
  &~.db-unmask
    .db-svg--mi-visibility
      display: block
    .db-svg--mi-visibility-off
      display: none

[type="text"]
  &~.db-unmask
    .db-svg--mi-visibility
      display: none
    .db-svg--mi-visibility-off
      display: block

.db-selectable
  cursor: pointer

.form-label-check
  margin-left: .2rem


// autocomplete

input:-webkit-autofill, input:-webkit-autofill:hover, input:-webkit-autofill:focus, textarea:-webkit-autofill, textarea:-webkit-autofill:hover, textarea:-webkit-autofill:focus, select:-webkit-autofill, select:-webkit-autofill:hover, select:-webkit-autofill:focus
  border-color:            var(--link)
  -webkit-text-fill-color: var(--text)
  -webkit-box-shadow:      0 0 rem 100rem var(--autocomplete) inset
  transition:              background-color 5000s ease-in-out 0s
  &~label
    color: var(--link)
  &~select
    background: var(--autocomplete)
