.d
  &_menu
    position: fixed
    top: 3.2rem
    left: 3.2rem
    width: 6.4rem
    display: flex
    flex-direction: column
    gap: 1rem
    &__logo
      height: 10rem
      display: flex
      align-items: flex-start
    &__icon
      height: 6rem
      display: flex
      justify-content: center
      align-items: center
  &_fill
    &--menulink
      fill: var(--text)