.db-navbar {
  background: rgba(255,255,255,0);
  transition: 0.2s ease-out;
}
.navbar-brand {
  font-family:    $fontBrand;
  color:          $primary !important;
  text-transform: lowercase;
  font-size:      1.2em;
  font-weight:    700;
  line-height:    28px;
  margin-left:    10px;
  -webkit-font-smoothing: antialiased;
  img {
    margin-right: 4px;
  }
}
.navbar {
  background: none !important;
  .navbar-brand {
    margin-left: 0;
  }
}
.db--loggedout {
  .navbar {
    transition: 0.2s ease-out;
    padding: 2.25rem 0;
  }
}
.db--has-sticky-navbar {
  .db-navbar {
    background: rgba(255,255,255,1);
    box-shadow: 0 1px rgba(0,0,0,.1);
  }
  .navbar {
    padding: $navbar-padding-y 0 !important;
  }
  .db-homepage-bg {
    height:     calc(#{$introBoxHeight} + #{$navbarHeight});
    max-height: calc(#{$introBoxMaxHeight} + #{$navbarHeight});
  }
  .db-homepage-bg__image {
    height:     calc(#{$introBoxHeight} + #{$navbarHeight});
    max-height: calc(#{$introBoxMaxHeight} + #{$navbarHeight});
  }
}
