.db-guest-template {
  position: relative;
}
.db {
  &--devise {
    .navbar {
      .btn, .btn-link, .db-logo-svg-shape {
        color: var(--headerDevise) !important;
        path {
          fill: var(--headerDevise);
        }
      }
    }
  }
  &--guest {
    &--homepage {
      .navbar {
        .btn, .btn-link, .db-logo-svg-shape {
          color: var(--headerHome) !important;
          path {
            fill: var(--headerHome);
          }
        }
      }
    }
    &--text {
      body {
        color: $text !important;
      }
      .navbar {
        .btn, .btn-link, .db-logo-svg-shape {
          color: var(--headerDevise) !important;
          path {
            fill: var(--headerDevise) !important;
          }
        }
        .show {
          .btn-menu {
            color: var(--textPageBg) !important;
            path {
              fill: var(--textPageBg) !important;
            }
            &::after {
              background: var(--textPageBg) !important
            }
          }
        }
      }
    }
  }
}
.db--guest {
  body {
    min-height: 100vh;
  }
  min-height: 100vh;
  background: var(--primary);
  background: linear-gradient(180deg, #903 0px, $primary 120vh, #0D1A40 50%);
  background: linear-gradient(180deg, #{'color(display-p3 0.6 0 0.2)'} 0px,  $primary-p3 120vh, #{'color(display-p3 0.05 0.10 0.25)'} 50%);
  .db-logo-svg-shape {
    fill: $textColorInverted;
  }
  .db-hi-welcome {
    path {
      stroke: $textColorInverted;
      fill: transparent !important;
    }
    &.text-danger {
      path {
        stroke: $danger;
        fill: transparent !important;
      }
    }
  }
  .navbar-brand {
    color: $textColorInverted !important;
    span {
      @include media-breakpoint-down(xs) {
        display: none;
      }
    }
  }
  .navbar,
  .row--intro {
    a {
      color: $textColorInverted;
    }
    .btn-outline-primary {
      border-color: $textColorInverted;
      &:hover {
        background: $textColorInverted;
        color: var(--primary);
      }
    }
    color: $textColorInverted;
  }
  .btn-success {
    &:hover {
      background:   darken($success,4%);
      border-color: darken($success,4%);

    }
  }
}
.navbar {
  z-index: 10000;
  padding: 40px 0;
  @include media-breakpoint-down(md) {
      padding: 25px 0;
  }
  a {
    color: var(--navbarLink) !important
  }
  .btn-outline-primary {
    border-color: var(--navbarLink);
  }
  path {
    fill:  var(--navbarLink);
  }
  .db-hi-welcome {
    path {
      fill: transparent !important;
    }
  }
}

.db-logo-svg-shape {
  fill: var(--navbarLink);
  shape-rendering: geometricprecision;
}
.db-hi-welcome {
  path {
    stroke: var(--navbarLink);
  }
  &.text-danger {
    path {
      stroke: $danger;
    }
  }
}
.db-hi-welcome__default {
  &:not(:first-child) {
    display: none;
  }
}
.db-navbar {
  background: rgba(255,255,255,0);
  transition: top 200ms ease-in-out;
  background: none !important;
  .navbar-brand {
    margin-left: 0;
  }
  &__close {
    width:  30px;
    height: 30px;
  }
}

.navbar-brand {
  font-family:    $fontBrand;
  color:          var(--navbarLink) !important;
  text-transform: lowercase;
  font-size:      1.2em;
  font-weight:    700;
  line-height:    28px;
  margin-left:    10px;
  margin-right:   0;
}

.db-hi-welcome {
  pointer-events: none;
  position:       absolute;
  left:           110px;
  opacity:        1;
  top:            18px;
  svg {
    position: absolute;
    left:   -10px;
    bottom: -15px;
  }
  @include media-breakpoint-down(md) {
    display: none !important;
  }
  &+ .db-hi-welcome  {
    display: none;
  }
}
.db-hi-welcome {
  animation-name:     showMessage;
  animation-duration: 1.2s;
}

@keyframes showMessage {
  0% {
    top:    -35px;
    opacity: 0;
  }
  70% {
    top:    -35px;
    opacity: 0;
  }
  100% {
    opacity: 1;
    top:     18px;
  }
}

// newsletter

.db-newsletter-label {
  margin-bottom: 2em;
}
