.db--guest {
  background: $primary;
  .db-logo-svg-shape {
    fill: $textColorInverted;
  }
  .db-hi-welcome {
    path {
      stroke: $textColorInverted;
    }
    &.text-danger {
      path {
        stroke: $danger;
      }
    }
  }
  .navbar-brand {
    color: $textColorInverted !important;
    span {
      @include media-breakpoint-down(xs) {
        display: none;
      }
    }
  }
  .navbar,
  .row--intro {
    a {
      color: $textColorInverted;
    }
    .btn-outline-primary {
      border-color: $textColorInverted;
      &:hover {
        background: $textColorInverted;
        color: $primary;
      }
    }
    color: $textColorInverted;
  }
  .btn-success {
    &:hover {
      background:   darken($success,4%);
      border-color: darken($success,4%);

    }
  }
}
.navbar {
  padding: 40px 0;
}

.db-logo-svg-shape {
  fill: $primary;
  shape-rendering: geometricprecision;
}
.db-hi-welcome {
  path {
    stroke: $primary;
  }
  &.text-danger {
    path {
      stroke: $danger;
    }
  }
}
.db-hi-welcome__default {
  &:not(:first-child) {
    display: none;
  }
}
.db-navbar {
  background: rgba(255,255,255,0);
  transition: top 200ms ease-in-out;
  @include media-breakpoint-down(xs) {
    // padding-right: 0.5rem !important;
    // padding-left:  0.5rem !important;
  }
  @include media-breakpoint-up(sm) {
    padding-right: 0;
    padding-left:  0;
  }
  background: none !important;
  .navbar-brand {
    margin-left: 0;
  }
}

.navbar-brand {
  font-family:    $fontBrand;
  color:          $primary !important;
  text-transform: lowercase;
  font-size:      1.2em;
  font-weight:    700;
  line-height:    28px;
  margin-left:    10px;
  svg {
    margin-right: 4px;
  }
}

//

.db-navbar--scroll {
  background: $primary !important;
  box-shadow: 0 4px 0 rgba(0,0,0,.1);
  position: fixed;
  top:-120px;
  width: 100%;
  z-index: 100000;
  transition: top 200ms ease-in-out;
  &+.container {
    padding-top: 112px;
  }
  // .navbar-brand {
  //   color: $primary !important;
  // }
  // .db-logo-svg-shape {
  //   fill: $primary;
  // }
  // .db-hi-welcome path {
  //   stroke: $primary;
  // }
  // .btn-link,
  // .btn-outline-primary {
  //   color: $primary !important;
  // }
  // .btn-outline-primary {
  //   border-color: $primary !important;
  //   &:hover {
  //     background: $primary !important;
  //     color: $textColorInverted !important;
  //   }
  // }
  .navbar {
    padding-top: 40px;
    padding-bottom: 40px;
  }
}
.db-navbar--scroll--show {
  top: 0;
}
.db-hi-welcome {
  pointer-events: none;
  position: absolute;
  left: 110px;
  opacity: 1;
  top: 18px;
  svg {
    position: absolute;
    left: -10px;
    bottom: -15px;
  }
  @include media-breakpoint-down(md) {
    display: none !important;
  }
  &+ .db-hi-welcome  {
    display: none;
  }
}
.db-hi-welcome {
  animation-name: showMessage;
  animation-duration: 1.2s;
}

@keyframes showMessage {
  0% {
    top: -35px;
    opacity: 0;
  }
  70% {
    top: -35px;
    opacity: 0;
  }
  100% {
    opacity: 1;
    top: 18px;
  }
}
