html {
  background: $bgColor;
}
.db--guest {
  background: $primary;
  .db-logo-svg-shape {
    fill: $textColorInverted;
  }
  .navbar-brand {
    color: $textColorInverted !important;
  }
  .navbar,
  .row--intro {
    a {
      color: $textColorInverted;
    }
    .btn-outline-primary {
      border-color: $textColorInverted;
      &:hover {
        background: $textColorInverted;
        color: $primary;
      }
    }
    color: $textColorInverted;
  }
  .btn-success {
    &:hover {
      background: darken($success,4%);
      border-color: darken($success,4%);

    }
  }
}

.db-logo-svg-shape {
  fill: $primary;
  shape-rendering: geometricprecision;
}

.db-navbar {
  background: rgba(255,255,255,0);
  transition: top 200ms ease-in-out;
}
.navbar-brand {
  font-family:    $fontBrand;
  color:          $primary !important;
  text-transform: lowercase;
  font-size:      1.2em;
  font-weight:    700;
  line-height:    28px;
  margin-left:    10px;
  -webkit-font-smoothing: antialiased;
  font-smoothing: antialiased;
  svg {
    margin-right: 4px;
  }
}
.navbar {
  @include media-breakpoint-down(xs) {
    // padding-right: 0.5rem !important;
    // padding-left:  0.5rem !important;
  }
  @include media-breakpoint-up(sm) {
    padding-right: 0;
    padding-left:  0;
  }
  background: none !important;
  .navbar-brand {
    margin-left: 0;
  }
}
.db--loggedout {
  .navbar {
    padding: 2.25rem 0;
  }
}

//

.db-navbar--scroll {
  background: white !important;
  position: fixed;
  top:-120px;
  width: 100%;
  z-index: 100000;
  transition: top 200ms ease-in-out;
  box-shadow: 0 0 10px rgba(0,0,0,.1);
  &+.container {
    padding-top: 112px;
  }
  .navbar-brand {
    color: $primary !important;
  }
  .db-logo-svg-shape {
    fill: $primary;
  }
  .btn-link,
  .btn-outline-primary {
    color: $primary !important;
  }
  .btn-outline-primary {
    border-color: $primary !important;
    &:hover {
      background: $primary !important;
      color: $textColorInverted !important;
    }
  }
  .navbar {
    padding-top: 2rem;
    padding-bottom: 2rem;
  }
}
.db-navbar--scroll--show {
  top: 0;
}
