.db--guest {
  .db-logo-svg-shape {
    fill: $textColorInverted;
  }
  .db-hi-welcome {
    path {
      stroke: $textColorInverted;
      fill: transparent !important;
    }
    &.text-danger {
      path {
        stroke: var(--danger);
        fill: transparent !important;
      }
    }
  }
  .navbar-brand {
    color: $textColorInverted !important;
    span {
      @include media-breakpoint-down(xs) {
        display: none;
      }
    }
    @include media-breakpoint-down(sm) {
      width: 50px;
      svg {
        width: 60px;
      }
    }
  }
  .navbar,
  .row--intro {
    a {
      color: $textColorInverted;
    }
    .btn-outline-primary {
      border-color: $textColorInverted;
      &:hover {
        background: $textColorInverted;
        color: var(--primary);
      }
    }
    color: $textColorInverted;
  }
  .btn-success {
    &:hover {
      background:   var(--success);
      border-color: var(--success);

    }
  }
}
.navbar {
  z-index: 10000;
  padding: 4rem 0;
  @include media-breakpoint-down(md) {
      padding: 2.5rem 0;
  }
  a {
    color: var(--navbarLink) !important
  }
  .btn-outline-primary {
    border-color: var(--navbarLink);
  }
  path {
    fill:  var(--navbarLink);
  }
  .db-hi-welcome {
    path {
      fill: transparent !important;
    }
  }
}

.db-logo-svg-shape {
  fill: var(--navbarLink);
  shape-rendering: geometricprecision;
}
.db-hi-welcome {
  path {
    stroke: var(--navbarLink);
  }
  &.text-danger {
    path {
      stroke: var(--danger);
    }
  }
}
.db-hi-welcome__default {
  &:not(:first-child) {
    display: none;
  }
}
.db-navbar {
  background: rgba(255,255,255,0);
  transition: top 200ms ease-in-out;
  background: none !important;
  .navbar-brand {
    margin-left: 0;
  }
  &__close {
    width:  3rem;
    height: 3rem;
  }
}

.navbar-brand {
  font-family:    $fontBrand;
  color:          var(--navbarLink) !important;
  text-transform: lowercase;
  font-size:      1.2em;
  line-height:    2.8rem;
  margin-left:    1rem;
  margin-right:   0;
}

.db-hi-welcome {
  pointer-events: none;
  position:       absolute;
  left:           11rem;
  opacity:        1;
  top:            1.8rem;
  svg {
    position: absolute;
    left:   -1rem;
    bottom: -1.5rem;
  }
  @include media-breakpoint-down(md) {
    display: none !important;
  }
  &+ .db-hi-welcome  {
    display: none;
  }
}
.db-hi-welcome {
  animation-name:     showMessage;
  animation-duration: 1.2s;
}

@keyframes showMessage {
  0% {
    top:    -3.5rem;
    opacity: 0;
  }
  70% {
    top:    -3.5rem;
    opacity: 0;
  }
  100% {
    opacity: 1;
    top:     1.8rem;
  }
}

// newsletter

.db-newsletter-label {
  margin-bottom: 2em;
}
