.db--guest--text
  background: var(--white) !important
  .btn-success
    color: var(--white) !important
  a, h1, .db-hi-welcome, .db-footer__tagline,.db--guest--text
    color: var(--primary) !important
  .db-logo-svg-shape
    fill: var(--primary) !important
  .db-hi-welcome
    path
      stroke: var(--primary) !important
  .db-footer__tagline::before
    background: var(--primary)
  .db-page
    margin-top: 120px
  .db-social-link
    path
      fill: var(--primary)
.db-page
  &__body
    margin-top: 0.6em
  &__header
    &__time
      opacity: .5
      position: relative
      top: -0.4em
    &__author
      display: none
      margin-top: 1em
      line-height: 32px
      margin-bottom: 3em
      img
        width: 32px
        height: 32px
        border-radius: 32px
