.db--guest--text
  background: #fff !important
  .btn-success
    color: #fff !important
  a, h1, .db-hi-welcome, .db-footer__tagline,.db--guest--text
    color: $primary !important
    color: $primary-p3 !important
  .db-logo-svg-shape
    fill: $primary !important
    fill: $primary-p3 !important
  .db-hi-welcome
    path
      stroke: $primary !important
      stroke: $primary-p3 !important
  .db-footer__tagline::before
    background: $primary
    background: $primary-p3
  .db-page
    margin-top: 120px
  .db-social-link
    path
      fill: $primary
      fill: $primary-p3
.db-page
  &__body
    margin-top: 0.6em
  &__header
    &__time
      opacity: .5
      position: relative
      top: -0.4em
    &__author
      display: none
      margin-top: 1em
      line-height: 32px
      margin-bottom: 3em
      img
        width: 32px
        height: 32px
        border-radius: 32px
