// modal
.turbo-modal
  position: fixed
  z-index: 1
  left: 50%
  top: 50%
  transform: translate(-50%, -50%)
  background-color: white
  border-radius: 1rem
  border: none
  max-width: 100%
  &--search
    width: 100rem


// flash messages
.flash
  position: fixed
  bottom: 3rem
  right: 3rem
  z-index: 1

  display: flex
  flex-direction: column
  align-items: center
  gap: 1rem

  max-width: 100%
  width: max-content

  &__message
    animation: appear-then-fade 6s both

@keyframes appear-then-fade
  0%, 100%
    opacity:0
  5%, 80%
    opacity:1


.salert
  background-color: var(--primary)
  color: white
  padding: 3rem 3.5rem
  border-radius: 1rem
  width: 50rem
  max-width: calc(100vw - 6rem)
  &--danger
    background-color: var(--danger)
  &--success
    background-color: var(--success)
  &--warning
    background-color: var(--warning)