// modal
.turbo-modal
  position: fixed
  z-index: 1
  left: 50%
  top: 50%
  transform: translate(-50%, -50%)
  background-color: white
  border-radius: 1rem
  border: none
  max-width: 100%
  &--search
    width: 100rem