.db-pricing
  &__col
    white-space: nowrap
    &--info
      opacity:   .5
  &__title
    font-family: $fontBrand
    font-size:   2.6rem
    height:      3rem
    line-height: 3rem
  &__price
    font-family: $fontBrand
    font-size:   3.2rem
    height:      12rem
    line-height: 12rem
    small
      font-size: .65em
      span
        opacity: .5
  &__feat
    height:      4rem
    &__no
      opacity:   .5
