.db-pricing
  &__col
    white-space: nowrap
    &--info
      opacity: .5
  &__title
    font-family: $fontBrand
    font-size: 2rem
    height: 3rem
    line-height: 3rem
  &__price
    font-family: $fontBrand
    font-size: 3rem
    height: 12rem
    line-height: 12rem
    small
      opacity: .5
      font-size: .75em
  &__feat
    height: 4rem
    &__no
      opacity: .5
