#two_factor
  z-index: 100000000
  .modal-content
    width: 100vw
    max-width: 50rem
    border-color: var(--paperBorder)
    background: var(--paper)
  .modal-body
    padding: 4rem
  .close
    color: $primary
  .form-inline
    height: 100vh

.qrcode
  display: flex
  justify-content: center
  background: #FFF
  padding: 2rem
  border-radius: 2rem
.qr
  border-width: 0
  border-style: none
  border-color: #0000ff
  border-collapse: collapse

  td
    border-width: 0
    border-style: none
    border-color: #0000ff
    border-collapse: collapse
    padding: 0
    margin: 0
    width: 0.4rem
    height: 0.4rem

  td
    &.black
      background-color: #000

    &.white
      background-color: #fff
