@include media-breakpoint-down(sm)
  .db-navbar
    .container
      padding-left: 1.8rem
  .container
    padding-left: 1rem
    padding-right: 1rem
  .db-bot__exchanges
    padding: 2.2rem 1.8rem .3rem
  .db-bots__item--data .tab-pane p, .db-bots__item--data .nav-item .nav-link.active, .alert
    padding-left: 1.8rem
    padding-right: 1.8rem
  .db-bot__infotext--setup
    left: 1.8rem
  .db-bot__form--apikeys
    padding-left: 1.3rem
    padding-right: 1.3rem
  .db-alert--flex .btn
    right: 0
  h2
    text-align: center
    padding-bottom: 3rem
    font-size: 4rem
