.db-sidebar {
  background:    $bgColorLight;
  margin-left:   1em !important;
  margin-bottom: 1em !important;
  border-radius: 4px;
  max-width:     220px;
}
// // WARNING: The name has to be changed since it's used in other way.
// .db-main {
//   align-items: stretch;
//   height:      calc(100vh - 100px);
// }
.db-sidebar {
  border: 1px solid #ddd;
  margin:  0;
  padding: 0;
  height:  calc(100vh - 90px);
  .nav-tabs {
    border: 0;
  }
  .nav-link {
    border: 0 !important;
  }
  .nav-item {
    width: 100%;
    border-width: 2px;
    &:hover {
      background-color: #e1e1e1;
    }
  }
}

.db-sidebar__item--last {
  border: 0 !important;
}

.db-sidebar__footer {
  position:    absolute;
  bottom:      0;
  margin:      0 1em;
  width:       calc(100% - 2em);
  line-height: 40px;
  border-top:  1px solid $borderColorLight;
  color:       $textColorLight;
}

.db-menu-icon {
  line-height: 10px;
}
