.db-sidebar {
  background:    var(--background);
  margin-left:   1em !important;
  margin-bottom: 1em !important;
  border-radius: .4rem;
  max-width:     22rem;
}
.db-sidebar {
  border: .1rem solid #dbe0e8;
  margin:  0;
  padding: 0;
  height:  calc(100vh - 9rem);
  .nav-tabs {
    border: 0;
  }
  .nav-link {
    border: 0 !important;
  }
  .nav-item {
    width: 100%;
    border-width: .2rem;
    &:hover {
      background-color: #e1e1e1;
    }
  }
}

.db-sidebar__item--last {
  border: 0 !important;
}

.db-sidebar__footer {
  position:    absolute;
  bottom:      0;
  margin:      0 1em;
  width:       calc(100% - 2em);
  line-height: 4rem;
  border-top:  .1rem solid $borderColorLight;
  color:       $textColorLight;
}

.db-menu-icon {
  line-height: 1rem;
}
