// modal

.db-modal-limitter {
  display: flex;
  align-items: baseline;
  padding-top: 50px;
}
.db-modal-positioner {
  width:           100%;
  height:          calc(100vh - 3 * (#{$navbarHeight}));
  justify-content: center;
  align-items:     center;
  display:         flex;
  min-height: 440px;
}

.modal-content {
  // background: none;
  border: 1px solid #cfd6df;
  box-shadow: 1px 1px 10px rgba(0,0,0,.05)
}
.db--loggedin {
  .modal-content {
    .btn-lg {
      justify-content: center;
    }
  }
}
.db--loggedout {
  .modal-content {
    .btn-lg {
      min-width: 180px;
      justify-content: center;
    }
  }
}
.modal-dialog {
  @include media-breakpoint-down(xs) {
    margin-left: 0;
    margin-right: 0;
  }
}

.db-modal-title {
  text-align:    center;
  margin-bottom: 2rem;
}
.db-modal__subtitle {
  margin-bottom: 2rem;
  text-align: center;
}
.db-form-group--main-btn {
  text-align: center;
  margin-top: 3rem;
}
.db-form-group--btn {
  display:     flex;
  align-items: flex-end;
  .btn {
    width: 100%;
  }
}
.db-form-group--fg-2 {
  flex-grow: 3;
}
.db-form-group--eu-company {
  display: none;
}
.db-form-group--eu-company__visible {
  display: block;
}
.db-form-preview--visible_text {
  display: none;
}
.db-form-preview--visible_text__visible {
  display: inline;
}
