$offset: 70;
$duration: 1.5s;
$spinnerColor: darken(#e9ecef,3%);

.spinner {
  animation: rotator $duration linear infinite;
}

@keyframes rotator {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(270deg); }
}

.path {
  stroke-dasharray: $offset;
  stroke-dashoffset: 0;
  transform-origin: center;
  animation:
    dash $duration ease-in-out infinite,
    colors ($duration*4) ease-in-out infinite;
}

@keyframes colors {
  0% { stroke: $spinnerColor; }
  25% { stroke: $spinnerColor; }
  50% { stroke: $spinnerColor; }
  75% { stroke: $spinnerColor; }
  100% { stroke: $spinnerColor; }
}

@keyframes dash {
  0% { stroke-dashoffset: $offset; }
  50% {
    stroke-dashoffset: $offset*0.25;
    transform:rotate(135deg);
  }
  100% {
    stroke-dashoffset: $offset;
    transform:rotate(450deg);
  }
}
