$borderColorLight:   #dee2e6;
$bgColorLight:       #f5f5f5;
$textColorLight:     #666;
$sidebarItemHeight:  56px;
$sidebarItemPadding: 20px;

$bgColor:            $bgColorLight;
$bgBot:              white;

$navbarHeight:       88px;
$navbarExtraPadding: 1.25rem;
$introBoxHeight:     70vh;
$introBoxMaxHeight:  870px;
$introBoxMinHeight:  700px;

$fontText:           'Inconsolata', 'Roboto', sans-serif;
$fontBrand:          'Varela Round', 'Inconsolata', 'Roboto', sans-serif;
$fontHeader:         $fontBrand;
$fontButton:         $fontText;

html {
  background: $bgColor !important;
}
body {
  font-family: $fontText;
  background:  none;
}
h1,h2,h3,h4,h5,h6 {
  font-family: $fontHeader;
}
h1 {
  font-weight: 100;
  font-size:   2.5em;
}
.btn {
  font-family: $fontButton;
  font-weight: bold;
  :not(:last-child) {
    margin-right: .5em;
  }
  span {
    line-height:  27px;
    padding-left: 2px;
  }
}

.db-homepage-bg {
  background:      white;
  position:        absolute;
  width:           100vw;
  height:          calc(#{$introBoxHeight} + #{$navbarHeight} + 2 * #{$navbarExtraPadding});
  max-height:      calc(#{$introBoxMaxHeight} + #{$navbarHeight} + 2 * #{$navbarExtraPadding});
  min-height:      $introBoxMinHeight;
  transition: 0.3s ease-out;
}
.db-homepage-bg__image {
  transition: 0.3s ease-out;
  position:        absolute;
  right:           0;
  width:           50vw;
  height:          calc(#{$introBoxHeight} + #{$navbarHeight} + 2 * #{$navbarExtraPadding});
  max-height:      calc(#{$introBoxMaxHeight} + #{$navbarHeight} + 2 * #{$navbarExtraPadding});
  min-height:      $introBoxMinHeight;
  background:      url('./../../images/homepage01.jpg') bottom left;
  background-size: cover;
}
.row--intro {
  height:     $introBoxHeight;
  max-height: $introBoxMaxHeight;
  min-height: calc(#{$introBoxMinHeight} - #{$navbarHeight});
}
.d-flex__vertical-align {
  align-self: center;
}
.text-small {
  font-size: .75em;
}
.progress--thin {
  border-radius: 1.5px;
  height:        3px;
  overflow:      inherit;
  .progress-bar {
    border-radius: 1.5px;
    height:        3px;
    transition: all 1s ease-in-out;
  }
}
.progress--bot-setup {
  position: absolute;
  bottom:   0;
  width:    100%;
}
.db-menu-icon {
  line-height: 10px;
}
.db-sidebar {
  background:    $bgColorLight;
  margin-left:   $grid-gutter-width/2 !important;
  margin-bottom: $grid-gutter-width/2 !important;
  border-radius: 4px;
  max-width:     220px;
}
.db-main {
  align-items: stretch;
  height:      calc(100vh - 100px);
}
.db-sidebar {
  border:  1px solid #ddd;
  margin:  0;
  padding: 0;
  height:  calc(100vh - 90px);
  .nav-tabs {
    border: 0;
  }
  .nav-link {
    border: 0 !important;
  }
  .nav-item {
    width:        100%;
    border-width: 2px;
    &:hover {
      background-color: #e1e1e1;
    }
  }
}

.db-sidebar__item--last {
  border: 0 !important;
}

.db-sidebar__footer {
  position:    absolute;
  bottom:      0;
  margin:      0 $grid-gutter-width/2;
  width:       calc(100% - #{$grid-gutter-width});
  line-height: 40px;
  border-top:  1px solid $borderColorLight;
  color:       $textColorLight;
}

// db-anim-rotator

.db-anim-rotator {
  display:     inline-block;
  height:      1.5em;
  position:    relative;
  width:       3.05em;
  font-weight: bold;
  span {
    width:     3.05em;
    display:   block;
    height:    1em;
    animation: rotator 6s linear 0s infinite;
    position:  absolute;
    top:      -17px;
    opacity:   0;
  }
}
.db-anim-rotator--1 { animation-delay: 0s !important; }
.db-anim-rotator--2 { animation-delay: 2s !important; }
.db-anim-rotator--3 { animation-delay: 4s !important; }

@keyframes rotator {
  0%   {top: -21px; opacity: 0; }
  30%  {top: -21px; opacity: 0; }
  33%  {top:  7px;  opacity: 1; }
  65%  {top:  7px;  opacity: 1; }
  68%  {top:  35px; opacity: 0; }
  99%  {top:  35px; opacity: 0; }
  100% {top: -21px; opacity: 0; }
}

// intro image

.db-intro-image-container {
  position: relative;
  justify-content: center;
  align-items: center;
  display: flex;
}
.db-intro-image {
  width: 100%;
  height: auto;
  border-radius: 10px;
  border: 1px solid rgba(0,0,0,.1);
  box-shadow: 0 0 20px rgba(0,0,0,.075);
}

// modal

.db-modal-positioner {
  width:           100%;
  height:          calc(100vh - 2 * (#{$navbarHeight} + 2 * #{$navbarExtraPadding}));
  min-height:      548px;
  max-height:      1000px;
  justify-content: center;
  align-items:     center;
  display:         flex;

}

.db-modal-title {
  text-align:    center;
  margin-bottom: 2rem;
}
.db-form-group--main-btn {
  text-align: center;
  margin-top: 2rem;
}
.db-form-group--btn {
  display: flex;
  align-items: flex-end;
  .btn {
    width: 100%;
  }
}
.db-form-group--fg-2 {
  flex-grow: 3;
}

// settings

.db-content__box {
  background: white;
  padding: 2em;
  border-radius: $box-border-radius;
  border: 1px solid #ddd;
}
