$borderColorLight:   #dee2e6;
$bgColorLight:       #f5f5f5;
$textColorLight:     #666;
$sidebarItemHeight:  56px;
$sidebarItemPadding: 20px;

$bgColor:            $bgColorLight;
$bgBot:              white;

$navbarHeight:       88px;
$navbarExtraPadding: 1.25rem;
$introBoxHeight:     70vh;
$introBoxMaxHeight:  870px;
$introBoxMinHeight:  700px;

$fontText:           'Inconsolata', 'Roboto', sans-serif;
$fontBrand:          'Varela Round', 'Inconsolata', 'Roboto', sans-serif;
$fontHeader:         $fontBrand;
$fontButton:         $fontText;

$footerHeight:       50px;


body {
  font-family: $fontText;
  background:  none;
}
h1,h2,h3,h4,h5,h6 {
  font-family: $fontHeader;
}
h1 {
  font-weight: 100;
  font-size:   2.5em;
}
.btn {
  display: inline-flex;
  font-family: $fontButton;
  font-weight: bold;
  cursor: pointer;
  :not(:last-child) {
    margin-right: .5em;
  }
  span {
    padding-left: 2px;
    top:          1px;
    position:     relative;
  }
  .material-icons {
    align-self: center;
    margin-right: -.2085em;
    margin-left:  -.2085em;
  }
}
.row--intro {
  height:     $introBoxHeight;
  max-height: $introBoxMaxHeight;
  min-height: calc(#{$introBoxMinHeight} - #{$navbarHeight});
}
.row--newsletter {
  height:     $introBoxHeight - 10vh;
  max-height: $introBoxMaxHeight - 40px;
}
.d-flex__vertical-align {
  align-self: center;
}
.text-small {
  font-size: .75em;
}
.progress--thin {
  border-radius: 1.5px;
  height:        3px;
  overflow:      inherit;
  .progress-bar {
    border-radius: 1.5px;
    height:        3px;
    transition:    all 1s ease-in-out;
  }
}
.progress--bot-setup {
  position: absolute;
  bottom:   0;
  width:    100%;
}
.db--guest {
  .container {
    @include media-breakpoint-down(xs) {
      padding-left: 1rem;
      padding-right: 1rem;
    }
  }
  .navbar-brand {
    span {
      @include media-breakpoint-down(xs) {
        display: none;
      }
    }
  }
}
.db-menu-icon {
  line-height: 10px;
}
.db-sidebar {
  background:    $bgColorLight;
  margin-left:   $grid-gutter-width/2 !important;
  margin-bottom: $grid-gutter-width/2 !important;
  border-radius: 4px;
  max-width:     220px;
}
.db-main {
  align-items: stretch;
  height:      calc(100vh - 100px);
}
.db-sidebar {
  border:  1px solid #ddd;
  margin:  0;
  padding: 0;
  height:  calc(100vh - 90px);
  .nav-tabs {
    border: 0;
  }
  .nav-link {
    border: 0 !important;
  }
  .nav-item {
    width:        100%;
    border-width: 2px;
    &:hover {
      background-color: #e1e1e1;
    }
  }
}

.db-sidebar__item--last {
  border: 0 !important;
}

.db-sidebar__footer {
  position:    absolute;
  bottom:      0;
  margin:      0 $grid-gutter-width/2;
  width:       calc(100% - #{$grid-gutter-width});
  line-height: 40px;
  border-top:  1px solid $borderColorLight;
  color:       $textColorLight;
}

// db-anim-rotator

.db-anim-rotator {
  display:     inline-block;
  height:      1.5em;
  position:    relative;
  width:       3.05em;
  font-weight: bold;
  span {
    width:     3.05em;
    display:   block;
    height:    1em;
    animation: homepageTextShift 6s linear 0s infinite;
    position:  absolute;
    top:      -17px;
    opacity:   0;
  }
}
.db-anim-rotator--1 { animation-delay: 0s !important; }
.db-anim-rotator--2 { animation-delay: 2s !important; }
.db-anim-rotator--3 { animation-delay: 4s !important; }

@keyframes homepageTextShift {
  0%   {top: -21px; opacity: 0; text-shadow: 0 0 0   rgba(255,255,255,0); }
  30%  {top: -21px; opacity: 0; text-shadow: 0 0 0   rgba(255,255,255,0); }
  33%  {top:   7px; opacity: 1; text-shadow: 0 0 5px #fff; }
  36%  {top:   7px; opacity: 1; text-shadow: 0 0 0   rgba(255,255,255,0); }
  65%  {top:   7px; opacity: 1; text-shadow: 0 0 0   rgba(255,255,255,0); }
  68%  {top:  35px; opacity: 0; text-shadow: 0 0 0   rgba(255,255,255,0); }
  99%  {top:  35px; opacity: 0; text-shadow: 0 0 0   rgba(255,255,255,0); }
  100% {top: -21px; opacity: 0; text-shadow: 0 0 0   rgba(255,255,255,0); }
}

// intro image

.db-intro-image-container {
  position:        relative;
  justify-content: center;
  align-items:     center;
  display:         flex;
}
.db-intro-image {
  width:         100%;
  height:        auto;
  border-radius: $box-border-radius;
  border:        1px solid rgba(0,0,0,.1);
  box-shadow:    0 0 20px rgba(0,0,0,.075);
}

@include media-breakpoint-down(md) {
  .db-intro-image {
    display: none;
  }
}

// modal

.db-modal-positioner {
  width:           100%;
  height:          calc(100vh - 2 * (#{$navbarHeight} + 2 * #{$navbarExtraPadding}));
  max-height:      1000px;
  justify-content: center;
  align-items:     flex-start;
  display:         flex;

}

.db-modal-title {
  text-align:    center;
  margin-bottom: 2rem;
}
.db-form-group--main-btn {
  text-align: center;
  margin-top: 2rem;
}
.db-form-group--btn {
  display:     flex;
  align-items: flex-end;
  .btn {
    width: 100%;
  }
}
.db-form-group--fg-2 {
  flex-grow: 3;
}

// page

.db-page {
  margin-bottom: 120px;
  a {
    color: white;
    text-decoration: underline;
  }
  li {
    margin-top: 1em;
  }
  ol {
    counter-reset: item;
    & > li {
      counter-increment: item;
    }
    & ol {
      & > li {
        display: block;
        &:before {
          content: counters(item, ".") ". ";
          margin-left: -40px;
        }
      }
    }
  }
  .blockquote {
    padding: 1em 1em .25em 1.1em;
    font-style: italic;
    position: relative;
    &::before {
      content: "”";
      font-size: 6em;
      font-style: normal;
      position: absolute;
      top:0;
      left:-.05em;
      line-height: .9;
      opacity: .2;
    }
  }
}

// settings

.db-content__box {
  background:    white;
  padding:       2rem;
  margin-left:  .5rem;
  margin-right: .5rem;
  border-radius: $box-border-radius;
  border:        1px solid #ddd;
}
.db-remove-api-key {
  position: relative;
  top: 6px;
}

// footer

.db-footer--signed-in {
  padding: 1.5rem .5rem 2rem;
}

.db-footer--homepage {
  padding-bottom: 10rem;
  a {
    color: white;
    text-decoration: underline;
    display: block;
    &.db-social-link {
      text-decoration: none;
      svg {
        width: 16px;
        height: 16px;
      }
      span {
        text-decoration: underline;
      }
    }
  }
}
.db-footer__tagline {
  position: relative;
  text-indent: 20px;
  &::before {
    content: "";
    display: block;
    background: white;
    position: absolute;
    width: 4px;
    height: 100%;
    border-radius: 2px;
  }
}

// Contact

.db-woowoo {
  display: flex;
  flex-direction: row-reverse;
  justify-content: flex-end;
  span{
    &:first-child {
      &:after {
        content: ".com";
      }
    }
    &:not(:first-child) {
      &:after {
        content: "a";
      }
    }
  }
}

// Cookie

#cookie_consent {
  background: rgb(28, 30, 19);
  position: fixed;
  width: 100%;
  bottom: 0;
  left: 0;
}
.cookieConsent {
  background: none !important;
  margin: 0 auto !important;
  @include make-container();
  @include make-container-max-widths();
  position: relative !important;
  div {
    margin-left: 0 !important;
  }
  button {
    margin-right: 0 !important;
    color: #4e503b !important;
    font-size: 16px !important;
    font-weight: bold !important;
    line-height: 30px !important;
    padding: 5px 15px 5px 20px !important;
    border-radius: 20px !important;
  }
}

// Supported exchanges

.db-supported-exchanges {
  text-align: center;
}

.db-supported-exchange {
  width: 200px;
  padding: 40px;
}
