@font-face
  font-family: 'Inconsolata'
  font-style: normal
  font-weight: 400
  src: local('Inconsolata Regular'), local('Inconsolata'), url("./../../fonts/Inconsolata.woff") format('woff')
  font-display: swap

@font-face
  font-family: 'Inconsolata'
  font-style: normal
  font-weight: 700
  src: local('Inconsolata Bold'), local('InconsolataBold'), url("./../../fonts/InconsolataBold.woff") format('woff')
  font-display: swap

@font-face
  font-family: 'Varela Round'
  font-style: normal
  font-weight: 700
  src: local('Varela Round Regular'), local('VarelaRound'), url("./../../fonts/VarelaRound.woff2") format('woff2')
  font-display: swap

@font-face
  font-family: 'Material Icons Round'
  font-style: normal
  font-weight: 400
  src: url("./../../fonts/MaterialIcons-Round.woff2") format('woff2')

.material-icons-round
  font-family: 'Material Icons Round'
  font-weight: normal
  font-style: normal
  font-size: 24px
  line-height: 1
  letter-spacing: normal
  text-transform: none
  display: inline-block
  white-space: nowrap
  word-wrap: normal
  direction: ltr
  -webkit-font-feature-settings: 'liga'
  -webkit-font-smoothing: antialiased

$borderColorLight:   #dee2e6
$bgColorLight:       #fafbfc
$textColorLight:     #666
$sidebarItemHeight:  56px
$sidebarItemPadding: 20px

$textColorInverted:  rgba(255,255,255,1)

$successLighter:      lighten($success,7%)

$bgColor:            $bgColorLight
$bgBot:              white

$navbarHeight:       88px
$navbarExtraPadding: 1.25rem
$introBoxHeight:     60vh
$introBoxMaxHeight:  870px
$introBoxMinHeight:  700px

$fontText:           'Inconsolata', 'Roboto', sans-serif
$fontBrand:          'Varela Round', 'Inconsolata', 'Roboto', sans-serif
$fontHeader:         $fontBrand
$fontButton:         $fontText

$boxShadowBot:   1px 2px 4px rgba(0,0,0,.05)
$boxShadowAlert: 1px 2px 4px rgba(0,0,0,.1)
$boxShadowBox:   1px 2px 4px rgba(0,0,0,.05)
$boxShadowHome:  1px 2px 6px rgba(0,0,0,.2)

$footerHeight:       50px


\:root
  --scroll: 0
  --scrollx: 0
  --pulsing: 0
  --scroll-and-bouncing: 0
