$primary:            #22439E
$primary-p3:         #{'color(display-p3 0.13 0.26 0.62)'}
$primary09:          #22439E
$white:              #fff
$primary10-p3:       #{'color(display-p3 0.17 0.35 0.75)'}
$primary-10-p3:      #{'color(display-p3 0.11 0.23 0.55)'}
$success:            #079e60
$success-p3:         #{'color(display-p3 0.0275 0.62 0.376)'}
$text:               #234
$background:         #f7f8f9
$background-p3:      #f7f8f9

$primary-dark:       #22439E
$primary-dark-p3:    #{'color(display-p3 0.13 0.26 0.62)'}
$primary10-dark-p3:  #{'color(display-p3 0.17 0.35 0.75)'}
$primary-10-dark-p3: #{'color(display-p3 0.11 0.23 0.55)'}
$white-dark:         #123
$success-dark:       #079e60
$success-dark-p3:    #{'color(display-p3 0.0275 0.62 0.376)'}
$text-dark:          #fff
$background-dark:    #123
$background-dark-p3: #123

\:root
  --primary:       #22439E
  --success:       #079e60
  --white:         #fff
  --lightA:        #f7f8f9
  --darkA:         #123
@media (prefers-color-scheme: light)
  \:root
    --text:                #234
    --paper:               #fff
    --paperBorder:         #cfd6df
    --progressBar:         #f5f5f5
    --background:          #f7f8f9
    --link:                #22439E
    --linkInactive:        #abc
    --navbarLink:          #22439E
    --navbarMenuLink:      #fff
    --botModalBackground:  rgba(255,255,255,.85)
    --referralStatsNumber: #789
    --alertPrimaryTxt:     #122352
    --alertPrimaryBg:      #d3d9ec
    --alertPrimaryBorder:  #c1cae4
    --pickExchangeItemBg:       #e7edf5
    --pickExchangeItemTxt:      #22439E
    --pickExchangeItemInactive: --linkInactive
    --pickExchangeItemSelect:   #fff
@media (prefers-color-scheme: dark)
  \:root
    --text:                #abc
    --paper:               #234
    --paperBorder:         #0d1d2d
    --progressBar:         #17283a
    --background:          #123
    --link:                #fff
    --linkInactive:        #567
    --navbarLink:          #f7f8f9
    --navbarMenuLink:      #fff
    --botModalBackground:  rgba(34,51,69,.9)
    --referralStatsNumber: #456
    --alertPrimaryTxt:     --text
    --alertPrimaryBg:      transparent
    --alertPrimaryBorder:  --text
    --pickExchangeItemBg:       #25384a
    --pickExchangeItemTxt:      --link
    --pickExchangeItemInactive: --linkInactive
    --pickExchangeItemSelect:   --link

$table-color:        #234

$grid-gutter-width:    30px
$bot-gutter-width:     30px
$btn-border-width:     2px
$btn-border-radius:    30px
$btn-border-radius-lg: 30px
$btn-border-radius-sm: 30px
$box-border-radius:    8px
$alert-border-radius:  8px
$input-border-radius:  8px
$border-radius-lg:     8px
$custom-select-border-radius: 8px
$modal-md:                    700px
$modal-inner-padding:         2em
$navbar-padding-y:            1.5rem

$input-btn-padding-x:    0.75rem !default
$input-btn-padding-x-sm: 0.75rem !default
$input-btn-padding-x-lg: 1.25rem !default

.fill-primary
  fill: $primary !important
  fill: $primary-p3 !important
.fill-success
  fill: $success !important
  fill: $success-p3 !important
.stroke-success
  stroke: $success !important
  stroke: $success-p3 !important
.stop-color-primary
  stop-color: $primary !important
  stop-color: $primary-p3 !important



@font-face
  font-family: 'Inconsolata'
  font-style: normal
  font-weight: 400
  src: local('Inconsolata Regular'), local('Inconsolata'), url("./../../fonts/Inconsolata.woff") format('woff')
  font-display: swap

@font-face
  font-family: 'Inconsolata'
  font-style: normal
  font-weight: 700
  src: local('Inconsolata Bold'), local('InconsolataBold'), url("./../../fonts/InconsolataBold.woff") format('woff')
  font-display: swap

@font-face
  font-family: 'Varela Round'
  font-style: normal
  font-weight: 700
  src: local('Varela Round Regular'), local('VarelaRound'), url("./../../fonts/VarelaRound.woff2") format('woff2')
  font-display: swap

@font-face
  font-family: 'Material Icons Round'
  font-style: normal
  font-weight: 400
  src: url("./../../fonts/MaterialIcons-Round.woff2") format('woff2')

.material-icons-round
  font-family: 'Material Icons Round'
  font-weight: normal
  font-style: normal
  font-size: 24px
  line-height: 1
  letter-spacing: normal
  text-transform: none
  display: inline-block
  white-space: nowrap
  word-wrap: normal
  direction: ltr
  -webkit-font-feature-settings: 'liga'
  -webkit-font-smoothing: antialiased

$borderColorLight:   #cfd6df
$bgColorLight:       #fafbfc
$textColorLight:     #666
$sidebarItemHeight:  56px
$sidebarItemPadding: 20px

$textColorInverted:  rgba(255,255,255,1)

$successLighter:      lighten($success,7%)

$bgColor:            $bgColorLight
$bgBot:              white

$navbarHeight:       88px
$navbarExtraPadding: 1.25rem
$introBoxHeight:     60vh
$introBoxMaxHeight:  870px
$introBoxMinHeight:  700px

$fontText:           'Inconsolata', 'Roboto', sans-serif
$fontBrand:          'Varela Round', 'Inconsolata', 'Roboto', sans-serif
$fontHeader:         $fontBrand
$fontButton:         $fontText

$boxShadowBot:   1px 2px 4px rgba(0,0,0,.05)
$boxShadowAlert: 1px 2px 4px rgba(0,0,0,.1)
$boxShadowBox:   1px 2px 4px rgba(0,0,0,.05)
$boxShadowHome:  1px 2px 6px rgba(0,0,0,.2)

$footerHeight:       50px


\:root
  --scroll: 0
  --scrollx: 0
  --pulsing: 0
  --scroll-and-bouncing: 0
