$primary:            #22439E
$primary-p3:         #{'color(display-p3 0.13 0.26 0.62)'}
$primary09:          #22439E
$white:              #fff
$primary10-p3:       #{'color(display-p3 0.17 0.35 0.75)'}
$primary-10-p3:      #{'color(display-p3 0.11 0.23 0.55)'}
$success:            #079e60
$success-p3:         #{'color(display-p3 0.0275 0.62 0.376)'}
$text:               #234
$background:         #f7f8f9
$background-p3:      #f7f8f9

$primary-dark:       #22439E
$primary-dark-p3:    #{'color(display-p3 0.13 0.26 0.62)'}
$primary10-dark-p3:  #{'color(display-p3 0.17 0.35 0.75)'}
$primary-10-dark-p3: #{'color(display-p3 0.11 0.23 0.55)'}
$white-dark:         #123
$success-dark:       #079e60
$success-dark-p3:    #{'color(display-p3 0.0275 0.62 0.376)'}
$text-dark:          #fff
$background-dark:    #123
$background-dark-p3: #123

\:root
  --primary:       #22439E
  --secondary:     #789
  --danger:        #dc3545
  --success:       #079e60
  --white:         #fff
  --lightA:        #f7f8f9
  --darkA:         #123
  --cookies:       #234

  --text:                     #234
  --paper:                    #fff
  --paperBorder:              #cfd6df
  --progressBar:              #f5f5f5
  --background:               #f7f8f9
  --link:                     #22439E
  --focus:                    #22439E
  --inputTextFocus:           #234
  --autocomplete:             #cde
  --inactive:                 #abc
  --linkInactive:             #abc
  --navbarLink:               #22439E
  --navMenuFill:              #abc
  --navbarMenuLink:           #fff
  --botModalBackground:       rgba(255,255,255,.85)
  --referralStatsNumber:      #789
  --alertPrimaryTxt:          #122352
  --alertPrimaryBg:           #d3d9ec
  --alertPrimaryBorder:       #c1cae4
  --pickExchangeItemBg:       #e7edf5
  --pickExchangeItemTxt:      #22439E
  --pickExchangeItemInactive: #abc
  --pickExchangeItemSelect:   #fff
  --headerHome:               #fff
  --headerDevise:             #22439E
  --textPageBg:               #fff
  --planBorder:               #cfd6df
  --planBg:                   #fff
  --planBadge:                #d3d9ec
  --planSelectedBorder:       #22439E
  --planSelectedBg:           #22439E
  --planSelectedBadge:        #079e60
  --planSelectedTxt:          #fff
  --boxBorder:                #cfd6df
  --boxBackground:            #fff

@media (prefers-color-scheme: light)
  .db-darkmode-only
    display: none
  \:root
    --text:                     #234
    --paper:                    #fff
    --paperBorder:              #cfd6df
    --progressBar:              #f5f5f5
    --background:               #f7f8f9
    --link:                     #22439E
    --focus:                    #22439E
    --inputTextFocus:           #234
    --autocomplete:             #cde
    --inactive:                 #abc
    --linkInactive:             #abc
    --navbarLink:               #22439E
    --navMenuFill:              #abc
    --navbarMenuLink:           #fff
    --botModalBackground:       rgba(255,255,255,.85)
    --referralStatsNumber:      #789
    --pickExchangeItemBg:       #e7edf5
    --pickExchangeItemTxt:      #22439E
    --pickExchangeItemInactive: #abc
    --pickExchangeItemSelect:   #fff
    --headerHome:               #fff
    --headerDevise:             #22439E
    --textPageBg:               #fff
    --planBorder:               #cfd6df
    --planBg:                   #fff
    --planBadge:                #d3d9ec
    --planSelectedBorder:       #22439E
    --planSelectedBg:           #22439E
    --planSelectedBadge:        #079e60
    --planSelectedTxt:          #fff
    --boxBorder:                #cfd6df
    --boxBackground:            #fff

    --botInputTxtSelect:        #012
    --botInputBg:               rgba(255,255,255,0.5)
    --botInputBgFocus:          rgba(255,255,255,.7)
    --botInputBgPaper:          #f1f4f7
    --botInputBgPaperFocus:     #e5e8f2

    --alertPrimaryTxt:          #122352
    --alertPrimaryBg:           #d3d9ec
    --alertPrimaryBorder:       #c1cae4

    --alertPrimaryTxtDisabled:    #678
    --alertPrimaryBgDisabled:     transparent
    --alertPrimaryBorderDisabled: #bcd

    --alertSuccessBorder:       #bae4d2
    --alertSuccessText:         #045232
    --alertSuccessBackground:   #cdecdf

    --paginationBg:             var(--paper)
    --paginationHover:          var(--background)

@media (prefers-color-scheme: dark)
  .db-lightmode-only
    display: none
  \:root
    --text:                #abc
    --paper:               #234
    --paperBorder:         #0d1d2d
    --progressBar:         #17283a
    --background:          #123
    --link:                #fff
    --focus:               #fff
    --inputTextFocus:      #fff
    --autocomplete:        #345
    --inactive:            #567
    --linkInactive:        #567
    --navbarLink:          #f7f8f9
    --navMenuFill:         #abc
    --navbarMenuLink:      #fff
    --botModalBackground:  rgba(34,51,69,.9)
    --referralStatsNumber: #456
    --pickExchangeItemBg:       #345
    --pickExchangeItemTxt:      #fff
    --pickExchangeItemInactive: #567
    --pickExchangeItemSelect:   #fff
    --headerHome:               #fff
    --headerDevise:             #22439E
    --textPageBg:               #fff
    --planBorder:               #234
    --planBg:                   #234
    --planBadge:                #345
    --planSelectedBorder:       #22439E
    --planSelectedBg:           #22439E
    --planSelectedBadge:        #079e60
    --planSelectedTxt:          #fff
    --boxBorder:                #567
    --boxBackground:            #234

    --botInputTxtSelect:        #fff
    --botInputBg:               rgba(200,220,255,.05)
    --botInputBgFocus:          rgba(200,220,255,.24)
    --botInputBgPaper:          rgba(200,220,255,.05)
    --botInputBgPaperFocus:     rgba(200,220,255,.24)


    --alertPrimaryTxt:            #bcd
    --alertPrimaryBg:             transparent
    --alertPrimaryBorder:         #bcd

    --alertPrimaryTxtDisabled:    #678
    --alertPrimaryBgDisabled:     transparent
    --alertPrimaryBorderDisabled: rgba(200,220,255,.25)

    --alertSuccessBorder:       #079e60 !important
    --alertSuccessText:         #079e60 !important
    --alertSuccessBackground:   transparent !important

    --paginationBg:             var(--background)
    --paginationHover:          var(--paper)

$table-color:        #234

$grid-gutter-width:    3rem
$bot-gutter-width:     3rem
$btn-border-width:     .2rem
$btn-border-radius:    3rem
$btn-border-radius-lg: 3rem
$btn-border-radius-sm: 3rem

$box-border-radius:    1.6rem
$alert-border-radius:  1.6rem
$input-border-radius:  1.6rem
$border-radius-lg:     1.6rem
$small-box-border-radius: .8rem
$custom-select-border-radius: 1.6rem

$modal-md:                    70rem
$modal-inner-padding:         2rem
$navbar-padding-y:            1.5rem

$input-btn-padding-x:    0.75rem !default
$input-btn-padding-x-sm: 0.75rem !default
$input-btn-padding-x-lg: 1.25rem !default

.fill-primary
  fill: $primary !important
  fill: $primary-p3 !important
.fill-success
  fill: $success !important
  fill: $success-p3 !important
.stroke-success
  stroke: $success !important
  stroke: $success-p3 !important
.stop-color-primary
  stop-color: $primary !important
  stop-color: $primary-p3 !important

@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@500;600;700&display=swap")

// @font-face
// 	font-family: "Inconsolata"
// 	src:         url("./../../fonts/Inconsolata-VariableFont_wdth,wght.ttf")
// @font-face
// 	font-family: "Roboto Mono"
// 	src:         url("./../../fonts/RobotoMono-VariableFont_wght.ttf")

@font-face
  font-family: 'Material Icons Round'
  font-style:  normal
  font-weight: 400
  src:         url("/media/fonts/MaterialIcons-Round.woff2") format('woff2')

.material-icons-round
  font-family: 'Material Icons Round'
  font-weight: normal
  font-style: normal
  font-size: 2.4rem
  line-height: 1
  letter-spacing: normal
  text-transform: none
  display: inline-block
  white-space: nowrap
  word-wrap: normal
  direction: ltr
  -webkit-font-feature-settings: 'liga'
  -webkit-font-smoothing: antialiased

$borderColorLight:   #cfd6df
$bgColorLight:       #fafbfc
$textColorLight:     #666
$sidebarItemHeight:  5.6rem
$sidebarItemPadding: 2rem

$textColorInverted:  rgba(255,255,255,1)

$successLighter:      lighten($success,7%)

$bgColor:            $bgColorLight
$bgBot:              white

$navbarHeight:       8.8rem
$navbarExtraPadding: 1.25rem
$introBoxHeight:     60vh
$introBoxMaxHeight:  87rem
$introBoxMinHeight:  70rem

$fontText:           'Montserrat', 'Raleway', 'Roboto', sans-serif
$fontTextCyrilic:    'Montserrat', 'Raleway', 'Roboto', sans-serif
$fontBrand:          'Montserrat', 'Raleway', 'Roboto', sans-serif
$fontHeader:         $fontBrand
$fontButton:         $fontBrand

$boxShadowBot:   .1rem .2rem .4rem rgba(0,0,0,.05)
$boxShadowAlert: .1rem .2rem .4rem rgba(0,0,0,.1)
$boxShadowBox:   .1rem .2rem .4rem rgba(0,0,0,.05)
$boxShadowHome:  .1rem .2rem .6rem rgba(0,0,0,.2)

$footerHeight:       5rem


\:root
  --scroll: 0
  --scrollx: 0
  --pulsing: 0
  --scroll-and-bouncing: 0
