:root {
  font-size: 10px;
}

@import 'bootstrap/bootstrap';
@import 'variables';
@import 'mixins';
@import 'styles';
@import 'cookies';
@import 'signup';
@import 'pages';
@import 'navbar';
@import 'sidebar';
@import 'bots';
@import 'forms';
@import 'checkout';
@import 'stripe';
@import 'spinner';
@import 'dropdown';
@import 'referral-stats';
@import 'alerts';
@import 'pricing';
@import 'charts';
@import 'modal';
@import "exchanges";
@import "qr_code";
@import "rwd";
