<div class="onboarding-survey__step onboarding-survey__step--1">
  <h1 class="onboarding-survey__title"><%= t('onboarding_v2.survey.step1.title') %></h1>
  <%= form_with model: @survey, url: step_two_surveys_onboarding_v2_path, method: :get, class: "onboarding-survey__options" do |f| %>
    <% @investment_methods.each do |method| %>
      <%= button_tag name: "#{@survey.model_name.param_key}[investment_method]", value: method[:id], type: :submit, class: "onboarding-survey__options__item" do %>
        <%= method[:name] %>
      <% end %>
    <% end %>
  <% end %>
</div>
