.container.db-page.text-light

  %h1.mb-5.mt-5 About

  %p If you got here, you probably already know what <i>dollar-cost averaging</i> is and what are its benefits. If not, you may want to start <a href="https://medium.com/@btcdca/bitcoin-dollar-cost-averaging-btcdca-3e2eb27e86e9" rel="nofollow" target="_blank">here</a>, but to make it short:

  %blockquote.blockquote
    %p Dollar-Cost Averaging (DCA) is the discipline of buying a fixed dollar amount of a security or fund on a regular schedule regardless of share price or market direction.

  %p Despite many great articles on the topic, there is a lot of misunderstanding of what DCA is. Let's start with what it's not. DCA is NOT a trading strategy to maximize your profit. It's a way to manage your risk and emotions. It's also an approach easy to follow, and with Deltabadger, it's getting more accessible than ever before.

  %p Emotions are a massive obstacle while investing. If you bought on the local top, you might be unhappy for months or years before you get your ROI. Even if you have the discipline to avoid tragic mistakes like selling at the bottom, you may still ask yourself if those months of stress were worth it. DCA helps to mitigate this stress and makes the whole process easy and automatic.

  %p The biggest problem with DCA is that it demands, well, discipline. That is the problem that Deltabadger solves. It automates purchases and provides intervals impossible for manual approach. That makes averaging as perfect as possible.

  %p We are NOT financial advisors. Don't invest more than you can afford to lose. That said, we built the platform for friends, family and fellow hodlers. We believe it's worth trying.
