- content_for :html_class do
  db--guest--text

.container.db-page
  .row
    .col-md-4.db-page__header
      %h1 About the project
      %time.db-page__header__time
        Nov 11, 2020
      .db-page__header__author
        %img{:src => asset_pack_path("media/images/jan.png"), :alt => "Jan"}
        by Jan Klosowski

    .col-md-8.db-page__body

      %p This will be a bit more personal than a typical "About" page:

      %p.text-center *

      %p As somebody born in communist Poland, I was not fortunate enough to get basic wealth-building knowledge from home. I grew up with the notion that money is not important. All you need to do is to provide value to society and money will follow.

      %p Unfortunately, while society rewards you for the value provided, inflation takes it back, and does it fast. Besides being part of the market, you are also part of the political system. In this case, the monetary policy is not in your favour. This is the part where to protect the savings you need to take some extra steps.

      %p A few years ago, despite being usually well paid, I was constantly frustrated by various financial struggles. Figuring things out on your own can be tricky. The need of investing was one of those lessons I learned the hard way, spending seven months unemployed looking for another job and draining my pockets to the last penny.

      %p.text-center **

      %p As soon as I got a new source of income, I dived into the new rabbit hole, learning about different types of investments that were available to me at the time. For somebody without huge capital, those options are limited. Some of them demand the status of the professional investor, creditworthiness, or simply deep pockets; other are available but punish small investors with higher margins. Finally, bank deposits and bonds are long gone because of negative interest rates.

      %p What remained on the table was: stocks, gold, collectibles, and Bitcoin. What was my choice? All of them. Inflation made me "an investing genius" for a while because it makes the price of everything with a limited supply to go up eventually. However, I've noticed a few things:

      %p Stocks are already overvalued. Gold has unattractive margins. Collectibles take a lot of time and space. It didn't take long until I was completely focused on Bitcoin. By investing a fixed percentage of my monthly income, I started "dollar-cost averaging" before even knowing what it is. I continued for the whole of 2016, and most of 2017. The rest is a history that gave me a lot of freedom in the following years.

      %p.text-center ***

      %p Since I was very vocal about Bitcoin, I was also constantly approached by people asking about investing in it. The truth is: for the majority, the answer was always the same: dollar-cost averaging. Unfortunately, only a few of them did follow my advice. At some point, I started to avoid any recommendations to not feel emotionally invested in all mistakes that often followed later.

      %p If I could only recommend a tool that automates this simple strategy and keep the "monkey mind" a bit further from the "control board"… This is how Deltabadger was finally born at the end of 2019, and officially launched in January of 2020.

      %p I bought my first Bitcoin on an exchange, and for many from over 50 million cryptocurrency exchange users, it's still the most available option to do it. Deltabadger works with popular exchanges, and it's my way to contribute to this space which I benefited from so much myself.

      %p.text-center ****

      %p I truly believe that automated DCA helps in Bitcoin's mission of giving power back to the people. By mitigating the risk of its high volatility, it makes Bitcoin much easier to recommend for more people interested in protecting their long-term savings.

      %p I'm always here to help. Send me an <a href="/contact">email</a>, DM me on <a href="https://twitter.com/klos" target="_blank" rel="nofollow" title="@klos at Twitter">Twitter</a>, or join our <a href="https://t.me/deltabadgerchat" target="_blank" rel="nofollow" title="Join our Telegram Group">Telegram chat</a>.

      %p.mt-5
        Jan Klosowski, CEO
      %p
        %img.db-darkmode-only{:src => asset_pack_path("media/images/signature-abc.png"), :alt => "Klosowski", :style => "width: 160px;"}
        %img.db-lightmode-only{:src => asset_pack_path("media/images/signature.png"), :alt => "Klosowski", :style => "width: 160px;"}
