.container
  .db-modal-positioner
    .modal-dialog
      .modal-content
        .modal-body
          %h2.db-modal-title  Thanks!
          .text-center
            %p.mb-5 Check your mailbox and click on the <b>confirmation link</b> we've sent to you. Then go to the login page.
            = link_to('Log in', new_user_session_path, class: 'btn btn-primary btn-lg w-100')
