.container.db-page.text-light

  %h1.mb-5.mt-5 Contact

  We're launching soon.

  %a.text-white.db-woowoo{:href=>"javascript:linkTo_UnCryptMailto('nbjmup;dpoubduAefmubcbehfs/dpn');"}
    %span dger
    %span b
    %span ct@delt
    %span cont



:javascript
  function UnCryptMailto( s )
    {
        var n = 0;
        var r = "";
        for( var i = 0; i < s.length; i++)
        {
            n = s.charCodeAt( i );
            if( n >= 8364 )
            {
                n = 128;
            }
            r += String.fromCharCode( n - 1 );
        }
        return r;
    }

    function linkTo_UnCryptMailto( s )
    {
        location.href=UnCryptMailto( s );
    }
