<% content_for :body_class, ".view--dashboard" %>

<% if BlackFriday.week? && !current_user.subscription.legendary? %>
  <%= render partial: 'layouts/banners/black_friday', locals: { show_upgrade_button: true } %>
<% end %>

<% if @show_welcome_banner %>
  <%= render 'layouts/banners/welcome_message' %>
<% end %>

<% if @show_news_banner %>
  <%= render 'layouts/banners/news_message' %>
<% end %>

<% if @show_referral_banner %>
  <%= render 'layouts/banners/referral_message' %>
<% end %>

<div id="dashboard"></div>
