<% content_for :body_class, ".view--dashboard" %>

<!--<div class="page-head">
  <div class="stitle">
    <%# t('links.dashboard') %>
  </div>
</div>-->
  
<%= render 'layouts/banners/welcome_message' %>
<%= render 'layouts/banners/news_message' %>
<%= render 'layouts/banners/referral_message' %>
<%= render 'layouts/limit_reached' %>

<div class="isection">
  <h2 class="isection__header">How long you had to DCA $<input class="hinput" value="1000" style="width: 3.8ch;" oninput="this.style.width = (this.value.length - 0.1) + 'ch';">
/month to become a millionaire?</h2>

  <div class="itiles">
    <div class="itile itile--bitcoin">
      <h3 class="itile__title">Bitcoin</h3>
      <div class="itile__value">4 years 6 months 19&nbsp;days</div>
    </div>
    <div class="itile itile--ethereum">
      <h3 class="itile__title">Ethereum</h3>
      <div class="itile__value">3 years 3 months 11&nbsp;days</div>
    </div>
    <div class="itile itile--qqq">
      <h3 class="itile__title">QQQ</h3>
      <div class="itile__value">3 years 4 months 22&nbsp;days</div>
    </div>
    <div class="itile itile--voo">
      <h3 class="itile__title">S&P 500</h3>
      <div class="itile__value">8 years 11 months 4&nbsp;days</div>
    </div>
    <div class="itile itile--gold">
      <h3 class="itile__title">Gold</h3>
      <div class="itile__value">6 years 7 months 15&nbsp;days</div>
    </div>
    <div class="itile itile--bonds">
      <h3 class="itile__title">Bonds</h3>
      <div class="itile__value">13 years 4&nbsp;days</div>
    </div>
    <%# <div class="itile itile--bonds">
      <h3 class="itile__title">Cash</h3>
      <div class="itile__value">83 years</div>
    </div> %>
  </div>
</div>

<div id="dashboard"></div>
