%main.container.db-main
  %section.db-main__section.db-main__section--primary
    .row
      .col-md-12.col-lg-5.col-xl-6
        %h1.mb-4
          Automate buying <br />
          Bitcoin
          %span.db-anim-rotator
            %span.db-anim-rotator--1 hourly
            %span.db-anim-rotator--2 daily
            %span.db-anim-rotator--3 weekly
        %p
          Five-minute setup. Works with exchanges. <br/> Fully automated. Saves money and time.
        %p
          The basic version is
          %b.text-success.text-success--lighter free
          forever.

        %a.btn.btn-success.btn-lg.my-2.my-sm-0.mt-4.mt-sm-4{:href => new_user_registration_path}
          %span.mr-2 Get started
          %i.material-icons-round arrow_forward
      .col-md-12.col-lg-7.col-xl-6.d-none.d-lg-flex
        .db-bots__item.db-bot.db-bot--dca.db-bot--pick-exchange.db-bot--running.db-bot--active.db-bots__item--homepage
          .db-bot__header
            .btn.btn-outline-primary
              %span.d-none.d-sm-inline Pause
              %i.material-icons-round pause
            .db-bot__infotext.text-success
              .db-bot__infotext__left
                %span.d-none.d-sm-inline> Kraken:
                BTCUSD
              .db-bot__infotext__right Next buy in  13h 50m 38s
              .progress.progress--thin.progress--bot-setup
                .progress-bar.bg-success{:role => "progressbar", :style => "width: 66%;"}
          .row.db-bot__form
            %form.form-inline.mx-4
              .form-group.mr-2
                %select#exampleFormControlSelect1.form-control{:disabled => "disabled"}
                  %option{:value => "buy"} Buy
                  %option{:value => "sell"} Sell
              .form-group.mr-2
                %select.form-control{:disabled => "disabled"}
                  %option{:value => "BTC"} BTC
                  %option{:value => "ETH"} ETH
              .form-group.mr-2 for
              .form-group.mr-2
                %input.form-control{:disabled => "disabled", :type => "text", :value => "1"}/
              .form-group.mr-2
                %select#exampleFormControlSelect1.form-control{:disabled => "disabled"}
                  %option{:value => ""} USD
              .form-group.mr-2 /
              .form-group.mr-2
                %select#exampleFormControlSelect1.form-control{:disabled => "disabled"}
                  %option{:value => "hour"} Hour
                  %option{:value => "day"} Day
                  %option{:value => "week"} Week
                  %option{:value => "month"} Month

  %section.db-main__section.db-main__section--secondary
    .row.db-infoblocks.text-white
      .col-xs-12.col-sm-6.col-lg-3.db-infoblocks__item
        %p.db-infoblocks__img
          %img.db-lineart--home{:src => asset_pack_path("media/images/lineart_proven_strategy.svg"), :alt => "Dollar-Cost Averaging into Bitcoin"}
        %h5 Proven strategy
        %p <b><i>Dollar-cost averaging</i></b> (DCA) is&nbsp;a well-known and recommended strategy of longterm&nbsp;investing.
      .col-xs-12.col-sm-6.col-lg-3.db-infoblocks__item
        %p.db-infoblocks__img
          %img.db-lineart--home{:src => asset_pack_path("media/images/lineart_mitigate_risk.svg"), :alt => "Mitigate risk of buying Bitcoin in the wrong moment"}
        %h5 Mitigate risk
        %p Automate buying small chunks on&nbsp;a&nbsp;regular schedule to get a&nbsp;fair price without stress.
      .col-xs-12.col-sm-6.col-lg-3.db-infoblocks__item
        %p.db-infoblocks__img
          %img.db-lineart--home{:src => asset_pack_path("media/images/lineart_set_forget.svg"), :alt => "Set our bot to buy cryptocurrencies for you"}
        %h5 Set and forget
        %p All you need is an exchange account and a few minutes for&nbsp;setting the bot up.
      .col-xs-12.col-sm-6.col-lg-3.db-infoblocks__item
        %p.db-infoblocks__img
          %img.db-lineart--home{:src => asset_pack_path("media/images/lineart_smart_intervals.svg"), :alt => "Innovative way to buy Bitcoin"}
        %h5
          .d-inline.d-sm-none.d-md-inline.d-lg-none.d-xl-inline Unique implementation
          .d-none.d-sm-inline.d-md-none.d-lg-inline.d-xl-none Smart intervals
        %p To get the best results, we use our <i>smart intervals</i> approach. Log in to read more.
  %section.db-main__section.db-main__section--primary
    .row.db-has-chart-art
      = render partial: 'layouts/chart'
      .col-md-10.col-lg-7.col-xl-6.db-dca-info
        %h2.mb-4 How dollar-cost averaging works
        %p You buy an asset for a fixed dollar amount on a regular schedule regardless of its current price. You get more of the asset when the price is lower, and less of it when the price is higher. As a result, you achieve a lower average price.
        %p
          <b>Example:</b> You decide to buy Bitcoin for <b>$100</b> every month:<br/>
          In January, the price is <b>$7000</b>, you buy <b>0.0143BTC</b>.<br/>
          In February, the price is <b>$5000</b>, you buy <b>0.02BTC</b>.<br/>
          In March, the price is <b>$8000</b>, you buy <b>0.0125BTC</b>.
        %p Your average price is <b>$6410</b>. You get more bitcoins than by spending $300 in January at once.
        -# %h5.mb-3 Benefits:
        %ul.pl-3
          %li DCA reduces the impact of bad market timing.
          %li It makes investing in volatile assets less risky and stressful.
          %li It's an easy to follow strategy known from traditional markets.
  %section.db-main__section.db-main__section--secondary
    .db-row--how-does-it-work
      %h2.my-4 DCA easier then ever before

      .row.db-infoblocks
        .col-xs-12.col-sm-6.col-lg-3.db-infoblocks__item
          %p.db-infoblocks__img
            %img.db-lineart--home{:src => asset_pack_path("media/images/lineart_exchange.svg"), :alt => "Dollar-Cost Averaging chart"}
          %h5 Login to <span class="d-inline d-lg-none d-xl-inline">your </span>exchange
          %p Deltabadger works with selected cryptoexchanges. Currently, we support <a href="https://r.kraken.com/deltabadger" target="_blank" rel="noopener">Kraken</a> and <a href="https://auth.bitbay.net/ref/Hhb7ZrAv2GrA" target="_blank" rel="noopener">Bitbay</a>.
        .col-xs-12.col-sm-6.col-lg-3.db-infoblocks__item
          %p.db-infoblocks__img
            %img.db-lineart--home{:src => asset_pack_path("media/images/lineart_api_keys.svg"), :alt => "Cryptoexchange API keys"}
          %h5 Get API keys
          %p No worries, we walk you through the process. It's safe: the keys have limited permissions.
        .col-xs-12.col-sm-6.col-lg-3.db-infoblocks__item
          %p.db-infoblocks__img
            %img.db-lineart--home{:src => asset_pack_path("media/images/lineart_set_up.svg"), :alt => "Setting the bot buying BTC"}
          %h5 Five-minute setup
          %p Enter your API keys. Choose the desired schedule. Press <b>Start</b>. Done.
        .col-xs-12.col-sm-6.col-lg-3.db-infoblocks__item
          %p.db-infoblocks__img
            %img.db-lineart--home{:src => asset_pack_path("media/images/lineart_track_it.svg"), :alt => "Tracking investment into cryptocurrencies"}
          %h5 Track results
          %p The fun part. It's very satisfying to check how your investment performs over time.
  -# %section.db-main__section.db-main__section--secondary
  -#   .row.db-supported-exchanges
  -#     .col-12
  -#       %h5.text-white.mb-4 Supported exchanges:
  -#     .col-12
  -#       %img.db-supported-exchange{:src => asset_pack_path("media/images/bitbay-white.svg"), :alt => "Bitbay cryptocurrency exchange"}
  -#       %img.db-supported-exchange{:src => asset_pack_path("media/images/kraken-white.svg"), :alt => "Kraken cryptocurrency exchange"}
  %section.db-main__section.db-main__section--primary
    .row.row--newsletter
      .col-lg-6
        %h2.mb-4 Wait… it's more!
        %label(for="newsletter-input") We're working on a unique set of tools for investors and traders focused on risk management. Stay in touch if you're interested.
        #newsletter
      .col-lg-6.d-none.d-lg-flex
        %img.db-art.db-art--newsletter{:src => asset_pack_path("media/images/art-newsletter.svg"), :alt => "We develop tools for traders and investors"}
