.container
  .row.row--intro
    .col-lg-6.d-flex__vertical-align.mr-4
      %h1.mb-4 The smartest way<br>to buy Bitcoin
      %p
        Stop guessing when to get in and automate small purchases
        %span.db-anim-rotator
          %span.db-anim-rotator--1 hourly.
          %span.db-anim-rotator--2 daily.
          %span.db-anim-rotator--3 weekly.
      %p
        %b
          %i Dollar-cost averaging
        (DCA) is a well-known strategy of passive investing. When you buy Bitcoin for the same amount of money at fixed intervals, you buy more when the price is lower and less when the price is higher. You get a fair average price avoiding the stress of jumping in at the wrong moment. Now, you can automate the process. Set, start, and forget. The bot will be buying pieces as small as $5 according to your desired schedule, at the exchange of your choice.
      %p
        The basic version is
        %b.text-success free
        forever.
      %a.btn.btn-success.btn-lg.my-2.my-sm-0.mt-4.mt-sm-4{:href => new_user_registration_path}
        %span.mr-2 Get started
        %i.material-icons-round arrow_forward
    .col.db-intro-image-container
      %img.db-intro-image{:src => asset_pack_path("media/images/bot.png")}
  .row.db-supported-exchanges
    .col-12
      %h4.text-white.mb-4 Supported exchanges:
    .col-12
      %img.db-supported-exchange{:src => asset_pack_path("media/images/bitbay-white.svg")}
      %img.db-supported-exchange{:src => asset_pack_path("media/images/bitstamp-white.svg")}
      %img.db-supported-exchange{:src => asset_pack_path("media/images/deribit-white.svg")}
      %img.db-supported-exchange{:src => asset_pack_path("media/images/kraken-white.svg")}
.container
  .row.row--intro.row--newsletter.mb-4
    .col-lg-6.d-flex__vertical-align
      %h1.mb-4
        Wait… it's more!
      %p We're working on a unique set of tools for investors and traders focused on risk management. Stay in touch if you're interested.

      #newsletter
        .col
