.container.db-page.text-light

  %h1.mb-5.mt-5 Pricing

  %p If you got here, you probably already know what <i>dollar-cost averaging</i> is. If not, you may want to start <a href="https://medium.com/@btcdca/bitcoin-dollar-cost-averaging-btcdca-3e2eb27e86e9" rel="nofollow" target="_blank">here</a>, but to make it short:

  %blockquote.blockquote
    %p Dollar-Cost Averaging (DCA) is the discipline of buying a fixed dollar amount of a security or fund on a regular schedule regardless of share price or market direction.

  %p It sounds simple, and it truly is, but it's essential to understand that DCA is not a trading strategy to maximize your profit. Instead, it helps to manage risk and emotions of investing. Emotions are a massive obstacle. They push investors to buy at the top and sell at the bottom, making investing harder and more stressful. DCA helps to mitigate this risk and makes the whole process easy and automatic.


  %p However, the biggest problem with DCA is that it still demands discipline. This is the problem that Deltabadger solves. It automates purchases. It also provides intervals as little as one minute to make averaging more efficient than ever before.

  %p Any investing approach is only as good as your ability to put it into action. Despite being one of the easiest approaches to follow, with Deltabadger, DCA is getting even more straightforward.

  %p We built the platform for friends, family, and fellow hodlers. Feedback and feature ideas are appreciated. Join our <a href="https://t.me/deltabadgerchat" target="_blank">Telegram</a> chat, and find us on <a href="https://twitter.com/deltabadgerapp" target="_blank">Twitter</a>.

  %p—

  %p <b>Disclaimer:</b> Investing in financial assets is subject to a significant risk. We are not financial advisors. Don't invest more than you can afford to lose.
