- content_for :html_class do
  db--guest--text

.container.db-page.d_content-below-menu
  .row
    .col-md-4
      %h1.mb-5 Privacy<br class="d-none d-md-inline" /> Policy
    .col-md-8
      %p
        %i Effective date: August 10, 2020
      %h2.mb-4.mt-2 1. Who are we and how to find us

      %p The name of our business is Deltabadger OÜ and we are the controller of your personal data. Our office is located in Estonia (address: Pärnu mnt 158/2-88, 11317 Tallinn).
      %p This privacy policy applies to the use of the website and the application available at the address: <a href="https://deltabadger.com">https://deltabadger.com</a> (hereinafter referred to as the ‘<b>Service</b>’).
      %p This document explains what information is collected by the Service – how we secure and use it.
      %p We have decided not to appoint a personal data protection officer due to the fact that in our situation this is not mandatory.
      %p
        If you have any questions regarding this privacy policy you may contact us via e-mail to the address: <a class="text-white db-woowoo" href="javascript:linkTo_UnCryptMailto('nbjmup;dpoubduAefmubcbehfs/dpn');"><span>dger</span><span>b</span><span>ct@delt</span><span>cont</span></a>.

      %h2.mb-4.mt-5 2. How and why we process your personal data

      %h3.mb-4.mt-5 Users of our service

      %p We process data of each user characterizing the way he uses our Service (these are so-called operating data).
      %p This processing includes an automatic reading of a unique identification identifying the end of the telecommunications network or IT system you use (i.e. your IP address), the date and time of the server, information about the technical parameters of the software and the device you use (e.g. whether you use your laptop or phone for browsing our site and the place from which you connect to our server. We may use this information for market research purposes and to improve the performance of the Service. The data stored in the server logs is not associated with specific people using the website. The server logs are the only auxiliary material used to administer the Service.
      %p This data is processed on the basis of Article 6 item. 1(f). GDPR (processing is necessary for purposes arising from legitimate interests pursued by the administrator or by a third party). This legitimate interest is to enable the diagnosis of errors in the Service and the improvement of its quality.

      %h3.mb-4.mt-5 Maintaining an account in our service

      %p We process your personal data in order to carry out the agreement concluded by you for keeping an account in the Service.
      %p The legal basis for the processing of your personal data is, therefore, Article 6 item. 1(b). GDPR (processing is necessary for the performance of the agreement to which the data subject is a party or to take action at the request of the data subject prior to the conclusion of the agreement), and Article 6. item 1(c). GDPR (processing is necessary to fulfill a legal obligation on the administrator).
      %p We also process your personal data on the basis of Article 6 item. 1(f). GDPR (processing is necessary for purposes arising from legitimate interests pursued by the administrator or by a third party). It is a legitimate interest for the processing of your personal data that we are able to prove the content of the agreement between us and you in case of a dispute and that we have performed it properly.

      %h3.mb-4.mt-5 Analytical tools

      %p On the basis of legitimate interest, we use such analytical tools as Google Analytics, Facebook Analytics, and Mixpanel, which allows us to view the use of your accounts on our site (functions you use, pages viewed, subscriptions). This allows us to provide support services for you and improve the operation of the Service. However, we do not monitor your behaviour on an ongoing basis and we do not process this data in any way.

      %h3.mb-4.mt-5 Contact

      %p By contacting us, you provide us with your personal data, including those contained in the content of the correspondence, in particular the email address, name, and surname. Providing this data is voluntary, but necessary to contact us.
      %p The legal basis for the processing of your personal data that you provide by contacting us is Article 6 item. 1(f). GDPR (processing is necessary for purposes arising from legitimate interests pursued by the administrator or by a third party). The “legitimate interest for the processing of your personal data” in this case is the possibility for us to contact Service users and answer questions asked by persons interested in the operation of the Service.

      %h3.mb-4.mt-5 Newsletter

      %p Using the Service you may order a newsletter to be sent to your e-mail.
      %p In such case, the legal basis for processing your personal data is point (b) of Article 6(1) of GDPR (processing is necessary for the performance of a contract to which the data subject is a party or in order to take steps at the request of the data subject prior to entering into a contract), as the newsletter is delivered to you based on an agreement that we enter into.

      %h3.mb-4.mt-5 Investigation of claims

      %p The legal basis for processing your personal data after you have finished contacting us is also our legitimate interest in archiving correspondence for the purposes of ensuring that you can prove certain facts in the future. So we can process your personal data for the purpose of pursuing and defending against claims pursuant to Article 6 item. 1(f). GDPR (processing is necessary for purposes arising from legitimate interests pursued by the administrator or by a third party).

      %h3.mb-4.mt-5 Online payment services

      %p Should you decide to pay for our services through an online payment system, your data will be made available to us by the supplier of the online payment processing services for the purpose of enabling us to comprehensively manage such payments by means of an integrated platform. We undertake these actions in order to improve billing control and contact with you in this regard, therefore the legal basis for these activities is art. 6 par. 1 lit. f. of GDPR (processing is necessary for purposes arising from legitimate interests pursued by the controller or by a third party).

      %h3.mb-4.mt-5 Cookies policy

      %p We process completely anonymous data of each user of the Service, which characterizes the way they use our Service (these are the so-called exploitation data). This processing includes an automatic reading of a unique identifier identifying the termination of the telecommunications network or ICT system you are using (i.e. your IP address), as well as the date and time of the server, information about technical parameters of the software and device you use (e.g. whether you are using a laptop or a telephone while browsing our Service) and the place from which you are connecting to our server. Data stored in server logs are not associated with specific people using the service. Server logs are only an auxiliary material used to administer the Service.
      %p <b>Like almost all websites and applications, we use cookies.</b> Cookies are small text information stored on your end device (e.g. computer, tablet, smartphone), which can be read by our ICT system.
      %p Cookies allow us to:
      %p ensure proper functioning of the Service (durability of the session when you are logged in),
      %p increase the convenience, speed, and safety of using the Service,
      %p obtain statistical information about visits to our Service.
      %p The cookies we use do not collect any personal data from you. Anonymous data is completely sufficient for the purposes mentioned above. If we process your personal data for other reasons (e.g. you have an account on our Service and there you provided us with your data), we do not combine them in any way with anonymous data obtained by means of cookies.
      %p <b>Consent to cookies.</b> During your first visit to our Service, you will be informed about the use of cookies. You can always withdraw your consent by deleting cookies and changing the settings of cookies in your browser. Remember, however, that disabling cookies may cause difficulties in using the Service, as well as many other websites that use cookies. Consent to use cookies may be necessary for the proper use of your account on the site (cookies allow the software of our site to ‘see’ that you are logged in and maintain the continuity of your session when you jump between subpages).
      %p <b>Own Cookies.</b> Cookies can be divided into own and coming from third parties. As far as our own cookies are concerned, we use them in order to improve the functioning of the Service and to enable proper use of accounts (session maintenance).
      %p <b>Cookies of third parties.</b> Our Service uses third party cookies only to create anonymous statistics of visits.

      %h2.mb-4.mt-5 3. What personal data we process

      %p We process the following personal data:

      %h3.mb-4.mt-5 People who enter the Service without registration

      %ul
        %li device IP address,
        %li device screen resolution,
        %li device type (unique device identifiers), operating system and browser type,
        %li 	geographic location (country only),
        %li preferred language (device interface language),
        %li mouse events (movements, location, and clicks),
        %li keypresses,
        %li referring URL and domain,
        %li pages visited,
        %li server date and time,
        %li location of the terminal device from which the user connects to the service,
        %li UTM tags, determining from which network location the user arrived
        %li online identifiers, including cookie IDs, web protocol addresses and device identifiers.

      %h3.mb-4.mt-5 People who register on the Service and use its free version

      %ul
        %li all data indicated in the above point,
        %li e-mail address,
        %li API keys.

      %h3.mb-4.mt-5 People who register on the Service and use the paid functions of the Service

      %ul
        %li all data indicated in the above points,
        %li billing information such as: first name and last name, date of birth, the country of residency if the user comes from the European Union, or the information that the user comes from outside of the European Union.

      %h3.mb-4.mt-5 People who contact us

      %ul
        %li e-mail address,
        %li other personal data that could potentially be included in the message by the sender.

      %h3.mb-4.mt-5 People who order the Newsletter

      %ul
        %li e-mail address,
        %li data measuring Newsletter performance.

      %h2.mb-4.mt-5 4. To whom we disclose your personal data

      %p The data of all users of the Service are processed in the IT system, located in part in the so-called public cloud computing provided by third parties (responsible for hosting the Service).
      %p Personal data of people using the contact form are also processed in the IT system, located in part in the so-called cloud computing provided by third parties responsible for hosting the email that we use. Due to the location of these entities' servers, this data may be transmitted, stored and processed in third countries. These entities, however, guarantee an adequate level of data protection.
      %p Our IT systems are serviced by an external specialized entity. When providing services to us, it may have access to your personal data.
      %p Some of the operations described above involve sending your personal data to so-called third countries (outside the European Economic Area) where GDPR does not apply. However, this always happens based on the legal instruments provided for in the GDPR, guaranteeing adequate protection of your rights and freedoms. Detailed information in this regard can be found in the privacy policies posted by providers on their websites.
      %p We entrust the processing of personal data to:
      %ol
        %li
          %p
            %b Amazon Web Services, Inc. (USA)
          %p We entrust the processing of personal data to Amazon Web Services, Inc. in order to store data on the server. Our services are located on these servers, so everything you type in our forms must appear there. Your data is stored on secure servers in the USA. The connections we use to connect to the server are encrypted.
          %p According to the information from Amazon Web Services, Inc. privacy policy:
          %p ‘Amazon Web Services, Inc. is located in the United States, and our affiliated companies are located throughout the world. Depending on the scope of your interactions with AWS Offerings, your personal information may be stored in or accessed from multiple countries, including the United States. Whenever we transfer personal information to other jurisdictions, we will ensure that the information is transferred in accordance with this Privacy Notice and as permitted by applicable data protection laws.’
          %p More information about the processing of personal data by Amazon can be found here:
          %p https://aws.amazon.com/privacy/?nc1=f_pr
          %p Amazon Web Services, Inc. participates in the EU-US and Swiss-US Privacy Shield frameworks. Click here to learn more:
          %p https://www.amazon.com/gp/help/customer/display.html/ref=hp_left_v4_sib?ie=UTF8&nodeId=202135380
        %li
          %p
            %b Proton Technologies AG (Switzerland)
          %p We entrust the processing of personal data to Proton Technologies AG in order to support the mail server. We use ProtonMail to handle our email correspondence, and store data in the cloud.
          %p You can read more about ProtonMail's privacy policy here: https://protonmail.com/privacy-policy
          %p All data storage infrastructure is also located solely within Switzerland, and thus governed by the laws and regulations of Switzerland. Additional information about the legal framework can be found in ProtonMail’s Transparency Report: https://protonmail.com/blog/transparency-report/
        %li
          %p
            %b SendGrid, Inc. (USA)
          %p We entrust the processing of personal data to SendGrid, Inc. in order to handle transactional emails (setting up an account on the Service, recalling passwords, etc.).
          %p You can read more about SendGrid's privacy policy here: https://sendgrid.com/policies/privacy-2016/ and here: https://www.twilio.com/legal/privacy
          %p SendGrid, Inc. (as part of Twilio Inc.) participates in the EU-US and Swiss-US Privacy Shield frameworks, what you can check here:
          %p https://www.privacyshield.gov/participant?id=a2zt0000000TNLbAAO&status=Active
        %li
          %p
            %b LunaNode Hosting Inc. (Canada)
          %p We entrust the processing of personal data to LunaNode Hosting Inc. in order to store payment processing data on the server. Our payment processor is located on these servers, so everything you type in our forms our paywall at pay.deltabadger.com must appear there. Your data is stored on secure servers in the Canada. The connections we use to connect to the server are encrypted.
          %p You can read more about privacy policy of LunaNode Hosting Inc. here: https://www.lunanode.com/privacy

      %p
        %b Google LLC and Google Ireland Limited (Google Analytics)
      %p The information collected by this tool is completely anonymous and does not allow your identification, but under GDPR it may still be treated as personal data. For this purpose, Google LLC cookies are used for the Google Analytics service. The use of Google Analytics services involves the implementation of the tracking code in the code of our website (the so-called tracking code). This code is based on cookies, but may also use other tracking technologies.
      %p The anonymous data of all Service users (in relation to Google Analytics services) contained in cookies are disclosed to Google LLC and Google Ireland Limited providing us the Google Analytics service on the terms set out here: https://privacy.google.com/businesses/processorterms/ and here: https://privacy.google.com/businesses/controllerterms/
      %p The servers of these companies are located in different parts of the world, which means that these data can be transferred outside the European Economic Area. However, Google LLC guarantees an adequate level of data protection. Google LLC joined the EU-US-Privacy Shield program which can be verified here:	 https://www.privacyshield.gov/participant?id=a2zt000000001L5AAI&status=Active
      %p You can check the location of Google LLC servers here:
      %p https://www.google.com/about/datacenters/inside/locations/?hl=pl
      %p You can prevent the processing of personal data in this way (block Google Analytics) by making the appropriate choices on the site available here: https://tools.google.com/dlpage/gaoptout

      %p
        %b Facebook Ireland Limited (Facebook Analytics)
      %p The anonymous data of all Service users (in relation to Facebook Analytics services) contained in cookies are disclosed to Facebook Ireland Limited providing us the Facebook Analytics service on the terms set out here: https://www.facebook.com/privacy/explanation and here: https://www.facebook.com/policies/cookies/
      %p Facebook uses typical contractual clauses approved by the European Commission ‘(What is a standard contract clause?’ - https://www.facebook.com/help/566994660333381?ref=dp) and is based on the decisions of the European Commission stating an adequate level of data protection in relation to specific countries, where applicable, in the scope of data transfer from the European Economic Area to the United States and other countries (‘Adequacy decisions’ - https://ec.europa.eu/info/law/law-topic/data-protection/international-dimension-data-protection/adequacy-decisions_en).

      %p
        %b Mixpanel Inc. (Mixpanel)
      %p The information collected by this tool is completely anonymous and does not allow your identification, but under GDPR it may still be treated as personal data. For this purpose, Mixpanel Inc. cookies are used for the Mixpanel service. The use of Mixpanel services involves the implementation of the tracking code in the code of our website (the so-called tracking code). This code is based on cookies, but may also use other tracking technologies. Detailed information about Mixpanel can be found here: https://mixpanel.com/legal/privacy-overview/ and here: https://mixpanel.com/legal/privacy-policy/
      %p You can prevent Mixpanel from using your information for analytics purposes by opting-out. To opt-out of Mixpanel service, please visit this page: https://mixpanel.com/optout/
      %p For more information on what type of information Mixpanel collects, please visit the Terms of Use page of Mixpanel: https://mixpanel.com/terms/

      %p
        %b External services supporting our business
      %p Please bear in mind that in running our business we use the support of specialized external entities which may or must have access to some of your data - these are the entities which provide us with services in the field of:
      %ul
        %li accounting and bookkeeping services,
        %li IT services,
        %li payment service providers,
        %li state administration bodies authorised to do so by law (e.g. tax authorities, self-government bodies of legal advisers, offices, courts),
        %li service providers related to the so-called re-marketing (as Google and Facebook).
      %p In our agreements with these entities, we have ensured that your personal data will not be transferred to so-called third countries (outside the European Economic Area), where the GDPR does not apply.
      %p In addition, personal data of Service users contained in cookies may also be disclosed to entities with which the administrator has undertaken affiliate cooperation.

      %h2.mb-4.mt-5 5. How long we process your personal data

      %h3.mb-4.mt-5 Maintaining an account on our Service

      %p We will process your personal data for as long as it is necessary to maintain an account on our Service for you. If the statute of limitations for claims related to our Service is longer than the retention period for maintaining an account on our Service for you, then this longer period shall apply.

      %h3.mb-4.mt-5 Contact

      %p Personal data provided in order to contact us will be stored for no longer than is necessary to answer you, and after that time may be stored in the event of potential claims for the limitation period specified by law.

      %h3.mb-4.mt-5 Billing information

      %p The billing information will be stored for 7 (seven) years from the end of the accounting year from which the specific transaction was made. The billing information is proof of payment and an obligation to their storage results indirectly from the Tax Law.

      %h3.mb-4.mt-5 Cookies

      %p The processing of your personal data contained in cookies lasts until you disable their use. You can do this by deleting cookies and changing cookie settings in your browser.

      %h3.mb-4.mt-5 Newsletter

      %p Personal data processed for purposes of sending you newsletter will be processed as long as the agreement regarding sending the newsletter is in force (which is, until it is terminated by either of the parties) and after that time may be stored in the event of potential claims for the limitation period specified by law.

      %h3.mb-4.mt-5 Api Keys

      %p API keys can be deleted by the user at any time.

      %h2.mb-4.mt-5 6. How do we enable you to realize your rights

      %p We make our best efforts to ensure that you are satisfied with working with us. Please bear in mind, however, that you are entitled to a number of privileges that will allow you to have an influence on the manner in which we process your personal data, and in some cases, you may stop such processing.
      %p
        %b If you are a person to whom the GDPR applies, these rights include:

      %ul
        %li
          %p.pt-4
            %b the right to access the personal data (regulated in Art. 15 of the GDPR)
          %em
            %h4.text-center.mt-4 Article 15
            %h5.text-center.mb-4 Right of access by the data subject

            %ol
              %li
                The data subject shall have the right to obtain from the controller confirmation as to whether or not personal data concerning him or her are being processed, and, where that is the case, access to the personal data and the following information:
                %ol(style="list-style-type: lower-alpha;")
                  %li the purposes of the processing;
                  %li the categories of personal data concerned;
                  %li the recipients or categories of recipient to whom the personal data have been or will be disclosed, in particular recipients in third countries or international organisations;
                  %li where possible, the envisaged period for which the personal data will be stored, or, if not possible, the criteria used to determine that period;
                  %li the existence of the right to request from the controller rectification or erasure of personal data or restriction of processing of personal data concerning the data subject or to object to such processing;
                  %li the right to lodge a complaint with a supervisory authority;
                  %li where the personal data are not collected from the data subject, any available information as to their source;
                  %li the existence of automated decision-making, including profiling, referred to in Article 22(1) and (4) and, at least in those cases, meaningful information about the logic involved, as well as the significance and the envisaged consequences of such processing for the data subject.
              %li
                Where personal data are transferred to a third country or to an international organisation, the data subject shall have the right to be informed of the appropriate safeguards pursuant to Article 46 relating to the transfer.
              %li
                The controller shall provide a copy of the personal data undergoing processing. For any further copies requested by the data subject, the controller may charge a reasonable fee based on administrative costs. Where the data subject makes the request by electronic means, and unless otherwise requested by the data subject, the information shall be provided in a commonly used electronic form.
              %li
                The right to obtain a copy referred to in paragraph 3 shall not adversely affect the rights and freedoms of others.

        %li
          %p.pt-4
            %b the right to rectify the data (regulated in Art. 16 of the GDPR)
          %em
            %h4.text-center.mt-4 Article 16
            %h5.text-center.mb-4 Right to rectification
            %p The data subject shall have the right to obtain from the controller without undue delay the rectification of inaccurate personal data concerning him or her. Taking into account the purposes of the processing, the data subject shall have the right to have incomplete personal data completed, including by means of providing a supplementary statement.
        %li
          %p.pt-4
            %b the right to erase the data (regulated in Art. 17 of the GDPR)
          %em
            %h4.text-center.mt-4 Article 17
            %h5.text-center.mb-4 Right to erasure (‘right to be forgotten’)
          %ol
            %li
              The data subject shall have the right to obtain from the controller the erasure of personal data concerning him or her without undue delay and the controller shall have the obligation to erase personal data without undue delay where one of the following grounds applies:

              %ol(style="list-style-type: lower-alpha;")
                %li the personal data are no longer necessary in relation to the purposes for which they were collected or otherwise processed;
                %li the data subject withdraws consent on which the processing is based according to point (a) of Article 6(1), or point (a) of Article 9(2), and where there is no other legal ground for the processing;
                %li the data subject objects to the processing pursuant to Article 21(1) and there are no overriding legitimate grounds for the processing or the data subject objects to the processing pursuant to Article 21(2);
                %li the personal data have been unlawfully processed;
                %li the personal data have to be erased for compliance with a legal obligation in Union or Member State law to which the controller is subject;
                %li the personal data have been collected in relation to the offer of information society services referred to in Article 8(1).
            %li Where the controller has made the personal data public and is obliged pursuant to paragraph 1 to erase the personal data, the controller, taking account of available technology and the cost of implementation, shall take reasonable steps, including technical measures, to inform controllers which are processing the personal data that the data subject has requested the erasure by such controllers of any links to, or copy or replication of, those personal data.

            %li
              Paragraphs 1 and 2 shall not apply to the extent that processing is necessary:
              %ol(style="list-style-type: lower-alpha;")
                %li for exercising the right of freedom of expression and information;
                %li for compliance with a legal obligation which requires processing by Union or Member State law to which the controller is subject or for the performance of a task carried out in the public interest or in the exercise of official authority vested in the controller;
                %li for reasons of public interest in the area of public health in accordance with points (h) and (i) of Article 9(2) as well as Article 9(3);
                %li for archiving purposes in the public interest, scientific or historical research purposes or statistical purposes in accordance with Article 89(1) in so far as the right referred to in paragraph 1 is likely to render impossible or seriously impair the achievement of the objectives of that processing; or
                %li for the establishment, exercise or defence of legal claims.

        %li
          %p.pt-4
            %b the right to restrict the processing of data (regulated in Art. 18 of the GDPR)
          %em
            %h4.text-center.mt-4 Article 18
            %h5.text-center.mb-4 Right to restriction of processing
            %ol
              %li
                The data subject shall have the right to obtain from the controller restriction of processing where one of the following applies:
                %ol(style="list-style-type: lower-alpha;")
                  %li the accuracy of the personal data is contested by the data subject, for a period enabling the controller to verify the accuracy of the personal data;
                  %li the processing is unlawful and the data subject opposes the erasure of the personal data and requests the restriction of their use instead;
                  %li the controller no longer needs the personal data for the purposes of the processing, but they are required by the data subject for the establishment, exercise or defence of legal claims;
                  %li the data subject has objected to processing pursuant to Article 21(1) pending the verification whether the legitimate grounds of the controller override those of the data subject.
              %li Where processing has been restricted under paragraph 1, such personal data shall, with the exception of storage, only be processed with the data subject's consent or for the establishment, exercise or defence of legal claims or for the protection of the rights of another natural or legal person or for reasons of important public interest of the Union or of a Member State.
              %li A data subject who has obtained restriction of processing pursuant to paragraph 1 shall be informed by the controller before the restriction of processing is lifted.

        %li
          %p.pt-4
            %b the right to object to the processing of data (regulated in Art. 21 of the GDPR)
          %em
            %h4.text-center.mt-4 Article 21
            %h5.text-center.mb-4 Right to object
            %ol
              %li The data subject shall have the right to object, on grounds relating to his or her particular situation, at any time to processing of personal data concerning him or her which is based on point (e) or (f) of Article 6(1), including profiling based on those provisions. The controller shall no longer process the personal data unless the controller demonstrates compelling legitimate grounds for the processing which override the interests, rights, and freedoms of the data subject or for the establishment, exercise or defence of legal claims.
              %li Where personal data are processed for direct marketing purposes, the data subject shall have the right to object at any time to processing of personal data concerning him or her for such marketing, which includes profiling to the extent that it is related to such direct marketing.
              %li Where the data subject objects to processing for direct marketing purposes, the personal data shall no longer be processed for such purposes.
              %li At the latest at the time of the first communication with the data subject, the right referred to in paragraphs 1 and 2 shall be explicitly brought to the attention of the data subject and shall be presented clearly and separately from any other information.
              %li In the context of the use of information society services, and notwithstanding Directive 2002/58/EC, the data subject may exercise his or her right to object by automated means using technical specifications.
              %li Where personal data are processed for scientific or historical research purposes or statistical purposes pursuant to Article 89(1), the data subject, on grounds relating to his or her particular situation, shall have the right to object to processing of personal data concerning him or her, unless the processing is necessary for the performance of a task carried out for reasons of public interest.

        %li
          %p.pt-4
            %b the right to transfer data (regulated in Art. 20 of the GDPR)
          %em
            %h4.text-center.mt-4 Article 20
            %h5.text-center.mb-4 Right to data portability
            %ol
              %li
                The data subject shall have the right to receive the personal data concerning him or her, which he or she has provided to a controller, in a structured, commonly used and machine-readable format and have the right to transmit those data to another controller without hindrance from the controller to which the personal data have been provided, where:
                %ol(style="list-style-type: lower-alpha;")
                  %li the processing is based on consent pursuant to point (a) of Article 6(1) or point (a) of Article 9(2) or on a contract pursuant to point (b) of Article 6(1); and
                  %li the processing is carried out by automated means.
              %li In exercising his or her right to data portability pursuant to paragraph 1, the data subject shall have the right to have the personal data transmitted directly from one controller to another, where technically feasible.
              %li The exercise of the right referred to in paragraph 1 of this Article shall be without prejudice to Article 17. That right shall not apply to processing necessary for the performance of a task carried out in the public interest or in the exercise of official authority vested in the controller.
              %li The right referred to in paragraph 1 shall not adversely affect the rights and freedoms of others.

      %p.pt-5 <b>If you are not a person to whom the GDPR applies</b>, these rights include all the rights granted to you under the applicable data protection law in your country.
      %p
        In order to exercise any of the rights above described, please contact us by sending an e-mail to the address we have first contacted you from, or the address:
        %a.text-white.db-woowoo{:href=>"javascript:linkTo_UnCryptMailto('nbjmup;dpoubduAefmubcbehfs/dpn');"}
          %span dger
          %span b
          %span ct@delt
          %span cont


      %h2.mb-4.mt-5 7. Lodging a complaint to the supervisory authority

      %p If you are the person to whom the GDPR applies pursuant to Art. 77 of the GDPR you are entitled to lodge a complaint with a supervisory authority, in particular in the Member State of your habitual residence, your place of work, or the place where the alleged violation has been committed, if you believe that processing of your personal data violates the provisions of the GDPR.
      %p If you are not the person to whom the GDPR applies, you are entitled to lodge a complaint with the office dealing with the protection of personal data in your country in accordance with applicable law.

      %h2.mb-4.mt-5 8. Is submitting personal data necessary for concluding an agreement with us

      %h3.mb-4.mt-5 Maintaining an account in our Service
      %p We collect your personal data primarily to the extent necessary for the conclusion and performance of the agreement. Some data is also necessary for us to fulfill the obligations arising from the law (tax regulations, accounting regulations). Failure to provide your data will, unfortunately, prevent the conclusion and implementation of the agreement.
      %h3.mb-4.mt-5 Online payments
      %p Failure to provide personal data required to perform online payments will prevent the service provider from carrying out the payment process, which will make the performance of the agreement impossible. As a result, you will have to choose a different payment method.
      %h3.mb-4.mt-5 Newsletter
      %p We collect your personal data primarily to the extent necessary for the conclusion and performance of the agreement. If you do not provide us with personal data (in particular e-mail address) it will make it impossible to cooperate with you.
      %h3.mb-4.mt-5 Contact
      %p We do not conclude any agreement with you at this stage. Some of your details (as an email address) are necessary for us to answer your question.
      %h3.mb-4.mt-5 Cookies
      %p Consent to use cookies may be necessary for the proper use of your account on the site (cookies allow the software of our site to ‘see’ that you are logged in and allow you to access the account content).

      %h2.mb-4.mt-5 9. How do we obtain your personal data

      %p We obtain your personal data directly from you (including automated methods).
      %p Data regarding the payment process is provided to us by GoBee. - the provider of online payment processing services and an online platform for managing them.

      %h2.mb-4.mt-5 10. Automated processing and profiling
      %p Exploitation data and data related to using cookies are processed in an automated way (however, they are not subject to profiling, as understood based on GDPR).
      %p Other data is not subject to automated processing or profiling.



:javascript
  function UnCryptMailto( s )
    {
        var n = 0;
        var r = "";
        for( var i = 0; i < s.length; i++)
        {
            n = s.charCodeAt( i );
            if( n >= 8364 )
            {
                n = 128;
            }
            r += String.fromCharCode( n - 1 );
        }
        return r;
    }

    function linkTo_UnCryptMailto( s )
    {
        location.href=UnCryptMailto( s );
    }
