- content_for :html_class do
  db--guest--text

.container.db-page.d_content-below-menu
  .row
    .col-md-4
      %h1.mb-5 Terms and Conditions

    .col-md-8
      %p
        %i Last updated: December 20, 2019
      %p These Terms and Conditions ("Terms", "Terms and Conditions") govern your relationship with https://deltabadger.com website (the "Service") operated by Deltabadger OÜ ("us", "we", or "our").
      %p Please read these Terms and Conditions carefully before using the Service.
      %p Your access to and use of the Service is conditioned on your acceptance of and compliance with these Terms. These Terms apply to all visitors, users and others who access or use the Service.
      %p By accessing or using the Service you agree to be bound by these Terms. If you disagree with any part of the terms then you may not access the Service.
      %h4.mb-4.mt-5 Purchases
      %p If you wish to purchase any product or service made available through the Service ("Purchase"), you may be asked to supply certain information relevant to your Purchase including, without limitation, your credit card number, the expiration date of your credit card, your billing address, and your shipping information.
      %p You represent and warrant that: (i) you have the legal right to use any credit card(s) or other payment method(s) in connection with any Purchase; and that (ii) the information you supply to us is true, correct and complete.
      %p By submitting such information, you grant us the right to provide the information to third parties for purposes of facilitating the completion of Purchases.
      %p We reserve the right to refuse or cancel your order at any time for certain reasons including but not limited to: product or service availability, errors in the description or price of the product or service, error in your order or other reasons.
      %p We reserve the right to refuse or cancel your order if fraud or an unauthorised or illegal transaction is suspected.

      %h4.mb-4.mt-5 Refunds

      %p Any Purchase on the platform can be refunded within two weeks. To be eligible for the refund, within fourteen days since the time when the Purchase took place, the user has to send an email request to sales@deltabadger.com from the address used by him or her in the Service.
      %p Bitcoin purchases can be refunded only to the bitcoin address provided by the user.
      %p The amount in bitcoin returned will be calculated based on the current exchange ratio taken from the online calculator at https://www.xe.com/currencyconverter/. For purchases from the European Union, we will use EUR to XBT exchange ratio. For purchase from outside the European Union, we will use USD to XBT exchange ratio.
      %p The Bitcoin network transaction fees will be subtracted from the refunded amount.
      %p For purchases in Euro and US Dollar, the refunded amount will take place in the currency of the transaction.

      %h4.mb-4.mt-5 Recurring payments

      %p Recurring payments can be canceled by the user in the Settings section of the Service.
      %p The refund for the last recurring payment can be requested within fourteen days since the payment took place.

      %h4.mb-4.mt-5 Availability, Errors and Inaccuracies

      %p We are constantly updating our offerings of products and services on the Service. The products or services available on our Service may be mispriced, described inaccurately, or unavailable, and we may experience delays in updating information on the Service and in our advertising on other web sites.
      %p We cannot and do not guarantee the accuracy or completeness of any information, including prices, product images, specifications, availability, and services. We reserve the right to change or update information and to correct errors, inaccuracies, or omissions at any time without prior notice.
      %h4.mb-4.mt-5 Contests, Sweepstakes and Promotions
      %p Any contests, sweepstakes or other promotions (collectively, "Promotions") made available through the Service may be governed by rules that are separate from these Terms. If you participate in any Promotions, please review the applicable rules as well as our Privacy Policy. If the rules for a Promotion conflict with these Terms, the Promotion rules will apply.
      %h4.mb-4.mt-5 Subscriptions
      %p Some parts of the Service are billed on a subscription basis ("Subscription(s)"), however since we accept only cryptocurrency payments, we do not offer autoreneval at the moment.
      %h4.mb-4.mt-5 Free Trial
      %p Deltabadger OÜ may, at its sole discretion, offer a Subscription with a free trial for a limited period of time ("Free Trial").
      %p You may be required to enter your billing information in order to sign up for the Free Trial.
      %p If you do enter your billing information when signing up for the Free Trial, you will not be charged by Deltabadger OÜ until the Free Trial has expired. On the last day of the Free Trial period, unless you cancelled your Subscription, you will be automatically charged the applicable Subscription fees for the type of Subscription you have selected.
      %p At any time and without notice, Deltabadger OÜ reserves the right to (i) modify the terms and conditions of the Free Trial offer, or (ii) cancel such Free Trial offer.
      %h4.mb-4.mt-5 Fee Changes
      %p Deltabadger OÜ, in its sole discretion and at any time, may modify the Subscription fees for the Subscriptions. Any Subscription fee change will become effective at the end of the then-current Billing Cycle.
      %p Deltabadger OÜ will provide you with a reasonable prior notice of any change in Subscription fees to give you an opportunity to terminate your Subscription before such change becomes effective.
      %p Your continued use of the Service after the Subscription fee change comes into effect constitutes your agreement to pay the modified Subscription fee amount.
      %h4.mb-4.mt-5 Refunds
      %p Certain refund requests for Subscriptions may be considered by Deltabadger OÜ on a case-by-case basis and granted in sole discretion of Deltabadger OÜ.
      %h4.mb-4.mt-5 Accounts
      %p When you create an account with us, you must provide us information that is accurate, complete, and current at all times. Failure to do so constitutes a breach of the Terms, which may result in immediate termination of your account on our Service.
      %p You are responsible for safeguarding the password that you use to access the Service and for any activities or actions under your password, whether your password is with our Service or a third-party service.
      %p You agree not to disclose your password to any third party. You must notify us immediately upon becoming aware of any breach of security or unauthorized use of your account.
      %h4.mb-4.mt-5 Intellectual Property
      %p The Service and its original content, features and functionality are and will remain the exclusive property of Deltabadger OÜ and its licensors. The Service is protected by copyright, trademark, and other laws of both the Estonia and foreign countries. Our trademarks and trade dress may not be used in connection with any product or service without the prior written consent of Deltabadger OÜ.
      %h4.mb-4.mt-5 Links To Other Web Sites
      %p Our Service may contain links to third-party web sites or services that are not owned or controlled by Deltabadger OÜ.
      %p Deltabadger OÜ has no control over, and assumes no responsibility for, the content, privacy policies, or practices of any third party web sites or services. You further acknowledge and agree that Deltabadger OÜ shall not be responsible or liable, directly or indirectly, for any damage or loss caused or alleged to be caused by or in connection with use of or reliance on any such content, goods or services available on or through any such web sites or services.
      %p We strongly advise you to read the terms and conditions and privacy policies of any third-party web sites or services that you visit.
      %h4.mb-4.mt-5 Termination
      %p We may terminate or suspend your account immediately, without prior notice or liability, for any reason whatsoever, including without limitation if you breach the Terms.
      %p Upon termination, your right to use the Service will immediately cease. If you wish to terminate your account, you may simply discontinue using the Service.
      %h4.mb-4.mt-5 Limitation Of Liability
      %p In no event shall Deltabadger OÜ, nor its directors, employees, partners, agents, suppliers, or affiliates, be liable for any indirect, incidental, special, consequential or punitive damages, including without limitation, loss of profits, data, use, goodwill, or other intangible losses, resulting from (i) your access to or use of or inability to access or use the Service; (ii) any conduct or content of any third party on the Service; (iii) any content obtained from the Service; and (iv) unauthorized access, use or alteration of your transmissions or content, whether based on warranty, contract, tort (including negligence) or any other legal theory, whether or not we have been informed of the possibility of such damage, and even if a remedy set forth herein is found to have failed of its essential purpose.
      %h4.mb-4.mt-5 Disclaimer
      %p Your use of the Service is at your sole risk. The Service is provided on an "AS IS" and "AS AVAILABLE" basis. The Service is provided without warranties of any kind, whether express or implied, including, but not limited to, implied warranties of merchantability, fitness for a particular purpose, non-infringement or course of performance.
      %p Deltabadger OÜ its subsidiaries, affiliates, and its licensors do not warrant that a) the Service will function uninterrupted, secure or available at any particular time or location; b) any errors or defects will be corrected; c) the Service is free of viruses or other harmful components; or d) the results of using the Service will meet your requirements.
      %h4.mb-4.mt-5 Governing Law
      %p These Terms shall be governed and construed in accordance with the laws of Estonia, without regard to its conflict of law provisions.
      %p Our failure to enforce any right or provision of these Terms will not be considered a waiver of those rights. If any provision of these Terms is held to be invalid or unenforceable by a court, the remaining provisions of these Terms will remain in effect. These Terms constitute the entire agreement between us regarding our Service, and supersede and replace any prior agreements we might have between us regarding the Service.
      %h4.mb-4.mt-5 Changes
      %p We reserve the right, at our sole discretion, to modify or replace these Terms at any time. If a revision is material we will try to provide at least 30 days notice prior to any new terms taking effect. What constitutes a material change will be determined at our sole discretion.
      %p By continuing to access or use our Service after those revisions become effective, you agree to be bound by the revised terms. If you do not agree to the new terms, please stop using the Service.
      %h4.mb-4.mt-5 Contact Us
      %p
        If you have any questions about these Terms, please
        %a(href="/contact") contact us
