$primary:              #0957CB;
$grid-gutter-width:    30px;
$bot-gutter-width:     30px;
$btn-border-width:     2px;
$btn-border-radius:    30px;
$btn-border-radius-lg: 30px;
$btn-border-radius-sm: 30px;
$box-border-radius:    4px;
$input-border-radius:  4px;
$border-radius-lg:     4px;
$modal-inner-padding:  2em;
$navbar-padding-y:     1.5rem;

$input-btn-padding-x:    0.75rem !default;
$input-btn-padding-x-sm: 0.75rem !default;
$input-btn-padding-x-lg: 1.25rem !default;

// $grid-breakpoints: (
//   xs: 0,
//   sm: 576px,
//   md: 800px,
//   lg: 1025px,
//   xl: 1200px
// ) !default;
