$primary:              #22439E;
$primary-p3:           #{'color(display-p3 0.13 0.26 0.62)'};
$primary10-p3:         #{'color(display-p3 0.17 0.35 0.75)'};
$primary-10-p3:         #{'color(display-p3 0.11 0.23 0.55)'};

$success:              #079e60;
$success-p3:           #{'color(display-p3 0.0275 0.62 0.376)'};

$secondary:            #2655ab;
$secondary-p3:         #{'color(display-p3 0.6 0 0.2)'};

//$danger:               #ff4757;

$textColor:            #123;
$table-color:          $textColor;




$grid-gutter-width:    30px;
$bot-gutter-width:     30px;
$btn-border-width:     2px;
$btn-border-radius:    30px;
$btn-border-radius-lg: 30px;
$btn-border-radius-sm: 30px;
$box-border-radius:    8px;
$alert-border-radius:  8px;
$input-border-radius:  8px;
$border-radius-lg:     8px;
$custom-select-border-radius: 8px;
$modal-md:             700px;
$modal-inner-padding:  2em;
$navbar-padding-y:     1.5rem;

$input-btn-padding-x:    0.75rem !default;
$input-btn-padding-x-sm: 0.75rem !default;
$input-btn-padding-x-lg: 1.25rem !default;

// $grid-breakpoints: (
//   xs: 0,
//   sm: 576px,
//   md: 800px,
//   lg: 1025px,
//   xl: 1200px
// ) !default;

.fill-primary {
  fill: $primary !important;
  fill: $primary-p3 !important;
}
.fill-success {
  fill: $success !important;
  fill: $success-p3 !important;
}
.stroke-success {
  stroke: $success !important;
  stroke: $success-p3 !important;
}
.stop-color-primary {
  stop-color: $primary !important;
  stop-color: $primary-p3 !important;
}
