$primary: #3d6098; // #34495e; //#d35400;
$grid-gutter-width: 30px;
//$border-width: 1px;
$btn-border-radius:    30px;
$btn-border-radius-lg: 30px;
$btn-border-radius-sm: 30px;
$box-border-radius:    11px;
$modal-inner-padding:  2em;
