$primary:              #22439E;
$primary-p3:           #{'color(display-p3 0.13 0.26 0.62)'};
$primary10-p3:         #{'color(display-p3 0.17 0.35 0.75)'};
$primary-10-p3:         #{'color(display-p3 0.11 0.23 0.55)'};

$success:              #079e60;
$success-p3:           #{'color(display-p3 0.0275 0.62 0.376)'};

$secondary:            #2655ab;
$secondary-p3:         #{'color(display-p3 0.6 0 0.2)'};

//$danger:               #ff4757;

$textColor:            #123;
$table-color:          $textColor;




$grid-gutter-width:    3rem;
$bot-gutter-width:     3rem;
$btn-border-width:     .2rem;
$btn-border-radius:    3rem;
$btn-border-radius-lg: 3rem;
$btn-border-radius-sm: 3rem;
$box-border-radius:    .8rem;
$alert-border-radius:  .8rem;
$input-border-radius:  .8rem;
$border-radius-lg:     .8rem;
$custom-select-border-radius: .8rem;
$modal-md:             70rem;
$modal-inner-padding:  2rem;
$navbar-padding-y:     1.5rem;

$input-btn-padding-x:    0.75rem !default;
$input-btn-padding-x-sm: 0.75rem !default;
$input-btn-padding-x-lg: 1.25rem !default;

// $grid-breakpoints: (
//   xs: 0,
//   sm: 576px,
//   md: 80rem,
//   lg: 1025px,
//   xl: 120rem
// ) !default;

.fill-primary {
  fill: $primary !important;
  fill: $primary-p3 !important;
}
.fill-success {
  fill: $success !important;
  fill: $success-p3 !important;
}
.stroke-success {
  stroke: $success !important;
  stroke: $success-p3 !important;
}
.stop-color-primary {
  stop-color: $primary !important;
  stop-color: $primary-p3 !important;
}
