$primary: #3d6098; // #34495e; //#d35400;
$grid-gutter-width: 30px;
$btn-border-width: 2px;
$btn-border-radius:    30px;
$btn-border-radius-lg: 30px;
$btn-border-radius-sm: 30px;
$box-border-radius:    11px;
$modal-inner-padding:  2em;
$navbar-padding-y:     2rem;

$input-btn-padding-x:    0.75rem !default;
$input-btn-padding-x-sm: 0.75rem !default;
$input-btn-padding-x-lg: 1.25rem !default;
