$primary:              #0a45a4; //#0a45a4
$success:              #079e60;
$textColor:            #123;
$table-color:          $textColor;

$grid-gutter-width:    30px;
$bot-gutter-width:     30px;
$btn-border-width:     2px;
$btn-border-radius:    30px;
$btn-border-radius-lg: 30px;
$btn-border-radius-sm: 30px;
$box-border-radius:    8px;
$alert-border-radius:  8px;
$input-border-radius:  8px;
$border-radius-lg:     8px;
$custom-select-border-radius: 8px;
$modal-md:             700px;
$modal-inner-padding:  2em;
$navbar-padding-y:     1.5rem;

$input-btn-padding-x:    0.75rem !default;
$input-btn-padding-x-sm: 0.75rem !default;
$input-btn-padding-x-lg: 1.25rem !default;

// $grid-breakpoints: (
//   xs: 0,
//   sm: 576px,
//   md: 800px,
//   lg: 1025px,
//   xl: 1200px
// ) !default;
