<div class="tag">
  <%= api_key.exchange.name %>
  <%= link_to settings_confirm_destroy_api_key_path(id: api_key.id), data: { turbo_frame: "modal" } do %>
    <%= render 'svg/16x16_close' %>
  <% end %>
</div>