.db-settings-section
  %h2 Current limits
  = user.unlimited? ? "#{user.plan_days_left} days of Unlimited plan left." : user.credits <= 0 ? "No free credits left. Upgrade your plan to continue." : user.credits
