= api_key.exchange_name
= link_to  settings_remove_api_key_path(id: api_key.id), :method => :delete, data: { :confirm => 'Are you sure?' }, :class => "button" do
  %span{:class => "fas fa-times-circle"}
%br
