%footer.db-footer.db-footer--signed-in.db-footer--oneline
  &copy;
  = Time.current.year
  Deltabadger OÜ
  |
  %a(href=terms_and_conditions_path title="Terms & Condition") Terms & Condition
  |
  %a(href=privacy_policy_path title="Privacy Policy") Privacy Policy
  |
  %a(href=cookies_policy_path title="Cookies Policy") Cookies Policy
  |
  %a(href="https://t.me/deltabadgerchat" target="_blank" rel="noopener" title="Join our Telegram Group") Telegram
  |
  %a(href="https://twitter.com/deltabadgerapp" target="_blank" rel="noopener" title="Follow us on Twitter") Twitter
  |
  %a(href="https://medium.com/deltabadger" target="_blank" rel="noopener" title="Read our blog") Medium
  |
  %a(href="/contact" title="Contact") Contact
  |
  %a(href="/about" title="About") About
