%footer.db-footer.db-footer--signed-in.db-footer--oneline
  &copy;
  = Time.current.year
  Deltabadger OÜ
  |
  %a(href="/terms_and_conditions" title="Terms & Condition") Terms & Condition
  |
  %a(href="/privacy_policy" title="Privacy Policy") Privacy Policy
  |
  %a(href="/cookies_policy" title="Cookies Policy") Cookies Policy
  |
  %a(href="https://t.me/deltabadgerchat" target="_blank" title="Telegram Chat") Telegram
  |
  %a(href="https://twitter.com/deltabadgerapp" target="_blank" title="Official Twitter") Twitter
  |
  %a(href="/contact" title="Contact") Contact
  |
  %a(href="/about" title="About") About
