%footer.db-footer.db-footer--signed-in.db-footer--oneline
  &copy;
  = Time.current.year
  Deltabadger OÜ
  |
  %a(href="/about") About
  |
  %a(href="/privacy_policy") Privacy Policy
  |
  %a(href="/terms_of_service") Terms & Condition
  |
  %a(href="https://twitter.com/deltabadger_official") Twitter
  |
  %a(href="/contact") Contact
