\:root
    background: var(--background)
    font-size: 8px
    @media only screen and (max-width: 1359px)
        // font-size: 7.5px
    &.view--portfolios-show
        background: var(--background-new)
body
    font-size:   2rem
    font-weight: 450
    font-family: Montserrat, sans-serif
    color:       var(--text)
    position:    relative
dialog
  display: block // override default display: none, used if js is disabled
ol, ul
    padding-left: 3.5rem
    display: flex
    flex-direction: column
    gap: 1rem
    // li
    ol, ul
        margin-top: 1rem
.main
    display: flex
    justify-content: center
    padding: 4rem 4rem 4rem 16rem
    @media only screen and (min-width: 2480px)
        padding: 4rem
    @media only screen and (max-width: 1359px)
      padding-top: 14rem
      padding-left: 4rem
    @media only screen and (max-width: 767.9px)
      padding: 9rem 2rem 2rem
.main-content
    max-width: 240rem
    flex: 1
.columns
    display: grid
    gap: 2rem
    grid-template-columns: 1fr 1fr
    @media only screen and (max-width: 1023.9px)
        grid-template-columns: 1fr
.column
    display: flex
    flex-direction: column
    width: 100%
    container-type: inline-size
.page-head
    display: flex
    margin-bottom: 4rem
    align-items: center
    gap: 2rem
    font-weight: bold
    justify-content: space-between
    @media only screen and (max-width: 767.9px)
        justify-content: flex-end
        margin-bottom: 2rem
        margin-top: -7rem
    &__controls
        display: flex
        gap: 2rem
        align-items: center
        justify-content: space-between
        color: var(--label)
#backtest-results
    overflow: hidden
    border-radius: 2rem

.infoheader
    display: flex
    flex-direction: column
    gap: 4rem
    margin-bottom: 5rem
    @media (max-width: 767.9px)
        gap: 3rem
    &__head
        display: flex
        justify-content: space-between
        gap: 2rem
        span
            white-space: nowrap
    &__h
        margin-bottom: 0
        padding-bottom: 0
        font-size: 2.5rem
        line-height: 3.75rem
        text-align: left
        form
            display: inline-block !important
    &__icon
        width: 3rem
        min-width: 3rem
        height: 3rem
        border: 2px solid var(--link)
        line-height: 2.8rem
        text-align: center
        border-radius: 50%
        font-weight: 700
        cursor: pointer
        &.active
            background: var(--link)
            color: var(--background)
        @media (max-width: 767.9px)
            position: absolute
            top: 2.25rem
            right: 2rem
.itiles
    display: grid
    grid-template-columns: repeat(auto-fill, minmax(42rem, 1fr))
    gap: 2rem
    &--blackfriday
        grid-template-columns: 1fr !important
    @media only screen and (min-width: 1520px)
        grid-template-columns: repeat(3, 1fr)
    @media only screen and (min-width: 1920px)
        grid-template-columns: repeat(6, 1fr)
.itile
    padding: 3rem 4rem 4rem
    border-radius: 2rem
    background: var(--primary) no-repeat center center
    color: #fff
    font-weight: 700
    display: flex
    flex-direction: column
    background-size: cover
    @media screen and (max-width: 575.9px)
        padding: 2rem 2rem 2.5rem 2.5rem
        gap: 0
    // styles for light mode
    @media (prefers-color-scheme: light)
        opacity: 0.9
        filter: saturate(1.5)
    &__title
        font-weight: 700
        margin-bottom: 2rem
    &__value
        font-size: 2rem
    &--bitcoin
        background-image: linear-gradient(#ee480099,#ee4800ee), url("bg-bitcoin.jpg")
    &--ethereum
        background-image: linear-gradient(#361757bb,#361757ee), url("bg-ethereum.jpg")
    &--voo
        background-image: linear-gradient(#601a,#601c), url("bg-voo.jpg")
    &--qqq
        background-image: linear-gradient(#0c2277cc,#0c2277ee), url("bg-qqq.jpg")
    &--gold
        background-image: linear-gradient(#530c,#530e), url("bg-gold.jpg")
    &--bonds
        background-image: linear-gradient(#032c,#032e), url("bg-bonds1.jpg")
    &--cash
        background-image: linear-gradient(#044c,#044e), url("bg-bonds.jpg")
.hinput
    background:  var(--widget-background) !important
    border: none
    border-radius: 0
    display: inline-block
    border-bottom: 2px solid var(--link)
    color: var(--link)
    padding: 0 0.25rem
    text-align: center
    box-sizing: content-box
    &:focus
        border-bottom-color: var(--link)
        color: var(--link)
        outline: none

.time-counter
    font-weight: 600
    color: var(--success)
    text-align: right
    line-height: 4rem
    width: 100%
.big-discount
    display: flex
    flex-direction: row
    gap: 0.5rem
    &__number
        font-size: 15rem
        line-height: 12rem
    &__other
        font-size: 8rem
        line-height: 8rem
        &__perc
            margin-bottom: 0.5rem
        &__off
            font-size: 3rem
            line-height: 3rem
            font-weight: 900
            letter-spacing: 0.25rem

.black-friday
    width: 100%
    min-height: 4rem
    position: relative
    margin-bottom: 2rem
    @media only screen and (max-width: 767.9px)
        margin-top: -7rem
    &__body
        background-image: linear-gradient(#0c2277cc,#0c2277ee), url("bg-qqq.jpg")
        padding: 4rem 6.5rem 4rem 5rem
        display: flex
        flex-direction: row
        align-items: center
        justify-content: space-between
        gap: 5rem
        color: #fff
        font-weight: bold
        border-radius: 2rem
        @media only screen and (max-width: 1499.9px)
            padding: 4rem 4.5rem 4rem 4rem
            gap: 4rem
        @media only screen and (max-width: 1249.9px)
            padding: 4rem 3.5rem 4rem 3rem
            gap: 3rem
        @media screen and (max-width: 1049.9px)
            text-align: center
            padding: 4rem
            flex-direction: column
            gap: 4rem

.view--upgrade
    .black-friday
        margin-bottom: 3.5rem
        @media only screen and (max-width: 767.9px)
            margin-bottom: 9.5rem

.black-friday-toggle
    position: absolute
    top: 0
    right: 0
    &__icon
        min-width: 4rem
        height: 4rem
        display: flex
        align-items: center
        justify-content: center
        border-radius: 2rem
        color: #fff
        background-image: linear-gradient(#0c2277cc,#0c2277ee), url("bg-qqq.jpg")
        b
            white-space: nowrap
            display: block
            padding: 1.5rem
        .icon-24
            path
                fill: #fff
            display: none
        &.active
            background: none
            b
                display: none
            .icon-24
                display: block
.black-friday-header
    flex: 2
    h1
        font-size: 4.5rem
        line-height: 5.5rem
        margin-bottom: 1.5rem
    h2
        font-size: 3.5rem
        line-height: 4rem
        margin-bottom: 0

@media only screen and (max-width: 1499.9px)
    .big-discount
        &__number
            font-size: calc(15rem * 0.8)
            line-height: calc(12rem * 0.8)
        &__other
            font-size: calc(8rem * 0.8)
            line-height: calc(8rem * 0.8)
            &__perc
                margin-bottom: calc(0.5rem * 0.8)
            &__off
                font-size: calc(3rem * 0.8)
                line-height: calc(3rem * 0.8)
                letter-spacing: calc(0.25rem * 0.8)
    .black-friday-header
        h1
            font-size: calc(4.5rem * 0.8)
            line-height: calc(5.5rem * 0.8)
            margin-bottom: calc(1.5rem * 0.8)
        h2
            font-size: calc(3.5rem * 0.8)
            line-height: calc(4rem * 0.8)

@media only screen and (max-width: 1249.9px)
    .big-discount
        &__number
            font-size: calc(15rem * 0.6)
            line-height: calc(12rem * 0.6)
        &__other
            font-size: calc(8rem * 0.6)
            line-height: calc(8rem * 0.6)
            &__perc
                margin-bottom: calc(0.5rem * 0.6)
            &__off
                font-size: calc(3rem * 0.6)
                line-height: calc(3rem * 0.6)
                letter-spacing: calc(0.25rem * 0.6)
    .black-friday-header
        h1
            font-size: calc(4.5rem * 0.6)
            line-height: calc(5.5rem * 0.6)
            margin-bottom: calc(1.5rem * 0.6)
        h2
            font-size: calc(3.5rem * 0.6)
            line-height: calc(4rem * 0.6)

@media only screen and (max-width: 1049.9px)
    .black-friday-header
        h1
            font-size: 4rem
            line-height: 4rem
        h2
            font-size: 2.5rem
            line-height: 2.5rem
