@use "variables" as *

*
    user-select: none
    -webkit-user-select: none

\:root
    background: var(--paper)

body
    font-size:   2rem
    color:       var(--ash)
    position:    relative
    font-weight: 450
dialog
  display: block // override default display: none, used if js is disabled
ol, ul
    padding-left: 3.5rem
    display: flex
    flex-direction: column
    gap: 1rem
    // li
    ol, ul
        margin-top: 1rem
.main
    display: flex
    justify-content: center
    padding: 0 1rem 1rem
    min-height: 100vh
    @media only screen and (min-width: 768px)
      padding: 1rem 2.5rem 2.5rem 9.625rem
.main-content
    @media (min-width: 768px)
        max-width: calc(100vw - 4rem)
        max-width: 192rem
    flex: 1
.columns
    display: grid
    gap: 1rem
    grid-template-columns: 1fr 1fr
    @media only screen and (max-width: 1023.9px)
        grid-template-columns: 1fr
.column
    display: flex
    flex-direction: column
    width: 100%
    container-type: inline-size
.page-head
    display: flex
    align-items: center
    gap: 2rem
    padding: 1rem 0
    margin-bottom: 1rem
    font-weight: 600
    justify-content: space-between
    @media only screen and (max-width: 767.9px)
        justify-content: flex-end
        margin-bottom: 0
    &__controls
        display: flex
        gap: 2rem
        align-items: center
        justify-content: space-between
        color: var(--stone)
#backtest-results
    display: flex
    border-radius: 2rem
    flex-direction: column
    gap: 1rem

.infoheader
    display: flex
    flex-direction: column
    gap: 1rem
    margin-bottom: 1rem
    &__head
        display: flex
        justify-content: space-between
        gap: 2rem
        padding: 1rem 0
        span
            white-space: nowrap
        .sinput
            background: var(--washed) !important
        @media only screen and (max-width: 767.9px)
            padding: 0
            margin-top: -2rem
    &__h
        margin-bottom: 0
        padding-bottom: 0
        font-size: 2.5rem
        line-height: 3.75rem
        text-align: left
        form
            display: inline-block !important
    &__icon
        width: 3rem
        min-width: 3rem
        height: 3rem
        border: 0.25rem solid var(--link)
        line-height: 2.8rem
        text-align: center
        border-radius: 50%
        font-weight: 600
        cursor: pointer
        &.active
            background: var(--link)
            color: var(--paper)
        @media (max-width: 767.9px)
            position: absolute
            top: 2.25rem
            right: 2rem
.hinput
    background:  var(--washed) !important
    border: none
    border-radius: 0
    display: inline-block
    border-bottom: 0.25rem solid var(--link)
    color: var(--link)
    padding: 0 0.25rem
    text-align: center
    box-sizing: content-box
    &:focus
        border-bottom-color: var(--link)
        color: var(--link)
        outline: none

.time-counter
    font-weight: 600
    color: var(--grass)
    text-align: right
    line-height: 4rem
    width: 100%
.big-discount
    display: flex
    flex-direction: row
    gap: 0.5rem
    &__number
        font-size: 15rem
        line-height: 12rem
    &__other
        font-size: 8rem
        line-height: 8rem
        &__perc
            margin-bottom: 0.5rem
        &__off
            font-size: 3rem
            line-height: 3rem
            font-weight: 900
            letter-spacing: 0.25rem

@media only screen and (max-width: 1499.9px)
    .big-discount
        &__number
            font-size: calc(15rem * 0.8)
            line-height: calc(12rem * 0.8)
        &__other
            font-size: calc(8rem * 0.8)
            line-height: calc(8rem * 0.8)
            &__perc
                margin-bottom: calc(0.5rem * 0.8)
            &__off
                font-size: calc(3rem * 0.8)
                line-height: calc(3rem * 0.8)
                letter-spacing: calc(0.25rem * 0.8)

@media only screen and (max-width: 1249.9px)
    .big-discount
        &__number
            font-size: calc(15rem * 0.6)
            line-height: calc(12rem * 0.6)
        &__other
            font-size: calc(8rem * 0.6)
            line-height: calc(8rem * 0.6)
            &__perc
                margin-bottom: calc(0.5rem * 0.6)
            &__off
                font-size: calc(3rem * 0.6)
                line-height: calc(3rem * 0.6)
                letter-spacing: calc(0.25rem * 0.6)

.dash-intro
    border-bottom: 0.1rem solid var(--steel)
    display: flex
    flex-direction: column
    justify-content: flex-end
    align-items: flex-end
    overflow: hidden
    height: 7rem
    @media only screen and (min-width: 768px)
        display: flex
    h1
        color: var(--grass)
        opacity: 0.15
        display: block
        font-size: 8.2rem
        line-height: 7rem
        margin-bottom: -1rem