@use "../variables" as *

.asset-allocations
    display: flex
    flex-direction: column
    gap: 0.75rem

.asset-allocation
    .slider__style__track
        display: grid

    &__remove
        flex: 0 0 auto
        color: var(--concrete)

    &__add
        margin-top: 1rem

.bot-locked
    .asset-allocation__remove,
    .asset-allocation__add
        display: none
