@use "variables" as *

.devise
    height: 100vh
    display: flex
    align-items: center
    justify-content: center
    min-height: fit-content
    padding: 4rem 4rem 8rem
    flex-direction: column
    background: var(--paper)
    &__row
        display: flex
        flex-direction: column-reverse
        gap: 4rem
        max-width: 44rem
        width: 100%
        justify-content: center
    &__col
        display: flex
        flex-direction: column
        gap: 3rem
        align-items: center
        width: 100%
        max-width: 40rem
        &--signup
            display: none
        &:first-child
            max-width: 100%
        form
            width: 100%
    &__logo
        svg
            justify-self: center
            width: 100%
    &__links
        display: flex
        justify-content: center
        gap: 1rem
        line-height: 1rem
        .button--link
            height: auto !important
            font-weight: 700
    .form__row
        margin-bottom: 0
        &--check
            margin: 0 !important
            padding: 0 !important
    .button--large
        width: 100%
    .sinput
        padding-left: 1.5rem !important
        padding-right: 1rem !important
        margin: 0 auto !important
    form
        display: flex
        flex-direction: column
        gap: 2.5rem
        min-height: 56rem
    h1
        text-align: center
        font-size: 2.4rem
        color: var(--highlight)
    &__feats
        display: none
        color: #fff
        font-size: 2.5rem
        @media (min-width: 768px)
            display: block
    &__review
        padding: 3rem 3rem 2rem
        background: #ffffff0a
        backdrop-filter: blur(10px)
        border-radius: 2rem
        p
            font-style: italic
        &__stars
            margin-bottom: 2rem
    .signet
        width: 8rem
        margin: 0 auto
    ol,ul
        font-size: 1.75rem
        position: relative
        top: -0.125rem
    .form__legend
        width: 100%
        text-align: center
    .dropdown-wrapper
        gap: 0

.password-requirements
    list-style-type: none
    padding-left: 0 !important
    li
        color: var(--stone)
        padding-left: 0 !important
        &:before
            content: "✓"
            opacity: 0
            margin-right: 1.125rem
    .form__validation--success
        color: var(--grass)
        &:before
            opacity: 1
.view--signup
    .form__validation
        color: #fffa
        &--success
            text-shadow: 0.25rem 0.25rem 0.25rem #0002
            color: var(--grass)


.setting-form
    display: flex
    flex-direction: column
    align-items: center
    width: 100%
    gap: 2rem
    .button,input
        width: 100%
    .button
        max-width: 30rem
    .form__row
        width: 100%
    