.exchange-picker
    &__item
      display:                  grid
      grid-template-columns:    40% 30% 30%
      width:                    100%
      text-align:               left
      padding:                  1.5rem 2rem
      border-radius: var(--ui-radius)
      &--header
        color:                  var(--stone)
      &--exchange
        background:             none
        font-weight:            500
        width:                  100%
        border:                 0
        border-radius:          var(--ui-radius)
        cursor:                 pointer
        border-radius: var(--ui-radius)
        :first-child
          font-weight: 600
        &:hover
            color:      var(--ink)
            background: var(--washed)
            box-shadow: var(--shadow-basic)


.exchange-grid
  display: grid
  grid-template-columns: 1fr 1fr
  gap: 1rem
  padding: 0 2rem
  @media (min-width: 768px)
    padding: 0 4rem
    grid-template-columns: 1fr 1fr 1fr
  &__item
    background: var(--paper)
    border-radius: 1rem
    height: 10rem
    display: flex
    justify-content: center
    align-items: center
    border: none
    &:hover
      background: var(--sky)
      svg
        *
          fill: var(--white)
    svg
      height: 3rem
      width: auto
      *
        fill: var(--ash)