.exchange-picker
    &__item
      display:                  grid
      grid-template-columns:    30% 20% 20% 30%
      width:                    100%
      text-align:               left
      padding:                  1.5rem 2rem
      border-radius: var(--ui-radius)
      &--header
        color:                  var(--stone)
      &--exchange
        background:             none
        font-weight:            500        
        width:                  100%
        border:                 0
        border-radius:          var(--ui-radius)
        cursor:                 pointer
        border-radius: var(--ui-radius)
        :first-child
          font-weight: 650
        &:hover
            color:      var(--ink)
            background: var(--washed)
            box-shadow: var(--shadow-basic)