.features-grid
    display: grid
    grid-template-columns: repeat(auto-fit, minmax(400px, 1fr))
    gap: 2rem
    padding-top: 4rem

.feature
    padding: 3rem
    border-radius: 2rem
    background: var(--widget-background)
    min-height: 40rem
    h2
        margin-bottom: 3rem
