.features-header
    font-size: 3rem
    text-align: center
    margin: 3.5rem 0 0
    padding: 0
    @media screen and (min-width: 1024px)
        margin: 5rem 0 1rem
.features-grid
    display: grid
    grid-template-columns: 1fr
    gap: 1rem
    padding-top: 4rem
    @media only screen and (min-width: 575px)
        grid-template-columns: repeat(auto-fit, minmax(240px, 1fr))
    @media only screen and (min-width: 1024px)
        grid-template-columns: repeat(4, 1fr)
.feature
    padding: 2.5rem 3rem
    border-radius: 2rem
    border: 1px solid var(--label)
    opacity: .5
    position: relative
    box-shadow: var(--widget-shadow)
    h2
        font-size: 2.5rem
        margin-bottom: 2rem
        padding-bottom: 0
        text-align: center
    p
        text-align: center
    svg
        position: absolute
        top: 3rem
        right: 3rem
        width: 3rem
        height: 3rem
    .sbadge
        position: relative
        top: -0.35rem
    &:not(.included)
        .sbadge
            background: var(--text)
            opacity: .5
            color: var(--paper)
            font-weight: 800
    &.included
        background: var(--widget-background)
        border-color: transparent
        opacity: 1
        h2
            color: var(--link)
    &--legendary
        // &.included
        //     background: linear-gradient(to right, #f0f5, #00f5) !important
        //     background-size: 120% !important
