#hamburger,.hamburger
  z-index: 1000
  @media only screen and (min-width: 768px)
    display: none

#hamburger
  position: absolute
  width: 8rem
  height: 8rem
  background: red
  opacity: 0
  top: 0
  left: 0
  &:checked
    position: fixed
    &~ .menu-mobile
      left: 0
      box-shadow: 100vw 0 100vw 20vw rgba(0, 20, 40, .5)
    &~ .hamburger
      position: fixed
      top: 3rem
      @media only screen and (min-width: 768px)
        top: 3.5rem
      &__a
        transform: rotate(45deg)
      &__b
        transform: rotate(-45deg)

.hamburger
  pointer-events: none
  position: absolute
  width: 3rem
  height: 0.25rem
  background: var(--link)
  left: 1.25rem
  @media only screen and (min-width: 768px)
    left: 2rem
  transition: transform 0.125s
  &__a
    top: 2.5rem
    @media only screen and (min-width: 768px)
      top: 3rem
  &__b
    top: 3.5rem
    @media only screen and (min-width: 768px)
      top: 4rem
