.insight
    padding: 2rem 2rem 2.25rem 6rem
    background: var(--insight-background) no-repeat 1.75rem 1.75rem
    background-size: 3rem 3rem
    box-shadow: var(--widget-shadow)
    border-radius: 2rem
    *
        display: inline !important
    &__name
        font-weight: 700
        color: var(--insight-title)
        b
            font-weight: 700
    &--summary
        background-image: var(--icon-24-white-magic)
    &--pro
        background-color: var(--insight-pro-background)
        background-image: var(--icon-24-green-circle-plus)
        b
            color: var(--success)
    &--con
        background-color: var(--insight-con-background)
        background-image: var(--icon-24-red-circle-minus)
        b
            color: var(--danger)
    &--warning
        background-color: var(--insight-warning-background)
        background-image: var(--icon-24-orange-circle-exclamation)
        b
            color: var(--warning)
    &--in-progress
        background-image: none
        position: relative
        &::before
            content: ""
            position: absolute
            top: 2rem
            left: 2rem
            width: 2.5rem
            height: 2.5rem
            border-radius: 50%
        &::after
            content: ""
            position: absolute
            top: 2rem
            left: 2rem
            width: 2.5rem
            height: 2.5rem
            border-radius: 50%
            background: conic-gradient(var(--warning) var(--progress, 0%), var(--warning-semitransparent) 0%)
            transform: rotate(0deg)
    &__hint
        display: block
        font-weight: 600
        font-style: italic
        margin-top: 2rem
        &::before
            content: "💡"
            margin-right: 0.125rem
            font-style: normal