.modal
    &__body
        padding: 3rem 8rem 4rem
        width: 65rem
        max-width: calc(100vw - 4.8rem)
        background: var(--modal-background)
        border-radius: 2rem
        @media screen and (max-width: 500px)
            padding-left: 3rem
            padding-right: 3rem
    &__close
        position: absolute
        top: 3rem
        right: 3rem
        width: 3rem
        height: 3rem
        background: none // <button>
        border: none     // <button>
        path
            fill: var(--label)
            .flash__message &
                fill: white
    &__header
        margin-bottom: 7rem
    &__title
        font-size: 2.5rem
        margin-bottom: 0
        text-align: center
    &__form
        display: flex
        flex-direction: column
        align-items: center
        .db-form__row
            width: 100%

.modal--search
    background: var(--modal-background)
    width: 100rem
    max-width: calc(100vw - 4.8rem)
    &__background
        background: var(--modal-background)
        border-radius: 2rem
        overflow: hidden
    &__zoom-icon
        width: 3rem
        height: 3rem
        position: absolute
        top: 2rem
        left: 2rem
        path,circle
            stroke: var(--modal-search-placeholder)
    &__input
        box-shadow: 0 1px var(--slider-track) !important
        background: rgba(0,0,0,0)
        font-weight: 500
        width: 100%
        padding: 2rem 2rem 2rem 7rem
        font-size: 2rem
        border: none
        height: 7rem
        &:focus
            outline: none
        &::placeholder
            color: var(--modal-search-placeholder)
    &__assets
        max-height: 57rem !important
        display: block
        overflow-y: scroll
        scrollbar-width: none
        .loader 
            display: none
        &[busy]
            .loader
                display: block
        &__item
            border-bottom: 1px solid var(--slider-track) !important
            &:last-child
                border-bottom: none !important
            &:hover
                background: var(--modal-search-hover-background)
            &__highlight
                background: var(--modal-search-highlight-background)
                &:hover
                    background: var(--modal-search-highlight-background)
            button
                background: none
                border: none
                display: grid
                grid-template-columns: 15rem 1fr 12rem
                width: 100%
                @media screen and (max-width: 500px)
                    grid-template-columns: 13rem 1fr 12rem
    &__cell
        text-align: left
        padding: 2rem 0 2rem 2.5rem
        font-weight: 500
        overflow: hidden
        text-overflow: ellipsis
        text-wrap: nowrap
        &--ticker
            font-weight: bold
            color: var(--emphasis)
        &--name
            &__country
                font-weight: 400
                color: var(--label)
            a
                text-decoration: none
            .icon-24
                position: relative
                top: -.125rem
                path
                    fill: var(--label)
        &--category
            color: var(--label)
            text-align: right
            margin-right: 2.5rem