.pricing
    display: flex
    flex-direction: row
    gap: 1rem
    &__plans
        display: grid
        grid-template-columns: repeat(3, 1fr)
        grid-template-rows: 1fr
        gap: 1rem
        flex: 1
        .widget
            padding: 2.25rem 2rem
            &:first-child
                border-top-left-radius: 2rem
                border-bottom-left-radius: 2rem
            &:last-child
                border-top-right-radius: 2rem
                border-bottom-right-radius: 2rem
    &__checkout
        width: calc(25% - 0.75rem)
        gap: 1rem
        display: flex
        flex-direction: column
        &__calculations
            gap: 2rem
        .large-button-wrapper
            padding: 0
    &__payment-methods
        display: flex
        background: var(--pickExchangeItemBg)
        border-radius: 2rem 2rem 0 0
    &__payment-method
        text-align: center
        flex: 2
        img
            height: 4rem
        [checked="checked"] + .pricing__payment-method__tab
            background: var(--widget-background)
        &__tab
            height: 6rem
            padding: 1rem
            display: flex
            justify-content: center
            align-items: center
            border-radius: 2rem 2rem 0 0
.db-card-providers__item--visa
    @media (prefers-color-scheme: dark)
        mix-blend-mode: plus-lighter
        filter: brightness(10)
.widget--pricing__amount__t
    .price-ticker
        font-size: 50%
        line-height: 1.55
        align-self: flex-start

.widget
    &--pricing
        gap: 2rem
        margin-bottom: 0
        padding-top: 3.25rem
        padding-bottom: 3.25rem
        @media (max-width: 767.9px)
            gap: 2rem
        small
            min-height: 3rem
            display: flex
            opacity: 1
            display: flex
            flex-direction: row-reverse
            align-items: center
            gap: 1rem
            position: relative
            text-wrap: nowrap
            color: var(--text-faded)
            &:before
                content: ""
                display: block
                width: 100%
                height: 1px
                opacity: 0.5
                background: var(--text-faded)
        &__opt-execution,&__opt-research
            min-height: 7rem
        &__opt-strategies
            min-height: 7rem
        &__opt-triggers
            min-height: 20rem
        &__opt-research
            min-height: 8rem
            &.inactive
                color: var(--text-faded)
        &__badge
            background: var(--success)
            padding: 0 1rem
            color: #fff
            font-weight: 700
            border-radius: 2rem
            font-size: 2rem
        &__name
            font-size: 2.25rem
            font-weight: 700
            line-height: 2rem
            color: var(--text-strong)
        &__amount
            min-height: 9rem
            color: var(--text-strong)
            &__t
                font-size: 4rem
                line-height: 4rem
                font-weight: 600
                display: flex
                align-items: flex-end
                gap: 0.5rem
                &--main
                    .price-period
                        font-size: 2rem
                        line-height: 3rem
                        color: var(--text-faded)
                &--previous
                    color: var(--text-faded)
                    font-size: 3rem
                    .price-amount
                        text-decoration: line-through
        ul
            list-style: none
            padding-left: 0
            text-wrap: nowrap
            font-weight: 600
            li
                padding-left: 2.75rem
                position: relative
                &::before
                    content: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='16' height='16' viewBox='0 0 24 24' fill='none' stroke='%230040ff' stroke-width='4' stroke-linecap='round' stroke-linejoin='round'%3E%3Cpolyline points='20 6 9 17 4 12'%3E%3C/polyline%3E%3C/svg%3E")
                    display: block
                    position: absolute
                    left: 0
                    top: 0.2rem
            &.inactive
                li::before
                    opacity: 0.4 !important
        p, ul
            margin-bottom: 0
        &--legendary, &--research
            grid-column: 1 / -1
            ul
                flex: 2
        &--legendary
            --text-strong: #fff
            background: linear-gradient(to left, #024, #012)
            color: #bcd !important
        &__legendary-plans-left
            font-weight: 600
            color: var(--success) !important
            .slider
                margin-top: 0.75rem
            .slider__style
                background: var(--success-semitransparent)
                &__track
                    border-left-color: var(--success) !important
                &__progress
                    background: var(--success) !important
        &--selected,&--other
            cursor: pointer
        &--selected
            background: var(--primary-button)
            color: #fffc
            --text-strong: #fff
            --text-faded: #8195cf
            a
                color: #fff
        &--selected,&--legendary
            li
                &::before
                    content: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='16' height='16' viewBox='0 0 24 24' fill='none' stroke='%23ffffff' stroke-width='4' stroke-linecap='round' stroke-linejoin='round'%3E%3Cpolyline points='20 6 9 17 4 12'%3E%3C/polyline%3E%3C/svg%3E") !important
            .inactive
                li
                    font-weight: 400
                    &::before
                        opacity: 0.4
    &--checkout
        border-radius: 0 0 2rem 2rem
        .tab
            display: none
            &.active
                display: block
        .db-form__label
            background: var(--widget-background)

.pricing-period-toggle
    display: flex
    gap: 1rem
    font-size: 2rem
    line-height: 4rem
    width: 100%
    justify-content: center
    label
        white-space: nowrap
    :not([checked="checked"]) + span
        cursor: pointer
        color: var(--text-faded)
    [checked="checked"] + span
        color: var(--text-strong)
        cursor: default
    @media (max-width: 767.9px)
        justify-content: flex-end
        position: relative
// hide radio buttons for the tabs, guillem workaround
.hide_radio_buttons > input
  visibility: hidden
  position: absolute
// hide radio buttons for the tabs, guillem workaround
.legendary-counter
    &__discount
        display: block
        margin-bottom: 3rem
@media only screen and (max-width: 959.9px)
    .pricing
        flex-direction: column
        &__plans, &__checkout
            width: 100%
    .widget
        &--pricing
            padding-top: 2.5rem
            padding-bottom: 2.5rem
@media only screen and (max-width: 767.9px)
    .pricing
        &__plans
            grid-template-columns: 1fr 1fr 1fr
    .widget
        &--pricing
            padding: 1.25rem !important
            &__amount
                display: none
    .legendary-counter
        padding: 1rem 2rem
        &__discount
            display: none
@media only screen and (max-width: 500px)
    .pricing__plans
        grid-template-columns: 1fr 1fr 1fr
.checkout-line
    display: grid
    grid-template-columns: auto 10rem
    font-weight: 520
    &__col
        &:last-child
            text-align: right
    &__info
        font-size: 1.75rem
        color: var(--label)
    &--vat
        padding-top: 2rem
    &--summary
        font-weight: 700
    &--discount
        .checkout-line__col:last-child
            color: var(--discount)
    &--divider
        height: 0.125rem
        background: var(--label)
        width: 100%

@media (max-width: 575.9px)
    .hide-on-mobile
        display: none
    .hide-on-desktop
        display: inline
@media (min-width: 576px)
    .hide-on-mobile
        display: inline
    .hide-on-desktop
        display: none

.discount-info,.discount-info-preview
    display: flex
    gap: 1rem

.moneyback-guarantee
    font-size: 1.75rem
    text-align: center
    color: var(--text-faded)
    margin-top: 2rem
    font-weight: 700