.pricing
    display: flex
    flow-direction: row
    gap: 1rem
    &__plans
        display: grid
        grid-template-columns: repeat(auto-fit, minmax(10px, 1fr))
        grid-template-rows: 1fr
        gap: 1rem
        flex: 1
        .widget
            padding: 3.25rem 3rem
            &:first-child
                border-top-left-radius: 2rem
                border-bottom-left-radius: 2rem
            &:last-child
                border-top-right-radius: 2rem
                border-bottom-right-radius: 2rem
    &__checkout
        width: calc(25% - 1rem)
        gap: 1rem
        display: flex
        flex-direction: column
        &__calculations
            gap: 2rem
        .large-button-wrapper
            padding: 0
    &__payment-methods
        display: flex
        background: var(--pickExchangeItemBg)
        border-radius: 2rem 2rem 0 0
    &__payment-method
        text-align: center
        flex: 2
        img
            height: 4rem
        [checked="checked"] + .pricing__payment-method__tab
            background: var(--widget-background)
        &__tab
            height: 6rem
            padding: 1rem
            display: flex
            justify-content: center
            align-items: center
            border-radius: 2rem 2rem 0 0
.db-card-providers__item--visa
    @media (prefers-color-scheme: dark)
        mix-blend-mode: plus-lighter
        filter: brightness(10)
.price-ticker
    font-size: 75%
    margin: 0 .1em

.widget
    &--pricing
        gap: 4rem
        margin-bottom: 0
        padding-top: 3.25rem
        padding-bottom: 3.25rem
        &__badge
            background: var(--success)
            padding: 0 1rem
            color: #fff
            font-weight: 700
            border-radius: 2rem
            font-size: 2rem
        &__name
            font-size: 2.5rem
            font-weight: 700
            line-height: 2rem
            color: var(--text-strong)
            &__period
                height: 3rem
                line-height: 3rem
                font-weight: 400
                font-size:  2rem
                margin-top: 1rem
        &__amount
            min-height: 9rem
            color: var(--text-strong)
            &__t
                font-size: 4rem
                line-height: 4rem
                font-weight: 600
                display: block
                &--main
                    .price-period
                        font-size: 2rem
                        margin-left: .5rem
                        color: var(--text-faded)
                &--previous
                    color: var(--text-faded)
                    font-size: 3rem
                    .price-amount
                        text-decoration: line-through
        ul
            list-style: none
            padding-left: 0
            li
                padding-left: 3.5rem
                position: relative
                &::before
                    content: ""
                    display: block
                    width: 2rem
                    height: 2rem
                    background: url("check.svg")
                    position: absolute
                    left: 0
                    top: .25rem
        p, ul
            margin-bottom: 0
        &--legendary
            ul
                flex: 2
        &__legendary-plans-left
            font-weight: 600
            color: var(--success) !important
            span
                display: block
                margin-bottom: 1rem
            .slider__style
                background: var(--success-semitransparent)
                &__track
                    border-left-color: var(--success) !important
                &__progress
                    background: var(--success) !important
        &--selected,&--other
            cursor: pointer
        &--other
            background: var(--pickExchangeItemBg)
        &--selected
            background: var(--primary)
            color: #fffc
            --text-strong: #fff
            --text-faded: #8195cf
            a
                color: #fff
            li::before
                filter: brightness(2.75) saturate(0.5)
    &--checkout
        border-radius: 0 0 2rem 2rem
        .db-form__label
            background: var(--widget-background)

.pricing-period-toggle
    display: flex
    gap: 1.5rem
    font-size: 2.2rem
    line-height: 3rem
    label
        white-space: nowrap
    :not([checked="checked"]) + span
        cursor: pointer
        color: var(--text-faded)
    [checked="checked"] + span
        color: var(--text-strong)
        border-bottom: 2px solid var(--text-strong)
        cursor: default
    @media (max-width: 767.9px)
        width: 100%
        justify-content: flex-end
        position: relative
// hide radio buttons for the tabs, guillem workaround
.hide_radio_buttons > input
  visibility: hidden
  position: absolute
// hide radio buttons for the tabs, guillem workaround
@media only screen and (max-width: 1279.9px)
    .pricing
        &__checkout
            min-width: 30%
@media only screen and (max-width: 959.9px)
    .pricing
        gap: 2rem
        flex-direction: column
        &__plans, &__checkout
            width: 100%
    .widget
        &--pricing
            padding-top: 2.5rem
            padding-bottom: 2.5rem
            ul
                display: none
@media only screen and (max-width: 767.9px)
    .pricing
        &__plans
            grid-template-columns: 1fr 1fr minmax(1fr)
    .widget
        &--pricing
            padding: 1.75rem 0 1rem 0 !important
            text-align: center
            &__name
                font-size: 2.25rem
            &__amount
                display: none
@media only screen and (max-width: 500px)
    .pricing__plans
        grid-template-columns: 1fr 1fr minmax(40%, 1fr)
.checkout-line
    display: grid
    grid-template-columns: auto 10rem
    font-weight: 520
    &__col
        &:last-child
            text-align: right
    &__info
        font-size: 1.75rem
        color: var(--label)
    &--vat
        padding-top: 2rem
    &--summary
        font-weight: 700
    &--discount
        .checkout-line__col:last-child
            color: var(--discount)
    &--divider
        height: 1px
        background: var(--label)
        width: 100%
