// flash messages
#flash
  position: fixed
  bottom: 1rem
  right: 1rem
  z-index: 9999999999 // keep it above 999999999 to show them above the Tidio chat

  display: flex
  flex-direction: column
  align-items: center
  gap: 1rem

  max-width: 100%
  width: max-content

  &__message
    animation: appear-then-fade 60s both

@keyframes appear-then-fade
  0%, 100%
    opacity:0
  0.5%, 99.5%
    opacity:1


.salert
  position: relative
  background-color: var(--sky)
  color: white
  padding: 2rem 6.5rem 2rem 2.5rem
  border-radius: var(--ui-radius)
  width: 50rem
  max-width: calc(100vw - 2rem)
  &--danger
    background-color: var(--berry)
  &--success
    background-color: var(--grass)
  &--warning
    background-color: var(--warning)