@use "variables" as *

.set-api
    display: flex
    flex-direction: column
    gap: 5rem
    @media screen and (min-width: 576px)
        gap: 10rem
    &__header
        font-size: 2.4rem
        line-height: 3rem
        font-weight: 650
        color: var(--ash)
        text-align: center
    &__form,&__instructions
        display: flex
        flex-direction: column
        gap: 4rem
        ul,ol,li
            margin-top:0
            padding-top:0
            margin-bottom:0
            padding-bottom:0
            color: var(--ash)
            b
                color: var(--ink)
            a
                color: var(--link) !important
                text-decoration: underline
                &:hover
                    color: var(--link-hover)
                    text-decoration: none
    .button
        width: 30rem