@use "variables" as *

.small-info
    display: flex
    gap: 1rem
    align-content: flex-start
    color: var(--stone)
    font-size: 0.8em
    font-weight: 450
    .text-success
        font-weight: 600
    svg 
        display: block
        width: 3rem
        height: 3rem
        fill: var(--stone)
    div
        flex: 1

.portfolio-value
    display: flex
    gap: 1rem
    align-items: center
    justify-content: flex-end
    input
        align-self: flex-end
        width: 21.5rem

.api-key-stored
    display: flex
    align-items: center
    svg
        fill: var(--stone)