.smart-allocation
    padding-bottom: 2rem !important
    &__slider
        width: 100%
        &--off
            pointer-events: none
            .slider__style__progress
                display: none
            .label--select
                color: var(--label-select-inactive)
                svg
                    path
                        stroke: var(--label-select-inactive)
    .icon-24
        position: relative
        left: -0.5rem       