.ticker-input
    background:         var(--widget-background)
    border-radius:      2rem
    color:              var(--input-text-inactive)
    display:            flex
    font-weight:        700
    justify-content:    space-between
    line-height:        4rem
    .numeric-input
        background:     none
        &:focus
            outline: none
        &[disabled]
            color:     $gray-300
    &--percentage
        gap: 1rem
        .numeric-input
            width: 5rem   
    &--autoscale
        .numeric-input
            width: 5.5rem
            padding-left: 1.5rem
    &--reverse
        flex-direction: row-reverse
        .numeric-input
            text-align: right

.numeric-input
    color: var(--input-text)
    font-weight: 700
    line-height: 4rem
    background: var(--widget-background)
    border-radius: 2rem
    border: none
    padding: 0 1rem
    text-align: right
    &::placeholder
        color: var(--input-text-inactive)
    &:focus
        outline: none


/* Hide spinners for WebKit browsers (Chrome, Safari, new Edge) */
input[type=number]::-webkit-outer-spin-button,
input[type=number]::-webkit-inner-spin-button
    -webkit-appearance: none // Remove default WebKit styling
    margin: 0 // Remove any default margin spinners might have

/* Hide spinners for Firefox */
input[type=number]
    -moz-appearance: textfield // Treat the number input like a text field in Firefox

/* Optional: General fallback (may not be needed with the above, but doesn't hurt) */
input[type=number]
    appearance: none

.widget
    .ticker-input
        background-color: var(--background)