@use "variables" as *

.ticker, .tag
    background: var(--stone)
    border-radius: 2rem
    color: #fff
    font-weight: 600
    line-height: 3rem
    height: 3rem
    text-align: center
    padding:            0 1.5rem
    overflow:           hidden
    text-overflow:      ellipsis
    text-wrap:          nowrap
    text-decoration: none !important
    box-shadow: var(--shadow-paper)
    &:hover, &:focus
        color: #fff
    @media (min-width: 768px)
        line-height: 3.5rem
        height: 3.5rem
.ticker
    display: block
    min-width: 9rem
    font-size: 2rem
    @media (min-width: 768px)
        min-width: 12rem
.ticker-group
    display: flex
    @for $i from 1 through 20
        .ticker:nth-child(#{$i})
            z-index: 21 - $i
    &--2
        .ticker:not(:last-child)
            margin-right: -1.75rem
    &--many
        .ticker:not(:last-child)
            margin-right: -10rem 

.tags
    display: flex
    gap: .5rem
    width: 100%
.tag
    background: var(--silver) !important
    color: var(--stone) !important
    font-weight: 600
    gap: .5rem
    display: flex
    @media (prefers-color-scheme: dark)
        background: var(--steel) !important
        color: var(--ash) !important
    svg
        width: 2rem
        height: 2rem
        margin-right: -.5rem
        path
            fill: var(--concrete)
        &:hover
            path
                fill: var(--link)