@use "variables" as *

.ticker, .tag
    font-size: 1.75rem
    background: var(--stone)
    border-radius: 2rem
    justify-content: center
    color: #fff
    font-weight: 600
    line-height: 3rem
    height: 3rem
    text-align: center
    padding: 0 1.5rem
    overflow: hidden
    text-overflow: ellipsis
    text-wrap: nowrap
    text-decoration: none !important
    box-shadow: var(--shadow-paper)
    &:hover, &:focus
        color: #fff
    @media (min-width: 768px)
        line-height: 3.5rem
        height: 3.5rem
.ticker
    display: block
    min-width: 11rem
.ticker-group
    display: flex
    .ticker
        transition: all 0.2s ease-in-out
        max-width: 11rem
        box-shadow: var(--shadow-paper-horizontal)
    .ticker--more
        margin-left: 7.5rem
        background: none
        color: var(--stone)
        box-shadow: none
        transition: opacity 0.2s ease-in-out
        text-align: left
    @for $i from 1 through 20
        .ticker:nth-child(#{$i})
            z-index: 21 - $i
    &--2
        .ticker:not(:last-child)
            margin-right: -1.75rem
    &--many
        .ticker:not(:last-child)
            margin-right: -8rem
        .ticker:not(:first-child):not(.ticker--more)
            border-radius: 0 2rem 2rem 0
            color: transparent

    .ticker-group--many
        .ticker:not(:last-child)
            margin-right: -5rem
.tags
    display: flex
    gap: .5rem
    width: 100%
.tag
    background: var(--silver) !important
    color: var(--stone) !important
    display: flex
    gap: .5rem
    &--address
        text-overflow: ellipsis
        overflow: hidden
        display: block !important
        max-width: 12rem
        font-family: monospace !important
        color: var(--link) !important
        padding-left: 3.5rem !important
        position: relative
        svg
            position: absolute
            left: 1rem
            top: 0.6rem
    @media (prefers-color-scheme: dark)
        background: var(--steel) !important
        color: var(--ash) !important
    svg
        width: 2rem
        height: 2rem
        margin-right: -.5rem
        path
            fill: var(--concrete)
        &:hover
            path
                fill: var(--link)
    a
        display: flex
        align-items: center
        justify-content: center

.sbutton
    select
        opacity: 0
        position: absolute
        top: 0
        left: 0
        width: 100%
        height: 100%
        cursor: pointer

.sbutton
    font-size: 2rem
    padding: 0 2rem
    height: 4rem
    line-height: 3.5rem
    border-radius: 2rem
    min-width: 10rem
    border: none
    color: var(--white)
    font-weight: 600
    box-shadow: var(--shadow-strong)
    cursor: pointer
    display: flex
    align-items: center
    justify-content: center
    gap: 0.5rem
    position: relative
    text-decoration: none
    svg,.fill--icon
        fill: var(--white)

    // Color variants (solid background)
    &--sky
        background: var(--sky)
    &--success
        background: var(--grass)
    &--danger
        background: var(--berry)
    &--multi
        color: var(--label-select-inactive)
        min-width: 0 !important
        &--active
            cursor: default
            color: var(--link)
            background: var(--washed)
            box-shadow: var(--shadow-basic)
    &--exchange
        align-items: center
        cursor: pointer
        min-width: fit-content
        padding: 0 1.5rem 0 1rem !important
        background: var(--washed) !important
        box-shadow: var(--shadow-basic)
        @media only screen and (max-width: 768px)
            padding: 0 2rem 0 1.5rem !important
        svg
            width: 2.5rem
            height: 2.5rem
            max-width: 2.5rem
            min-width: 2.5rem
        &--binance,&--binance_us
            color: #f3bb30 !important
            svg path
                fill: #f3bb30 !important
        &--kraken
            color: #7133f5 !important
            svg path
                fill: #7133f5 !important
        &--coinbase
            color: #0052ff !important
            svg path
                fill: #0052ff !important
            @media (min-width: 768px)
                padding-left: 1rem
        &--bitget
            color: #00f0ff !important
            svg path
                fill: #00f0ff !important
        &--bitvavo
            color: #004dff !important
            svg path
                fill: #004dff !important
        &--bybit
            color: #f7a600 !important
            svg path
                fill: #f7a600 !important
        &--gemini
            color: #00dcfa !important
            svg path
                fill: #00dcfa !important
        &--kucoin
            color: #23af91 !important
            svg path
                fill: #23af91 !important
        &--mexc
            color: #2354e6 !important
            svg path
                fill: #2354e6 !important
        &--bingx
            color: #0058fb !important
            svg path
                fill: #0058fb !important
        &--bitmart
            color: #5aaba5 !important
            svg path
                fill: #5aaba5 !important
        &--bitrue
            color: #ebb433 !important
            svg path
                fill: #ebb433 !important
        &--hyperliquid
            color: #50e3c2 !important
            svg path
                fill: #50e3c2 !important
    &--outline
        background: var(--washed)
        border: 0.25rem solid var(--link)
        color: var(--link)
        padding: 0 calc(2rem - 0.25rem)
        svg
            fill: var(--link)
        .animicon__a, .animicon__b
            background-color: var(--link)
        &.button--success
            border-color: var(--grass)
            color: var(--grass)
            svg
                fill: var(--grass)
            .animicon__a, .animicon__b
                background-color: var(--grass)
        &.button--danger
            border-color: var(--berry)
            color: var(--berry)
            svg
                fill: var(--berry)
            .animicon__a, .animicon__b
                background-color: var(--berry)
    &--link
        padding-left: 0
        padding-right: 0
        box-shadow: none
        border: none
        background: none
        min-width: fit-content
        color: var(--link)
        path
            fill: var(--link)
        &[disabled="disabled"],&[disabled]
            path
                fill: var(--stone) !important

    &--disabled, &[disabled="disabled"], &[disabled]
        cursor: not-allowed !important
        pointer-events: none !important
        box-shadow: none !important
        background: none !important
        border: 0.25rem solid var(--concrete) !important
        color: var(--concrete) !important
        padding: 0 calc(2rem - 0.25rem) !important
        .animicon *
            background-color: var(--concrete) !important
