.total-value
    display: flex
    gap: 1rem
    align-items: center
    line-height: 4rem

    &---toggle
        cursor: pointer
        stroke: $gray-300
    &---off
        display: none
    &---on
        display: inherit

    &-input
        &--asset
            width: 24rem

    .ticker-input
        width: 24rem