@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap')

$primary: rgb(41, 72, 161)
$text:    #061A4F
$success: color(display-p3 0 0.7 0.45)
$danger:  color(display-p3 1 0 0)
$warning: color(display-p3 1 0.5 0)
$soon:    color(display-p3 1 0.5 0)
$pro:     rgb(0, 64, 255)
$legendary: rgb(140, 0, 255)

$gray-100: #EDF0F6
$gray-150: #dde0ea
$gray-200: #b4bcd1
$gray-300: #8894B6

$page-bg: #f5f6f8
$widget-bg: #fff

$dropdown-bg: #FFF

\:root
  --text-dark: #061A4F
  --widget-shadow: 0.125rem 0.125rem 0.125rem rgba(0,0,0,0.035), 0.5rem 0.5rem 1.5rem rgba(0,0,0,0.035)

@media (prefers-color-scheme: light)
  .db-darkmode-only,.darkmode-only
    display: none
  \:root
    --primary: #00f
    --primary-button: #00f
    --primary-shadow: 0.125rem 0.125rem 0.125rem rgba(0,0,0,0.07), 0.5rem 0.5rem 0.5rem rgba(0,0,0,0.07)
    --success: color(display-p3 0 0.7 0.45)
    --success-shadow: 0.125rem 0.125rem 0.125rem rgba(0, 30, 15, 0.07), 0.5rem 0.5rem 0.5rem rgba(0, 30, 15, 0.07)
    --danger: #f7002d
    --danger-shadow: 0.125rem 0.125rem 0.125rem rgba(0,0,0,0.07), 0.5rem 0.5rem 0.5rem rgba(0,0,0,0.07)
    --danger-highlight: #f041
    --warning: color(display-p3 1 0.5 0)
    --warning-semitransparent: color(display-p3 1 0.5 0 / 0.38)
    --warning-shadow: 0.125rem 0.125rem 0.125rem rgba(0,0,0,0.07), 0.5rem 0.5rem 0.5rem rgba(0,0,0,0.07)
    --soon: color(display-p3 1 0.5 0)
    --soon-shadow: 0.125rem 0.125rem 0.125rem rgba(0,0,0,0.07), 0.5rem 0.5rem 0.5rem rgba(0,0,0,0.07)
    --success-semitransparent: color(display-p3 0 0.7 0.4 / 0.2)
    --discount: color(display-p3 0 0.6 0.34)
    --ai: color(display-p3 0.7 0 0.7)
    --new-vibe: #0947ff
    --benchmark: #949db5
    --background-new: #f5f6f8
    --background-art: #E8ECF2
    --background-new-semitransparent: #cfdeff69
    --widget-background: #fff
    --widget-background-odd: #0033660d
    --widget-line: #D9E0E7
    --insight-title: #061A4F
    --insight-background: #8098dd77
    --insight-pro-background: #a1f1d9
    --insight-con-background: #ffd3e2
    --insight-warning-background: #ffd7ab
    --slider-track: #3453B019
    --slider-progress:#00f
    --label: #061A4Fba
    --label-select-inactive: #061a4f80
    --close-hover: #ebeef2
    
    --emphasis: #024
    --research-logo: #061A4F

    --modal-backdrop: #bcc4d338

    --pick-bot-item-bg: #fff
    --pick-bot-item-text-hover: #012
    --big-header: var(--label)

    --input-text: #061A4F
    --input-text-inactive:  #8894B6
    --input-border: #8894B6

    --sinput-background: #fff
    --sinput-on-paper: #ebeef2
  
    --sinput-text: #00f

    --button-add-asset: #fff
  
    --button-add-asset-hover: #d9e0e7

    --toggle-background: #061a4f80
    --toggle-background-active: color(display-p3 0 0.7 0.45)

    --modal-background: #fff
    --modal-search-hover-background: #fff

    --itile-soon-bg: #fff6
  
    --modal-search-highlight-background: #e3ecfa
    --modal-search-placeholder: #8894B6

    --menu-tooltip-background: #fff
    --menu-tooltip-text: #061A4F
    --menuicon-active-background: #fff
  
    --tooltip-background: #fff
    --tooltip-text: #061A4F

    --alertbox-news-background: #FFF
    --alertbox-news-color: #061A4F

    --dropdown-bg: #FFF
    --dropdown-border: #D9E0E7
    --dropdown-hover: #D9E0E766
    --dropdown-hover-text: #061A4F

    --text-strong: #061A4F
    --text-faded: #8b92a7

    --widget-shadow-line: #0241

    --x-background: #000
    --x-text: #fff

@media (prefers-color-scheme: dark)
  .db-lightmode-only,.lightmode-only
    display: none
  \:root
    --new-vibe: #fff
    --primary: #0040ff
    --primary-button: #0040ff
    --success: color(display-p3 0 0.7 0.45)
    --success-semitransparent: color(display-p3 0 0.7 0.4 / 0.2)
    --discount: color(display-p3 0 0.75 0.42)
    --ai: color(display-p3 0.7 0 0.7)
    --danger: #f7002d
    --danger-highlight: #f041
    --warning: color(display-p3 1 0.5 0)
    --warning-semitransparent: color(display-p3 1 0.5 0 / 0.38)
    --benchmark: #465f81
    --background-new: #001b36
    --background-art: #00152a
    --background-new-semitransparent: #001b3669
    --widget-background: #0D223F
    --widget-background-odd: #bbddff0a
    --widget-line: #313C59
    --insight-title: #fff
    --insight-background: #00f77
    --insight-pro-background: #0F3440
    --insight-con-background: #361D3E
    --insight-warning-background: #884f00b0
    --slider-track: #D4DAEC22
    --slider-progress: #00f
    --label: #B2D5FFc9
    --label-select-inactive: #b2d5ff77
    --emphasis: #fff
    --research-logo: #fff

    --modal-backdrop: #012b
    --close-hover: #fff1

    --pick-bot-item-bg: #0D223F
    --pick-bot-item-text-hover: #fff
    --big-header: #61798d

    --input-text: #fff
    --input-text-inactive: #8894B6
    --input-border: #8894B6

    --sinput-background: #0D223F
    --sinput-on-paper: #001b36
    --sinput-text: #fff

    --button-add-asset: #0D223F
    --button-add-asset-hover: #172a46

    --toggle-background: #b2d5ff45
    --toggle-background-active: color(display-p3 0 0.7 0.45)

    --modal-background: #0d203c
    --modal-search-hover-background: #0D223F
    --itile-soon-bg: #233c6261
    
    --modal-search-highlight-background: #112849
    --modal-search-placeholder: #8894B6

    --menu-tooltip-background: #00f
    --menu-tooltip-text: #fff
    --menuicon-active-background: #0D223F

    --tooltip-background: #00f
    --tooltip-text: #fff

    --alertbox-news-background: #0D223F
    --alertbox-news-color: #fff

    --dropdown-bg: #172a46
    --dropdown-border: #313C59
    --dropdown-hover: #00f

    --text-strong: #fff
    --text-faded: #44648d

    --widget-shadow-line: #0128

    --x-background: #fff
    --x-text: #000