@font-face
  font-family: 'Montserrat'
  src: url('/assets/Montserrat-VariableFont_wght.ttf') format('truetype-variations')
  font-weight: 100 900
  font-style: normal
  font-display: swap

\:root
  font-size: 8px
  font-family: 'Montserrat', sans-serif

  --binance: #F0B90B

  @media (prefers-color-scheme: light)
    --sky: color(display-p3 0 0 1)
    --ink: #002244
    --ash: #4D587C
    --stone: #77829A
    --concrete: #A1ACB9
    --steel: #C5CFD8
    --silver: #E2E6EB
    --paper: #F5F6F8
    --washed: #FFFFFF
    --white: #FFFFFF
    --grass: color(display-p3 0 0.7 0.45)
    --berry: #CF0000

    --shadow-basic: 0.125rem 0.125rem 0.25rem rgba(0,0,0,0.07), 0.25rem 0.25rem 1rem rgba(0,0,0,0.05)
    --shadow-paper: 0.125rem 0.125rem 0.125rem rgba(0,0,0,0.15)
    --shadow-indent: inset 0.125rem 0.125rem 0.125rem rgba(0,0,0,0.15)

  @media (prefers-color-scheme: dark)
    --sky: color(display-p3 0 0 1)
    --ink: #002244
    --ash: #B2D5FFc9
    --stone: #77829A
    --concrete: #A1ACB9
    --steel: #C5CFD8
    --silver: #000
    --paper: #001b36
    --washed: #0D223F
    --white: #FFFFFF
    --grass: color(display-p3 0 0.7 0.45)
    --berry: #CF0000

    --shadow-basic: 0.125rem 0.125rem 0.25rem rgba(0,0,0,0.07), 0.25rem 0.25rem 1rem rgba(0,0,0,0.05)
    --shadow-paper: 0.125rem 0.125rem 0.125rem rgba(0,0,0,0.1)
    --shadow-indent: inset 0.125rem 0.125rem 0.125rem rgba(0,0,0,0.1)

@media (prefers-color-scheme: light)
  \:root
    --warning: color(display-p3 1 0.5 0)
    --benchmark: #949db5
    --widget-line: #D9E0E7
    --insight-title: #061A4F
    --insight-background: #8098dd77
    --insight-pro-background: #a1f1d9
    --insight-con-background: #ffd3e2
    --insight-warning-background: #ffd7ab
    --slider-track: #3453B019
    --slider-progress:#00f
    --label: #061A4Fba
    --label-select-inactive: #061a4f80
    --close-hover: #ebeef2

    --modal-backdrop: #bcc4d338

    --pick-bot-item-bg: #fff
    --pick-bot-item-text-hover: #012
    --big-header: var(--stone)

    --input-text: #061A4F
    --input-text-inactive:  #8894B6
    --input-border: #8894B6

    --sinput-background: #fff
  
    --sinput-text: #00f

    --button-add-asset: #fff
  
    --button-add-asset-hover: #d9e0e7

    --modal-background: #fff
    --modal-search-hover-background: #fff

    --itile-soon-bg: #fff6
  
    --modal-search-highlight-background: #e3ecfa
    --modal-search-placeholder: #8894B6

    --menu-tooltip-background: #fff
    --menu-tooltip-text: #061A4F
    --menuicon-active-background: #fff
  
    --tooltip-background: #fff
    --tooltip-text: #061A4F

    --alertbox-news-background: #FFF
    --alertbox-news-color: #061A4F

    --dropdown-bg: #FFF
    --dropdown-border: #D9E0E7
    --dropdown-hover: #D9E0E766
    --dropdown-hover-text: #061A4F

    --text-strong: #061A4F
    --text-faded: #8b92a7

    --widget-shadow-line: #0241

    --x-background: #000
    --x-text: #fff

@media (prefers-color-scheme: dark)
  \:root
    --warning: color(display-p3 1 0.5 0)
    --benchmark: #465f81
    --widget-line: #313C59
    --insight-title: #fff
    --insight-background: #00f77
    --insight-pro-background: #0F3440
    --insight-con-background: #361D3E
    --insight-warning-background: #884f00b0
    --slider-track: #D4DAEC22
    --slider-progress: #00f
    --label: #B2D5FFc9
    --label-select-inactive: #b2d5ff77

    --modal-backdrop: #012b
    --close-hover: #fff1

    --pick-bot-item-bg: #0D223F
    --pick-bot-item-text-hover: #fff
    --big-header: #61798d

    --input-text: #fff
    --input-text-inactive: #8894B6
    --input-border: #8894B6

    --sinput-background: #0D223F
    --sinput-text: #fff

    --button-add-asset: #0D223F
    --button-add-asset-hover: #172a46

    --modal-background: #0d203c
    --modal-search-hover-background: #0D223F
    --itile-soon-bg: #233c6261
    
    --modal-search-highlight-background: #112849
    --modal-search-placeholder: #8894B6

    --menu-tooltip-background: #00f
    --menu-tooltip-text: #fff
    --menuicon-active-background: #0D223F

    --tooltip-background: #00f
    --tooltip-text: #fff

    --alertbox-news-background: #0D223F
    --alertbox-news-color: #fff

    --dropdown-bg: #172a46
    --dropdown-border: #313C59
    --dropdown-hover: #00f

    --text-strong: #fff
    --text-faded: #44648d

    --widget-shadow-line: #0128

    --x-background: #fff
    --x-text: #000