@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap')

$primary: rgb(41, 72, 161)
$text:    #061A4F
$success: color(display-p3 0 0.7 0.4)
$danger:  color(display-p3 1 0 0)
$warning: color(display-p3 1 0.5 0)
$soon:    color(display-p3 1 0.5 0)
$pro:     rgb(0, 64, 255)
$legendary: rgb(140, 0, 255)

$gray-100: #EDF0F6
$gray-150: #dde0ea
$gray-200: #b4bcd1
$gray-300: #8894B6

$page-bg: #f5f6f8
$widget-bg: #fff

$dropdown-bg: #FFF

\:root
  --text-dark: #061A4F
  --icon-24-blue-circle-star: url('data:image/svg+xml,%3Csvg%20viewBox%3D%220%200%2024%2024%22%20fill%3D%22none%22%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%3E%3Ccircle%20cx%3D%2212%22%20cy%3D%2212%22%20r%3D%2210%22%20fill%3D%22color%28display-p3%200.3%200.5%201%29%22%2F%3E%3Cpath%20d%3D%22M13.6%208.8%2012.8%206a.9.9%200%200%200-1.6%200l-.8%202.7c-.2.3-.5.6-.9.6H7c-.9%200-1.2%201.1-.5%201.6l2.1%201.7c.3.2.4.6.3%201L8%2016.3c-.3.8.7%201.5%201.3%201l2.2-1.6a1%201%200%200%201%201%200l2.2%201.6c.6.5%201.6-.2%201.3-1l-.8-2.6a1%201%200%200%201%20.3-1l2.1-1.7c.7-.5.4-1.6-.5-1.6h-2.6a.9.9%200%200%201-.9-.6Z%22%20fill%3D%22%23fff%22%2F%3E%3C%2Fsvg%3E')
  --icon-24-white-magic: url('data:image/svg+xml;base64,PHN2ZyB2aWV3Qm94PSIwIDAgMjQgMjQiIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyI+PHBhdGggZD0iTTEwIDdhMSAxIDAgMCAwLTIgMHYxYTUgNSAwIDAgMS01IDUgMSAxIDAgMSAwIDAgMiA1IDUgMCAwIDEgNSA1djFhMSAxIDAgMSAwIDIgMHYtMWE1IDUgMCAwIDEgNS01IDEgMSAwIDEgMCAwLTIgNSA1IDAgMCAxLTUtNVY3Wm0xMC00YTEgMSAwIDEgMC0yIDB2MWMwIC42LS40IDEtMSAxYTEgMSAwIDEgMCAwIDJjLjYgMCAxIC40IDEgMXYxYTEgMSAwIDEgMCAyIDBWOGMwLS42LjQtMSAxLTFhMSAxIDAgMSAwIDAtMiAxIDEgMCAwIDEtMS0xVjNaIiBmaWxsPSIjZmZmIi8+PC9zdmc+')
  --icon-24-green-circle-plus: url('data:image/svg+xml,%3Csvg%20viewBox%3D%220%200%2024%2024%22%20fill%3D%22none%22%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%3E%3Ccircle%20cx%3D%2212%22%20cy%3D%2212%22%20r%3D%2210%22%20fill%3D%22color%28display-p3%200%200.7%200.4%29%22%2F%3E%3Cpath%20d%3D%22M12%206c.7%200%201.3.6%201.3%201.2v3.5h3.4a1.3%201.3%200%200%201%200%202.5h-3.4v3.5a1.3%201.3%200%200%201-2.6%200v-3.5H7.4a1.2%201.2%201%201%201%200-2.5h3.5V7.2c0-.6.5-1.2%201.2-1.2Z%22%20fill%3D%22%23fff%22%2F%3E%3C%2Fsvg%3E')
  --icon-24-red-circle-minus: url('data:image/svg+xml,%3Csvg%20viewBox%3D%220%200%2024%2024%22%20fill%3D%22none%22%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%3E%3Ccircle%20cx%3D%2212%22%20cy%3D%2212%22%20r%3D%2210%22%20fill%3D%22color%28display-p3%201%200%200%29%22%2F%3E%3Cpath%20d%3D%22M16.8%2010.7a1.3%201.3%200%200%201%200%202.5H7.2a1.3%201.3%200%200%201%200-2.5h9.6Z%22%20fill%3D%22%23fff%22%2F%3E%3C%2Fsvg%3E')
  --icon-24-orange-circle-exclamation: url('data:image/svg+xml,%3Csvg%20xmlns%3D%22http%3A//www.w3.org/2000/svg%22%20viewBox%3D%220%200%2024%2024%22%3E%3Ccircle%20r%3D%2210%22%20cy%3D%2212%22%20cx%3D%2212%22%20fill%3D%22color(display-p3%201%200.5%200)%22/%3E%3Cpath%20d%3D%22M13.4%2016c0%20.8-.6%201.3-1.4%201.4-.9%200-1.4-.6-1.4-1.4%200-.8.5-1.4%201.4-1.4.8%200%201.4.6%201.4%201.4ZM11%2013V7h2v6h-2Z%22%20fill%3D%22%23fff%22/%3E%3C/svg%3E')
  --c-gradient-step-a: color(display-p3 1 0 0)
  --c-gradient-step-b: rgb(255, 0, 255)
  --c-gradient-step-c: rgb(0, 255, 255)
  --c-gradient-step-d: rgb(0, 0, 255)
  --c-gradient: -webkit-linear-gradient(5deg, var(--c-gradient-step-a), var(--c-gradient-step-b), var(--c-gradient-step-c), var(--c-gradient-step-d), var(--c-gradient-step-a))

  --ticker-text-dark: #061A4F
  --widget-shadow: 0.125rem 0.125rem 0.125rem rgba(0,0,0,0.035), 0.5rem 0.5rem 1.5rem rgba(0,0,0,0.035)

@media (prefers-color-scheme: light)
  .db-darkmode-only,.darkmode-only
    display: none
  \:root
    --primary: #2948A1
    --primary-shadow: 0.125rem 0.125rem 0.125rem rgba(0,0,0,0.07), 0.5rem 0.5rem 0.5rem rgba(0,0,0,0.07)
    --success: color(display-p3 0 0.7 0.4)
    --success-shadow: 0.125rem 0.125rem 0.125rem rgba(0, 30, 15, 0.07), 0.5rem 0.5rem 0.5rem rgba(0, 30, 15, 0.07)
    --danger: #f7002d
    --danger-shadow: 0.125rem 0.125rem 0.125rem rgba(0,0,0,0.07), 0.5rem 0.5rem 0.5rem rgba(0,0,0,0.07)
    --warning: color(display-p3 1 0.5 0)
    --warning-semitransparent: color(display-p3 1 0.5 0 / 0.38)
    --warning-shadow: 0.125rem 0.125rem 0.125rem rgba(0,0,0,0.07), 0.5rem 0.5rem 0.5rem rgba(0,0,0,0.07)
    --soon: color(display-p3 1 0.5 0)
    --soon-shadow: 0.125rem 0.125rem 0.125rem rgba(0,0,0,0.07), 0.5rem 0.5rem 0.5rem rgba(0,0,0,0.07)
    --success-semitransparent: color(display-p3 0 0.7 0.4 / 0.2)
    --discount: color(display-p3 0 0.6 0.34)
    --ai: color(display-p3 0.7 0 0.7)

    --benchmark: #949db5
    --background-new: #f5f6f8
    --background-new-semitransparent: #cfdeff69
    --widget-background: #fff
    --widget-line: #D9E0E7
    --insight-title: #061A4F
    --insight-background: #8098dd77
    --insight-pro-background: #a1f1d9
    --insight-con-background: #ffd3e2
    --insight-warning-background: #ffd7ab
    --slider-track: #3453B019
    --slider-progress:#2948A1
    --label: #061a4f80
    --label-select-inactive: #3453b05e
    
    --emphasis: #2948A1

    --modal-backdrop: #c6d4f244

    --pick-bot-item-bg: #fff
    --pick-bot-item-text-hover: #012
    --big-header: #2948A1

    --input-text: #061A4F
    --input-text-inactive:  #8894B6

    --sinput-background: #fff
  
    --sinput-text: #2948A1

    --button-add-asset: #fff
  
    --button-add-asset-hover: #d9e0e7

    --toggle-background: #061a4f80
    --toggle-background-active: color(display-p3 0 0.7 0.4)

    --modal-background: #fff
    --modal-search-hover-background: #fff
  
    --modal-search-highlight-background: #e3ecfa
    --modal-search-placeholder: #8894B6

    --menu-tooltip-background: #fff
    --menu-tooltip-text: #061A4F
    --menuicon-active-background: #fff
  
    --tooltip-background: #fff
    --tooltip-text: #061A4F

    --alertbox-news-background: #FFF
    --alertbox-news-color: #061A4F

    --dropdown-bg: #FFF
    --dropdown-border: #D9E0E7
    --dropdown-hover: #D9E0E766
    --dropdown-hover-text: #061A4F

    --text-strong: #061A4F
    --text-faded: #8b92a7

    --widget-shadow-line: #0241

@media (prefers-color-scheme: dark)
  .db-lightmode-only,.lightmode-only
    display: none
  \:root
    --primary: #2948A1
    --success: color(display-p3 0 0.7 0.4)
    --success-semitransparent: color(display-p3 0 0.7 0.4 / 0.2)
    --discount: color(display-p3 0 0.75 0.42)
    --ai: color(display-p3 0.7 0 0.7)
    --danger: #f7002d
    --warning: color(display-p3 1 0.5 0)
    --warning-semitransparent: color(display-p3 1 0.5 0 / 0.38)
    --benchmark: #465f81
    --background-new: #001b36
    --background-new-semitransparent: #001b3669
    --widget-background: #0D223F
    --widget-line: #313C59
    --insight-title: #fff
    --insight-background: #2948A177
    --insight-pro-background: #0F3440
    --insight-con-background: #361D3E
    --insight-warning-background: #884f00b0
    --slider-track: #D4DAEC22
    --slider-progress: #2948A1
    --label: #b2d5ff77
    --label-select-inactive: #d4daec3b
    --emphasis: #fff

    --modal-backdrop: #0127

    --pick-bot-item-bg: #162d4e
    --pick-bot-item-text-hover: #fff
    --big-header: #61798d

    --input-text: #fff
    --input-text-inactive: #8894B6

    --sinput-background: #0D223F
    --sinput-text: #fff

    --button-add-asset: #0D223F
    --button-add-asset-hover: #172a46

    --toggle-background: #b2d5ff45
    --toggle-background-active: color(display-p3 0 0.7 0.4)

    --modal-background: #0d203c
    --modal-search-hover-background: #0D223F
    --modal-search-highlight-background: #112849
    --modal-search-placeholder: #8894B6

    --menu-tooltip-background: #2948A1
    --menu-tooltip-text: #fff
    --menuicon-active-background: #0D223F

    --tooltip-background: #2948A1
    --tooltip-text: #fff

    --alertbox-news-background: #0D223F
    --alertbox-news-color: #fff

    --dropdown-bg: #172a46
    --dropdown-border: #313C59
    --dropdown-hover: #2948A1

    --text-strong: #fff
    --text-faded: #345176

    --widget-shadow-line: #0128