.widgets
    border-radius: 2rem
    overflow: hidden

.widget
    background: var(--widget-background)
    padding: 3rem
    display: flex
    flex-direction: column
    gap: 3rem
    margin-bottom: 2px
    &--single
        border-radius: 2rem
        margin-bottom: 0
        &.widget--chart
            padding-bottom: 2rem
            @media only screen and (max-width: 549.9px)
                padding-bottom: 1rem
        &.data-grid
            border-radius: 2rem
            overflow: hidden
    &--thin
        padding: 1.5rem 3rem
        @media only screen and (max-width: 549.9px)
            padding: 1.5rem 2rem !important
    @media only screen and (max-width: 549.9px)
        padding: 2rem
    &.data-grid
        padding: 0
    &--chart
        gap: 0
        .data-grid__item
            height: auto
            background: none
            padding: 0
            &__value
                color: $success
                font-weight: 600
    &--table
        padding: 0
        overflow: hidden
        height: 510px
        max-height: 510px
        overflow-y: auto
        table
            margin-bottom: 0
        thead
            position: sticky
            top: 0
            background-color: var(--widget-background)
        tbody
            overflow-y: auto
        td, th
            padding: 1.5rem 0 1.5rem 3rem
            @media only screen and (max-width: 549.9px)
                padding: 1.5rem 0 1.5rem 2rem
            &:last-child
                padding-right: 3rem
        .table-striped tbody tr:nth-of-type(odd)
            background-color: var(--pickExchangeItemBg)

.data-grid
    background: none
    display: grid
    grid-template-columns: repeat(6, 1fr)
    gap: 2px
    @container (max-width: 1223px)
        grid-template-columns:  repeat(5, 1fr)
    @container (max-width: 959px)
        grid-template-columns:  repeat(4, 1fr)
    @container (max-width: 767px)
        grid-template-columns:  repeat(3, 1fr)
    @container (max-width: 511px)
        grid-template-columns:  repeat(2, 1fr)
    &__item
        padding: 2.5rem 2.5rem 2rem 3rem
        position: relative
        display: flex
        flex-direction: column
        background-color: var(--widget-background)
        @media only screen and (max-width: 549.9px)
            padding: 2rem 2rem 1rem 2rem
        &:not(.data-grid__item--empty):hover
            // background-color: var(--widget-line)
            // cursor: pointer
        &__value
            font-size: 3rem
            line-height: 5rem
            color: var(--emphasis)
            min-width: 3rem
            min-height: 3rem
            path
                fill: var(--label)
            svg
                width: 3rem
        &--filler
            display: none !important
            &--2
                @container (max-width: 511px)
                    display: flex !important
            &--3
                @container (min-width: 511rem) and (max-width: 767px)
                    display: flex !important
            &--4
                @container (min-width: 767.5px) and (max-width: 959px)
                    display: flex !important
            &--5
                @container (min-width: 959.5px) and (max-width: 1223px)
                    display: flex !important
            &--6
                @container (min-width: 1223.5px)
                    display: flex !important
        .tooltip
            bottom: calc(100% - 1rem)
            left: 0
            &::before
                content: " "
                display: block
                width: 0
                height: 0
                border: 1rem solid transparent
                border-top-color: var(--primary)
                position: absolute
                top: inherit
                bottom: -2rem
                left: 4.5rem

.backtests--warning
    .widget--chart, .data-grid__item
        background-color: var(--insight-warning-background)
