.widget-group
    border-radius: 2rem
    overflow: hidden
    display: flex
    flex-direction: column
    gap: 0.25rem

    box-shadow: var(--widget-shadow)
    .widget, .insight
        border-radius: 0
        box-shadow: none

.widget
    color: var(--text)
    background: var(--widget-background)
    padding: 3rem
    display: flex
    flex-direction: column
    gap: 3rem
    border-radius: 2rem
    box-shadow: var(--widget-shadow)
    &__placeholder
        width: 80%
        height: 100%
        align-self: center
        justify-self: center
        opacity: 0.2
        padding-top: 3rem
        padding-bottom: 5rem
    p
        b
            color: var(--emphasis)
    &--info
        background: var(--insight-background)
    &.widget--chart
        max-width: 100%
        padding-bottom: 2rem
    &.data-grid
        border-radius: 2rem
        padding: 0
    &--thin
        padding: 1.5rem 3rem
        @media only screen and (max-width: 549.9px)
            padding: 1.5rem 2rem !important
    @media only screen and (max-width: 549.9px)
        padding: 2rem
    &--chart
        gap: 0
        .data-grid__item
            height: auto
            background: none
            padding: 0
            &__value
                color: $success
                font-weight: 600
    &--table
        padding: 0
        overflow: scroll
        max-height: 68rem
        overflow-y: auto
        text-wrap: nowrap
        table
            margin-bottom: 0
            border-collapse: collapse
        thead
            position: sticky
            top: 0
            background-color: var(--widget-background)
            box-shadow: 0 0.25rem var(--widget-shadow-line)
        tbody
            overflow-y: auto
            height: 0
        th
            color: var(--label)
            font-weight: 600
            z-index: 1
        thead
            z-index: 1
        td, th
            padding: 1.5rem 0 1.5rem 3rem
            text-align: right
            border: none
            &:first-child
                text-align: left
            @media only screen and (max-width: 549.9px)
                padding-left: 2rem
            &:last-child
                padding-right: 3rem
                @media only screen and (max-width: 549.9px)
                    padding-right: 2rem
        .tooltip-info-icon
            width: 3rem
            float: right
        .tooltip
            top: -2rem
            right: 4rem
            left: auto
            width: calc(100vw - 8rem)
            max-width: 70rem
            text-wrap: auto
            text-align: left
            &::before
                right: -3rem
                left: auto
                top: 2.5rem
                border-color: #fff0
                border-left-color: var(--primary) !important


        path
            fill: var(--label)
    .sinput
        box-shadow: none
    p:last-child
        margin-bottom: 0
    strong
        color: var(--emphasis)
.data-grid
    display: grid
    gap: 0
    grid-template-columns: repeat(2, 50%)
    background-image: linear-gradient(to right, transparent, transparent calc(50% - 0.25rem), var(--widget-shadow-line) calc(50% - 0.25rem), var(--widget-shadow-line) calc(50%), transparent calc(50%)), linear-gradient(to bottom, transparent, transparent calc(12.3rem), var(--widget-shadow-line) calc(12.3rem), var(--widget-shadow-line) calc(12.3rem + 0.25rem), transparent calc(12.3rem + 0.25rem))
    background-size: 100% 100%, 100% calc(12.3rem + 0.25rem)
    background-repeat: no-repeat, repeat-y
    &--two-columns
        grid-template-columns: repeat(2, 50%) !important
        background-image: linear-gradient(to right, transparent, transparent calc(50% - 0.25rem), var(--widget-shadow-line) calc(50% - 0.25rem), var(--widget-shadow-line) calc(50%), transparent calc(50%)) !important
        .data-grid__item__value
            min-height: auto
    @container (min-width: 576px)
        grid-template-columns: repeat(3, 33%)
        background-image: linear-gradient(to right, transparent, transparent calc(33.33% - 0.25rem), var(--widget-shadow-line) calc(33.33% - 0.25rem), var(--widget-shadow-line) calc(33.33%), transparent calc(33.33%)), linear-gradient(to right, transparent, transparent calc(66.66% - 0.25rem), var(--widget-shadow-line) calc(66.66% - 0.25rem), var(--widget-shadow-line) calc(66.66%), transparent calc(66.66%)), linear-gradient(to bottom, transparent, transparent calc(12.3rem), var(--widget-shadow-line) calc(12.3rem), var(--widget-shadow-line) calc(12.3rem + 0.25rem), transparent calc(12.3rem + 0.25rem))
        background-size: 100% 100%, 100% 100%, 100% calc(12.3rem + 0.25rem)
        background-repeat: no-repeat, no-repeat, repeat-y
    @container (min-width: 768px)
        grid-template-columns: repeat(4, 25%)
        background-image: linear-gradient(to right, transparent, transparent calc(25% - 0.25rem), var(--widget-shadow-line) calc(25% - 0.25rem), var(--widget-shadow-line) calc(25%), transparent calc(25%)), linear-gradient(to right, transparent, transparent calc(50% - 0.25rem), var(--widget-shadow-line) calc(50% - 0.25rem), var(--widget-shadow-line) calc(50%), transparent calc(50%)), linear-gradient(to right, transparent, transparent calc(75% - 0.25rem), var(--widget-shadow-line) calc(75% - 0.25rem), var(--widget-shadow-line) calc(75%), transparent calc(75%)), linear-gradient(to bottom, transparent, transparent calc(12.3rem), var(--widget-shadow-line) calc(12.3rem), var(--widget-shadow-line) calc(12.3rem + 0.25rem), transparent calc(12.3rem + 0.25rem))
        background-size: 100% 100%, 100% 100%, 100% 100%, 100% calc(12.3rem + 0.25rem)
        background-repeat: no-repeat, no-repeat, no-repeat, repeat-y
    &__item
        padding: 2.5rem 2.5rem 2rem 3rem
        position: relative
        display: flex
        flex-direction: column
        @media only screen and (max-width: 549.9px)
            padding: 2rem 2rem 1rem 2rem
        &__value
            font-size: 3rem
            line-height: 5rem
            color: var(--emphasis)
            min-width: 3rem
            min-height: 5rem
            @media (max-width: 549.9px)
                min-height: 6.5rem
            path
                fill: var(--label)
            svg
                width: 3rem
            small
                color: var(--label)
        .tooltip
            bottom: calc(100% - 1rem)
            left: 0
            &::before
                content: " "
                display: block
                width: 0
                height: 0
                border: 1rem solid transparent
                border-top-color: var(--primary)
                position: absolute
                top: inherit
                bottom: -2rem
                left: 4.5rem

.backtests--warning
    .widget--chart, .data-grid__item
        background-color: var(--insight-warning-background)
