<div class="modal--search__assets__item" data-arrow-keys-navigation-target="item">
  <%= button_tag name: "#{bot.model_name.param_key}[#{asset_field}]", value: id, type: :submit, data: { arrow_keys_navigation_target: "button", turbo_frame: "modal_content" } do %>
    <div class="modal--search__cell modal--search__cell--ticker"><%= symbol %></div>
    <div class="modal--search__cell modal--search__cell--name">
      <%= name %>
    </div>
    <div class="modal--search__cell modal--search__cell--exchanges">
      <% exchange_names.each do |exchange_name| %>
        <%= render "svg/exchange-#{exchange_name.downcase}", title: exchange_name %>
      <% end %>
    </div>
  <% end %>
</div>
