<div class="widget widget--info gap-1">
  <%= raw t('bot_info.barbell.info') %>
</div>
<div class="widget gap-1">
  <%= raw t('bot_info.how_to_use') %>
  <%= raw t('bot_info.barbell.examples') %>
</div>