<!--
<% if @bot.interval == "week" %>
  <div class="widget">
    <div style="display: flex; gap: 1rem; justify-content: flex-start;">
      <div class="toggle">
        <div class="toggle__style"></div>
      </div>
      <select class="sinput sinput--select" disabled>
        <option value="1" selected>Monday</option>
        <option value="2">Tuesday</option>
        <option value="3">Wednesday</option>
        <option value="4">Thursday</option>
        <option value="5">Friday</option>
        <option value="6">Saturday</option>
        <option value="7">Sunday</option>
      </select>
      <input type="time" class="sinput sinput--time" value="12:00" disabled>
    </div>
  </div>
<% end %>
-->