<div class="widget">
  <div class="toggle-group">
    <div class="toggle">
      <div class="toggle__style"></div>
    </div>
    <label class="conversational conversational--small conversational--disabled">Don't spend more than <input value="10" class="sinput numeric-input" min="0" step="any" size="3" data-controller="autowidth-input" data-action="change->form--submit#submit input->autowidth-input#resize" style="margin-left: 0.125rem;" type="number" disabled>USDT
    </label>
  </div>
</div>