<div class="widget">
  <div style="display: flex; gap: 1rem; justify-content: flex-start;">
    <div class="toggle">
      <div class="toggle__style"></div>
    </div>
    <label class="label">Buy until <input class="sinput sinput--calendar" max="2025-04-30" value="2024-05-02" type="date" disabled></label>
  </div>
</div>