<div class="widget">
  <div class="toggle-group">
    <div class="toggle">
      <div class="toggle__style"></div>
    </div>
    <label class="conversational conversational--small conversational--disabled">Buy until <input class="sinput sinput--calendar" max="2025-04-30" value="2024-05-02" type="date" disabled></label>
  </div>
</div>