<div class="widget">
  <div style="display: flex; gap: 1rem; justify-content: flex-start;">
    <div class="toggle">
      <div class="toggle__style"></div>
    </div>
    <label class="label">Buy only when price is below <input value="10" class="sinput numeric-input" min="0" step="any" size="3" data-controller="autowidth-input" data-action="change->form--submit#submit input->autowidth-input#resize" type="number" style="width: 39px;" disabled>USDT</label>
  </div>
</div>