<%= render 'layouts/turbo_modal' do %>
  <div class="modal modal--full">
    <%= button_tag class: 'modal__close', data: { action: 'modal--base#animateOutCloseAndCleanUp' } do %>
      <%= render partial: 'svg/24x24_x' %>
    <% end %>
    <div class="process-progress">
      <div class="process-progress__step process-progress__step--done">
        Currencies
      </div>
      <div class="process-progress__step process-progress__connector"></div>
      <div class="process-progress__step process-progress__step--done">
        Exchange
      </div>
      <div class="process-progress__step process-progress__connector"></div>
      <div class="process-progress__step process-progress__step--now">
        API
      </div>
    </div>
    <div class="conversational conversational--bot-setup">Invest in BTC and ETH at Coinbase spending USDT.</div>
    <%= button_to 'Create', bots_path(@bot), method: :post, data: { action: 'modal--base#animateOutCloseAndCleanUp' } %>

  </div>
<% end %>