<%= render 'layouts/turbo_modal' do %>
  <div class="modal modal--full">
    <%= button_tag class: 'modal__close', data: { action: 'modal--base#animateOutCloseAndCleanUp' } do %>
      <%= render partial: 'svg/24x24_x' %>
    <% end %>
    <div class="process-progress">
      <div class="process-progress__step process-progress__step--now">
        Currencies
      </div>
      <div class="process-progress__step process-progress__connector"></div>
      <div class="process-progress__step process-progress__step--todo">
        Exchange
      </div>
      <div class="process-progress__step process-progress__connector"></div>
      <div class="process-progress__step process-progress__step--todo">
        API
      </div>
    </div>
    <div class="conversational conversational--bot-setup">Invest in BTC and …</div>

    <%= render partial: 'bots/asset_search', locals: {
      bot: @bot,
      asset_field: :base1_asset_id,
      search_form_path: barbell_new_step_two_bots_path,
      next_step_path: barbell_new_step_three_bots_path,
      assets: @assets
    } %>

  </div>
<% end %>