<% if @bot.present? and @other_bots.present? %>
  <div class="page-head">
    <%= render "bots/header", bot: @bot, other_bots: @other_bots %>
  </div>
<% end %>

<% content_for :body_class, ".view--dashboard" %>

<div id="dashboard"></div>
