<%= render 'layouts/modal/full_page' do %>
  <div class="bot-creation-layout">
    <%= render partial: 'bots/dca_dual_assets/new_step_progress_bar', locals: { current_step: :exchange } %>

    <%= render "bots/wizard/sentence", bot: @bot, current_step: :exchange %>

    <div class="vt-step-body">
      <%= render "bots/pick_exchanges/table",
        bot: @bot,
        exchanges: @exchanges,
        submit_url: bots_dca_dual_assets_pick_exchange_path,
        header: ["#{t('bot.fees')}:", "Maker", "Taker"],
        row_partial: "shared/exchange_search_result",
        row_locals: ->(exchange) { { exchange: exchange, param_name: "#{@bot.model_name.param_key}[exchange_id]" } } %>
    </div>
  </div>
<% end %>
