<div class="widget--pricing__name">
  <%= t('subscriptions.free') %>
</div>
<div class="widget--pricing__period">
  <%= t('subscriptions.plan_life_time') %>
</div>
<div class="widget--pricing__info">
  <p><%= t('subscriptions.free_info') %></p>
  <ul>
    <li><%= t('subscriptions.features.limited_dca') %></li>
  </ul>
</div>