<div class="widget--pricing__name">
  <%= t('subscriptions.free') %>
  <div class="widget--pricing__name__period"></div>
</div>

<div class="widget--pricing__amount"></div>

<ul>
  <li><%= t('subscriptions.features.limited_dca') %></li>
</ul>