%p
  Hi #{@name},
%p
  Thanks! I booked your #{@subscription_plan.display_name} plan, and will wait for the payment.
  %br
  I will appreciate if you could send me the transfer confirmation.
%p
  Let me know if you have any questions.
%p
  Best,
  %br
  Jan

%p{style: "color:#9d9d9d; margin-top: 20px; margin-bottom: 8px"} Deltabadger Team
%img{alt: "Logo", src: "https://deltabadger.com/logo_plus_legendary50.png", style: "margin-bottom: 24px"}

%p
  PS If you didn’t pay yet, please, send #{@amount}#{@type == 'Other' ? '$' : '€'}  to
%p
  - if @type == 'Other'
    %p
      %b
        Account holder
      %br
      Deltabadger OÜ
    %p
      %b
        Routing number
      %br
      084009519
    %p
      %b
        Account number
      %br
      9600 0000 0051 1836
    %p
      %b
        Account type
      %br
      Checking
    %p
      %b
        Bank address
      %br
      TransferWise
      %br
      19 W 24th Street
      %br
      New York NY 10010
      %br
      United States
  - else
    %p
      %b
        Account holder
      %br
      Deltabadger OÜ
    %p
      %b
        BIC
      %br
      TRWIBEB1XXX
    %p
      %b
        IBAN (Belgium)
      %br
      BE83 9670 6500 4615
    %p
      %b
        Bank address
      %br
      Avenue Louise 54, Room S52
      %br
      Brussels
      %br
      1050
      %br
      Belgium