<p>
  Hi <%= @payment.first_name %>,
</p>
<p>
  Thanks! I booked your <%= localized_plan_name(@payment.subscription_plan.name) %> plan, and will wait for the payment.
  <br>
  I will appreciate if you could send me the transfer confirmation.
</p>
<p>
  Let me know if you have any questions.
</p>
<p>
  Best,
  <br>
  Jan
</p>

<p>
  PS If you didn’t pay yet, please, send <%= localized_price(@payment.total, @payment.currency) %> to
</p>
<p>
  <% if @payment.from_eu? %>
    TODO: EU details
  <% else %>
    TODO: US details
  <% end %>
</p>
