= t('.template_html',
    paid_at: @payment.paid_at,
    first_name: @payment.first_name,
    last_name: @payment.last_name,
    email: @user.email,
    plan_name: @payment.subscription_plan.display_name,
    years: @payment.subscription_plan.years,
    total_paid: @payment.total,
    currency: @payment.currency)
