%p
  Hi,
%p
  Thanks for buying our <b>#{@subscription_plan.years}-year #{@subscription_plan.name.capitalize} plan</b>.
%p
  Dollar-Cost Averaging works the best when done persistently for an extended time.
%p
  = "--"
%p
  Good luck,
%p
  Deltabadger Team
