<h1 class="mail-header"><%= t('.subject', plan_name: localized_plan_name(@payment.subscription_plan_variant.name)) %></h1>

<p><%= t('mailer.greeting', name: @payment.user.name) %></p>
<%= t('.template_html', years: @payment.subscription_plan_variant.years, plan_name: localized_plan_name(@payment.subscription_plan_variant.name)) %>
