%h1{class: "mail-header"}= t('.subject', plan_name: @subscription_plan.display_name)

%p= t('mailer.greeting', name: @user.name)
= t('.template_html', years: @subscription_plan.years, plan_name: @subscription_plan.display_name)
