<p>Hey <%= user_first_name %>, I saw your subscription to Deltabadger yesterday. Thanks a lot!</p>
<p>Guillem and I are trying to grow our reviews on Google.</p>
<p>We'll be absolutely grateful if you could <a href="https://g.page/r/CUqE1Hcl49ciEBM/review">leave a review here</a>.</p>

<p>I appreciate it,<br>Jan</p>
