<div id="<%= dom_id(bot, :export) %>" data-controller="class-toggle" data-class-toggle-toggle-classes-value='["hidden"]'>
  <%= button_to t('bot.details.stats.download_csv'),
              bot_export_path(bot),
              class: 'sinput',
              method: :post,
              data: { turbo: false, class_toggle_target: "togglable", action: "click->class-toggle#toggle" } %>
  <div class="hidden" data-class-toggle-target="togglable" style="padding: 0.5rem;">
    <div class="loader--small" style="position: unset; float: left; margin: 0.25rem 1rem;"></div>
    <%= t('bot.details.stats.generating_csv') %>
  </div>
</div>