<% if bot.id.present? && bot.price_limited? %>
  <small id="<%= bot.new_record? ? "new-settings-price-limit-info" : "settings-price-limit-info" %>" class="small-info">
    <% if info.nil? %>
      <%= tag.div data: {
        controller: "broadcast--on-connect",
        broadcast__on_connect_method_value: "price_limit_info_update",
        broadcast__on_connect_method_args_value: { bot_id: bot.id }.to_json
      }, class: "loader--small", style: "position: unset; float: left; margin-top: 8px;" %>
    <% else %>
      <div class="<%= info[:condition_met] ? "text-success" : "" %>">
        <%= t("bot.settings.extra_price_limit.info",
              current_price: info[:price],
              base: info[:base],
              quote: info[:quote]) %>
      </div>
    <% end %>
  </small>
<% end %>