<span id="<%= bot.new_record? ? "new-settings-price-limit-info" : "settings-price-limit-info" %>">
  <% if bot.price_limited? && bot.price_limit.present? %>
    <% ticker = bot.tickers.find_by(id: bot.price_limit_in_ticker_id) %>
    <% price = ticker&.get_last_price&.data&.round(bot.decimals[:quote]) %>
    <%= t("bot.settings.extra_price_limit.price_info",
          current_price: price,
          base: ticker&.base_asset&.symbol,
          quote: bot.quote_asset.symbol) if price.present? %>
  <% end %>
</span>