%svg{:fill => "none", :viewbox => "0 0 16 16", :xmlns => "http://www.w3.org/2000/svg"}
  %circle{:cx => "8", :cy => "8", :fill => "var(--berry)", :r => "8"}
  %path{"clip-rule" => "evenodd", :d => "M8.99997 9V3H6.99997V9H8.99997ZM9.21148 11.8893C9.21148 12.5558 8.67123 13.096 8.00479 13.096C7.33835 13.096 6.7981 12.5558 6.7981 11.8893C6.7981 11.2229 7.33835 10.6826 8.00479 10.6826C8.67123 10.6826 9.21148 11.2229 9.21148 11.8893Z", :fill => "white", "fill-rule" => "evenodd"}
