%svg.icon-16{fill: "none", viewbox: "0 0 16 16", xmlns: "http://www.w3.org/2000/svg"}
  %path{"clip-rule" => "evenodd", d: "M4.3 6.3a1 1 0 0 1 1.4 0L8 8.6l2.3-2.3a1 1 0 1 1 1.4 1.4l-3 3a1 1 0 0 1-1.4 0l-3-3a1 1 0 0 1 0-1.4Z", "fill-rule" => "evenodd"}