%svg.icon-24{fill: "none", viewbox: "0 0 24 24", xmlns: "http://www.w3.org/2000/svg"}
  %path{"clip-rule" => "evenodd", d: "M22 12a10 10 0 1 1-20 0 10 10 0 0 1 20 0Zm-11.5 4.3 6-3.4a1 1 0 0 0 0-1.8l-6-3.4a1 1 0 0 0-1.5.8v7a1 1 0 0 0 1.5.8Z", fill: "#2948A1", "fill-rule" => "evenodd"}