%svg.icon-24.icon-24--sync{:fill => "none", :viewbox => "0 0 24 24", :xmlns => "http://www.w3.org/2000/svg"}
  %path.fill--icon{:d => "M3.9 14.5a1 1 0 0 0-.9 1V20a1 1 0 0 0 2 0v-2.08a9.2 9.2 0 0 0 9.33 2.77c3.73-1 6.2-4.03 6.66-7.56a1 1 0 0 0-1.98-.26 7 7 0 0 1-5.2 5.9 7.2 7.2 0 0 1-7.4-2.27H8.5a1 1 0 1 0 0-2H3.9M9.67 3.3a9 9 0 0 0-6.66 7.57 1 1 0 0 0 1.98.26 7 7 0 0 1 5.2-5.9 7.2 7.2 0 0 1 7.4 2.27H15.5a1 1 0 0 0 0 2H20a1 1 0 0 0 1-1V4a1 1 0 0 0-2 0v2.08a9.2 9.2 0 0 0-9.33-2.77"}
