%svg.icon-24{fill: "none", viewbox: "0 0 24 24", xmlns: "http://www.w3.org/2000/svg"}
  %path{"clip-rule" => "evenodd", d: "M23.92 11.62a1 1 0 0 0-.21-.33l-5-5a1 1 0 1 0-1.42 1.42L20.6 11H1a1 1 0 1 0 0 2h19.59l-3.3 3.3a1 1 0 0 0 1.42 1.4l5-5a1 1 0 0 0 .21-1.08Z", fill: "#2948A1", "fill-rule" => "evenodd"}