%svg.icon-24{:fill => "none", :viewbox => "0 0 24 24", :xmlns => "http://www.w3.org/2000/svg"}
  %path{"clip-rule" => "evenodd", :d => "M12 22a10 10 0 1 0 0-20 10 10 0 0 0 0 20Z", :fill => "var(--success)", "fill-rule" => "evenodd"}
  %path{"clip-rule" => "evenodd", :d => "m6.12 12.88 3.75 3.75c.48.5 1.28.5 1.76 0l6.25-6.25a1.25 1.25 0 0 0-1.76-1.76l-5.37 5.36-2.87-2.86a1.25 1.25 0 0 0-1.76 1.76Z", :fill => "#fff", "fill-rule" => "evenodd"}