%svg{fill: "none", viewbox: "0 0 24 24", xmlns: "http://www.w3.org/2000/svg"}
    %path.fill--icon{"clip-rule" => "evenodd", d: "M12 3c.36 0 .7.2.87.51l9 16A1 1 0 0 1 21 21H3a1 1 0 0 1-.87-1.49l9-16A1 1 0 0 1 12 3ZM4.71 19h14.58L12 6.04 4.71 19Z", "fill-rule" => "evenodd"}