%svg{fill: "none", viewbox: "0 0 24 24", xmlns: "http://www.w3.org/2000/svg"}
    %path.fill--icon{"clip-rule" => "evenodd", d: "M12 17a1 1 0 1 0 0 2 1 1 0 0 0 0-2Zm3 1a3 3 0 1 1-6 0 3 3 0 0 1 6 0Z", "fill-rule" => "evenodd"}
    %path.fill--icon{"clip-rule" => "evenodd", d: "M16 9.8c.5.2.7.8.4 1.3l-2.6 5.3a1 1 0 0 1-1.8-.8l2.6-5.4a1 1 0 0 1 1.4-.4Z", "fill-rule" => "evenodd"}
    %path.fill--icon{"clip-rule" => "evenodd", d: "M7 18c0 .6-.4 1-1 1h-.4c-1 0-2-.5-2.5-1.5a10 10 0 1 1 17.8 0c-.5 1-1.5 1.5-2.5 1.5H18a1 1 0 1 1 0-2h.4c.4 0 .6-.2.7-.4a8 8 0 1 0-14.3 0c.2.2.4.4.8.4H6c.6 0 1 .4 1 1Z", "fill-rule" => "evenodd"}