%svg.icon-24{xmlns: "http://www.w3.org/2000/svg", width: "24", height: "24", fill: "none"}
  %path{stroke: "#2948A1", "stroke-linecap": "round", "stroke-linejoin": "round", "stroke-width": "2", d: "m10 19-7-7 7-7M3 12h18", style: "stroke:#2948A1;stroke:color(display-p3 .16 .2839 .6317);stroke-opacity:1"}