%svg.icon-24.icon-24--doc{:fill => "none", :viewbox => "0 0 24 24", :xmlns => "http://www.w3.org/2000/svg"}
  %path.fill--icon{:d => "M13.8 2q.3 0 .7.3l5.2 5.4q.3.3.3.7V21q0 1-1 1H5a1 1 0 0 1-1-1V3q0-1 1-1zM6 20h12V10h-5a1 1 0 0 1-1-1V4H6zm8-12h3.2L14 4.7z"}
