%svg{fill: "none", viewbox: "0 0 24 24", xmlns: "http://www.w3.org/2000/svg"}
    %path.fill--icon{d: "M19 8a2 2 0 1 0-1.7-3H4a1 1 0 0 0 0 2h13.3c.3.6 1 1 1.7 1ZM4 11a1 1 0 1 0 0 2h7.3a2 2 0 1 0 0-2H4Zm-1 7c0-.6.4-1 1-1h3.3a2 2 0 1 1 0 2H4a1 1 0 0 1-1-1Z"}