%svg{fill: "none", viewbox: "0 0 24 24", xmlns: "http://www.w3.org/2000/svg"}
    %path.fill--icon{"clip-rule" => "evenodd", d: "M12 4a8 8 0 1 0 0 16 8 8 0 0 0 0-16ZM2 12a10 10 0 1 1 20 0 10 10 0 0 1-20 0Z", "fill-rule" => "evenodd"}
    %path.fill--icon{"clip-rule" => "evenodd", d: "M12 9a3 3 0 1 0 0 6 3 3 0 0 0 0-6Zm-5 3a5 5 0 1 1 10 0 5 5 0 0 1-10 0Z", "fill-rule" => "evenodd"}
    %path.fill--icon{"clip-rule" => "evenodd", d: "M12 17c-2 0-3.8.6-5.4 1.8l-1.2-1.6c2-1.4 4.2-2.2 6.6-2.2 2.4 0 4.7.8 6.6 2.2l-1.2 1.6A9.2 9.2 0 0 0 12 17Z", "fill-rule" => "evenodd"}