%svg.icon-24.icon-24--doc{:fill => "none", :viewbox => "0 0 24 24", :xmlns => "http://www.w3.org/2000/svg"}
  %path{:d => "M13.75 2C14.02 2 14.2785 2.1092 14.4668 2.30273L19.7168 7.70312C19.8983 7.88979 20 8.14005 20 8.40039V21C20 21.5523 19.5523 22 19 22H5C4.44772 22 4 21.5523 4 21V3C4 2.44772 4.44772 2 5 2H13.75ZM6 20H18V10H13C12.4477 10 12 9.55228 12 9V4H6V20ZM14 8H17.2168L14 4.69141V8Z"}
