%svg.icon-24{fill: "none", viewbox: "0 0 24 24", xmlns: "http://www.w3.org/2000/svg"}
  %path{"clip-rule" => "evenodd", d: "M7.3 7.3a1 1 0 0 1 1.4 0l3.3 3.3 3.3-3.3a1 1 0 1 1 1.4 1.4L13.4 12l3.3 3.3a1 1 0 0 1-1.4 1.4L12 13.4l-3.3 3.3a1 1 0 0 1-1.4-1.4l3.3-3.3-3.3-3.3a1 1 0 0 1 0-1.4Z", "fill-rule" => "evenodd"}