%svg{fill: "none", viewbox: "0 0 24 24", xmlns: "http://www.w3.org/2000/svg"}
    %path.fill--icon{"clip-rule" => "evenodd", d: "M8 8a1 1 0 1 0 0 2 1 1 0 0 0 0-2ZM4 8h1.17a3 3 0 0 1 5.66 0H20a1 1 0 1 1 0 2h-9.17a3 3 0 0 1-5.66 0H4a1 1 0 0 1 0-2Zm12 6a1 1 0 1 0 0 2 1 1 0 0 0 0-2ZM4 14h9.17a3 3 0 0 1 5.66 0H20a1 1 0 1 1 0 2h-1.17a3 3 0 0 1-5.66 0H4a1 1 0 1 1 0-2Z", "fill-rule" => "evenodd"}