%svg.icon-24{fill: "none", viewbox: "0 0 24 24", xmlns: "http://www.w3.org/2000/svg"}
  %path{"clip-rule" => "evenodd", d: "M21.7 6.3c.4.4.4 1 0 1.4l-12.2 12a1 1 0 0 1-1.4 0l-5.8-5.6a1 1 0 1 1 1.4-1.5l5.1 5L20.3 6.3a1 1 0 0 1 1.4 0Z", "fill-rule" => "evenodd"}