%svg{fill: "none", viewbox: "0 0 24 24", xmlns: "http://www.w3.org/2000/svg"}
    %path.fill--icon{"clip-rule" => "evenodd", d: "M13 3c.36 0 .7.2.87.51l9 16A1 1 0 0 1 22 21H4a1 1 0 0 1-.87-1.49l9-16A1 1 0 0 1 13 3ZM5.71 19h14.58L13 6.04 5.71 19Z", "fill-rule" => "evenodd"}
    %path{"clip-rule" => "evenodd", d: "M8.64 8.07A14 14 0 0 1 14 7v7a7 7 0 0 0-7 7H0A14 14 0 0 1 8.64 8.07Z", fill: "url(#a)", "fill-rule" => "evenodd"}
    %defs
        %radialgradient#a{cx: "0", cy: "0", gradienttransform: "matrix(-9 -10 10 -9 14 21)", gradientunits: "userSpaceOnUse", r: "1"}
            %stop{offset: ".51", "stop-color" => "#00F"}
            %stop{offset: ".68", "stop-color" => "#0FF"}
            %stop{offset: ".84", "stop-color" => "#F0F"}
            %stop{offset: "1", "stop-color" => "red"}