%svg.icon-24{fill: "none", viewbox: "0 0 24 24", xmlns: "http://www.w3.org/2000/svg"}
  %path.fill--icon{d: "m12.6 3 7 15h.9a1 1 0 1 1 0 2H17a1 1 0 1 1 0-2h.4l-1-2H7.6l-1 2H7a1 1 0 1 1 0 2H3.5a1 1 0 1 1 0-2h.9l6-13h-.9a1 1 0 0 1 0-2h3.1ZM8.5 14h7L12 6.4 8.5 14Z"}