.db-country

  = render partial: "upgrade/upgrade_header", locals: { upgrade_presenter: nil, cost_presenter: nil }

Your Legendary Badger is coming soon…
//= current_user.subscription.sequence_number
