<div class="widget">
  <h4 class="modal__title">Community Access</h4>
  <div class="form-group">
    <% if current_user.has_community_access? %>
      <p>You have access to our community platform.</p>
      <div class="large-button-wrapper">
        <%= link_to "Visit Community", "https://skool.com/fire", class: "button button--large button--primary", target: "_blank", rel: "noopener" %>
      </div>
    <% else %>
      <p>You currently don't have access to our community platform.</p>
      <div class="large-button-wrapper">
        <%= link_to "Request Access", settings_community_access_instructions_path, class: "button button--large button--primary", data: { turbo_frame: "modal" } %>
      </div>
    <% end %>
  </div>
</div>