<div style="display:block; margin: 35px 0 30px;">
    <img src="https://deltabadger.com/images/email/newsletter/email_fireheads.jpg" alt="Logo" style="width:100%; border-radius: 16px;">
</div>

<%= t(@user.name.present? ? 'mailer.greeting_name' : 'mailer.greeting', name: @user.name) %>

<%= t("newsletter_mailer.#{@content_key}.body").html_safe %>

<p>
    <img style="width: 120px; height: auto; margin: 0 0 1em;" src="https://deltabadger.com/images/email/signature.png" alt="Jan's Signature">
</p>

<%= t("newsletter_mailer.#{@content_key}.ps").html_safe %>