<% content_for :title, t('setup.syncing_title') %>

<%= turbo_stream_from "setup_sync" %>

<div id="setup-syncing-container" class="setup-syncing">
  <div class="setup-syncing__content">
    <p class="setup-syncing__text"><%= t('setup.syncing_message') %></p>
    <p class="setup-syncing__hint"><%= t('setup.syncing_hint') %></p>
    <div class="setup-syncing__spinner">
      <div class="loader"></div>
    </div>
  </div>
  
</div>
