%p Hello,
%p We received a request to to change your bitcoin address to #{@new_btc_address}. You can do this after clicking the link below:
%br
%p= link_to 'Confirm new bitcoin address', confirm_btc_address_affiliate_url(@token)
%br
%p If you didn't send this request this, please, ignore this email.
%p Your bitcoin address won't change until you access the link above.
%p ---
%p Deltabadger Team
