%p Hello,
%p Your referral program is gaining traction!
%br
%p A commission of #{@amount} BTC has been transferred to your wallet.
%p Thank you for expanding the Badger family!
%p ---
%p Deltabadger Team
