<form id="exchange_select" class="sbutton sbutton--exchange-group" data-controller="form--submit" action="{{ path }}" accept-charset="UTF-8" method="post"><input type="hidden" name="_method" value="patch" /><input type="hidden" name="authenticity_token" value="{{ csrf }}" />
  <div data-controller="dropdown" data-action="click->dropdown#toggle" data-dropdown-target="wrapper" class="dropdown-wrapper">
    <div class="sbutton sbutton--exchange sbutton--exchange--{{ exchange_name_id }} {% if !switchable %}sinput--disabled{% endif %}">
      {{ exchange_svg|safe }}
      <span class="hide-on-mobile">{{ exchange_name }}</span>
    </div>
    <div class="dropdown dropdown--exchanges">
{% if can_reconnect %}
        <a class="dropdown__item" data-turbo-frame="modal" href="{{ path }}/add_api_key/new">
          {{ v.t("button.reconnect")|safe }}
</a>        <div class="dropdown__item dropdown__item--divider"></div>
{% endif %}
{% if let Some(note) = exchange_note %}
        <p class="dropdown__item dropdown__item--note">{{ note }}</p>
{% else %}
{% for other in other_exchanges %}
          <button name="{{ param_key }}[exchange_id]" type="submit" value="{{ other.id }}" class="dropdown__item{% if other.connected %} dropdown__item--highlight{% endif %}">
            {{ other.svg|safe }}
            {{ other.name }}
</button>
{% endfor %}
{% endif %}
    </div>
  </div>

{% if needs_key %}
    <a class="sbutton sbutton--success" data-turbo-frame="modal" href="{{ path }}/add_api_key/new">{{ v.t("button.connect")|safe }}</a>
{% endif %}
</form>
