.animate-order-in
  animation: pulse 1s ease-in-out 3

@keyframes pulse
  0%
    background-color: transparent

  50%
    background-color: var(--pickExchangeItemBg)

  100%
    background-color: transparent
