.smooth
  transition: all 0.25s ease-out

.animate-modal-in
  animation: fade-in 0.25s ease-out

.animate-modal-out
  animation: fade-out 0.25s ease-out

.animate-assets-in
  overflow: hidden
  animation: fade-in 0.25s ease-in-out, slide-in 0.25s ease-in-out

.animate-assets-out
  overflow: hidden
  animation: fade-out 0.25s ease-in-out, slide-out 0.25s ease-in-out

@keyframes fade-in
  from
    opacity: 0

  to
    opacity: 1

@keyframes fade-out
  from
    opacity: 1

  to
    opacity: 0

@keyframes slide-in
  from
    transform: translateX(-4rem)

  to
    transform: translateX(0)

@keyframes slide-out
  from
    transform: translateX(0)

  to
    transform: translateX(-4rem)

.animate-asset-in
  overflow: hidden
  animation: slide-down 0.25s, fade-in 0.25s

.animate-asset-out
  overflow: hidden
  animation: slide-up 0.25s, fade-out 0.25s

/* "max-height: auto" unfortunately does not work here, so we set
 * to a fixed height that is greater than the expected height.
@keyframes slide-down
  from
    max-height: 0
    padding-bottom: 0

  to
    max-height: calc(5.375rem + 2rem) // element height + padding-y

@keyframes slide-up
  from
    max-height: calc(5.375rem + 2rem) // element height + padding-y

  to
    max-height: 0
    padding-bottom: 0


.animate-label-in
  overflow: hidden
  animation: slide-down-label 0.25s, fade-in 0.25s

.animate-label-out
  overflow: hidden
  animation: slide-up-label 0.25s, fade-out 0.25s

/* "max-height: auto" unfortunately does not work here, so we set
 * to a fixed height that is greater than the expected height.
@keyframes slide-down-label
  from
    max-height: 0
    padding-top: 0
    padding-bottom: 0

  to
    max-height: 17rem // element height / 16 * 2
    padding-top: 5rem
    padding-bottom: 6rem

@keyframes slide-up-label
  from
    max-height: 17rem // element height / 16 * 2
    padding-top: 5rem
    padding-bottom: 6rem

  to
    max-height: 0
    padding-top: 0
    padding-bottom: 0
