.view--articles-index,.view--articles-show
  &.view--logged-in
    .main
      @media (max-width: 767.9px)
        margin-top: 5rem !important
.view--articles-index
  &:not(.view--logged-in)
    .menu__logo svg
      display: flex
    @media (min-width: 768px)
      .menu__logo svg
        display: none !important

.db_nav__brand
  display: none
  align-items: center
  gap: 2rem
  text-decoration: none
  @media (min-width: 768px)
    display: flex
  &__logo
    top: -.5rem
  &__name
    color: var(--menulink-active)
    font-weight: 650
    letter-spacing: .025rem
    font-size: 2.5rem
    position: relative
    top: -.25rem

.articles
  display: grid
  grid-template-columns: repeat(1,minmax(0,1fr))
  gap: 6rem 3rem
  @media (min-width: 768px)
    grid-template-columns: repeat(2,minmax(0,1fr))
  @media (min-width: 1024px)
    grid-template-columns: repeat(3,minmax(0,1fr))
.articles-header
  margin-bottom: 3rem
  display: flex
  flex-direction: column
  align-items: flex-start
  gap: 3rem
  @media (min-width: 768px)
    gap: 8rem
    margin-bottom: 16rem
  &__title
    color: var(--menulink-active)
    font-family: "Domine", serif
    svg
      height: 5rem
      display: block
    .fill--icon-active
      fill: var(--research-logo)
  &__subtitle
    font-size: 1.75rem
    line-height: 1.5
  &__subscribe
    display: flex
    flex-direction: column
    justify-content: stretch
    gap: 1rem
    .button--large
      margin: 0
    .premium-subscribers
      margin-top: 2rem
      margin-bottom: 0
.article-card
  text-decoration: none
  color: var(--text) !important
  display: flex
  flex-direction: column
  gap: 2rem
  &:hover
    background: linear-gradient(to right, #fff0, var(--widget-background),#fff0)
    cursor: pointer
  h2,h3
    font-family: "Domine", serif
    font-weight: 700
    color: var(--emphasis)
  &__title
    overflow: hidden
    text-overflow: ellipsis
  &__thumbnail
    width: 100%
    height: 200px
    object-fit: cover
    border-radius: 1rem
  &__content
    display: flex
    flex-direction: column
    gap: 1.5rem
    h2
      margin: 0
      font-size: 3rem
      padding: 0
      text-align: left
  &__meta, &__meta__date
    font-size: 1.75rem

[lang="ru"]
  .article-card,.article
    h1,h2,h3,h4
      font-family: "Montserrat", sans-serif
  
.view--articles-show,.view--articles-index
  --link: var(--navbarLink)
  @media (prefers-color-scheme: dark)
    --text: #cde
  @media (prefers-color-scheme: light)
    --text: #024
  .main
    margin: 0 auto
    padding: 2rem 1.5rem
    max-width: 150rem
    @media (min-width: 768px)
      padding: 10rem 12rem

.article
  display: flex
  flex-direction: column
  gap: 8rem
  @media (min-width: 768px)
    gap: 12rem
  p,ul,ol,li,blockquote
    font-family: "Inter", sans-serif
  h1,h2,h3
    font-family: "Domine", serif
  h1
    color: var(--emphasis)
  h2
    &:first-child
      margin-top: 0
  h2
    margin: 8rem 0 4rem 0
    font-size: 2.8rem
    line-height: 1.5
    text-align: left
    padding: 0
    @media (min-width: 768px)
      font-size: 3.2rem
      line-height: 1.2
      margin: 12rem 0 6rem 0
    @media (min-width: 1024px)
      font-size: 4rem
      line-height: 1.1
  h3
    margin: 8rem 0 4rem 0
    font-size: 2rem
    line-height: 1.5
    text-align: left
    padding: 0
    @media (min-width: 768px)
      font-size: 2.25rem
      line-height: 1.2
    @media (min-width: 1024px)
      font-size: 3rem
      line-height: 1.1
  p, ol, ul
    margin-bottom: 2rem
  .twitter-tweet
    padding: 4rem 0
    margin: 0 auto
    max-width: 100%
    iframe
      border-radius: 1.5rem
  blockquote
    border-left: 0.5rem solid var(--text-faded)
    padding-left: 2rem
    margin: 8rem 0
    font-size: 1.75rem
    line-height: 1.5
    @media (min-width: 768px)
      margin: 12rem 0
    em
      font-size: 3rem
  &__back-link
    text-decoration: none
  &__header
    display: flex
    flex-direction: column
    text-align: left
    gap: 2rem
    @media (min-width: 768px)
      gap: 5rem
    @media (min-width: 1024px)
      gap: 6rem
    hgroup
      display: flex
      flex-direction: column
      gap: 2rem
      padding-bottom: 0.5rem
      @media (min-width: 768px)
        gap: 3rem
    svg
      height: 4rem
    .fill--icon-active
      fill: var(--research-logo)
    &__title
      font-size: 4rem
      font-weight: 700
      line-height: 1.5
      @media (min-width: 768px)
        font-size: 5rem
        line-height: 1.2
      @media (min-width: 1024px)
        font-size: 6rem
        line-height: 1.1
    &__subtitle
      text-align: left
      font-size: 2rem
      font-weight: 500
      padding: 0
      @media (min-width: 768px)
        font-size: 2.2rem
      @media (min-width: 1024px)
        font-size: 2.4rem
    &__meta
      font-size: 1.5rem
      display: flex
      align-items: center
      gap: 1rem
      @media (min-width: 768px)
        font-size: 1.75rem
      &__author
        display: flex
        align-items: center
        gap: 1.5rem
        font-weight: 600
        text-decoration: none
        color: var(--text)
        &__avatar
          width: 5rem
          height: 5rem
          border-radius: 50%
          background-size: 150%
          filter: grayscale(100%) contrast(1.25)
          background-position: center -1rem
          box-shadow: var(--widget-shadow)
      &__premium
        color: var(--link)
        font-weight: 500
        text-transform: uppercase
        font-size: 0.75em
        display: inline-block
        padding: 0 0.75em
        border-radius: 1em
        border: 1px solid var(--link)
  &__figure 
    margin-top: 6rem
    margin-bottom: 6rem
    display: flex
    flex-direction: column
    align-items: center
    justify-content: center
    gap: 1.5rem
    p
      text-align: center
    img
      max-width: 100%
      height: auto
      &.has-shadow
        box-shadow: var(--widget-shadow)
    iframe
      box-shadow: var(--widget-shadow)
    table
      margin: 0 auto !important
      &.text-center
        td, th
          text-align: center
    &__caption
      text-align: center
      margin: 1rem 0 0
      font-size: 1.75rem
      color: var(--label)
      font-style: italic
.paywall
  background: linear-gradient(to bottom, #fff0 0%, var(--background) 25%)
  position: relative
  z-index: 1
  margin-top: -40rem
  padding: 32rem 3rem
  text-align: center
  display: flex
  flex-direction: column
  align-items: center
  justify-content: center
  gap: 7rem
  text-align: center !important
  ul
    margin: 0
    padding: 0
  li
    text-align: left
    list-style: none
    position: relative
    padding-left: 3.5rem
    margin-bottom: 1rem
    &:before
      content: ""
      position: absolute
      left: 0
      top: 0
      width: 3rem
      height: 3rem
      background-image: url("check.svg")
      background-size: contain
      background-repeat: no-repeat
  h3, h2
    width: 100%
    text-align: center !important
  &__actions
    display: flex
    flex-direction: column
    gap: 2rem
    .premium-subscribers
      margin-bottom: 2rem
  .button
    width: 40rem
    min-width: 40rem

.monetary-aggregates,.rsi-performance
  margin: 4rem 0
  border: 1px solid var(--label)
  @media (min-width: 768px)
    display: flex
    flex-direction: row
  .col
    padding: 2rem 2rem 0.5rem
    flex: 1
    background-color: #00ffae40
    display: flex
    flex-direction: column
    gap: 2rem
    h3
      padding: 0
      margin: 0
      font-size: 4rem
      font-weight: 400
    &+.col
      border-top: 1px solid var(--label)
      background-color: #00ddff40
      @media (min-width: 768px)
        border-top: none
        border-left: 1px solid var(--label)
      &+.col
        background-color: #001aff40

.article
  table
    width: 100%
    border-spacing: 0
    border-collapse: collapse
    margin: 4rem 0
    tbody
      background-color: var(--widget-background)
      box-shadow: var(--widget-shadow)
      tr:nth-child(even)
        background-color: var(--widget-background-odd)
    th,td
      text-align: left
      padding: 1rem 2rem
    tr
      font-family: Arial, "Helvetica Neue", Helvetica, sans
  &__key-part
    background: var(--widget-background)
    border: 1px solid var(--text)
    padding: 4rem
    margin: 12rem 0
    h2
      margin-top: 0

.article-bg-top
  display: none
  position: absolute
  top: 0
  left: 0
  width: 100vw
  height: auto
  max-height: 250px
  overflow: hidden
  z-index: -1
  mask-image: linear-gradient(to bottom, rgba(0,0,0,1) 0%, rgba(0,0,0,0) 100%)
  -webkit-mask-image: linear-gradient(to bottom, rgba(0,0,0,1) 0%, rgba(0,0,0,0) 100%)
  @media (prefers-color-scheme: dark)
    display: flex
    justify-content: center
    align-items: center
    mask-image: linear-gradient(to bottom, rgba(0,0,0,1) 0%, rgba(0,0,0,0) 100%)
  -webkit-mask-image: linear-gradient(to bottom, rgba(0,0,0,1) 0%, rgba(0,0,0,0) 100%)
  @media (min-width: 768px)
    max-height: 350px
  @media (min-width: 1024px)
    max-height: 400px
  @media (min-width: 1280px)
    max-height: 450px
  &__image
    width: 100%
    height: 100%
    object-fit: cover
.premium-subscribers-button
  text-decoration: none
  padding: 1px
  background-color: var(--widget-background)
  box-shadow: var(--widget-shadow)
  border-radius: 4rem
  display: inline-flex
  align-items: center
  padding: 1rem
  gap: 1rem
.premium-subscribers
  display: flex
  align-items: center
  gap: 2.5rem
  font-weight: 500
  width: fit-content
  flex-wrap: wrap
  justify-content: center
  width: 100%
  font-size: 1.75rem
  @media (min-width: 768px)
    font-size: 2rem
  &__avatars
    display: flex
    img
      margin-right: -1.5rem
      width: 24px
      height: 24px
      border-radius: 50%
      object-fit: cover
      box-shadow: 0 0 1rem var(--background)
      @media (max-width: 767.9px)
        &+img+img+img
          display: none
    
.article-social-buttons
  display: flex
  flex-wrap: wrap
  justify-content: center
  gap: 1rem
  .button--large
    margin: 0

.timeline
  display: flex
  flex-direction: column
  gap: 0.5rem
  &__event
    display: flex
    flex-direction: row
    gap: 2rem
    &__mark
      top: 1rem
      min-width: 1rem
      min-height: 1rem
      position: relative
      justify-items: center
      display: flex
      flex-direction: column
      &::before
        content: ""
        display: block
        width: 1rem
        height: 1rem
        border-radius: 50%
        background-color: var(--link)
        position: absolute
        top: 0
        left: 0
      &::after
        content: ""
        display: block
        width: 0.25rem
        height: calc(100% - 1.5rem)
        top: 1.5rem
        background-color: var(--label)
        position: absolute
        opacity: 0.25
        align-self: center
    &:last-child
      .timeline__event__mark::after
        display: none
    &__info
      display: flex
      flex-direction: column
      gap: 1rem
      padding-bottom: 8rem
      b, span
        display: block
    &--prehistory
      .timeline__event__mark
        &::after
          width: 0
          border-left: 0.25rem dashed var(--label)
          background: none !important
  &--illustrated
    padding-top: 5rem
    .timeline__event__mark
      top: -2.5rem
      width: 8rem
      min-width: 8rem
      &::before
        display: none
      &::after
        top: 9rem
        height: calc(100% - 10rem)
      &__thumb
        width: 8rem
        min-width: 8rem
        height: 8rem
        border-radius: 50%
        object-fit: cover
        opacity: 0.85
  &--bw
    .timeline__event__mark__thumb
      filter: grayscale(100%)
      mix-blend-mode: luminosity
      opacity: 1
.link-source-tile
  color: var(--label)
  text-decoration: none
  background: var(--widget-background)
  padding: 0 1rem
  border-radius: 1.5rem
  font-size: 1.5rem
  line-height: 3rem

.prediction-markets
  display: grid
  grid-template-columns: repeat(1, 1fr)
  border: 1px solid var(--menulink)
  margin: 4rem 0
  @media (min-width: 768px)
    grid-template-columns: repeat(2, 1fr)
  @media (min-width: 1024px)
    grid-template-columns: repeat(3, 1fr)
  &__item
    padding: 3rem
    border: 1px solid var(--menulink)
    &__logo
      img
        height: 4rem
        transform-origin: left center
        @media (prefers-color-scheme: light)
          filter: invert(1)