.old-bot-api-key-form
  padding: 2rem
  display: flex
  gap: 1rem
  .db-form__row
    flex: 1
    margin: 0
// bots

.bot-ticker
  position: relative
  top: 0.25rem
  left: 1rem
  &__exchange, &__divider
    opacity: 0.6
input
  &[type="checkbox"]
    &:not(:checked)
      box-shadow:       inset 0 0 1.5rem var(--inactive)
      filter:           none
.csv-download-button
  display: flex
  justify-content: flex-start
.bot-footer
  display:              flex
  justify-content:      flex-start
  padding: 2rem
.db-bots
  display:              grid
  grid-auto-rows:       max-content
  gap:                  1rem
  .progress
    height: 0.5rem
    background: var(--progressBar)
    &--bot-setup
      margin: 0 2rem
      border-radius: 1rem 
      overflow: hidden
  &--single
    @include media-breakpoint-up(xl)
      grid-template-columns: 50%
  &__item
    grid-column-start:  1
    &--data
      @include media-breakpoint-up(xl)
        grid-column-start: 2
        grid-row-start: 1
        grid-row: 1 / 100
      @include media-breakpoint-down(lg)
        background: var(--paper)
        z-index: 1
      .db-spinner-positioner
        display:         flex
        justify-content: center
        padding:         2rem 4rem 4rem
        margin-bottom:   2rem
      .tab-content
        z-index:  2
        position: relative
      .tab-pane
        padding:       1.6rem 0 0
        background:    var(--widget-background)
        border-radius: 2rem
        box-shadow:    var(--widget-shadow) 
        overflow: hidden
        h3,p,img,blockquote
          padding-left: 4rem
          padding-right: 4rem
        p,img,blockquote
          margin-bottom: 3rem
          margin-top: 3rem
        h3
          margin-top: 3rem
          margin-bottom: 4rem
        .second-info-title
          margin-top: 4rem
        img
          max-width: 100%
          margin-bottom: 2.4rem
    .db-form
      &__input
        &:focus
          border-color: var(--focus)
          &+.db-form__label
            color: var(--focus)
      &__label
        background: var(--paper)
// bot

.db-bot
  position:      relative
  overflow:      hidden
  background:    var(--widget-background)
  border:        .1rem solid var(--widgetBorder)
  border-radius: 2rem
  box-shadow:    var(--widget-shadow)
  .form-inline
    justify-content:  center
    row-gap:          1rem
    :last-child
      margin-right: 0 !important
  .form-control
    border-color: var(--paperBorder)
  &--collapsed
    height:                   8.9rem
    overflow:                 hidden
    cursor:                   pointer
  &__header
    user-select:              none
    align-items:              flex-start
    text-align:               center
    display:                  flex
    border-radius:            $btn-border-radius
    flex-direction:           row-reverse
    padding:                  $bot-gutter-width*0.5
    gap:                      1.5rem
    font-weight:              400
  &__infotext
    border-radius:            $btn-border-radius
    line-height:              2rem
    width:                    100%
    pointer-events:           none
    position:                 relative
    text-align:               right
    align-self:               flex-end
    display:                  flex
    justify-content:          space-between
    align-items:              center
    min-height:               4rem
    &__left
      text-transform:         uppercase
      color:                  var(--text)
      display:                flex
      gap:                    .75rem
      align-items:            center
      svg
        width:                2.4rem
    &__right
      font-weight:            600
    &--setup
      text-align:             left
      position:               absolute
      line-height:            4rem
      left:                   2.5rem
    &__pnl
      display: flex
      flex-direction: column
      align-items: flex-end
      margin-right: 1rem
      font-weight: 600
      
      &__value
        font-size: 1.4rem
        line-height: 1.2
      
      &__amount
        font-size: 1.2rem
        opacity: 0.8
  &__alert
    text-align:               center
    padding-top:              4rem
  &__exchanges, &__types
    padding:                  1.9rem 1.6rem 0.1rem
    margin:                   0 !important
    justify-content:          space-between
    &__item
      text-align:             center
      height:                 4em
      justify-content:        center
      align-items:            center
      border-radius:          $small-box-border-radius
      background:             var(--pickExchangeItemBg)
      color:                  var(--pickExchangeItemTxt)
      margin-bottom:          1.6rem
      cursor:                 pointer
      font-size:              1em
      font-weight:            bold
      div + div
        font-weight:          normal
      @include textAdjust(2)
      font-family:            Montserrat
      &--unavailable
        display:              none !important
      &--inactive, &--header
        opacity:              0.5
        cursor:               default
      &--header
        background:           none !important
        height:               3.8rem !important
        color:                var(--pickExchangeItemTxt) !important
        box-shadow:           none !important
        div
          text-overflow:      ellipsis
          white-space:        nowrap
          overflow:           hidden
          &:first-child
            font-weight:      bold !important
      &:hover:not(.db-bot__types__item--inactive)
        background-color:     var(--primary)
        color:                var(--pickExchangeItemSelect)
        box-shadow:           $boxShadowHome
  &__exchanges
    &__item
      display:                grid
      grid-template-columns:  30% 20% 20% 30%
      &--link
        grid-template-columns: 100%
        text-decoration:       none !important
  &__types
    &__item
      display:                flex
      width:                  100%
      max-width:              100%
      height:                 16rem
      gap:                    1rem
      &--move
        text-decoration:      none !important
      svg
        width:                2.4rem
      &:hover:not(.db-bot__types__item--inactive)
        svg
          .fill-1
            fill:             var(--pickExchangeItemSelect)
          .stroke-1
            stroke:           var(--pickExchangeItemSelect)

  &__modal
    p
      margin: 1em 3em
.db-smallinfo
  font-size: 1.4rem
  margin: 2rem 1.25rem 2rem 4.2rem
  color: var(--secondary)
  .db-svg
    &--inactive
      left: 2.2rem
      position: absolute
      path
        fill: var(--secondary)

// bot dca1

.db-bot__form
  display: flex
  flex-direction: column
  align-items: stretch
  gap: 1rem
  &__schedule
    margin-bottom: 7rem
  form
    width: auto

.db-bot__modal
  border-radius: .7rem
  position: absolute
  width: 100%
  height: 100%
  top: 0
  left: 0
  display: flex
  align-items: center
  backdrop-filter: blur(.2rem) grayscale(.1)
  background: var(--botModalBackground)
  border-radius: .7rem
  display: flex
  height: calc(100%)
  justify-content: center
  left: 0
  position: absolute
  top: 0
  width: 100%
  z-index: 1
  &__btn-group
    display: flex
    flex-wrap: wrap
    justify-content: center
    gap: 2rem
    padding: 2rem

.db-bot__modal__content
  text-align: center

// chart

.db-chart-container
  max-width: 100%

.db-limit-bot-modifier
  margin-top: 4rem
  margin-bottom: -2rem

.db-breadcrumbs
  color: var(--linkInactive)
  em
    font-style: normal
    color: var(--text)

.db-add-more-bots
  justify-content: space-between
  height: 4rem
  a
    text-decoration: none
  .pagination-lg
    font-size: 1.5rem !important
    .page-link
      font-size: 1.5rem
      line-height: 1.58
      font-weight: bold
      background: var(--paginationBg)
      color: var(--text)
      &:hover
        background: var(--paginationHover)
    .page-item
      a
        color: var(--link)
      &.disabled
        a
          color: var(--text)
    .page-item:first-child
      .page-link
        border-top-left-radius: 2rem
        border-bottom-left-radius: 2rem
    .page-item:last-child
      .page-link
        border-top-right-radius: 2rem
        border-bottom-right-radius: 2rem
.db-select--buy-sell
  max-width: 7.8em
.db-input--dca-amount
  max-width: 4.1em

.db-bot__progressbar-wrapper
  margin-left: 2rem
  margin-right: 2rem

.db-bots__tabs
  border-radius: 2rem
  display: flex
  flex-direction: row
  gap: 1rem
  margin-bottom: 1rem
  .nav-link
    font-weight: 600
    padding: 0 2rem
    line-height: 4rem
    display: block
    text-decoration: none
    border: none
    background: none
    cursor: pointer
    color: var(--text)
    border-radius: 2rem
    list-style: none
    &.active
      background: var(--widget-background)
      box-shadow: var(--widget-shadow)
      cursor: default
      color: var(--emphasized)

.legacy-tab
  background: var(--widget-background)
  border-radius: 2rem
  padding: 2rem
  display: none
  gap: 2rem
  box-shadow: var(--widget-shadow)
  @media (min-width: 768px)
    padding: 4rem
    gap: 4rem
  &.active
    display: flex
    flex-direction: column
    gap: 2rem
  * 
    margin-bottom: 0
  &__section
    gap: 2rem
    display: flex
    flex-direction: column
  table
    text-align: left