.btn-outline-primary
  border-color: var(--link)
  color: var(--link)
  &:hover,&:active,&:focus
    border-color: var(--primary)
    color: #fff !important
.btn-link,.btn-link:hover
  color: var(--link)


.btn-menu
  padding-left: 1.8rem

.navbar
  .btn-link,a
    text-decoration: none !important
    color: var(--navbarLink)
  .btn
    &.text-success
      color: var(--success) !important
      &:hover
        color: var(--success) !important
.show
  .btn-menu
    position: relative
    text-decoration: none
    path
      fill: var(--navMenuFill)