@use "mixins" as *

$formUnit: 2rem

// forms

.form
  display: flex
  flex-direction: column
  gap: 2rem
  &__row
    position: relative
    &--check
      letter-spacing: -0.025em
      padding: 2rem 0
      font-size: 1.75rem
      line-height: 2.5rem
  &__label
    font-weight: 550
    font-size: 1.75rem
    background:     var(--washed)
    color:          var(--input-border)
    position:       absolute
    padding-left:   .5rem
    padding-right:  .5rem
    left:           1.7rem
    top:            0
    pointer-events: none
    line-height: 0.25rem
  &__input
    font-size: 2rem
    color: var(--ash)
    background: var(--washed)
    padding-bottom: .2rem
    padding-left: 2rem
    padding-right: 2rem
    border: .125rem solid var(--input-border)
    border-radius: var(--ui-radius)
    width: 100%
    position: relative
    height: var(--ui-height)
    &::placeholder
      color: var(--concrete)
    &--large
      height: var(--ui-height-xl)
      padding-left: 2.4rem
      padding-right: 2.4rem
      &~.form__label
        left: 2.2rem
      &~.db-unmask
        top: 2rem
        right: 2.5rem
    &--select
      appearance: none
    &--has-icon
      padding-right: 7.5rem
    &:focus
      color: var(--inputTextFocus)
      border-color: var(--link)
      border-width: .2rem
      outline: none
      &~.form__label
        color: var(--link)
        font-weight: bold
    &--select,&:focus,&:not([value=""]),&:placeholder-shown,&[type="date"]
      opacity: 1
    &.is-invalid
      &:not(:focus)
        border-color: var(--berry)
        border-width: .2rem
        &~.form__label
          color: var(--berry)
          font-weight: bold
      &~.form__info--invalid
        display: block
      &:focus
        &~.form__info--invalid
          color: var(--link)
  &__info
    padding-left: .4rem
    font-size: 1.75rem
    margin-top: .5rem
    margin-bottom: -.4rem
    &--invalid
      display: none
    &--invalid, &--alert, &--notice
      font-weight: 600
    &--invalid, &--alert
      color: var(--berry)
    &--notice
      color: var(--grass)
    &--right
      float: right
      padding-right: .4rem
    a
      font-weight: bold
      text-decoration: none
      &:hover
        text-decoration: underline
  &__validation
    list-style-type: none
    padding-left: 2.9rem
    color: var(--stone)
    font-weight: 500
    &--success
      color: var(--grass)
      font-weight: bold
  &__other-links
    text-align: center
    margin-top: 2.5rem
    a
      padding-left: 0
      padding-right: 0

.db-unmask
  width: 3rem
  height: 3rem
  position: absolute
  top: 1.5rem
  right: 2rem
  cursor: pointer
  .db-svg--mi
    transition: opacity 100ms ease-in-out
    fill: var(--concrete)
  &:hover
    .db-svg--mi
      opacity: 1

.db-has-unmask
  position: relative

[type="password"]
  &~.db-unmask
    .db-svg--mi-visibility
      display: block
    .db-svg--mi-visibility-off
      display: none

[type="text"]
  &~.db-unmask
    .db-svg--mi-visibility
      display: none
    .db-svg--mi-visibility-off
      display: block

// autocomplete

input:-webkit-autofill, input:-webkit-autofill:hover, input:-webkit-autofill:focus, textarea:-webkit-autofill, textarea:-webkit-autofill:hover, textarea:-webkit-autofill:focus, select:-webkit-autofill, select:-webkit-autofill:hover, select:-webkit-autofill:focus
  border-color:            var(--link)
  -webkit-text-fill-color: var(--ash)
  -webkit-box-shadow:      0 0 rem 100rem var(--autocomplete) inset
  transition:              background-color 5000s ease-in-out 0s
  &~label
    color: var(--link)
  &~select
    background: var(--autocomplete)
