.db_nav__brand {
  display: flex;
  align-items: center;
  gap: 2rem;
  &__logo {
    height: 5rem;
    fill: var(--navbarLink);
    position: relative;
    @media (max-width: 575px) {
      display: block;
      height: 4rem;
    }
  }
  &__name {
    color: var(--navbarLink);
    font-weight: 650;
    font-size: 2rem;
    letter-spacing: .025rem;
    position: relative;
  }
}
.db--devise {
  .col-12 {
    @media (max-width: 767.9px) {
      padding-right: 3rem;
      padding-left: 3rem;
    }
  }
}

.navbar {
  position: relative;
  padding: 4rem 0;
  @include media-breakpoint-down(md) {
      padding: 2.5rem 0;
  }
  a {
    color: var(--navbarLink) !important
  }
  .btn-outline-primary {
    border-color: var(--navbarLink);
  }
  .db-hi-welcome {
    path {
      fill: transparent !important;
    }
  }
}

.db-logo-svg-shape {
  fill: var(--navbarLink);
  shape-rendering: geometricprecision;
}
.db-hi-welcome {
  path {
    stroke: var(--navbarLink);
  }
  &.text-danger {
    path {
      stroke: var(--danger);
    }
  }
}
.db-hi-welcome__default {
  &:not(:first-child) {
    display: none;
  }
}
.db-navbar {
  padding: 4rem;
  .navbar-brand {
    margin-left: 0;
    svg {
      width: 8rem;
      height: auto;
    }
    .db-hi-welcome {
      svg {
        width: 3.8rem;
        height: 1.4rem;
      }
    }
  }
  &__close {
    width:  3rem;
    height: 3rem;
  }
  @media (max-width: 575px) {
    padding: 2.125rem 2rem
  } 
}

.db-hi-welcome {
  pointer-events: none;
  position:       absolute;
  left:           8rem;
  opacity:        1;
  top:            1.8rem;
  svg {
    position: absolute;
    left:   -1rem;
    bottom: -1.5rem;
  }
  @include media-breakpoint-down(md) {
    display: none !important;
  }
  &+ .db-hi-welcome  {
    display: none;
  }
}
.db-hi-welcome {
  animation-name:     showMessage;
  animation-duration: 1.2s;
}

@keyframes showMessage {
  0% {
    top:    -3.5rem;
    opacity: 0;
  }
  70% {
    top:    -3.5rem;
    opacity: 0;
  }
  100% {
    opacity: 1;
    top:     1.8rem;
  }
}

// newsletter

.db-newsletter-label {
  margin-bottom: 2em;
}
