.db--devise
  background: var(--background-devise)
  h1,h3
    color: var(--navbarLink)
  label
    background-color: var(--background-devise) !important
  .form-check-label
    color: var(--text)
  .db-modal-title
    color: var(--link)
  .navbar
    .btn, .btn-link, .db-logo-svg-shape
      color: var(--link) !important
      path
        fill: var(--link)
  &.db--loggedout
    min-height: 100vh
    .container--signup
      min-height: calc(100vh - 24rem)
      display: flex
      align-items: center
      .row
        width: calc(100% + 3rem)
    .modal-dialog
      margin-top: 0
      margin-bottom: 0
    .modal-content
      background: var(--paper)
.db--guest
  min-height: 100vh
  background: var(--primary)
  background: linear-gradient(180deg, #903 0, var(--primary) 120vh, #0D1A40 90%)
  &--text
    background: var(--background) !important
    a
      color: var(--link) !important
      .db-hi-welcome
        color: var(--link) !important
        path
          stroke: var(--link) !important
      &.btn-primary,&.btn-success
        color: var(--white) !important
      &.btn-outline-primary
        border-color: var(--link) !important
        &:hover
          background: var(--primary) !important
          border-color: var(--primary) !important
  &--homepage,&--brave
    .db-footer
      a, &__tagline
        color: var(--white)  !important
        &::before
          background: var(--white) !important
  body
    min-height: 100vh

.db-page
  &__body
    margin-top: 0.6em
  &__header
    &__time
      opacity: .5
      position: relative
      top: -0.4em
    &__author
      display: none
      margin-top: 1em
      line-height: 3.2rem
      margin-bottom: 3em
      img
        width: 3.2rem
        height: 3.2rem
        border-radius: 3.2rem

.db-signup
  &--text
    color: var(--link)
  &__list
    &__item
      display: flex
      margin-bottom: 2.4rem
      &__text
        margin-left: .75rem
  &--legendary-plan-box
    display: flex !important
    flex-direction: column
    align-items: center
    margin-bottom: 5rem
    margin-top: -3rem