@use "mixins" as *

@include media-breakpoint-down(sm)
  .container
    padding-left: 1rem
    padding-right: 1rem
  nav-link.active, .alert
    padding-left: 2.4rem
    padding-right: 2.4rem
  h2
    text-align: center
    padding-bottom: 3rem
    font-size: 4rem
