// Font: Montserrat (default)
@font-face
  font-family: 'Montserrat'
  src: url('/fonts/Montserrat-VariableFont_wght.woff2') format('woff2')
  font-weight: 100 900
  font-style: normal
  font-display: swap

// Font: Google Sans (Greek locale)
@font-face
  font-family: 'Google Sans'
  src: url('/fonts/GoogleSans-latin.woff2') format('woff2')
  font-weight: 100 900
  font-style: normal
  font-display: swap
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+0304, U+0308, U+0329, U+2000-206F, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD

@font-face
  font-family: 'Google Sans'
  src: url('/fonts/GoogleSans-greek.woff2') format('woff2')
  font-weight: 100 900
  font-style: normal
  font-display: swap
  unicode-range: U+0370-0377, U+037A-037F, U+0384-038A, U+038C, U+038E-03A1, U+03A3-03FF

@font-face
  font-family: 'Google Sans'
  src: url('/fonts/GoogleSans-greek-ext.woff2') format('woff2')
  font-weight: 100 900
  font-style: normal
  font-display: swap
  unicode-range: U+1F00-1FFF

\:root
  --font-family: 'Montserrat', sans-serif
  --ui-height: 6rem
  --ui-height-xl: 7rem
  --ui-padding: 2rem
  --ui-radius: 1.25rem
  font-size: 8px
  font-family: var(--font-family)

  @media (min-width: 768px)
    --ui-padding: 3rem

[data-locale="el"]
  --font-family: 'Google Sans', sans-serif

@media (prefers-color-scheme: light)
  \:root
    --sky: color(display-p3 0 0 1)
    --link: var(--sky)
    --ink: #001933
    --ash: #506181
    --stone: #738197
    --concrete: #9CA8B8
    --steel: #C2CAD4
    --silver: #E2E6EB
    --paper: #F8F9Fa
    --washed: #FFFFFF
    --paper-on-washed: #F5F6F8
    --white: #FFFFFF
    --grass: color(display-p3 0 0.7 0.45)
    --berry: #EE0060
    --highlight: var(--sky)
    --autocomplete: #cde
    --inputTextFocus: #0D223F
    --menulink: #789
    --menulink-active: #00f
    --menuLogo: #00f
    --navbarLink: #00f
    --pickExchangeItemBg: #dbe4f0

    --shadow-basic: 0.125rem 0.125rem 0.25rem rgba(0,0,0,0.07), 0.25rem 0.25rem 1rem rgba(0,0,0,0.05)
    --shadow-strong: 0.125rem 0.125rem 0.25rem rgba(0,0,0,0.14), 0.25rem 0.25rem 1rem rgba(0,0,0,0.1)
    --shadow-paper: 0.125rem 0.125rem 0.125rem rgba(0,0,0,0.15)
    --shadow-paper-horizontal: 0.125rem 0 0.125rem rgba(0,0,0,0.15)
    --shadow-indent: inset 0.125rem 0.125rem 0.125rem rgba(0,0,0,0.15)

    --warning: color(display-p3 1 0.5 0)
    --benchmark: #949db5
    --insight-background: #8098dd77
    --insight-warning-background: #ffd7ab
    --slider-track: #3453B019
    --slider-progress: #00f
    --label: #061A4Fba
    --label-select-inactive: #061a4f80
    --close-hover: #ebeef2

    --modal-backdrop: #bcc4d338
    --pick-bot-item-bg: #fff
    --big-header: var(--stone)

    --input-text-inactive: #8894B6
    --input-border: #8894B6
    --sinput-background: #fff
    --sinput-text: #00f

    --modal-background: #fff
    --modal-search-placeholder: #8894B6

    --tooltip-background: #fff
    --tooltip-text: #061A4F

    --dropdown-bg: #FFF
    --dropdown-border: #D9E0E7
    --dropdown-hover: #D9E0E766

    --text-faded: #8b92a7
    --widget-shadow-line: #0241

    --ticker-tooltip-background: var(--washed)
    --ticker-tooltip-border: var(--silver)
    --ticker-tooltip-secondary: var(--stone)

@media (prefers-color-scheme: dark)
  \:root
    --sky: color(display-p3 0 0 1)
    --link: #def
    --ink: #def
    --ash: #90aed7
    --stone: #517095
    --concrete: #4F6991
    --steel: #1a395e
    --silver: #021429
    --paper: #001933
    --washed: #0D223F
    --paper-on-washed: #122949
    --white: #FFFFFF
    --grass: color(display-p3 0 0.7 0.45)
    --berry: #EE0060
    --highlight: var(--white)
    --autocomplete: #122b49
    --inputTextFocus: #fff
    --menulink: #3a5a81
    --menulink-active: #def
    --menuLogo: #def
    --navbarLink: #fff
    --pickExchangeItemBg: #122b49

    --shadow-basic: 0.125rem 0.125rem 0.25rem rgba(0,0,0,0.07), 0.25rem 0.25rem 1rem rgba(0,0,0,0.05)
    --shadow-strong: 0.125rem 0.125rem 0.25rem rgba(0,0,0,0.14), 0.25rem 0.25rem 1rem rgba(0,0,0,0.1)
    --shadow-paper: 0.125rem 0.125rem 0.125rem rgba(0,0,0,0.1)
    --shadow-paper-horizontal: 0.125rem 0 0.125rem rgba(0,0,0,0.15)
    --shadow-indent: inset 0.125rem 0.125rem 0.125rem rgba(0,0,0,0.1)

    --warning: color(display-p3 1 0.5 0)
    --benchmark: #465f81
    --insight-background: #00f77
    --insight-warning-background: #884f00b0
    --slider-track: #D4DAEC22
    --slider-progress: #00f
    --label: #B2D5FFc9
    --label-select-inactive: #b2d5ff77
    --close-hover: #fff1

    --modal-backdrop: #012b
    --pick-bot-item-bg: #0D223F
    --big-header: #61798d

    --input-text-inactive: #8894B6
    --input-border: #8894B6
    --sinput-background: #0D223F
    --sinput-text: #fff

    --modal-background: #0d203c
    --modal-search-placeholder: #8894B6

    --tooltip-background: #00f
    --tooltip-text: #fff

    --dropdown-bg: #172a46
    --dropdown-border: #313C59
    --dropdown-hover: #00f

    --text-faded: #44648d
    --widget-shadow-line: #0128

    --ticker-tooltip-background: var(--steel)
    --ticker-tooltip-border: none
    --ticker-tooltip-secondary: var(--ash)

$fontText: var(--font-family)
