// Vendor CSS
@use "flatpickr/dist/flatpickr";
@use "variables";

@use "new/reset";
@use "new/variables" as new-variables;

@use "mixins";
@use "styles";
@use "forms";
@use "spinner";
@use "dropdown";
@use "charts";
@use "exchanges";
@use "qr_code";
@use "rwd";

@use "new/base";
@use "new/animicon";
@use "new/dropdown" as new-dropdown;
@use "new/modal-search";
@use "new/navbar";
@use "new/hamburger";
@use "new/menu-mobile";
@use "new/slider";
@use "new/small-ui";
@use "new/smart-allocation";
@use "new/ticker";
@use "new/ticker-input";
@use "new/toggle";
@use "new/tooltip";
@use "new/total-value";
@use "new/widget";
@use "new/data-grid";
@use "new/multiselect";
@use "new/conversational";
@use "new/dca-dual-asset";
@use "new/devise";
@use "new/page-head";
@use "new/bot-control";
@use "new/bot-tile";
@use "new/itiles";
@use "new/set-api";

@use "new/small-random";
@use "new/utilities";

@use "new/start";

@use "animations-order";

@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');
