:root {
  font-size: 8px;
}
@import "bootstrap/bootstrap";
@import "variables";
@import "mixins";
@import "styles";
@import "signup";
@import "pages";
@import "navbar";
@import "sidebar";
@import "bots";
@import "forms";
@import "spinner";
@import "dropdown";
@import "referral-stats";
@import "alerts";
@import "charts";
@import "exchanges";
@import "qr_code";
@import "rwd";
@import "bonjoro";
@import "bot_info";

@import "new/reset";
@import "new/variables";
@import "new/base";

@import "new/alertbox";
@import "new/animicon";
@import "new/basket";
@import "new/dropdown";
@import "new/insight";
@import "new/modal-search";
@import "new/navbar";
@import "new/hamburger";
@import "new/menu-mobile";
@import "new/slider";
@import "new/small-ui";
@import "new/smart-allocation";
@import "new/ticker";
@import "new/ticker-input";
@import "new/toggle";
@import "new/tooltip";
@import "new/total-value";
@import "new/widget";
@import "new/pricing";
@import "new/multiselect";
@import "new/conversational";
@import "new/barbell";
@import "new/devise";

@import "new/small-random";
@import "new/utilities";

@import "animations/portfolio_analyzer";
@import "portfolio_analyzer";

@import "animations/countdown";
