:root {
  font-size: 8px;
}

@import "variables";

@import "new/reset";
@import "new/variables";

@import "mixins";
@import "styles";
@import "signup";
@import "pages";
@import "navbar";
@import "bots";
@import "forms";
@import "spinner";
@import "dropdown";
@import "alerts";
@import "charts";
@import "exchanges";
@import "qr_code";
@import "rwd";
@import "bot_info";

@import "new/base";
@import "new/animicon";
@import "new/basket";
@import "new/dropdown";
@import "new/modal-search";
@import "new/navbar";
@import "new/hamburger";
@import "new/menu-mobile";
@import "new/slider";
@import "new/small-ui";
@import "new/smart-allocation";
@import "new/ticker";
@import "new/ticker-input";
@import "new/toggle";
@import "new/tooltip";
@import "new/total-value";
@import "new/widget";
@import "new/data-grid";
@import "new/multiselect";
@import "new/conversational";
@import "new/dca-dual-asset";
@import "new/devise";
@import "new/page-head";
@import "new/bot-control";
@import "new/bot-tile";
@import "new/itiles";
@import "new/set-api";

@import "new/small-random";
@import "new/utilities";

@import "animations-countdown";
@import "new/start";

@import "animations-order";

@import "playbook";
@import "pie_chart";
