<h1><%= t('.subject', exchange_name: @exchange_name, quote: @quote) %></h1>

<p><%= t('mailer.greeting_name', name: @user.name) %></p>
<%= t('.template_html', quote: @quote, exchange_name: @exchange_name, label: @label) %>
