%p Hello,
%p Congratulations! Your Saver plan limit has been reached.
%p It looks like you're dollar-cost-averaging for a while now. We hope you're happy about the results.
%p Upgrade your plan to Investor or Hodler to remove all limits and put your bots back to work.
%p ---
%p Deltabadger Team
