%p Hello 👋,
%p Oh, well done! Your <b>Saver</b> plan<br>limit has been reached.
%p It looks like you do dollar-cost<br>averaging for a while now.
%p We hope you're happy about<br>the results.
%p Upgrade your plan to <b>Investor</b><br>or <b>Hodler</b> to remove all limits and<br>put your bots back to work.
