%p Hello 👋,
%p You've almost reached the <b style="color: #0a45a4;">Saver</b> <br>plan transaciton limit.
%p Upgrade your plan to <b style="color: #0a45a4;">Investor</b><br> or <b style="color: #0a45a4;">Hodler</b> to make sure that your</br>bots will continue to work.
