%p Hello 👋,
%p Oh, well done! Your <b style="color: #0a45a4;">Saver</b> plan<br>limit has been reached.
%p It looks like you do dollar-cost<br>averaging for a while now.
%p We hope you're happy about<br>the results.
%p Upgrade your plan to <b style="color: #0a45a4;">Investor</b><br>or <b style="color: #0a45a4;">Hodler</b> to remove all limits and<br>put your bots back to work.
