!!!
%html
  %head
    %meta{:content => "text/html; charset=UTF-8", "http-equiv" => "Content-Type"}/
  %body
    %h1
      Limit almost reached, #{@user.email}, buy subscription to continue....
    %p
      For bot: #{@bot.inspect}
