%p Hey!
%p
  The bot couldn't perform your order.
  It looks like an exchange issue.
  We'll try again in #{@delay}.
%p
  All error are visible in the bot log.
  Sign in to check it out.
%p Errors:
%p
  %b #{@errors.inspect}
%p ---
%p Deltabadger Team
