%table.mail-block{style: "width:100%; text-align:center;"}
  %tr{style: "vertical-align:middle;"}
    %td{style: "width:64px;"}
      %img{src: "https://deltabadger.com/m/mail-icon-spinner.png", alt: "your-image-description", style: "width:64px; height: 64px; display: block; margin-right: 16px;"}
    %td
      %h1{style: "margin:0; text-align: left;"}= t('.subject')

= t('.template_html', exchange: @exchange_name, base: @bot.base, quote: @bot.quote, errors: @errors.inspect)
