%p Oups… 💥
%p Something went wrong while<br>processing the last transaction.
%p You can see the error in the<br>bot log. Sign in to check it.
%p Errors:
%blockquote
  %b.badger-color #{@errors.inspect}
