!!!
%html
  %head
    %meta{:content => "text/html; charset=UTF-8", "http-equiv" => "Content-Type"}/
  %body
    %h1
      Something went wrong while processing transaction, #{@user.email}
    %p
      For bot: #{@bot}
      Errors: #{@erros}
