%h1{class: "mail-header"}= t('.subject')

%p= t('mailer.greeting_name', name: @user.name)
= t('.template_html', base: @base, quote: @quote, bot_name: @bot_name, type: @type, price: @price, exchange_name: @exchange_name)
