%p Welcome, #{@email}!
%p You can confirm your email through the link below:
%br
%p= link_to 'Confirm my account', confirmation_url(@resource, confirmation_token: @token)
%br
%p
%small{:style => "color: #9EB0C9"} You received this email because you created a new account at Deltabadger. If it wasn't you, simply ignore it.
