%h1{class: "mail-header"}= t('.subject')

%p= t('mailer.greeting_name', name: @resource.name)
= t('.template_html', confirmation_url: confirmation_url(@resource, confirmation_token: @token, locale: I18n.locale, new_user: @resource.email.in?(controller.message.to)))
