%p Welcome, #{@email}!
%p You can confirm your email through the link below:
%br
%p= link_to 'Confirm my account', confirmation_url(@resource, confirmation_token: @token)
%br
%p
%small{:style => "color: #9EB0C9"} You received this email because someone used it creating a new account at Deltabadger. If it wasn't you, please, ignore it.
