%h1{class: "mail-header"}= t('.subject')

%p= t('mailer.greeting_name', name: @resource.name)
= t('.template_html', edit_password_url: edit_password_url(@resource, reset_password_token: @token, lang: I18n.locale))
