%p Hello 👋,
%p It looks like you want to change<br/>your password 🔑. Smart move!

%p Let's go:
%p.extra-space= link_to "Change my password", edit_password_url(@resource, reset_password_token: @token)
%p You didn't send this request?<br/>No worries! Just ignore it.
