%p Hello 👋,
%p It looks like you want to change<br/>your password 🔑. Smart move!
%p Let's go:
%p{:style=>"margin: 1em 0 1.2em;"}= link_to "Change my password", edit_password_url(@resource, reset_password_token: @token), {:style=> "color: #0a45a4;"}
%p You didn't send this request?<br/>No worries! Just ignore it.
