<turbo-frame complete="" id="modal">
  <dialog data-controller="modal--base" data-action="click->modal--base#clickOutside" class="dialog" data-hw-animate-in="animate-modal-in" data-hw-animate-out="animate-modal-out">
    <div class="dialog__vertical-center">
      
  <div class="modal">
    <button name="button" type="button" class="modal__close" data-action="modal--base#animateOutCloseAndCleanUp">
      <svg class="icon-24" fill="none" viewbox="0 0 24 24" xmlns="http://www.w3.org/2000/svg">
<path d="M5.7 4.3a1 1 0 0 0-1.4 1.4l6.3 6.3-6.3 6.3a1 1 0 1 0 1.4 1.4l6.3-6.3 6.3 6.3a1 1 0 0 0 1.4-1.4L13.4 12l6.3-6.3a1 1 0 0 0-1.4-1.4L12 10.6 5.7 4.3Z" fill="#2948A1"></path>
</svg>

</button>    {{ card|safe }}

  </div>

    </div>
  </dialog>
</turbo-frame>