<div data-controller="removals">
  <div class="alertbox alertbox--news d-none" style="margin-bottom: 2rem">
    <div class="text" style="width: 100%">
      <div  style="max-width: 10000rem">
        <p>Deltabadger does three things:</p>
        <ul>
          <li>Dollar-Cost Averaging bots</li>
          <li>Portfolio Analysis</li>
          <li>Portfolio Tracking (soon)</li>
        </ul>
        <p>It's simple:</p>
        <p>First, you acquire assets, and there is no better way to do it than dollar-cost averaging. <b>The&nbsp;first bot is now completely free</b>.</p>
        <p>When you have some assets — crypto or stocks — find the optimal allocation of your holdings with our Analyzer to minimize risk.</p>
        <p>Finally, track your whole portfolio from DeFi to ETFs in one place. (That part is coming soon.)</p>
        <p style="margin-bottom:0">If you like what you see, consider joining an exclusive community of 1,000 lifetime subscribers. This is an offer like no other that supports the project and gives a unique opportunity to become a lifetime beneficiary of all Deltabadger's superpowers.</p>

        <p style="margin-bottom:0">Best, Jan</p>
        <img src="https://deltabadger.com/images/signature-white.webp" alt="signature" style="width: 20rem" %>
        <%#

        <img src="https://deltabadger.com/images/signature.webp" alt="signature" style="width: 20rem" class="lightmode-only">
        <img src="https://deltabadger.com/images/signature-white.webp" alt="signature" style="width: 20rem" class="darkmode-only"> %>
      </div>
    </div>
    <%= button_to settings_hide_news_banner_path, method: :patch, title: "Close", class: "close", data: { action: "click->removals#submitAndRemove" } do %>
      <%= render partial: 'svg/24x24_x' %>
    <% end %>
    <%# render partial: 'layouts/svg_bubbleart_01' %>
  </div>
</div>
