.db-navbar
  .container
    %nav.navbar.navbar-expand-lg.navbar-light
      %a.navbar-brand{:href => root_path}
        %svg.align-top{:height => "30px", :version => "1.1", :viewbox => "0 0 850 300", :width => "85px", :xmlns => "http://www.w3.org/2000/svg", "xmlns:xlink" => "http://www.w3.org/1999/xlink"}
          %g.db-logo-svg-shape{:fill => "none", "fill-rule" => "evenodd", :stroke => "none", "stroke-width" => "1"}
            %path{:d => "M698.904976,0 C724.502986,0 750.136566,10.0524779 775.805715,30.1574336 C798.239467,50.5733126 818.304803,67.9644016 836.001724,82.3307004 C862.547106,103.880149 847.08296,131.591741 820.360447,131.591741 L676.769248,131.591741 L676.769248,131.591741 C634.743218,131.591741 601.788327,151.397894 622.316082,192.61653 C632.505097,213.075529 645.637262,238.371011 661.077219,268.030396 C665.144547,275.843529 663.222928,287.563082 656.167346,294.03107 C647.405262,302.063441 634.11208,302.110692 624.811006,293.053249 C615.509931,283.995807 545.549304,215.204665 537.337733,206.88996 C529.126163,198.575254 509.85048,198.575254 501.063379,206.88996 C492.276278,215.204665 419.677168,286.577946 412.171909,294.03107 C404.666649,301.484194 389.756893,302.756203 380.943599,293.053249 C373.687084,285.064224 373.287802,274.633729 377.455462,267.359413 C386.525774,251.527914 400.201738,227.979913 416.438201,199.259868 C417.666925,197.086426 417.720335,192.61653 412.605127,192.61653 L327.040761,192.61653 L327.040761,192.61653 C324.00002,192.61653 320.873278,193.110506 318.2862,194.665858 L316.914399,195.489706 C297.010113,207.431002 276.621362,219.137315 267.293285,225.506216 C257.750771,232.021528 257.750771,241.974179 274.131357,265.917734 C277.977453,271.539586 280.148099,279.380529 274.131357,289.522472 C270.225845,296.105683 262.877811,300 255.462196,300 C248.046582,300 242.27446,296.014016 239.732826,293.462904 C237.191192,290.911791 207.431538,263.40249 192.424136,245.348319 C190.566852,243.113974 188.494309,237.451108 190.459222,229.550687 C191.769165,224.28374 195.141366,211.972354 200.575826,192.61653 C133.582644,255.542436 97.3829426,289.347283 91.9767221,294.03107 C83.8673913,301.056751 72.2788444,302.489288 62.9967316,295.027343 C53.7146189,287.565398 52.4279685,275.20996 58.0498911,265.917734 C68.485383,248.669372 97.1331875,201.472902 143.993304,124.328324 C105.712393,141.442135 72.3161867,156.613018 43.804685,169.840973 C36.0913467,173.419589 22.1565033,178.519648 14.6812449,178.519648 C7.2059865,178.519648 2.90887202,177.541626 0.366899634,170.525953 C-2.17507275,163.51028 9.1278687,154.533129 14.6812449,149.99904 C25.5611694,141.116059 157.111242,47.1757194 184.757171,30.1574336 C212.4031,13.1391479 239.732826,0 279.479668,0 L698.904976,0 L698.904976,0 Z M661.8822,20 L295.161885,20 C249.948838,20 226.133,30.994331 201.870294,46.1055819 C185.695156,56.1797491 176.045708,62.4778885 172.921947,65 L172.921947,65 L778.921947,65 C739.095862,30.994331 735.790162,20 661.8822,20 L661.8822,20 Z"}
      .ml-auto
        - if current_user.unlimited?
          .btn.text-success.db-icon-verified.mr-2.db-has-tooltip
            Unlimited
            %i.material-icons-round.ml-1 verified_user
            .db-tooltip= "#{ current_user.plan_days_left } days left"
        - else
          %a.btn.btn-link.mr-2.d-inline-flex.d-sm-none{:href => upgrade_path}
            %i.material-icons-round shopping_basket
          %a.btn.btn-outline-primary.mr-2.d-none.d-sm-inline-flex{:href => upgrade_path}
            Upgrade


        %a.btn.btn-link.d-none.d-sm-inline-flex{:href => root_path}
          Dashboard
        = link_to(raw('<i class="material-icons-round d-inline d-sm-none pr-2">account_circle</i><span class="d-none d-sm-inline">Settings</span>'), settings_path, class: 'btn btn-link')
        = link_to(raw('<i class="material-icons-round d-inline d-sm-none">power_settings_new</i><span class="d-none d-sm-inline">Log out</span>'),  destroy_user_session_path, method: :delete, class: 'btn btn-link')
