name: test workflow

on:
  push:
    branches:
      - 'abracadabra' 
#       - '*'
#       - '*/*'

jobs:
  AutoDeploy:
    environment: test
    runs-on: ubuntu-latest
    steps:
      - name: Check out repository code
        uses: actions/checkout@v3
      
      - name: Check out private submodule (deltabadger-ansible)
        env:
          SSH_KEY_FOR_SUBMODULE: ${{secrets.SSH_KEY_FOR_SUBMODULE}}
        run: |
          mkdir $HOME/.ssh && echo "$SSH_KEY_FOR_SUBMODULE" > $HOME/.ssh/id_rsa \
          && chmod 600 $HOME/.ssh/id_rsa \
          && perl -i -p -e 's|https://(.*?)/|git@\1:|g' .gitmodules \
          && git submodule update --init --recursive 

      - name: Install Python 3.10
        uses: actions/setup-python@v4
        with:
          python-version: '3.10' 

      - name: Install ansible
        run: |
          sudo apt install ansible

      # - name: Prepare ssh config
      #   run: | 
      #     sudo cp deltabadger-ansible/ssh_keys/config ~/.ssh/config

      # - name: Add hosts to /etc/hosts
      #   run: |
      #     sudo echo "3.136.156.106   deltabadger-tunnel" | sudo tee -a /etc/hosts
      #     sudo echo "3.18.115.153    deltabadger-test-web" | sudo tee -a /etc/hosts
      #     sudo echo "3.135.88.39     deltabadger-test-sidekiq" | sudo tee -a /etc/hosts
      #     sudo echo "3.141.184.0     deltabadger-production-web1" | sudo tee -a /etc/hosts
      #     sudo echo "3.133.86.80     deltabadger-production-web2" | sudo tee -a /etc/hosts
      #     sudo echo "3.18.70.231     deltabadger-production-sidekiq" | sudo tee -a /etc/hosts

      - name: Generate .vault_password file from secret
        run: |
          sudo echo "${{ secrets.VAULT_PASSWORD }}" > deltabadger-ansible/.vault_password    

      - name: Decrypt private keys
        run: |
          ansible-vault decrypt deltabadger-ansible/ssh_keys/ENCRYPTED_deltabadger-bastion.pem --output ~/.ssh/deltabadger-bastion.pem --vault-password-file=deltabadger-ansible/.vault_password
          ansible-vault decrypt deltabadger-ansible/ssh_keys/ENCRYPTED_deltabadger-staging.pem --output ~/.ssh/deltabadger-staging.pem --vault-password-file=deltabadger-ansible/.vault_password
          sudo chmod 0600 ~/.ssh/deltabadger-*

      - name: create ssh key from secret   
        run: |
          sudo mv ~/.ssh/deltabadger-bastion.pem ~/.ssh/id_rsa
          chmod 600 ~/.ssh/id_rsa
          ssh-keyscan github.com >> ~/.ssh/known_hosts
          ssh-keyscan 3.136.156.106 >> ~/.ssh/known_hosts

      - name: Create SSH tunnel to Bastion
        run: |
          sudo apt install sshuttle
          nohup sshuttle -r ubuntu@3.136.156.106 172.16.0.0/12 < /dev/null & > /dev/null &

      - name: Run ansible ping
        run: |
          cd deltabadger-ansible \
          && ANSIBLE_HOST_KEY_CHECKING=False ansible all -i inventories/test/ -m ping -vvvv

      # - name: debug stuff
      #   run: |
      #     sudo cat ~/.ssh/config
      #     sudo cat /etc/hosts
      #     sudo ls -la ~/
      #     sudo ls -la ~/.ssh/

      # ANSIBLE_HOST_KEY_CHECKING=False put in config? hmm
      - name: Autodeploy dry run
        run: |
          cd deltabadger-ansible \
          && ANSIBLE_SCP_IF_SSH=y ANSIBLE_HOST_KEY_CHECKING=False BRANCH=stage ansible-playbook site.yml -i inventories/test --check -vvvv