name: PRODUCTION deltabadger autodeploy

on:
  push:
    branches: [production]
    
jobs:
  AutoDeploy:
    environment: production
    runs-on: ubuntu-22.04
    timeout-minutes: 5

    steps:
    - name: execute remote ssh commands
      uses: appleboy/ssh-action@v0.1.7
      with:
        host: 3.17.104.213 # ssh-tunnel (Bastion)
        username: ubuntu
        key: ${{ secrets.bastion_key }}
        port: 22
        script: |
           rm -r deltabadger
           git clone git@deltabadger:deltabadger/deltabadger.git --branch production
           cd deltabadger && git clone git@deltabadger-ansible:deltabadger/deltabadger-ansible --branch autodeploy
           sudo echo "${{ secrets.VAULT_PASSWORD }}" > deltabadger-ansible/.vault_password 
           cd deltabadger-ansible && BRANCH=stage ANSIBLE_HOST_KEY_CHECKING=False ansible-playbook site.yml -i inventories/production
