name: STAGE deltabadger autodeploy

on:
  push:
    branches: [stage]

jobs:
  AutoDeploy:
    environment: stage
    runs-on: ubuntu-24.04
    timeout-minutes: 10

    steps:
    - name: execute remote ssh commands
      uses: appleboy/ssh-action@v0.1.7
      with:
        host: ${{ secrets.SERVICES_SERVER_IP }}
        username: ubuntu
        key: ${{ secrets.GH_ACTIONS_KEY }}
        port: 22
        script: |
           mkdir -p github_actions
           cd github_actions
           rm -r deltabadger
           git clone https://deltabadger:${{ secrets.GH_ACTIONS_TOKEN }}@github.com/deltabadger/deltabadger.git --branch stage
           cd deltabadger && git clone https://deltabadger:${{ secrets.GH_ACTIONS_TOKEN }}@github.com/deltabadger/deltabadger-ansible.git --branch autodeploy
           sudo echo "${{ secrets.ANSIBLE_VAULT_PASSWORD }}" > deltabadger-ansible/.vault_password
           cd deltabadger-ansible && BRANCH=stage ansible-playbook site.yml -i inventories/production --private-key /home/ubuntu/.ssh/id_ed25519