.db-main__section.db-main__section--ceo-note
  %a.db-photo-info(href="https://www.pexels.com/photo/black-and-white-concrete-buildings-at-golden-hour-2779387/" taget="_blank")
    = t('home.index.ceo_note.photo_by')
  .row
    .col-12.col-lg-6.col-xl-7

    .col-12.col-lg-6.col-xl-5
      %h4.db-ceo-note__text.mb-5= "“" + t('home.index.ceo_note.note') + "”"
      %h4.mb-1
        Jan Klosowski, CEO
      %img.mb-5{:src => asset_pack_path("media/images/signature.png"), :alt => "Klosowski", :style => "width: 160px;"}
