%svg.db-homepage-svg-chart{:version => "1.1", :viewbox => "0 0 410 165", :xmlns => "http://www.w3.org/2000/svg", "xmlns:xlink" => "http://www.w3.org/1999/xlink"}
  %g#chart{:fill => "none", "fill-rule" => "evenodd", :stroke => "none", "stroke-width" => "1"}
    %path.candlestick{:d => "M35.5,83.25 L35,143.75 M35.5,134.5 L36.4437386,134.5 L37.5,134.5",       :stroke => "var(--white)FFF", "stroke-linecap" => "round", "stroke-linejoin" => "round", "stroke-opacity" => "0.304632867", "stroke-width" => "1.5"}
    %path.candlestick{:d => "M15.5,111.5 L15.5,125.5 M15.5,118.5 L16.4437386,118.5 L17.5,118.5",      :stroke => "var(--white)FFF", "stroke-linecap" => "round", "stroke-linejoin" => "round", "stroke-opacity" => "0.304632867", "stroke-width" => "1.5"}
    %path.candlestick{:d => "M5.5,118.5 L5.5,154.5 M5.5,122.5 L6.4437386,122.5 L7.5,122.5",           :stroke => "var(--white)FFF", "stroke-linecap" => "round", "stroke-linejoin" => "round", "stroke-opacity" => "0.304632867", "stroke-width" => "1.5"}
    %path.candlestick{:d => "M115.5,129.5 L116.443739,129.5 L117.5,129.5 M115.5,115.5 L115.5,136.5",  :stroke => "var(--white)FFF", "stroke-linecap" => "round", "stroke-linejoin" => "round", "stroke-opacity" => "0.304632867", "stroke-width" => "1.5"}
    %path.candlestick{:d => "M145.5,106.5 L146.443739,106.5 L147.5,106.5 M145.5,87.5 L145.5,111.5",   :stroke => "var(--white)FFF", "stroke-linecap" => "round", "stroke-linejoin" => "round", "stroke-opacity" => "0.304632867", "stroke-width" => "1.5"}
    %path.candlestick{:d => "M155.5,99.5 L156.443739,99.5 L157.5,99.5 M155.5,88.5 L155.5,124.5",      :stroke => "var(--white)FFF", "stroke-linecap" => "round", "stroke-linejoin" => "round", "stroke-opacity" => "0.304632867", "stroke-width" => "1.5"}
    %path.candlestick{:d => "M175.5,89.5 L176.443739,89.5 L177.5,89.5 M175.5,66.5 L175.5,91.5",       :stroke => "var(--white)FFF", "stroke-linecap" => "round", "stroke-linejoin" => "round", "stroke-opacity" => "0.304632867", "stroke-width" => "1.5"}
    %path.candlestick{:d => "M185.5,111.5 L186.443739,111.5 L187.5,111.5 M185.5,85.5 L185.5,114.5",   :stroke => "var(--white)FFF", "stroke-linecap" => "round", "stroke-linejoin" => "round", "stroke-opacity" => "0.304632867", "stroke-width" => "1.5"}
    %path.candlestick{:d => "M195.5,123.5 L196.443739,123.5 L197.5,123.5 M195.5,109.5 L195.5,131.5",  :stroke => "var(--white)FFF", "stroke-linecap" => "round", "stroke-linejoin" => "round", "stroke-opacity" => "0.304632867", "stroke-width" => "1.5"}
    %path.candlestick{:d => "M215.5,115.5 L216.443739,115.5 L217.5,115.5 M215,109 L215,128",          :stroke => "var(--white)FFF", "stroke-linecap" => "round", "stroke-linejoin" => "round", "stroke-opacity" => "0.304632867", "stroke-width" => "1.5"}
    %path.candlestick{:d => "M235.5,110.5 L236.443739,110.5 L237.5,110.5 M235.5,90.5 L235.5,138.5",   :stroke => "var(--white)FFF", "stroke-linecap" => "round", "stroke-linejoin" => "round", "stroke-opacity" => "0.304632867", "stroke-width" => "1.5"}
    %path.candlestick{:d => "M385.5,72.5 L386.443739,72.5 L387.5,72.5 M385.5,58.5 L385.5,91.5",       :stroke => "var(--white)FFF", "stroke-linecap" => "round", "stroke-linejoin" => "round", "stroke-opacity" => "0.304632867", "stroke-width" => "1.5"}
    %path.candlestick{:d => "M395.5,42.5 L396.443739,42.5 L397.5,42.5 M395.5,37.5 L395.5,73.5",       :stroke => "var(--white)FFF", "stroke-linecap" => "round", "stroke-linejoin" => "round", "stroke-opacity" => "0.304632867", "stroke-width" => "1.5"}
    %path.candlestick{:d => "M405.5,12.5 L406.443739,12.5 L407.5,12.5 M405.5,2.5 L405.5,43.5",        :stroke => "var(--white)FFF", "stroke-linecap" => "round", "stroke-linejoin" => "round", "stroke-opacity" => "0.304632867", "stroke-width" => "1.5"}
    %path.candlestick{:d => "M165.5,83.5 L165.5,100.5 M165.5,89.5 L166.443739,89.5 L167.5,89.5",      :stroke => "var(--white)FFF", "stroke-linecap" => "round", "stroke-linejoin" => "round", "stroke-opacity" => "0.304632867", "stroke-width" => "1.5"}
    %path.candlestick{:d => "M25.5,93.5 L25.5,120.5 M25.5,114.5 L26.4437386,114.5 L27.5,114.5",       :stroke => "var(--white)FFF", "stroke-linecap" => "round", "stroke-linejoin" => "round", "stroke-opacity" => "0.304632867", "stroke-width" => "1.5"}
    %path.candlestick{:d => "M125.5,100 L125.5,133 M125.5,123.5 L126.443739,123.5 L127.5,123.5",      :stroke => "var(--white)FFF", "stroke-linecap" => "round", "stroke-linejoin" => "round", "stroke-opacity" => "0.304632867", "stroke-width" => "1.5"}
    %path.candlestick{:d => "M105.5,125.5 L105.5,158.5 M105.5,133.5 L106.443739,133.5 L107.5,133.5",  :stroke => "var(--white)FFF", "stroke-linecap" => "round", "stroke-linejoin" => "round", "stroke-opacity" => "0.304632867", "stroke-width" => "1.5"}
    %path.candlestick{:d => "M95.5,108.5 L95.5,128.5 M95.5,126.5 L96.4437386,126.5 L97.5,126.5",      :stroke => "var(--white)FFF", "stroke-linecap" => "round", "stroke-linejoin" => "round", "stroke-opacity" => "0.304632867", "stroke-width" => "1.5"}
    %path.candlestick{:d => "M85.5,91.5 L85.5,139.5 M85.5,126.5 L86.4437386,126.5 L87.5,126.5",       :stroke => "var(--white)FFF", "stroke-linecap" => "round", "stroke-linejoin" => "round", "stroke-opacity" => "0.304632867", "stroke-width" => "1.5"}
    %path.candlestick{:d => "M75.5,115.5 L75.5,138.5 M75.5,131.5 L76.4437386,131.5 L77.5,131.5",      :stroke => "var(--white)FFF", "stroke-linecap" => "round", "stroke-linejoin" => "round", "stroke-opacity" => "0.304632867", "stroke-width" => "1.5"}
    %path.candlestick{:d => "M65,113 L65,132 M65.5,121.5 L66.4437386,121.5 L67.5,121.5",              :stroke => "var(--white)FFF", "stroke-linecap" => "round", "stroke-linejoin" => "round", "stroke-opacity" => "0.304632867", "stroke-width" => "1.5"}
    %path.candlestick{:d => "M55.5,119 L55.5,135 M55.5,128.5 L56.4437386,128.5 L57.5,128.5",          :stroke => "var(--white)FFF", "stroke-linecap" => "round", "stroke-linejoin" => "round", "stroke-opacity" => "0.304632867", "stroke-width" => "1.5"}
    %path.candlestick{:d => "M45.5,114.5 L45.5,136.5 M45.5,124.5 L46.4437386,124.5 L47.5,124.5",      :stroke => "var(--white)FFF", "stroke-linecap" => "round", "stroke-linejoin" => "round", "stroke-opacity" => "0.304632867", "stroke-width" => "1.5"}
    %path.candlestick{:d => "M135.5,107.5 L135.5,130 M135.5,109.5 L136.443739,109.5 L137.5,109.5",    :stroke => "var(--white)FFF", "stroke-linecap" => "round", "stroke-linejoin" => "round", "stroke-opacity" => "0.304632867", "stroke-width" => "1.5"}
    %path.candlestick{:d => "M225.5,95 L225.5,118 M225.5,111.5 L226.443739,111.5 L227.5,111.5",       :stroke => "var(--white)FFF", "stroke-linecap" => "round", "stroke-linejoin" => "round", "stroke-opacity" => "0.304632867", "stroke-width" => "1.5"}
    %path.candlestick{:d => "M255.5,100 L255.5,131 M255.5,106.5 L256.443739,106.5 L257.5,106.5",      :stroke => "var(--white)FFF", "stroke-linecap" => "round", "stroke-linejoin" => "round", "stroke-opacity" => "0.304632867", "stroke-width" => "1.5"}
    %path.candlestick{:d => "M245.5,109 L245.5,129 M245.5,120.5 L246.443739,120.5 L247.5,120.5",      :stroke => "var(--white)FFF", "stroke-linecap" => "round", "stroke-linejoin" => "round", "stroke-opacity" => "0.304632867", "stroke-width" => "1.5"}
    %path.candlestick{:d => "M265.5,87 L265.5,108 M265.5,87.5 L266.443739,87.5 L267.5,87.5",          :stroke => "var(--white)FFF", "stroke-linecap" => "round", "stroke-linejoin" => "round", "stroke-opacity" => "0.304632867", "stroke-width" => "1.5"}
    %path.candlestick{:d => "M275.5,69 L275.5,102 M275.5,69.5 L276.443739,69.5 L277.5,69.5",          :stroke => "var(--white)FFF", "stroke-linecap" => "round", "stroke-linejoin" => "round", "stroke-opacity" => "0.304632867", "stroke-width" => "1.5"}
    %path.candlestick{:d => "M205.5,121 L205.5,154.5 M205.5,126.5 L206.443739,126.5 L207.5,126.5",    :stroke => "var(--white)FFF", "stroke-linecap" => "round", "stroke-linejoin" => "round", "stroke-opacity" => "0.304632867", "stroke-width" => "1.5"}
    %path.candlestick{:d => "M285.5,43.5 L285.5,80 M285.5,73.5 L286.443739,73.5 L287.5,73.5",         :stroke => "var(--white)FFF", "stroke-linecap" => "round", "stroke-linejoin" => "round", "stroke-opacity" => "0.304632867", "stroke-width" => "1.5"}
    %path.candlestick{:d => "M305.5,87.5 L305.5,118.5 M305.5,87.5 L306.443739,87.5 L307.5,87.5",      :stroke => "var(--white)FFF", "stroke-linecap" => "round", "stroke-linejoin" => "round", "stroke-opacity" => "0.304632867", "stroke-width" => "1.5"}
    %path.candlestick{:d => "M295.5,67.5 L295.5,91.5 M295.5,87.5 L296.443739,87.5 L297.5,87.5",       :stroke => "var(--white)FFF", "stroke-linecap" => "round", "stroke-linejoin" => "round", "stroke-opacity" => "0.304632867", "stroke-width" => "1.5"}
    %path.candlestick{:d => "M315.5,77.5 L315.5,88.5 M315.5,77.5 L316.443739,77.5 L317.5,77.5",       :stroke => "var(--white)FFF", "stroke-linecap" => "round", "stroke-linejoin" => "round", "stroke-opacity" => "0.304632867", "stroke-width" => "1.5"}
    %path.candlestick{:d => "M325.5,47.5 L325.5,78.5 M325.5,67.5 L326.443739,67.5 L327.5,67.5",       :stroke => "var(--white)FFF", "stroke-linecap" => "round", "stroke-linejoin" => "round", "stroke-opacity" => "0.304632867", "stroke-width" => "1.5"}
    %path.candlestick{:d => "M335.5,67.5 L335.5,87.5 M335.5,77.5 L336.443739,77.5 L337.5,77.5",       :stroke => "var(--white)FFF", "stroke-linecap" => "round", "stroke-linejoin" => "round", "stroke-opacity" => "0.304632867", "stroke-width" => "1.5"}
    %path.candlestick{:d => "M345.5,77.5 L345.5,108.5 M345.5,83.5 L346.443739,83.5 L347.5,83.5",      :stroke => "var(--white)FFF", "stroke-linecap" => "round", "stroke-linejoin" => "round", "stroke-opacity" => "0.304632867", "stroke-width" => "1.5"}
    %path.candlestick{:d => "M355.5,67.5 L355.5,88.5 M355.5,67.5 L356.443739,67.5 L357.5,67.5",       :stroke => "var(--white)FFF", "stroke-linecap" => "round", "stroke-linejoin" => "round", "stroke-opacity" => "0.304632867", "stroke-width" => "1.5"}
    %path.candlestick{:d => "M365.5,37.5 L365.5,68.5 M365.5,55.5 L366.443739,55.5 L367.5,55.5",       :stroke => "var(--white)FFF", "stroke-linecap" => "round", "stroke-linejoin" => "round", "stroke-opacity" => "0.304632867", "stroke-width" => "1.5"}
    %path.candlestick{:d => "M375.5,53.5 L375.5,78.5 M375.5,65.5 L376.443739,65.5 L377.5,65.5",       :stroke => "var(--white)FFF", "stroke-linecap" => "round", "stroke-linejoin" => "round", "stroke-opacity" => "0.304632867", "stroke-width" => "1.5"}
    %polyline.line.line--portfolio-value{:points => "6.5 156.571828 25 152.220802 45 155.442906 65 149.636741 85 133.5 105 144.522234 125 127.5 145 123.5 165 102.5 185 106.5 205 123.5 225 108.5 245 112.5 265 91.5 285 68.5 305 81.5 325 61.5 345 66.463451 365 59.5 385 63.5 405 24.5", :stroke => "var(--white)FFF", "stroke-linecap" => "round", "stroke-linejoin" => "round", "stroke-width" => "1.5"}
    %circle.circle-a{:cx => "85.5", :cy => "133.5", :fill => "#0a45a4", :r => "1.5",  :stroke => "var(--white)FFE", "stroke-width" => "1.5"}
    %circle.circle-a{:cx => "65.5", :cy => "149.5", :fill => "#0a45a4", :r => "1.5",  :stroke => "var(--white)FFE", "stroke-width" => "1.5"}
    %circle.circle-a{:cx => "45.5", :cy => "155.5", :fill => "#0a45a4", :r => "1.5",  :stroke => "var(--white)FFE", "stroke-width" => "1.5"}
    %circle.circle-a{:cx => "25.5", :cy => "152.5", :fill => "#0a45a4", :r => "1.5",  :stroke => "var(--white)FFE", "stroke-width" => "1.5"}
    %circle.circle-a{:cx => "5.5", :cy => "156.5", :fill => "#0a45a4", :r => "1.5",   :stroke => "var(--white)FFE", "stroke-width" => "1.5"}
    %circle.circle-a{:cx => "105.5", :cy => "144.5", :fill => "#0a45a4", :r => "1.5", :stroke => "var(--white)FFE", "stroke-width" => "1.5"}
    %circle.circle-a{:cx => "125.5", :cy => "127.5", :fill => "#0a45a4", :r => "1.5", :stroke => "var(--white)FFE", "stroke-width" => "1.5"}
    %circle.circle-a{:cx => "145.5", :cy => "123.5", :fill => "#0a45a4", :r => "1.5", :stroke => "var(--white)FFE", "stroke-width" => "1.5"}
    %circle.circle-a{:cx => "165.5", :cy => "102.5", :fill => "#0a45a4", :r => "1.5", :stroke => "var(--white)FFE", "stroke-width" => "1.5"}
    %circle.circle-a{:cx => "185.5", :cy => "106.5", :fill => "#0a45a4", :r => "1.5", :stroke => "var(--white)FFE", "stroke-width" => "1.5"}
    %circle.circle-a{:cx => "205.5", :cy => "123.5", :fill => "#0a45a4", :r => "1.5", :stroke => "var(--white)FFE", "stroke-width" => "1.5"}
    %circle.circle-a{:cx => "225.5", :cy => "108.5", :fill => "#0a45a4", :r => "1.5", :stroke => "var(--white)FFE", "stroke-width" => "1.5"}
    %circle.circle-a{:cx => "245.5", :cy => "112.5", :fill => "#0a45a4", :r => "1.5", :stroke => "var(--white)FFE", "stroke-width" => "1.5"}
    %circle.circle-a{:cx => "265.5", :cy => "91.5", :fill => "#0a45a4", :r => "1.5",  :stroke => "var(--white)FFE", "stroke-width" => "1.5"}
    %circle.circle-a{:cx => "285.5", :cy => "68.5", :fill => "#0a45a4", :r => "1.5",  :stroke => "var(--white)FFE", "stroke-width" => "1.5"}
    %circle.circle-a{:cx => "305.5", :cy => "81.5", :fill => "#0a45a4", :r => "1.5",  :stroke => "var(--white)FFE", "stroke-width" => "1.5"}
    %circle.circle-a{:cx => "325.5", :cy => "61.5", :fill => "#0a45a4", :r => "1.5",  :stroke => "var(--white)FFE", "stroke-width" => "1.5"}
    %circle.circle-a{:cx => "345.5", :cy => "66.5", :fill => "#0a45a4", :r => "1.5",  :stroke => "var(--white)FFE", "stroke-width" => "1.5"}
    %circle.circle-a{:cx => "365.5", :cy => "59.5", :fill => "#0a45a4", :r => "1.5",  :stroke => "var(--white)FFE", "stroke-width" => "1.5"}
    %circle.circle-a{:cx => "385.5", :cy => "63.5", :fill => "#0a45a4", :r => "1.5",  :stroke => "var(--white)FFE", "stroke-width" => "1.5"}
    %circle.circle-a{:cx => "405.5", :cy => "24.5", :fill => "#0a45a4", :r => "1.5",  :stroke => "var(--white)FFE", "stroke-width" => "1.5"}
    %g#Group{:fill => "#34CE57", :transform => "translate(4.000000, 120.400000)"}
      %circle.circle-b{:cx => "1.5",   :cy => "36.1", :r => "1.5"}
      %circle.circle-b{:cx => "21.5",  :cy => "34.5", :r => "1.5"}
      %circle.circle-b{:cx => "41.5",  :cy => "32.7", :r => "1.5"}
      %circle.circle-b{:cx => "61.5",  :cy => "31",   :r => "1.5"}
      %circle.circle-b{:cx => "81.5",  :cy => "29.2", :r => "1.5"}
      %circle.circle-b{:cx => "101.5", :cy => "27.5", :r => "1.5"}
      %circle.circle-b{:cx => "121.5", :cy => "25.8", :r => "1.5"}
      %circle.circle-b{:cx => "141.5", :cy => "24",   :r => "1.5"}
      %circle.circle-b{:cx => "161.5", :cy => "22.3", :r => "1.5"}
      %circle.circle-b{:cx => "181.5", :cy => "20.5", :r => "1.5"}
      %circle.circle-b{:cx => "201.5", :cy => "18.8", :r => "1.5"}
      %circle.circle-b{:cx => "221.5", :cy => "17.1", :r => "1.5"}
      %circle.circle-b{:cx => "241.5", :cy => "15.1", :r => "1.5"}
      %circle.circle-b{:cx => "261.5", :cy => "13.5", :r => "1.5"}
      %circle.circle-b{:cx => "281.5", :cy => "11.8", :r => "1.5"}
      %circle.circle-b{:cx => "301.5", :cy => "10.1", :r => "1.5"}
      %circle.circle-b{:cx => "321.5", :cy => "8.3",  :r => "1.5"}
      %circle.circle-b{:cx => "341.5", :cy => "6.6",  :r => "1.5"}
      %circle.circle-b{:cx => "361.5", :cy => "4.9",  :r => "1.5"}
      %circle.circle-b{:cx => "381.5", :cy => "3",    :r => "1.5"}
      %circle.circle-b{:cx => "399.5", :cy => "1.5",  :r => "1.5"}
    %line.line.line--total-invested{:fill => "#28A745", :stroke => "#34CE57", "stroke-linecap" => "round", "stroke-linejoin" => "round", "stroke-width" => "1.5", :x1 => "5.5", :x2 => "403.5", :y1 => "156.571828", :y2 => "121.9"}
    %text#Portfolio-Value.d-none.d-sm-block{:fill => "var(--white)FFE", "font-family" => "Varela", "font-size" => "6", "font-weight" => "normal"}
      %tspan{:x => "360.757", :y => "153"} Portfolio Value
    %text#Total-Invested.d-none.d-sm-block{:fill => "var(--white)FFE", "font-family" => "Varela", "font-size" => "6", "font-weight" => "normal"}
      %tspan{:x => "281.843", :y => "153"} Total Invested
    %line.line.d-none.d-sm-block{:stroke => "#34CE57", "stroke-linecap" => "round", "stroke-linejoin" => "round", "stroke-width" => "1.5", :x1 => "276.5", :x2 => "268.5", :y1 => "150.5", :y2 => "150.5"}
    %line.line.line.d-none.d-sm-block{:stroke => "var(--white)FFE", "stroke-linecap" => "round", "stroke-linejoin" => "round", "stroke-width" => "1.5", :x1 => "356", :x2 => "348", :y1 => "150.5", :y2 => "150.5"}
