.container.db-relative
  - if flash[:notice].present?
    .alert.alert-success
      =flash[:notice]
      %button(type="button" class="close" data-dismiss="alert" aria-label="Close")
        %span(aria-hidden="true")
          &times;
  - if flash[:alert].present?
    .alert.alert-danger
      =flash[:alert]
      %button(type="button" class="close" data-dismiss="alert" aria-label="Close")
        %span(aria-hidden="true")
          &times;
