<%= turbo_stream_from "settings_sync" %>
<%= tag.div id: "flash-syncing", class: "salert salert--syncing", role: "alert" do %>
  <div class="loader--syncing"></div>
  <%= t('setup.syncing_message') %>
<% end %>
