.db-group-cta.d-none.d-sm-inline
  .db-group-cta__avatar
    %img{:src => asset_pack_path("media/images/jan.png"), :alt => "Jan"}
  .db-group-cta__bubble
    %span.d-none.d-lg-inline= t('home.founder.signature')
    = t('home.founder.telegram_invitation_html')
    %svg{:class => "db-group-cta__arrow-forward", :xmlns => "http://www.w3.org/2000/svg", :viewBox => "0 0 24 24"}
      %path{:d => "M5 13h11.2l-5 4.9a1 1 0 000 1.4c.5.4 1.1.4 1.5 0l6.6-6.6c.4-.4.4-1 0-1.4l-6.6-6.6a1 1 0 10-1.4 1.4l4.9 4.9H5c-.6 0-1 .5-1 1s.5 1 1 1z"}
    .btn-white.btn-lg.btn-xl.btn--get-started
      %svg{:viewbox => "0 0 40 20", :xmlns => "http://www.w3.org/2000/svg"}
        %path{:d => "M2 2l18 16L38 2", :fill => "none", :stroke => "#FFF", "stroke-linecap" => "round", "stroke-linejoin" => "round", "stroke-width" => "3"}
