- if current_user.show_limit_reached_navbar?
  .alert.alert-primary.db-alert--flex
    %span= t('subscriptions.limit_reached_html')
    = link_to t('subscriptions.upgrade'), upgrade_path, class: 'sbutton sbutton--primary'
