- if current_user.show_limit_reached_navbar?
  .container
    .alert.alert-primary.db-alert--flex
      %span
        <b>Congrats!</b> You have reached our free transaction limit of $500/year. To continue, upgrade to the unlimited plan.
      %a.btn.btn-primary{href: upgrade_path}
        %span Upgrade
