- if current_user.limit_reached?
  .container
    .alert.alert-primary.db-alert--flex
      %span
        <b>Congrats!</b> You have reached our free annual limit of $1000. Upgrade to the unlimited version.
      %button(type="button" class="btn btn-primary")
        %span Upgrade
