.alert.alert-primary
  %p.mt-1 Our referral program <b>pays up to $50</b><sup>1</sup> per user in BTC (using an exchange ratio from the transaction). Example:
  %ol
    %li For simplicity, the price of Bitcoin is ~$10000, the discount is 10%, and your margin is 20%.
    %li Referee buys a 1-year plan for $49.99, paying after the discount $44.99 what equals 0.0045BTC. You earn 0.001BTC (20% of $49.99).
    %li It doesn't matter if the price of Bitcoin changes in the meantime. Your profit is locked in BTC.
    %li Next time, the referee buys a 4-year plan for $149.99 and pays 0.015BTC. He or she doesn't get a discount anymore, but you still get your 20% what equals 0.003BTC.
    %li You continue to profit as long as you have an active plan<sup>2</sup>, and your total profit per referee does not reach $50.

  %p
    <em>Earning bitcoins is the best kind of dollar-cost averaging!</em>
  %small.mb-2 <sup>1</sup> The limit is either 50USD or 50EUR, depending on the currency of the pricing.
  %br
  %small.mb-5 <sup>2</sup> For the referee, the referral link works even if your subscription has expired.
