- if @show_referral_banner
  - ref_link = ENV['MAIN_PAGE_URL']+ref_code_path(code: current_user.affiliate.code,lang: nil)
  .container
    .alert.alert-success.db-alert--welcome.db-alert--flex
      %span
        =t('referral.banner_html')
        %br
        %h4.referral_banner_link
          %a{href: ref_link, id: 'referral_banner_link'}= ref_link
          %span.badge.badge-success.invisible{id: 'referral_badge'}
            =t('referral.copied')
      %button(type="button" id="hide_referral_banner_button" class="close" data-dismiss="alert" aria-label="Close")
        %span(aria-hidden="true")
          &times;
