%svg{:viewbox => "0 0 78 100", :xmlns => "http://www.w3.org/2000/svg"}
  %mask#lineart_exchange
    %g{:fill => "none", "fill-rule" => "evenodd"}
      %path{:d => "M39.75 17.75l32 16h-11L34.25 20.5l5.5-2.75z", :fill => "var(--white)", "fill-opacity" => ".3"}
      %path{:d => "M10.93 33h57.64L39.75 18.59l-28.82 14.4zm60.82 1.5h-64a.75.75 0 01-.33-1.42l32-16c.2-.1.45-.1.66 0l32 16a.75.75 0 01-.33 1.42z", :fill => "var(--white)FFE"}
      %path{:d => "M30.93 28.5h17.64l-8.82-4.41-8.82 4.41zM51.75 30h-24a.75.75 0 01-.34-1.42l12-6c.22-.1.47-.1.68 0l12 6a.75.75 0 01-.34 1.42z", :fill => "var(--white)FFE"}
      %path{:d => "M60.75 39.75h8v-6h-8z", :fill => "var(--white)", "fill-opacity" => ".3"}
      %path{:d => "M11.5 39H68v-4.5H11.5V39zm-.75 1.5a.75.75 0 01-.75-.75v-6c0-.42.34-.75.75-.75h58c.42 0 .75.33.75.75v6c0 .41-.33.75-.75.75h-58z", :fill => "var(--white)FFE"}
      %path{:d => "M60.75 81.75h8v-6h-8z", :fill => "var(--white)", "fill-opacity" => ".3"}
      %path{:d => "M11.5 81H68v-4.5H11.5V81zm-.75 1.5a.75.75 0 01-.75-.75v-6c0-.41.34-.75.75-.75h58c.42 0 .75.34.75.75v6c0 .41-.33.75-.75.75h-58z", :fill => "var(--white)FFE"}
      %path{:d => "M7.75 82.5a.75.75 0 010-1.5h64a.75.75 0 110 1.5h-64zM14 75.75v-6.63a.75.75 0 011.5 0v6.63a.75.75 0 11-1.5 0zM14 60.12V39.75a.75.75 0 011.5 0v20.37a.75.75 0 11-1.5 0zM21.14 75.75V63.12a.75.75 0 011.5 0v12.63a.75.75 0 01-1.5 0zM21.14 54.12V39.75a.75.75 0 011.5 0v14.37a.75.75 0 01-1.5 0zM28.29 75.75V67a.75.75 0 011.5 0v8.75a.75.75 0 01-1.5 0zM28.29 57V39.75a.75.75 0 011.5 0V57a.75.75 0 01-1.5 0zM35.43 75.75v-15a.75.75 0 011.5 0v15a.75.75 0 01-1.5 0zM35.43 46.75v-7a.75.75 0 011.5 0v7a.75.75 0 01-1.5 0zM42.57 75.75v-6a.75.75 0 011.5 0v6a.75.75 0 01-1.5 0zM42.57 58.75v-19a.75.75 0 011.5 0v19a.75.75 0 01-1.5 0zM49.71 75.75V64.37a.75.75 0 011.5 0v11.38a.75.75 0 01-1.5 0zM49.71 55.37V39.75a.75.75 0 011.5 0v15.62a.75.75 0 01-1.5 0zM56.86 75.75v-8.13a.75.75 0 011.5 0v8.13a.75.75 0 01-1.5 0zM56.86 56.62V39.75a.75.75 0 011.5 0v16.87a.75.75 0 01-1.5 0zM64 75.75v-17a.75.75 0 011.5 0v17a.75.75 0 11-1.5 0zM64 47.75v-8a.75.75 0 011.5 0v8a.75.75 0 11-1.5 0z", :fill => "var(--white)FFE"}
      %path{:d => "M65.14 51.11c.35.21.47.68.25 1.03a999.62 999.62 0 00-7.1 11.77.74.74 0 01-.32.37c-.47.27-.48.28-7.42-3.97l-6.73 6a.75.75 0 01-.5.19h-.12a.76.76 0 01-.53-.38l-5.37-9.59a3 3 0 001.21-.9l5 8.94 6.46-5.75a.75.75 0 01.89-.08c2.04 1.24 5.17 3.15 6.46 3.89.7-1.22 2.43-4.1 6.79-11.27a.75.75 0 011.03-.25zm-31.53 4.2c.27.43.64.8 1.09 1.05l-5.05 7.08a.75.75 0 01-1.04.18l-6.63-4.53-6.7 6.57a.75.75 0 11-1.05-1.07l7.14-7a.75.75 0 01.95-.08l6.53 4.46z", :fill => "var(--white)FFE"}
      %path{:d => "M37.04 50.9c.08.26.14.55.14.85a3 3 0 01-3.86 2.86 2.99 2.99 0 103.72-3.72", :fill => "var(--white)", "fill-opacity" => ".3"}
      %path{:d => "M36.18 51.5a2.25 2.25 0 100 4.5 2.25 2.25 0 000-4.5zm0 6a3.75 3.75 0 110-7.5 3.75 3.75 0 010 7.5zM11.28 22.22l.97.97.97-.97a.75.75 0 111.06 1.06l-.97.97.97.97a.75.75 0 11-1.06 1.06l-.97-.97-.97.97a.75.75 0 01-1.06-1.06l.97-.97-.97-.97a.75.75 0 111.06-1.06zM25.75 17.5a.75.75 0 01-.53-.22l-3-3a.75.75 0 111.06-1.06l3 3a.75.75 0 01-.53 1.28", :fill => "var(--white)FFE"}
      %path{:d => "M22.75 17.5a.75.75 0 01-.53-1.28l3-3a.75.75 0 111.06 1.06l-3 3a.75.75 0 01-.53.22M63.75 23.5a.75.75 0 01-.53-.22l-3-3a.75.75 0 111.06-1.06l3 3a.75.75 0 01-.53 1.28", :fill => "var(--white)FFE"}
      %path{:d => "M60.75 23.5a.75.75 0 01-.53-1.28l3-3a.75.75 0 111.06 1.06l-3 3a.75.75 0 01-.53.22", :fill => "var(--white)FFE"}
      %circle{:cx => "9", :cy => "82", :fill => "#000", :r => "8", :stroke => "var(--white)FFE", "stroke-width" => "1.5"}
      %text{:fill => "var(--white)FFE", "font-family" => "Montserrat", "font-size" => "12", "letter-spacing" => ".6"}
        %tspan{:x => "5.43", :y => "86"} 1
  %rect{:width => "78", :height => "100", :fill => "var(--white)", :mask => "url(#lineart_exchange)"}
