%svg{:viewbox => "0 0 620 330", :xmlns => "http://www.w3.org/2000/svg"}
  %g{:fill => "none", "fill-rule" => "evenodd"}
    %path{:d => "M10 196c57 0 71 70 120 70s70-141 120-141 70 142 120 142 72-142 120-142 59 71 120 71v107c0 11-6 17-20 17H30c-12 0-20-5-20-17V196z", :fill => "#D8D8D8", "fill-opacity" => ".07"}
    %path{:d => "M10 195l601 1M10 265l601 1M10 125l601 1", :stroke => "#FFF", "stroke-dasharray" => "8", "stroke-linecap" => "round", "stroke-linejoin" => "round"}
    %circle{:cx => "10", :cy => "195", :fill => "#FFF", :r => "5"}
    %circle{:cx => "10", :cy => "195", :fill => "#FFF", :r => "5"}
    %circle{:cx => "130", :cy => "265", :fill => "#FFF", :r => "5"}
    %circle{:cx => "250", :cy => "125", :fill => "#FFF", :r => "5"}
    %circle{:cx => "370", :cy => "266", :fill => "#FFF", :r => "5"}
    %circle{:cx => "490", :cy => "125", :fill => "#FFF", :r => "5"}
    %text.fill-success{:fill => "#34CE57", "font-family" => "VarelaRound-Regular, Varela Round", "font-size" => "16"}
      %tspan{:x => "5", :y => "177"} $10 = 1
    %text.fill-success{:fill => "#34CE57", "font-family" => "VarelaRound-Regular, Varela Round", "font-size" => "16"}
      %tspan{:x => "213", :y => "153"} $10 = 0.5
    %text.fill-success{:fill => "#34CE57", "font-family" => "VarelaRound-Regular, Varela Round", "font-size" => "16"}
      %tspan{:x => "453", :y => "153"} $10 = 0.5
    %text{:fill => "#FFF", "font-family" => "VarelaRound-Regular, Varela Round", "font-size" => "16"}
      %tspan{:x => "581", :y => "111"} $20
    %text{:fill => "#FFF", "font-family" => "VarelaRound-Regular, Varela Round", "font-size" => "16"}
      %tspan{:x => "580", :y => "181"} $10
    %text{:fill => "#FFF", "font-family" => "VarelaRound-Regular, Varela Round", "font-size" => "16"}
      %tspan{:x => "590", :y => "251"} $5
    %text.fill-success{:fill => "#34CE57", "font-family" => "VarelaRound-Regular, Varela Round", "font-size" => "16"}
      %tspan{:x => "340", :y => "294"} $10 = 2
    %text.fill-success{:fill => "#34CE57", "font-family" => "VarelaRound-Regular, Varela Round", "font-size" => "16"}
      %tspan{:x => "100", :y => "294"} $10 = 2
    %text{:fill => "#FFF", "font-family" => "VarelaRound-Regular, Varela Round", "font-size" => "24"}
      %tspan{:x => "10", :y => "24"} Lump sum: $50 = 5 units
    %text.fill-success{:fill => "#34CE57", "font-family" => "VarelaRound-Regular, Varela Round", "font-size" => "24"}
      %tspan{:x => "10", :y => "60"} DCA: $50 = 6 units
