%svg.db-squareart{:height => "200", :width => "200", :viewBox => "0 0 200 200", :xmlns => "http://www.w3.org/2000/svg", "xmlns:xlink" => "http://www.w3.org/1999/xlink"}
  %defs
    %path#a1{:d => "M183.9 137.8A92 92 0 108 100c0 23.5 9.5 44.4 23.3 61.1 2.5 3 5.9 2.8 8 .9a6 6 0 018 0l4.6 4.2a7 7 0 0010.4-1.3c1.2-1.6 1.5-1.9 2.4-3.8 1.6-3.6 7.1-5 10-1.3 2.9 3.7 7.7 3.4 10.5 0 2.7-3.4 7.6-4.1 11.4.2 3.8 4.3 3.3 3.8 6 6.6 2.7 2.9 8.1 3.1 10.6-.5l11.1-15.9c.7-1 3-3.2 5.6-.5a3.6 3.6 0 005.6-.6l2.2-3a6.1 6.1 0 019.8 0l5.3 6.9c2 2.6 7.5 4.1 10.8 0l10.9-13.6c2.1-2.7 6.5-4.2 9.4-1.6z"}
    %clipPath#c1
      %use{"xlink:href" => "#a1"}
  %mask#art01{:fill => "var(--white)"}
    %use{"xlink:href" => "#a1"}
  %g{:fill => "none", "fill-rule" => "evenodd"}
    %mask#art{:fill => "#2a2a2a"}
      %use{"xlink:href" => "#a1"}
      %path{:d => "M0 200v-62l17.7-21.4a12.8 12.8 0 0120.2.5l7.6 10.3a3 3 0 004.6.2 3.1 3.1 0 014.7 0l8.7 10.7a15.6 15.6 0 0023.1 1l9-9a5.9 5.9 0 018.6 0 5.7 5.7 0 008.4 0l10-11a8 8 0 0112.3.7l2.3 3a4.8 4.8 0 007.5.3 5.5 5.5 0 018-.2l1.5 1.6a5.5 5.5 0 008-.2 5.6 5.6 0 018.1-.3l29.7 29.1V200H0z", :fill => "#0e0e0e", "clip-path" => "url(#c1)"}
      %path{:d => "M125.3 140.6l-58.6 20.9L100 70l29.1 80.9-3.8-10.3-43.9-19.2 33.7-9.4-26.4-10.6 20.2-6.4L93.2 89l11.8-5-8.4-3.9", :stroke => "#000", :fill => "none", "stroke-linecap" => "round", "stroke-linejoin" => "round", "stroke-width" => "4"}
      %circle{:cx => "100", :cy => "66", :fill => "var(--white)", :r => "5"}
  %rect{:width => "200", :height => "200", :fill => "var(--white)", :mask => "url(#art)"}
