%svg{:viewbox => "0 0 40 20", :xmlns => "http://www.w3.org/2000/svg"}
  %path{:d => "M2 2l18 16L38 2", :fill => "none", :stroke => "var(--white)", "stroke-linecap" => "round", "stroke-linejoin" => "round", "stroke-width" => "2"}
