%svg.db-svg--ex{:viewbox => "0 0 2000 2000", :xmlns => "http://www.w3.org/2000/svg"}
  %g{:fill => "#f3ba2f"}
    %path{:d => "M612 840l388-388 389 389 226-226L1000 0 386 614l226 226M0 1000l226-226 226 226-226 226zm612 160l388 388 389-389 226 226-615 615-614-614-1-1 227-225m936-160l226-226 226 226-226 226z"}
    %path{:d => "M1229 1000l-229-229-169 169h-1l-19 20-40 40 229 229 229-229"}
