%svg{:viewbox => "0 0 620 330", :xmlns => "http://www.w3.org/2000/svg"}
  %g{:fill => "none", "fill-rule" => "evenodd"}
    %path{:d => "M0 310l20-3 10-11 10-30 10-76 10 14 10 8 10 22 10-24 10 7 10 3 10 20h10l10 14 10 6 10 14 10-4 11-4 9 8h10l10-18 10 14 10 4 10-14 10-18 10-12 10 18 10-14 10-11 10-19 10 16 10-3 10-5 10 2 10-14 10-7 10-11 10-2 10-18 10-12 10-20 10-4 10-12 10-21 10-10 10-53 10 23 10 11 10-4 10 15 10 3 11 9 9 3 10-3 10 13 10 14 10 6 10-13 9-7 11-25 20 15V30c0-20-10-30-30-30H30C10 0 0 10 0 30v280z", :fill => "var(--white)", "fill-opacity" => ".1"}
    %path.stroke-success{:d => "M10 310l9 6 10 1 10-1 10-5 9-66 10 51 10 11 10 7 10 8 10-1 10-4 9 2 10 3 10 1 10-1 10 1 10 3 10-5 9 2 10-3h10l10-6 10 4 10 2 9-6 10-5 10 7 10-3 10 4 10-1 10-7 9 2 10 6h10l10-2 10-4 10 3 9-5 11 4 9-4 10-11 10 13 10-11 10 9 9-4 10-26 10 26 10 9 10 7 10-2 10 4 10-3 9 2 10-2 10 1 10 5 10-3h9l9-2 11-5 10-9", :stroke => "#34CE57", "stroke-linecap" => "round", "stroke-linejoin" => "round", "stroke-width" => "4"}
    %text.main-graph-info{:fill => "var(--white)", "font-family" => "Varela", "font-size" => "24", :x => "36", :y => "55"}
      %tspan= t('home.index.dca_magic.easy4.chart_price')
    %text.main-graph-info.fill-success{:fill => "#34CE57", "font-family" => "Varela", "font-size" => "24", :x => "36", :y => "91"}
      %tspan= t('home.index.dca_magic.easy4.chart_mm')
    %text{:fill => "var(--white)", "font-family" => "Varela", "font-size" => "16"}
      %tspan{:x => "39", :y => "186"} $732
    %text.fill-success{:fill => "#34CE57", "font-family" => "Varela", "font-size" => "16"}
      %tspan{:x => "16", :y => "231"} MM = 5.15
    %circle{:cx => "58", :cy => "205", :fill => "var(--white)", :r => "5"}
    %circle{:cx => "394", :cy => "157", :fill => "var(--white)", :r => "5"}
    %circle.fill-success{:cx => "58", :cy => "245", :fill => "#34CE57", :r => "5"}
    %circle.fill-success{:cx => "394", :cy => "312", :fill => "#34CE57", :r => "5"}
    %text.main-graph-info{:fill => "var(--white)", "font-family" => "Varela", "font-size" => "16"}
      %tspan{:x => "369", :y => "140"} $2298
    %text.fill-success{:fill => "#34CE57", "font-family" => "Varela", "font-size" => "16"}
      %tspan{:x => "356", :y => "184"} MM = 1.4
