%svg.db-homeart.db-homeart--02{ :viewbox => "0 0 445 445", :xmlns => "http://www.w3.org/2000/svg", "xmlns:xlink" => "http://www.w3.org/1999/xlink"}
  %defs

    %rect#mask-bg--2(x="0" y="0" width="445" height="445" fill="var(--white)")
    %path#shape--badger--2{:d => "M105.9 333.5c1.1.8 3.2 1.2 3.5-.3.3-1.7.2-6.1-.3-13.4.5 8.6 1.8 12.9 3.8 12.9 3 0 3.6-12.9 6.4-12.9 2.8 0 2.6 15.6 6 16.3.6.1 3.6.7 4.1-1 1-3.5 1.6-16.7 1.5-39.8 1.7 3.6 4 5.8 6.8 6.4 4.3.9 7.9 0 7.9-1.6s-2.5.6-5.1-3.4c-2.7-4-4-12.9-5.6-16.2-1.1-2.3-2.5-4.2-4.1-5.7 3.5-.4 5.5-1.3 6-2.6.5-1.6-2.9-8.9-11-9.6-8.2-.6-13.1 7.5-15.2 8.6-7 3.8-10.8 15.8-10.8 25.5 0 15.3 3 5 3.6 2.8.5-1.6.8-3 1-4.2-.6 4.7-.9 8.5-1 11.5-.4 15 1.3 26 2.5 26.7z"}
    %path#shape--ball-in-ground--2{:d => "M5 181.7c2.6 0 4.8-.8 4.8-1.8v-8H0v8c0 1 2.2 1.8 5 1.8z"}
    %path#shape--glass--2{:mask=>"url(#mask--ground--2)", :d => "M418.3 327.6A222.3 222.3 0 00222.5 0 222.3 222.3 0 0026.7 327.5c23.2-.5 372.6-.5 391.6 0z"}
    %path#shape--badger-back--2{:d => "M114 314c2.8 0 7.4-21.5 8.2-26.6 2-11.8 2-19.5 8.7-19.5h11.7l-8-17.4c1 1-2.1 3.1-9.4 6.4-10.8 5-16.9 12.1-16 32.5.2 6.4 1.1 24.6 4.7 24.6z", :mask => "url(#mask--badger--2)"}

    %mask#mask--ground--2
      %use{"xlink:href" => "#mask-bg--2"}
      %ellipse.db-homeart--02__ground{:cx => "222.5", :cy => "326", :fill => "#000", :rx => "196", :ry => "20"}
      %use.badger-rig01{ :fill => "#000", "xlink:href" => "#shape--badger--2"}
    %mask#mask--glass--2
      %use.db-homeart--02__glass-shape{"xlink:href" => "#shape--glass--2", :fill => "var(--white)"}
    %mask#mask--badger--2
      %use{"xlink:href" => "#shape--badger--2", :fill => "var(--white)"}
    %mask#mask--badger-inverse--2
      %use{"xlink:href" => "#mask-bg--2"}
      %use{"xlink:href" => "#shape--badger--2", :fill => "#000"}
    %mask#mask--ball-in-ground--2
      %use{"xlink:href" => "#shape--ball-in-ground--2", :fill => "var(--white)"}

    %lineargradient#gradient--2{:x1 => "50%", :x2 => "50%", :y1 => "0%", :y2 => "100%"}
      %stop{:offset => "0%", "stop-color" => "var(--white)"}
      %stop.db-stop-color--success{:offset => "100%", "stop-color" => "#34CE57"}
    %lineargradient#gradient--2a{:x1 => "50%", :x2 => "50%", :y1 => "0%", :y2 => "100%"}
      %stop{:offset => "0%", "stop-color" => "#000"}
      %stop.stop-color-primarys{:offset => "100%", "stop-color" => "#000"}

  %path.db-homeart--02__underground{:mask=>"url(#mask--ground--2)",:d => "M222.6 444c84.8 0 158.1-47.3 196-116.8-19.5-.2-377.8-.2-392.1 0A223 223 0 00222.6 444z", :fill => "url(#gradient--2a)", "fill-opacity" => ".3"}
  %use.db-homeart--02__glass{"xlink:href" => "#shape--glass--2", :fill => "var(--white)", "fill-opacity" => "0.05"}
  %path.db-homeart--02__glass-shine{:mask=>"url(#mask--glass--2)", :fill => "#ffe", "fill-opacity" => "0.06", :d => "M252.113178,85.0754545 C239.236726,43.2642647 204.778761,16.0446101 172.507939,5.64755127 C115.654646,-12.6695223 59.5197284,-0.130617805 4.10318655,43.2642647 C67.9100226,-8.71044705 135.97286,-24.959562 208.2917,-5.4830803 C352.455752,33.342329 316.963584,206.193033 412.545295,181.600638 C426.229759,178.079737 434.856255,175.663395 439.880384,174.418771 C440.006089,175.007844 478.532878,157.450461 478.863055,158.544739 C479.034033,159.111396 443.746911,176.248794 440.84346,179.059899 C432.33312,187.299562 416.026542,204.818549 418.954051,233.076636 C426.569589,306.586403 460.730866,330.894191 521.437884,306 C453.115329,336.083997 408.096212,326.403019 386.380532,276.957065 C365.919032,230.366839 387.69041,149.607277 309.056804,174.539744 C267.038212,187.862637 267.400972,134.716527 252.113178,85.0754545 Z"}
  %g{:transform => "translate(175.2 146)", :fill => "none"}
    %path{:d => "M160,64 C160,80.9412887 140,87.7502432 140.25,112.750243 C140.416667,129.41691 140.416667,152.215583 140.25,181.146262", :stroke => "url(#gradient--2)", "stroke-linecap" => "round", "stroke-linejoin" => "round", "stroke-width" => "4"}
    %path{:d => "M60,60 C60,114 100.25,101.777714 100.25,135.854767 C100.25,158.572803 100.25,173.669968 100.25,181.146262", :stroke => "url(#gradient--2)", "stroke-linecap" => "round", "stroke-linejoin" => "round", "stroke-width" => "4"}
    %line{:stroke => "url(#gradient--2)", "stroke-linecap" => "round", "stroke-linejoin" => "round", "stroke-width" => "4", :x1 => "120", :x2 => "120.25", :y1 => "87", :y2 => "181.146262"}
    %path{:d => "M40.25,114 C39.2210054,145 60.2498557,137.508766 60.1824585,160.303967 C60.1374308,175.500767 60.1598966,182.448199 60.2498557,181.146262", :stroke => "url(#gradient--2)", "stroke-linecap" => "round", "stroke-linejoin" => "round", "stroke-width" => "4"}
    %path{:d => "M60.2498557,114 C60,146.016119 40,141.240456 40,160 C40,172.506363 40.0833333,179.555159 40.25,181.146388", :stroke => "url(#gradient--2)", "stroke-linecap" => "round", "stroke-linejoin" => "round", "stroke-width" => "4"}
    %path{:d => "M140,24 C140,27.3333333 140,39 140,59 C140,89 180,99.5034467 180,132 C180,153.664369 180,170.097825 180,181.300369", :stroke => "url(#gradient--2)", "stroke-linecap" => "round", "stroke-linejoin" => "round", "stroke-width" => "4"}
    %path{:d => "M180,90 C166.666667,99.6179126 160,109.617913 160,120 C160,130.382087 160.041667,150.815544 160.125,181.300369", :stroke => "url(#gradient--2)", "stroke-linecap" => "round", "stroke-linejoin" => "round", "stroke-width" => "4"}
    %path{:d => "M100,44 C100,72.7087241 80.1096581,72.7087241 80.1096581,104.434909 C80.1096581,125.585699 80.1147721,151.207519 80.125,181.300369", :stroke => "url(#gradient--2)", "stroke-linecap" => "round", "stroke-linejoin" => "round", "stroke-width" => "4"}
    %path{:d => "M40,5 C39.4806703,30.647589 39.2210054,52.669561 39.2210054,71.0659161 C39.2210054,98.6604488 0,101.42343 0,135.573131 C0,158.339598 0,173.530642 0,181.146262", :stroke => "url(#gradient--2)", "stroke-linecap" => "round", "stroke-linejoin" => "round", "stroke-width" => "4"}
    %line{:stroke => "url(#gradient--2)", "stroke-linecap" => "round", "stroke-linejoin" => "round", "stroke-width" => "4", :x1 => "20", :x2 => "20.25", :y1 => "66", :y2 => "181.146262"}
    %circle{:cx => "180", :cy => "90", :fill => "var(--white)FFF", :r => "5"}
    %circle{:cx => "160", :cy => "64", :fill => "var(--white)FFF", :r => "5"}
    %circle{:cx => "100", :cy => "44", :fill => "var(--white)FFF", :r => "5"}
    %circle{:cx => "40", :cy => "5", :fill => "var(--white)FFF", :r => "5"}
    %circle{:cx => "40", :cy => "114", :fill => "var(--white)FFF", :r => "5"}
    %circle{:cx => "140", :cy => "24", :fill => "var(--white)FFF", :r => "5"}
    %circle{:cx => "20", :cy => "64", :fill => "var(--white)FFF", :r => "5"}
    %circle{:cx => "60", :cy => "114", :fill => "var(--white)FFF", :r => "5"}
    %circle{:cx => "120", :cy => "84", :fill => "var(--white)FFF", :r => "5"}
    %circle{:cx => "60", :cy => "60", :fill => "var(--white)FFF", :r => "5"}
  %g.db-homeart--02__badger.badger-rig01
    %circle.db-homeart--02__badger__ball{:fill => "#C0F5CC", :cx => "142.8", :cy => "295.3", :r => "4.9", :mask => "url(#mask--badger-inverse--2)"}
    %use.db-homeart--02__badger__body{   :fill => "#000", "fill-opacity" => "0.3", "xlink:href" => "#shape--badger--2"}
    %use.db-homeart--02__badger__back{   :fill => "var(--white)", "fill-opacity" => "0.3", "xlink:href" => "#shape--badger-back--2"}
