%svg.db-squareart{:viewbox => "0 0 200 200", :xmlns => "http://www.w3.org/2000/svg"}
  %mask#art_protection
    %g{:fill => "none", "fill-rule" => "evenodd"}
      %path{:d => "M100 8a92 92 0 0191 108l-6-9a7 7 0 00-12 1l-9 18a7 7 0 01-13 0v-26a50 50 0 00-49-50h-1a50 50 0 00-50 50v47a7 7 0 01-1-1l-3-5a4 4 0 00-7 0 3 3 0 01-6 0l-11-24a7 7 0 00-12 0l-1 1A92 92 0 01100 8z", :fill => "#2a2a2a"}
      %path{:d => "M145 114l3 3 3 7v46a5 5 0 110 10H51a5 5 0 110-10v-24a7 7 0 0012-2l2-6a5 5 0 0110 0 6 6 0 0010 0 6 6 0 0111-1l6 9a7 7 0 0012 0l11-24a3 3 0 015 0 3 3 0 005 0l3-5c1-3 4-4 7-3z", :fill => "#123"}
      %path{:d => "M101 127v41", :stroke => "#FFF", "stroke-linecap" => "round", "stroke-linejoin" => "round", "stroke-width" => "4"}
      %circle{:cx => "101", :cy => "127", :fill => "#FFF", :r => "5"}
      %path{:d => "M81 147v21", :stroke => "#FFF", "stroke-linecap" => "round", "stroke-linejoin" => "round", "stroke-width" => "4"}
      %circle{:cx => "81", :cy => "147", :fill => "#FFF", :r => "5"}
      %path{:d => "M121 107v61", :stroke => "#FFF", "stroke-linecap" => "round", "stroke-linejoin" => "round", "stroke-width" => "4"}
      %circle{:cx => "121", :cy => "107", :fill => "#FFF", :r => "5"}

  %rect{:width => "200", :height => "200", :fill => "#fff", :mask => "url(#art_protection)"}
