%svg.db-squareart{:viewbox => "0 0 200 200", :xmlns => "http://www.w3.org/2000/svg", "xmlns:xlink" => "http://www.w3.org/1999/xlink"}
  %defs
    %path#pathStrategy{:d => "M124 152c1-2 4-2 5 0 2 2 4 2 5 0l3-5c3-5 9-5 11 0l4 8c3 6 10 6 13 0l9-19c2-2 5-4 8-2a72 72 0 0010-34A92 92 0 009 90c2-5 3-8 8-8s7 5 8 8l9 20c2 3 5 3 6 1 2-3 5-2 6 0l29 57c2 4 7 4 10 0 4-6 9-3 11 0l4 8c2 5 10 5 12 0l12-24z"}
    %clipPath#clip_strategy1
      %use{"xlink:href" => "#pathStrategy"}
  %mask#art_strategy
    %g{"fill-rule" => "evenodd"}
      %use{:fill => "#2a2a2a", "xlink:href" => "#pathStrategy"}
      %path{:d => "M5 200l50-73a7 7 0 0111-1l4 5a7 7 0 0011-1l34-49a4 4 0 017 0 4 4 0 006 0l14-20a7 7 0 0112 0l46 74v65H5z", :fill => "#123", "clip-path" => "url(#clip_strategy1)"}
      %path{:d => "M24 160h19a2 2 0 002-2v-2l2-2h16a2 2 0 003-2v-1c0-1 0-2 2-2h16a2 2 0 002-2v-2l2-2h17a2 2 0 002-2v-2l2-2h17a2 2 0 002-2v-2l2-2h17a2 2 0 002-2v-1c0-1 0-2 2-2h16a2 2 0 002-2v-2l2-2h19", :stroke => "#FFF", "stroke-linecap" => "round", "stroke-linejoin" => "round", "stroke-width" => "4"}
      %circle{:cx => "190", :cy => "120", :fill => "#FFF", :r => "5"}

  %rect{:width => "200", :height => "200", :fill => "#fff", :mask => "url(#art_strategy)"}
