%svg{:viewbox => "0 0 620 330", :xmlns => "http://www.w3.org/2000/svg"}
  %g{:fill => "none", "fill-rule" => "evenodd"}
    %path{:d => "M0 310l20-3 10-11 10-30 10-76 10 14 10 8 10 22 10-24 10 7 10 3 10 20h10l10 14 10 6 10 14 10-4 11-4 9 8h10l10-18 10 14 10 4 10-14 10-18 10-12 10 18 10-14 10-11 10-19 10 16 10-3 10-5 10 2 10-14 10-7 10-11 10-2 10-18 10-12 10-20 10-4 10-12 10-21 10-10 10-53 10 23 10 11 10-4 10 15 10 3 11 9 9 3 10-3 10 13 10 14 10 6 10-13 9-7 11-25 20 15V30c0-20-10-30-30-30H30C10 0 0 10 0 30v280z", :fill => "var(--white)", "fill-opacity" => ".1"}
    %text.main-graph-info{:fill => "var(--white)", "font-family" => "VarelaRound-Regular, Varela Round", "font-size" => "24", :x => "36", :y => "55"}
      %tspan Regular purchases
    %text.main-graph-info.fill-success{:fill => "#34CE57", "font-family" => "VarelaRound-Regular, Varela Round", "font-size" => "24", :x => "36", :y => "91"}
      %tspan Average price
    %path.stroke-success{:d => "M50 193c17 19 29 28 35 28h30c11 0 35 17 55 21 19 4 58 12 109 7 52-5 211-74 331-74", :stroke => "#34CE57", "stroke-linecap" => "round", "stroke-linejoin" => "round", "stroke-width" => "4"}
    %circle{:cx => "70", :cy => "213", :fill => "var(--white)", :r => "5"}
    %circle{:cx => "80", :cy => "233", :fill => "var(--white)", :r => "5"}
    %circle{:cx => "100", :cy => "217", :fill => "var(--white)", :r => "5"}
    %circle{:cx => "120", :cy => "240", :fill => "var(--white)", :r => "5"}
    %circle{:cx => "140", :cy => "254", :fill => "var(--white)", :r => "5"}
    %circle{:cx => "160", :cy => "273", :fill => "var(--white)", :r => "5"}
    %circle{:cx => "180", :cy => "267", :fill => "var(--white)", :r => "5"}
    %circle{:cx => "200", :cy => "273", :fill => "var(--white)", :r => "5"}
    %circle{:cx => "220", :cy => "270", :fill => "var(--white)", :r => "5"}
    %circle{:cx => "240", :cy => "260", :fill => "var(--white)", :r => "5"}
    %circle{:cx => "260", :cy => "230", :fill => "var(--white)", :r => "5"}
    %circle{:cx => "280", :cy => "235", :fill => "var(--white)", :r => "5"}
    %circle{:cx => "300", :cy => "205", :fill => "var(--white)", :r => "5"}
    %circle{:cx => "320", :cy => "217", :fill => "var(--white)", :r => "5"}
    %circle{:cx => "340", :cy => "214", :fill => "var(--white)", :r => "5"}
    %circle{:cx => "360", :cy => "193", :fill => "var(--white)", :r => "5"}
    %circle{:cx => "380", :cy => "180", :fill => "var(--white)", :r => "5"}
    %circle{:cx => "400", :cy => "150", :fill => "var(--white)", :r => "5"}
    %circle{:cx => "420", :cy => "127", :fill => "var(--white)", :r => "5"}
    %circle{:cx => "440", :cy => "93", :fill => "var(--white)", :r => "5"}
    %circle{:cx => "460", :cy => "30", :fill => "var(--white)", :r => "5"}
    %circle{:cx => "480", :cy => "64", :fill => "var(--white)", :r => "5"}
    %circle{:cx => "500", :cy => "75", :fill => "var(--white)", :r => "5"}
    %circle{:cx => "520", :cy => "87", :fill => "var(--white)", :r => "5"}
    %circle{:cx => "540", :cy => "87", :fill => "var(--white)", :r => "5"}
    %circle{:cx => "560", :cy => "114", :fill => "var(--white)", :r => "5"}
    %circle{:cx => "580", :cy => "107", :fill => "var(--white)", :r => "5"}
    %circle{:cx => "600", :cy => "76", :fill => "var(--white)", :r => "5"}
    %circle{:cx => "50", :cy => "191", :fill => "var(--white)", :r => "5"}
