%svg{:viewbox => "0 0 78 100", :xmlns => "http://www.w3.org/2000/svg"}
  %mask#lineart_set_up
    %g{:fill => "none", "fill-rule" => "evenodd"}
      %path{:d => "M46.75 79.75a2 2 0 002-2v-2h4v6h-26v-2h20z", :fill => "var(--white)", "fill-opacity" => ".3"}
      %path{:d => "M52.75 75c.41 0 .75.34.75.75v6c0 .42-.34.75-.75.75h-26a.75.75 0 01-.75-.75v-6c0-.41.34-.75.75-.75h26zM52 76.5H27.5V81H52v-4.5z", :fill => "var(--white)FFE"}
      %path{:d => "M71.75 69.75v3a3 3 0 01-3 3h-58a3 3 0 01-2.83-2h57.83a2 2 0 002-2v-2h4z", :fill => "var(--white)", "fill-opacity" => ".3"}
      %path{:d => "M71.75 69c.41 0 .75.34.75.75v3a3.75 3.75 0 01-3.75 3.75h-58A3.75 3.75 0 017 72.75v-3c0-.41.34-.75.75-.75h64zM71 70.5H8.5v2.25C8.5 74 9.5 75 10.75 75h58c1.24 0 2.25-1 2.25-2.25V70.5zM59.75 82.5h-40a.75.75 0 010-1.5h40a.75.75 0 010 1.5", :fill => "var(--white)FFE"}
      %path{:d => "M7.75 63.75h8.1v6h-8.1v-6zm61-34a3 3 0 013 3v37h-8l-.1-6h2.1a2 2 0 002-2v-32h1z", :fill => "var(--white)", "fill-opacity" => ".3"}
      %path{:d => "M71 69V32.75c0-1.24-1-2.25-2.25-2.25H63V29h5.75a3.75 3.75 0 013.75 3.75v37c0 .42-.34.75-.75.75h-64a.75.75 0 01-.75-.75v-37A3.75 3.75 0 0110.75 29h5.75v1.5h-5.75a2.25 2.25 0 00-2.25 2.25V69H71z", :fill => "var(--white)FFE"}
      %path{:d => "M61.75 17.75a2 2 0 012 2v6h-15v-8h13z", :fill => "var(--white)", "fill-opacity" => ".3"}
      %path{:d => "M16.5 25H63v-5.25c0-.69-.56-1.25-1.25-1.25h-44c-.69 0-1.25.56-1.25 1.25V25zm47.25 1.5h-48a.75.75 0 01-.75-.75v-6A2.75 2.75 0 0117.75 17h44a2.75 2.75 0 012.75 2.75v6c0 .41-.34.75-.75.75z", :fill => "var(--white)FFE"}
      %path{:d => "M51.75 22.5a.75.75 0 01-.53-1.28.78.78 0 011.06 0 .75.75 0 01-.53 1.28M55 21.75c0-.42.34-.75.75-.75.42 0 .75.33.75.75a.75.75 0 11-1.5 0M59.75 22.5a.75.75 0 01-.53-1.28.78.78 0 011.06 0 .8.8 0 01.22.53.75.75 0 01-.75.75M63.75 25c.41 0 .75.34.75.75v27.37l-1.5-.51V26.5H16.5V69H63V57.93l1.5-.67v12.5c0 .4-.34.74-.75.74h-48a.75.75 0 01-.75-.75v-44c0-.41.34-.75.75-.75h48zM3.75 56.5a.75.75 0 01-.75-.75V44.97a.75.75 0 011.5 0v10.78c0 .41-.34.75-.75.75M3.75 41.72a.75.75 0 01-.75-.75v-2.22a.75.75 0 011.5 0v2.22c0 .41-.34.75-.75.75M75.75 73.5a.75.75 0 01-.75-.75V57.97a.75.75 0 011.5 0v14.78c0 .41-.34.75-.75.75M75.75 54.72a.75.75 0 01-.75-.75v-2.22a.75.75 0 011.5 0v2.22c0 .4-.34.75-.75.75", :fill => "var(--white)FFE"}
      %path{:d => "M51.75 48.75l9.82 9.82-3.64 8.18-6.18-18", :fill => "var(--white)", "fill-opacity" => ".3"}
      %path{:d => "M52.96 49.96l5.06 14.74 2.86-6.44c.08-.17.21-.3.38-.38l6.44-2.86-14.74-5.06zm4.97 17.54h-.04a.75.75 0 01-.67-.5l-6.18-18a.75.75 0 01.95-.96l18 6.18a.75.75 0 01.06 1.39l-7.92 3.52-3.52 7.92a.75.75 0 01-.68.45z", :fill => "var(--white)FFE"}
      %circle{:cx => "9", :cy => "82", :fill => "#000", :r => "8", :stroke => "var(--white)FFE", "stroke-width" => "1.5"}
      %text{:fill => "var(--white)FFE", "font-family" => "Montserrat", "font-size" => "12", "letter-spacing" => ".6"}
        %tspan{:x => "5.43", :y => "86"} 3
  %rect{:width => "78", :height => "100", :fill => "var(--white)", :mask => "url(#lineart_set_up)"}
