%svg{:viewbox => "0 0 78 100", :xmlns => "http://www.w3.org/2000/svg"}
  %mask#lineart_track_it
    %g{:fill => "none", "fill-rule" => "evenodd"}
      %path{:d => "M59 78c1.1 0 2-.78 2-1.73V26h5v54.25c0 .97-.9 1.75-2 1.75H12c-1.1 0-2-.78-2-1.75V78z", :fill => "var(--white)", "fill-opacity" => ".3"}
      %path{:d => "M49 17v1.5H17.75c-4 0-7.25 3.25-7.25 7.25v54c0 .69.56 1.25 1.25 1.25h52c.69 0 1.25-.56 1.25-1.25V26h1.5v53.75a2.75 2.75 0 01-2.75 2.75h-52A2.75 2.75 0 019 79.75v-54A8.76 8.76 0 0117.75 17H49z", :fill => "var(--white)FFE"}
      %path{:d => "M65.75 17.75a8 8 0 018 8h-7a8 8 0 00-8-8z", :fill => "var(--white)", "fill-opacity" => ".3"}
      %path{:d => "M26.47 25h46.5a7.26 7.26 0 00-7.22-6.5h-43.1a8.76 8.76 0 013.82 6.5zm47.28 1.5h-48a.75.75 0 01-.75-.75c0-4-3.25-7.25-7.25-7.25a.75.75 0 110-1.5h48a8.76 8.76 0 018.75 8.75c0 .41-.34.75-.75.75zM69.75 64.7a.75.75 0 01-.75-.74v-17.7a.75.75 0 011.5 0v17.7c0 .41-.33.75-.75.75M69.75 71a.75.75 0 01-.75-.74v-2.3a.75.75 0 011.5 0v2.3c0 .41-.33.75-.75.75", :fill => "var(--white)FFE"}
      %path{:d => "M42.75 71.75a1 1 0 001-1v-17h3v22h-6v-4z", :fill => "var(--white)", "fill-opacity" => ".3"}
      %path{:d => "M41.5 75H46V54.5h-4.5V75zm5.25 1.5h-6a.75.75 0 01-.75-.75v-22c0-.42.34-.75.75-.75h6c.41 0 .75.33.75.75v22c0 .41-.34.75-.75.75z", :fill => "var(--white)FFE"}
      %path{:d => "M48.75 71.75a1 1 0 001-1v-13h3v18h-6v-4z", :fill => "var(--white)", "fill-opacity" => ".3"}
      %path{:d => "M47.5 75H52V58.5h-4.5V75zm5.25 1.5h-6a.75.75 0 01-.75-.75v-18c0-.42.34-.75.75-.75h6c.41 0 .75.33.75.75v18c0 .41-.34.75-.75.75z", :fill => "var(--white)FFE"}
      %path{:d => "M54.75 71.75a1 1 0 001-1v-19h3v24h-6v-4z", :fill => "var(--white)", "fill-opacity" => ".3"}
      %path{:d => "M53.5 75H58V52.5h-4.5V75zm5.25 1.5h-6a.75.75 0 01-.75-.75v-24c0-.42.34-.75.75-.75h6c.42 0 .75.33.75.75v24c0 .41-.33.75-.75.75z", :fill => "var(--white)FFE"}
      %path{:d => "M40.75 59.75v16h-6v-4h2a1 1 0 001-.88V59.75h3z", :fill => "var(--white)", "fill-opacity" => ".3"}
      %path{:d => "M35.5 75H40V60.5h-4.5V75zm5.25 1.5h-6a.75.75 0 01-.75-.75v-16c0-.42.34-.75.75-.75h6c.42 0 .75.33.75.75v16c0 .41-.33.75-.75.75z", :fill => "var(--white)FFE"}
      %path{:d => "M30.75 71.75a1 1 0 001-1v-7h3v12h-6v-4z", :fill => "var(--white)", "fill-opacity" => ".3"}
      %path{:d => "M29.5 75H34V64.5h-4.5V75zm5.25 1.5h-6a.75.75 0 01-.75-.75v-12c0-.42.34-.75.75-.75h6c.41 0 .75.33.75.75v12c0 .41-.34.75-.75.75z", :fill => "var(--white)FFE"}
      %path{:d => "M24.75 71.75a1 1 0 001-1v-13h3v18h-6v-4z", :fill => "var(--white)", "fill-opacity" => ".3"}
      %path{:d => "M23.5 75H28V58.5h-4.5V75zm5.25 1.5h-6a.75.75 0 01-.75-.75v-18c0-.42.34-.75.75-.75h6c.42 0 .75.33.75.75v18c0 .41-.33.75-.75.75z", :fill => "var(--white)FFE"}
      %path{:d => "M18.75 71.75a1 1 0 001-1v-3h3v8h-6v-4z", :fill => "var(--white)", "fill-opacity" => ".3"}
      %path{:d => "M17.5 75H22v-6.5h-4.5V75zm5.25 1.5h-6a.75.75 0 01-.75-.75v-8c0-.42.34-.75.75-.75h6c.41 0 .75.33.75.75v8c0 .41-.34.75-.75.75zM23.72 48.2c.3.42.71.73 1.2.9l-7.57 10.1a.75.75 0 01-1.2-.9zm18.09-3.89c.31.4.74.7 1.24.84l-4.67 7.01a.75.75 0 01-.39.3l-6 2c-.3.1-.61 0-.8-.22l-4.46-5.2c.48-.2.87-.54 1.14-.97l4.12 4.8 5.28-1.75zm17.5-6.06c.28.3.25.78-.06 1.06l-9 8a.75.75 0 01-.91.06l-4.02-2.67c.4-.32.69-.75.83-1.25l3.54 2.35 8.56-7.61a.75.75 0 011.06.06z", :fill => "var(--white)FFE"}
      %path{:d => "M25.75 45a1.75 1.75 0 100 3.5 1.75 1.75 0 000-3.5zm0 5a3.25 3.25 0 11.01-6.51 3.25 3.25 0 010 6.5zM43.75 41a1.75 1.75 0 100 3.5 1.75 1.75 0 000-3.5zm0 5a3.25 3.25 0 11.01-6.51 3.25 3.25 0 010 6.5zM24.25 41h-8a.75.75 0 010-1.5h8a.75.75 0 110 1.5M28.25 33h-12a.75.75 0 010-1.5h12a.75.75 0 110 1.5M28.25 37h-5a.75.75 0 110-1.5h5a.75.75 0 110 1.5M19.25 37h-3a.75.75 0 010-1.5h3a.75.75 0 110 1.5M42.25 37h-8a.75.75 0 010-1.5h8a.75.75 0 110 1.5M46.25 33h-5a.75.75 0 010-1.5h5a.75.75 0 110 1.5M37.25 33h-3a.75.75 0 010-1.5h3a.75.75 0 110 1.5", :fill => "var(--white)FFE"}
      %circle{:cx => "9", :cy => "82", :fill => "#000", :r => "8", :stroke => "var(--white)FFE", "stroke-width" => "1.5"}
      %text{:fill => "var(--white)FFE", "font-family" => "Montserrat", "font-size" => "12", "letter-spacing" => ".6"}
        %tspan{:x => "5.43", :y => "86"} 4
  %rect{:width => "78", :height => "100", :fill => "var(--white)", :mask => "url(#lineart_track_it)"}
