%svg{:viewbox => "0 0 620 330", :xmlns => "http://www.w3.org/2000/svg"}
  %g{:fill => "none", "fill-rule" => "evenodd"}
    %path{:d => "M0 206c68 0 81 70 130 70s70-141 120-141 70 142 120 142 72-142 120-142 69 71 130 71V30c0-20-10-30-30-30H30C10 0 0 10 0 30v176z", :fill => "var(--white)", "fill-opacity" => ".1"}
    %path{:d => "M10 205l601 1M10 275l601 1M10 135l601 1", :stroke => "var(--white)", "stroke-dasharray" => "8", "stroke-linecap" => "round", "stroke-linejoin" => "round"}
    %circle{:cx => "10", :cy => "205", :fill => "var(--white)", :r => "5"}
    %circle{:cx => "10", :cy => "205", :fill => "var(--white)", :r => "5"}
    %circle{:cx => "130", :cy => "275", :fill => "var(--white)", :r => "5"}
    %circle{:cx => "250", :cy => "135", :fill => "var(--white)", :r => "5"}
    %circle{:cx => "370", :cy => "276", :fill => "var(--white)", :r => "5"}
    %circle{:cx => "490", :cy => "135", :fill => "var(--white)", :r => "5"}
    %text.fill-success{:fill => "#34CE57", "font-family" => "Montserrat", "font-size" => "16"}
      %tspan{:x => "17", :y => "187"} $10 = 1
    %text.fill-success{:fill => "#34CE57", "font-family" => "Montserrat", "font-size" => "16"}
      %tspan{:x => "213", :y => "163"} $10 = 0.5
    %text.fill-success{:fill => "#34CE57", "font-family" => "Montserrat", "font-size" => "16"}
      %tspan{:x => "453", :y => "163"} $10 = 0.5
    %text{:fill => "var(--white)", "font-family" => "Montserrat", "font-size" => "16"}
      %tspan{:x => "571", :y => "121"} $20
    %text{:fill => "var(--white)", "font-family" => "Montserrat", "font-size" => "16"}
      %tspan{:x => "570", :y => "191"} $10
    %text{:fill => "var(--white)", "font-family" => "Montserrat", "font-size" => "16"}
      %tspan{:x => "580", :y => "261"} $5
    %text.fill-success{:fill => "#34CE57", "font-family" => "Montserrat", "font-size" => "16"}
      %tspan{:x => "340", :y => "304"} $10 = 2
    %text.fill-success{:fill => "#34CE57", "font-family" => "Montserrat", "font-size" => "16"}
      %tspan{:x => "100", :y => "304"} $10 = 2
    %text.main-graph-info{:fill => "var(--white)", "font-family" => "Montserrat", "font-size" => "24", :x => "36", :y => "55"}
      %tspan= t('home.index.dca_magic.easy3.chart_lump_sum')
    %text.main-graph-info.fill-success{:fill => "#34CE57", "font-family" => "Montserrat", "font-size" => "24",:x => "36", :y => "91"}
      %tspan= t('home.index.dca_magic.easy3.chart_dca')
