#upgradeModal.modal.fade(tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true")
  .modal-dialog(role="document")
    .modal-content
      .modal-body
        %h2.db-modal-title Upgrade
        %table.table.db-table--checkout
          %tbody.table-borderless
            %tr
              %td(scope="col") Annual Unlimited upgrade
              %td(scope="col")
              %td(scope="col") $10
          %tfoot
            %tr
              %td(scope="col")
              %td(scope="col")
                %b Sum:
              %td(scope="col")
                %b $10
        %form
          %h4 Billing information
          .form-group
            %label(for="nameInput") Name
            %input.form-control(type="text" id="nameInput" aria-describedby="emailHelp" placeholder="Satoshi")
          .form-group
            %label(for="surnameInput") Surname
            %input.form-control(type="text" id="surnameInput" placeholder="Nakamoto")
          .form-group
            %label{:for => "example-date-input"} Birth date
            %input#example-date-input.form-control{:type => "date", :value => "1999-01-01"}
          .form-group
            %label Country
            %br
            .form-check.form-check-inline
              %input#exampleRadios1.form-check-input{:name => "exampleRadios", :type => "radio", :value => "option1"}
              %label.form-check-label{:for => "exampleRadios1"}
                EU
            .form-check.form-check-inline
              %input#exampleRadios2.form-check-input{:checked => "checked", :name => "exampleRadios", :type => "radio", :value => "option2"}
              %label.form-check-label{:for => "exampleRadios2"}
                Other
          .form-group.db-form-group--main-btn
            %a.btn.btn-success.btn-lg(href="#")
              %span.mr-2 Checkout
              %i.material-icons-round arrow_forward
          .db-globee-badge
            %small Payment with
            %img{:src => asset_pack_path("media/images/globee.png")}
