- if @show_welcome_banner
  .container
    .alert.alert-primary.db-alert--welcome.db-alert--flex
      %span
        Welcome! You're currently on our <b>free plan that has a transaction limit of $500/year</b>. You can upgrade it anytime to enjoy unlimited transactions. Try it for free, and we're sure Deltabadger will prove its value. If you don't know what <i>dollar-cost averaging</i> is, you can find some useful links at the end of the "Info" section below. Also, we've just started, so all feedback is appreciated. Join our
        <a href="https://t.me/deltabadgerchat" target="_blank" rel="noopener">Telegram group</a>, and follow us on <a href="https://twitter.com/deltabadgerapp" target="_blank" rel="noopener">Twitter</a>. Happy averaging!
      %button(type="button" id="hide_welcome_banner_button" class="close" data-dismiss="alert" aria-label="Close")
        %span(aria-hidden="true")
          &times;
