- if @show_welcome_banner
  .container
    .alert.alert-primary.db-alert--welcome.db-alert--flex
      %span
        <b>Welcome!</b> If you don't know what <i>dollar-cost averaging</i> is, then you can start <a href="https://www.youtube.com/watch?v=dltaIrhUUvY" target="_blank">here</a>. You can find more useful links at the end of the "Info" section below. Also, we've just started, so all feedback is appreciated. Thanks!
      %button(type="button" class="close" data-dismiss="alert" aria-label="Close")
        %span(aria-hidden="true")
          &times;
