- if @show_welcome_banner
  .container
    .alert.alert-primary.db-alert--welcome.db-alert--flex
      %span
        Welcome! You're currently on the <b>free plan with a transaction limit of $500/year</b>, but it will not be enforced for the first month. Try any schedule you want. You can also upgrade it to enjoy unlimited transactions later on. The 4-year Hodler plan additionally gives access to new experimental features. All feedback is appreaciated. Join our
        <a href="https://t.me/deltabadgerchat" target="_blank" rel="noopener">Telegram group</a>, and follow us on <a href="https://twitter.com/deltabadgerapp" target="_blank" rel="noopener">Twitter</a>. Happy averaging!
      %button(type="button" id="hide_welcome_banner_button" class="close" data-dismiss="alert" aria-label="Close")
        %span(aria-hidden="true")
          &times;
