!!!
%html
  %head
    %meta{:content => "text/html; charset=utf-8", "http-equiv" => "Content-Type"}
  %body
    %div{ :style => ""}

      %img{:alt => "🦡", :border => "0", :height => "20", :style => "height: 20px; font-size: 2em; display: block; line-height: 20px; margin-bottom: 0.75em;", :referrerpolicy => "no-referrer", :src => "https://deltabadger.com/logo160c.png"}

      = yield

      %p —
      %p= t('mailer.signature_html')
      - if @dca_profit.success?
        %p
        %p= t('ads.dca_2y_profit_html', profit: @dca_profit.data.to_i)
