!!!
%html
  %head
    %meta{:content => "text/html; charset=utf-8", "http-equiv" => "Content-Type"}
  %body

    = yield

    —

    - if @show_dca_profit
      %p
        = localized_dca_profit_recap('btc', 4)

    %p
      %a{href: "https://x.com/deltabadgerapp"}
        = t('mailer.follow_us_on_x')
        →

    %p
      %a{href: "https://t.me/deltabadger"}
        = t('mailer.we_reply_faster_on_telegram')
        →
