!!!
%html.db--upgrade.db--loggedin{:lang => I18n.locale}
  <script type="text/javascript" src="https://load.fomo.com/api/v1/AUZ_QZ5JVkZVLKS7dmRCxw/load.js" async></script>
  = render 'layouts/main_upgrade'
